
/* Hide Export PDF */
a.generate-pdf {
    display: none;
}

/**
 * Overrides to make the list look more like it should in Splunk.
 */
#row1 > #panel1 > .dashboard-panel{
 	background-color: transparent;
}
 
.dashboard-body{
 	padding: 0px;
}

.panel-body.html{
	padding: 0px !important;
}

.dashboard-header, #list_link{
	margin-left: 16px;
	margin-right: 16px;
}