*,
*:before,
*:after {
  box-sizing: border-box;
}

.luna-form-group-top-div {
  max-width: 700px;
  /* margin-right: auto; */
  /* margin-left: auto; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* min-height: 100vh; */
}

.luna-table {
  left: 0;
  width: 100%;
  border: 1px solid #eeeeee;
}

.luna-table-header {
  display: flex;
  width: 100%;
  background: rgb(75, 75, 75);
  padding: 18px 0;
}

.luna-table-row {
  display: flex;
  width: 100%;
  padding: 18px 0;
}

.luna-table-row-buttons {
  display: flex;
  width: 100%;
  padding: 18px 0;
  left: 0;
}
.luna-table-row:nth-of-type(odd) {
  background: #eeeeee;
}

.luna-table-data,
.luna-table-data-buttons {
  flex: 1 1 20%;
  text-align: left;
  margin-left: 20px;
}

.luna-table-header-item {
  flex: 1 1 20%;
  text-align: center;
}

.luna-table-header-item {
  text-transform: uppercase;
  color: #fff;
}

.luna-checkbox {
  text-align: center !important;
}

.luna-success {
  color: #080;
}

.luna-progress {
  color: #9acd32;
}

.luna-error {
  color: #F00;
}
