# Requirements for splunk_app_campfire
#
# Author:: Greg Albrecht <mailto:gba@splunk.com>
# Copyright:: Copyright 2012 Splunk, Inc.
# License:: BSD 3-Clause
#


pylint
pep8
mock
nose
flake8
coverage
clonedigger
httplib2
