{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}API Settings{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />

    <style>        
        .main-area {
            margin: 0px auto;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 10px;
            width: 300px;
            border: 0 None;
                        
        }
		div.errors li {
			color: #ff8080;
		}	
    </style>
{% endblock css %}

{% block content %}

   <div class="main-area">
		<form class="splunkdj-setup-form" method="post" action="" onsubmit="return checkRequiredFields()">
			{% csrf_token %}
			<h2>API Settings</h2>
			<p>
			  Use the fields below to specify the location of your API instance as well as your username and password.
			  Please contact <a href="mailto:support@itrust.fr">support@itrust.fr</a> for assistance.
			</p>
                        <div>
                          <label>{{ form.urlapi.label }}</label>
                          {{ form.urlapi }}
                          {% if form.urlapi.errors %}
                                <div class="errors">
                                  {% for e in form.urlapi.errors %}<li>{{ e }}</li>{% endfor %}
                                </div>
                          {% endif %}
                        </div>
			
			<div>
			  <label>{{ form.user.label }}</label>
			  {{ form.user }}
			  {% if form.user.errors %}
				<div class="errors">
				  {% for e in form.user.errors %}<li>{{ e }}</li>{% endfor %}
				</div>
			  {% endif %}
			</div>
			
			<div>
			  <label>{{ form.password.label }}</label>
			  {{ form.password }}
			  {% if form.password.errors %}
				<div class="errors">
				  {% for e in form.password.errors %}<li>{{ e }}</li>{% endfor %}
				</div>
			  {% endif %}
			</div>
			
			<div class="buttonbar" style="float:left">
				<input id="id_save_btn" class="btn btn-primary" type="submit" value="Save" />
			</div>
            <div id="id_messages" class="saved" style="margin-left:70px; padding:5px">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
			<div style="clear:both"></div>
		</form>
	</div>

{% endblock content%}

{% block js %}    
    <script>
        function checkRequiredFields() {
            var urlapi = $("#urlapi");
            var user = $("#id_user");
            var pwd = $("#id_password");
            var save_btn = $("#id_save_btn");
            var msg = $("#id_messages");

            if (urlapi.val().trim() == "" || user.val().trim() == "" || pwd.val().trim() == "") {
                msg.html("<span style='color:red'>All fields are required</span>")
                return false;
            } else {
                return true;
            }
        }
    </script>
{% endblock js %}
