{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}Sourcetypes Settings - Delete{% endblock title %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
 <style>
    .main-area {
        border: 0 none;
        margin: 30px auto;
        padding: 10px;
        text-align: center;
        width: 700px;
    }
 </style>

{% endblock css %}

{% block content %}
<div>
 <div class="main-area">
            <form class="splunkdj-setup-form" method="post" action="" onsubmit="">
       
    <h2>Sourcetype Successfully Deleted </h2>
	<span style="color:red">Splunk must be restarted for changes to take effect</span><br/><br/>
    <a  href="{% url 'it_tude:logs_settings' %}"class="btn btn-primary" >Back</a>
</form>
 </div>
{% endblock content%}

{% block js %}    
{% endblock js %}

