{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}Sourcetypes Settings - Edit {% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
<style>
    .main-area {
        margin: 0px auto;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 10px;
        width: 600px;
    }

    input[type='text'] {
        width: 585px;
        margin-bottom: 2px;
    }

    select {
        width: 600px;
    }

    label {
        margin-top: 10px;
    }

    h3 {
        margin-top: 15px;
        margin-bottom: 15px;
        border-bottom: 2px solid #85d6ff;
    }

    .buttonbar {
        margin-top: 20px;
    }

    div.errors li {
        color: #ff8080;
    }

    hr.separator {
        border-bottom: 1px solid #e0e0e0;
    }

    .radios {
        clear: both;
        width: 100%;
        float: left;
        margin-bottom: 5px;
    }

        .radios ul {
            list-style: none;
        }

    #popup_dialog {
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.5;
        position: absolute;
        display: none;
        top: 65px;
        padding-bottom: 100px;
    }

    .popup_dialog {
        position: fixed;
        top: 200px;
        left: 41%;
        background-color: #eee;
        border: 1px solid #bfbfbf;
        border-radius: 3px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
        white-space: normal;
        z-index: 1060;
        padding: 15px;
        text-align: center;
        display: none;
    }

    #btn_saveOK {
        visibility: hidden;
    }
</style>


{% endblock css %}

{% block content %}

<div>
    <div class="main-area" {% if error == "error" %} style="display: none;" {% endif %}>
        <form class="splunkdj-setup-form" method="post" action="" onsubmit="">
            {% csrf_token %}
            <h2>Sourcetypes Settings - Edit</h2>
            <p>Update the information below, then click <strong>Save</strong> to continue.</p>
			 
            <div>
                <label>Type</label>
                <input type="text" name="st_name" value="{{ current_log_type }}" readonly="readonly" />
            </div>
			
			<hr class="separator">
			
            <div>
				
				<input type="hidden" name="type_hidden" id="type_hidden" value="{{ text }}" />
				
				<div id="sourcetype_binddns_div" {% if text != "bind" %} style="display: none;" {% endif %}>
					<label>{{ form.sourcetype_bind.label }}</label>
					{{ form.sourcetype_bind }}
					{% if form.sourcetype_bind.errors %}
					<div class="errors">
						{% for e in form.sourcetype_bind.errors %}<li>{{ e }}</li>{% endfor %}
					</div>
					{% endif %}
				</div>
				<div id="sourcetype_msdns_div" {% if text != "ms" %} style="display: none;" {% endif %}>
					<label>{{ form.sourcetype_msdns.label }}</label>
					{{ form.sourcetype_msdns }}
					{% if form.sourcetype_msdns.errors %}
					<div class="errors">
						{% for e in form.sourcetype_msdns.errors %}<li>{{ e }}</li>{% endfor %}
					</div>
					{% endif %}
				</div>
				<div id="sourcetype_customdns_div" {% if text != "custom" %} style="display: none;" {% endif %}>
					<label>{{ form.sourcetype_custom.label}}</label>
					{{ form.sourcetype_custom}}
					{% if form.sourcetype_custom.errors %}
					<div class="errors">
						{% for e in form.sourcetype_custom.errors %}<li>{{ e }}</li>{% endfor %}
					</div>
					{% endif %}
				</div>
				<div id="sourcetype_proxy_div" {% if text != "proxy" %} style="display: none;" {% endif %}>
					<label>{{ form.sourcetype_proxy.label }}</label>
					{{ form.sourcetype_proxy }}
					{% if form.sourcetype_proxy.errors %}
					<div class="errors">
						{% for e in form.sourcetype_proxy.errors %}<li>{{ e }}</li>{% endfor %}
					</div>
					{% endif %}
				</div>
            </div>
            
            <hr class="separator">
            <div id="dns_index_div" {% if text != "bind" and text != "ms" and text != "custom" %} style="display: none;" {% endif %}>
                <label>{{ form.index.label }}</label>
                {{ form.index }}
                {% if form.index.errors %}
                <div class="errors">
                    {% for e in form.index.errors %}<li>{{ e }}</li>{% endfor %}
                </div>
                {% endif %}
            </div>
            <div id="proxy_index_div"  {% if text != "proxy" %} style="display: none;" {% endif %}>
                <label>{{ form.proxy_index.label }}</label>
                {{ form.proxy_index }}
                {% if form.proxy_index.errors %}
                <div class="errors">
                    {% for e in form.proxy_index.errors %}<li>{{ e }}</li>{% endfor %}
                </div>
                {% endif %}
            </div>
            <hr class="separator">
            <div id="customdns_data_div"  {% if text != "custom" %} style="display: none;" {% endif %}>
                <p>
                    It-Tude for Splunk can monitor any custom DNS log data format. If your current Splunk setup
                    already extracts DNS type, fully qualified domain names (FQDN) and originating IP addresses from your DNS query
                    log data, please fill the fields below.
                </p>

                <div style="margin-top: 10px">
                    My DNS data is normalized to the Common Information Model.
                    <a class="external" href="http://docs.splunk.com/Documentation/CIM/4.1.0/User/NetworkResolutionDNS" target="_blank">See details</a>
                    <div style="float: left; margin-right: 5px; margin-top: -3px">
                        {{ form.custom_field_cim_compliant }}
                    </div>
                </div>


                <label>{{ form.custom_field_dnstype.label}}</label>
                {{ form.custom_field_dnstype}}
                {% if form.custom_field_dnstype.errors %}
                <div class="errors">
                    {% for e in form.custom_field_dnstype.errors %}<li>{{ e }}</li>{% endfor %}
                </div>
                {% endif %}

                <label>{{ form.custom_field_fqdn.label}}</label>
                {{ form.custom_field_fqdn}}
                {% if form.custom_field_fqdn.errors %}
                <div class="errors">
                    {% for e in form.custom_field_fqdn.errors %}<li>{{ e }}</li>{% endfor %}
                </div>
                {% endif %}

                <label>{{ form.custom_field_srcip.label}}</label>
                {{ form.custom_field_srcip}}
                {% if form.custom_field_srcip.errors %}
                <div class="errors">
                    {% for e in form.custom_field_srcip.errors %}<li>{{ e }}</li>{% endfor %}
                </div>
                {% endif %}
            </div>
            
            <div id="proxy_data_div"  {% if text != "proxy" %} style="display: none;" {% endif %}>
                <p>
                    It-Tude for Splunk can monitor any custom Proxy log data format. Please fill the fields below.
                </p>

                <div class="radios">
                    {{ form.custom_proxy_cim_compliant }}
                </div>

                <label>{{ form.custom_field_proxy_c_ip.label}}</label>
                {{ form.custom_field_proxy_c_ip}}
                {% if form.custom_field_proxy_c_ip.errors %}
                <div class="errors">
                    {% for e in form.custom_field_proxy_c_ip.errors %}<li>{{ e }}</li>{% endfor %}
                </div>
                {% endif %}
                
                <label>{{ form.custom_field_proxy_cs_user.label}}</label>
                {{ form.custom_field_proxy_cs_user}}
                {% if form.custom_field_proxy_cs_user.errors %}
                <div class="errors">
                    {% for e in form.custom_field_proxy_cs_user.errors %}<li>{{ e }}</li>{% endfor %}
                </div>
                {% endif %}

                <label>{{ form.custom_field_proxy_cs_uri.label}}</label>
                {{ form.custom_field_proxy_cs_uri}}
                {% if form.custom_field_proxy_cs_uri.errors %}
                <div class="errors">
                    {% for e in form.custom_field_proxy_cs_uri.errors %}<li>{{ e }}</li>{% endfor %}
                </div>
                {% endif %}

                <label>{{ form.custom_field_proxy_referer.label}}</label>
                {{ form.custom_field_proxy_referer}}
                {% if form.custom_field_proxy_referer.errors %}
                <div class="errors">
                    {% for e in form.custom_field_proxy_referer.errors %}<li>{{ e }}</li>{% endfor %}
                </div>
                {% endif %}

                <label>{{ form.custom_field_proxy_user_agent.label}}</label>
                {{ form.custom_field_proxy_user_agent}}
                {% if form.custom_field_proxy_user_agent.errors %}
                <div class="errors">
                    {% for e in form.custom_field_proxy_user_agent.errors %}<li>{{ e }}</li>{% endfor %}
                </div>
                {% endif %}

                <label>{{ form.custom_field_proxy_cs_bytes.label}}</label>
                {{ form.custom_field_proxy_cs_bytes}}
                {% if form.custom_field_proxy_cs_bytes.errors %}
                <div class="errors">
                    {% for e in form.custom_field_proxy_cs_bytes.errors %}<li>{{ e }}</li>{% endfor %}
                </div>
                {% endif %}

                <label>{{ form.custom_field_proxy_sc_status.label}}</label>
                {{ form.custom_field_proxy_sc_status}}
                {% if form.custom_field_proxy_sc_status.errors %}
                <div class="errors">
                    {% for e in form.custom_field_proxy_sc_status.errors %}<li>{{ e }}</li>{% endfor %}
                </div>
                {% endif %}

                <label>{{ form.custom_field_proxy_sc_bytes.label}}</label>
                {{ form.custom_field_proxy_sc_bytes}}
                {% if form.custom_field_proxy_sc_bytes.errors %}
                <div class="errors">
                    {% for e in form.custom_field_proxy_sc_bytes.errors %}<li>{{ e }}</li>{% endfor %}
                </div>
                {% endif %}
            </div>



            <div class="buttonbar">
                <input id="btn_save" class="btn btn-primary" type="button" value="Save" />
                {% if configured %}
                <a class="btn" href="{% url 'it_tude:logs_settings' %}">Cancel</a>
                {% endif %} 
				<input id="btn_saveOK" class="btn btn-primary" type="submit" value="Save" />
               
            </div>

        </form>
        <div class="popup_dialog">
            <label class="control-label">Splunk must be restarted for changes to take effect.</label>
            <br />
            <a href="#" id="popup_dialog_ok" class="btn btn-primary submit-button">OK</a>
        </div>
    </div>
    <div id="popup_dialog"></div>
	<div class="main-area" {% if error != "error" %} style="display: none;" {% endif %}>
		<h2>Sourcetype doesn´t exist </h2>
		<a  href="{% url 'it_tude:logs_settings' %}"class="btn btn-primary" >Back</a>
	</div>
	
</div>

{% endblock content%}

{% block js %}
{% if error != "error" %} 
<script>
  var old_dnstype_val = "";
  var old_fqdn_val = "";
  var old_srcip_val = "";

  var old_proxy_cim_compliant_val = "";
  var old_proxy_c_ip_val = "";
  var old_proxy_cs_user_val = "";
  var old_proxy_cs_uri_val = "";
  var old_proxy_referer_val = "";
  var old_proxy_user_agent_val = "";
  var old_proxy_cs_bytes_val = "";
  var old_proxy_sc_status_val = "";
  var old_proxy_sc_bytes_val = "";

  function custom_cim_checked(is_checked) {
    var custom_dnstype = $("#id_custom_field_dnstype");
    var custom_fqdn = $("#id_custom_field_fqdn");
    var custom_srcip = $("#id_custom_field_srcip");

    if (is_checked) {
      old_dnstype_val = custom_dnstype.val();
      custom_dnstype.attr("readonly", true);
      custom_dnstype.val("query_type");

      old_fqdn_val = custom_fqdn.val();
      custom_fqdn.attr("readonly", true);
      custom_fqdn.val("dest_host");

      old_srcip_val = custom_srcip.val();
      custom_srcip.attr("readonly", true);
      custom_srcip.val("src_ip");
    } else {
      custom_dnstype.removeAttr("readonly");
      custom_dnstype.val(old_dnstype_val);

      custom_fqdn.removeAttr("readonly");
      custom_fqdn.val(old_fqdn_val);

      custom_srcip.removeAttr("readonly");
      custom_srcip.val(old_srcip_val);
    }
  }

  function custom_proxy_cim_checked(old_value, new_value) {
      var custom_field_proxy_c_ip = $("#id_custom_field_proxy_c_ip");
      var custom_field_proxy_cs_user = $("#id_custom_field_proxy_cs_user");
      var custom_field_proxy_cs_uri = $("#id_custom_field_proxy_cs_uri");
      var custom_field_proxy_referer = $("#id_custom_field_proxy_referer");
      var custom_field_proxy_user_agent = $("#id_custom_field_proxy_user_agent");
      var custom_field_proxy_cs_bytes = $("#id_custom_field_proxy_cs_bytes");
      var custom_field_proxy_sc_status = $("#id_custom_field_proxy_sc_status");
      var custom_field_proxy_sc_bytes = $("#id_custom_field_proxy_sc_bytes");

      if (old_value == "2") {
          old_proxy_c_ip_val = custom_field_proxy_c_ip.val();
          old_proxy_cs_user_val = custom_field_proxy_cs_user.val();
          old_proxy_cs_uri_val = custom_field_proxy_cs_uri.val();
          old_proxy_referer_val = custom_field_proxy_referer.val();
          old_proxy_user_agent_val = custom_field_proxy_user_agent.val();
          old_proxy_cs_bytes_val = custom_field_proxy_cs_bytes.val();
          old_proxy_sc_status_val = custom_field_proxy_sc_status.val();
          old_proxy_sc_bytes_val = custom_field_proxy_sc_bytes.val();
      }
      switch (new_value) {
          case "0":
              custom_field_proxy_c_ip.attr("readonly", true);
              custom_field_proxy_c_ip.val("src");

              custom_field_proxy_cs_user.attr("readonly", true);
              custom_field_proxy_cs_user.val("user");

              custom_field_proxy_cs_uri.attr("readonly", true);
              custom_field_proxy_cs_uri.val("query");

              custom_field_proxy_referer.attr("readonly", true);
              custom_field_proxy_referer.val("http_referer");

              custom_field_proxy_user_agent.attr("readonly", true);
              custom_field_proxy_user_agent.val("http_user_agent");

              custom_field_proxy_cs_bytes.attr("readonly", true);
              custom_field_proxy_cs_bytes.val("bytes_in");

              custom_field_proxy_sc_status.attr("readonly", true);
              custom_field_proxy_sc_status.val("status");

              custom_field_proxy_sc_bytes.attr("readonly", true);
              custom_field_proxy_sc_bytes.val("bytes_out");

              break;
          case "1":
              custom_field_proxy_c_ip.attr("readonly", true);
              custom_field_proxy_c_ip.val("c_ip");

              custom_field_proxy_cs_user.attr("readonly", true);
              custom_field_proxy_cs_user.val("cs_username");

              custom_field_proxy_cs_uri.attr("readonly", true);
              custom_field_proxy_cs_uri.val("cs_uri");

              custom_field_proxy_referer.attr("readonly", true);
              custom_field_proxy_referer.val("cs_Referer");

              custom_field_proxy_user_agent.attr("readonly", true);
              custom_field_proxy_user_agent.val("cs_User_Agent");

              custom_field_proxy_cs_bytes.attr("readonly", true);
              custom_field_proxy_cs_bytes.val("cs_bytes");

              custom_field_proxy_sc_status.attr("readonly", true);
              custom_field_proxy_sc_status.val("sc_status");

              custom_field_proxy_sc_bytes.attr("readonly", true);
              custom_field_proxy_sc_bytes.val("sc_bytes");

              break;
          case "2":
              custom_field_proxy_c_ip.removeAttr("readonly");
              custom_field_proxy_c_ip.val(old_proxy_c_ip_val);

              custom_field_proxy_cs_user.removeAttr("readonly");
              custom_field_proxy_cs_user.val(old_proxy_cs_user_val);

              custom_field_proxy_cs_uri.removeAttr("readonly");
              custom_field_proxy_cs_uri.val(old_proxy_cs_uri_val);

              custom_field_proxy_referer.removeAttr("readonly");
              custom_field_proxy_referer.val(old_proxy_referer_val);

              custom_field_proxy_user_agent.removeAttr("readonly");
              custom_field_proxy_user_agent.val(old_proxy_user_agent_val);

              custom_field_proxy_cs_bytes.removeAttr("readonly");
              custom_field_proxy_cs_bytes.val(old_proxy_cs_bytes_val);

              custom_field_proxy_sc_status.removeAttr("readonly");
              custom_field_proxy_sc_status.val(old_proxy_sc_status_val);

              custom_field_proxy_sc_bytes.removeAttr("readonly");
              custom_field_proxy_sc_bytes.val(old_proxy_sc_bytes_val);

              break;
      }

  }
  var deps = [
      "splunkjs/ready!",
  ];

  require(deps, function(mvc) {
    
    $type=$("#type_hidden").val();
	//alert($type);
	if($type=="bind"){
		$('#sourcetype_binddns_div').show();
		$('#sourcetype_msdns_div').hide();
		$('#sourcetype_customdns_div').hide();
		$('#sourcetype_proxy_div').hide();
		
		$('#proxy_index_div').hide();
		$('#dns_index_div').show();
		$('#customdns_data_div').hide();
		$('#proxy_data_div').hide();
		
		$('#id_sourcetype_bind').val("{{sourcetype_bind}}");
		$('#id_index').val("{{index}}");
		
	}else if($type=="ms"){
		$('#sourcetype_binddns_div').hide();
		$('#sourcetype_msdns_div').show();
		$('#sourcetype_customdns_div').hide();
		$('#sourcetype_proxy_div').hide();
		
		$('#proxy_index_div').hide();
		$('#dns_index_div').show();
		$('#customdns_data_div').hide();
		$('#proxy_data_div').hide();
		
		$('#id_sourcetype_msdns').val("{{sourcetype_msdns}}");
		$('#id_index').val("{{index}}");
	}
	else if($type=="custom"){
		
		$('#sourcetype_binddns_div').hide();
		$('#sourcetype_msdns_div').hide();
		$('#sourcetype_customdns_div').show();
		$('#sourcetype_proxy_div').hide();
		
		$('#proxy_index_div').hide();
		$('#dns_index_div').show();
		$('#customdns_data_div').show();
		$('#proxy_data_div').hide();
		
		$('#id_sourcetype_custom').val("{{sourcetype_custom}}");
		$('#id_index').val("{{index}}");
		$('#id_custom_field_dnstype').val("{{custom_dnstype}}");
		$('#id_custom_field_fqdn').val("{{custom_fqdn}}");
		$('#id_custom_field_srcip').val("{{custom_srcip}}");
		$('#id_custom_field_cim_compliant').prop( "checked",{{custom_cim}});
	}
	else if($type=="proxy"){
		$('#sourcetype_binddns_div').hide();
		$('#sourcetype_msdns_div').hide();
		$('#sourcetype_customdns_div').hide();
		$('#sourcetype_proxy_div').show();
		
		$('#proxy_index_div').show();
		$('#dns_index_div').hide();
		$('#customdns_data_div').hide();
		$('#proxy_data_div').show();
		
		$('#id_sourcetype_proxy').val("{{sourcetype_proxy}}");
		$('#id_proxy_index').val("{{proxy_index}}");
		$('#id_custom_field_proxy_c_ip').val("{{custom_proxy_c_ip}}");
		$('#id_custom_field_proxy_cs_user').val("{{custom_proxy_cs_user}}");
		$('#id_custom_field_proxy_cs_uri').val("{{custom_proxy_cs_uri}}");
		$('#id_custom_field_proxy_referer').val("{{custom_proxy_referer}}");
		$('#id_custom_field_proxy_user_agent').val("{{custom_proxy_user_agent}}");
		$('#id_custom_field_proxy_cs_bytes').val("{{custom_proxy_cs_bytes}}");
		$('#id_custom_field_proxy_sc_status').val("{{custom_proxy_sc_status}}");
		$('#id_custom_field_proxy_sc_bytes').val("{{custom_proxy_sc_bytes}}");
		$('#id_custom_proxy_cim_compliant_{{custom_proxy_cim}}').prop( "checked",true);
		
	}
	
	
	var cim_compliant = $("#id_custom_field_cim_compliant");
	cim_compliant.click(function() {
      custom_cim_checked(cim_compliant.is(":checked"));
    });
    if (cim_compliant.is(":checked")) {
      custom_cim_checked(true);
    }
	
	var proxy_cim_compliant = $(".RadioSelect");
    old_proxy_cim_compliant_val = $(".RadioSelect:checked").val();

    old_proxy_c_ip_val = $("#id_custom_field_proxy_c_ip").val();
    old_proxy_cs_user_val = $("#id_custom_field_proxy_cs_user").val();
    old_proxy_cs_uri_val = $("#id_custom_field_proxy_cs_uri").val();
    old_proxy_referer_val = $("#id_custom_field_proxy_referer").val();
    old_proxy_user_agent_val = $("#id_custom_field_proxy_user_agent").val();
    old_proxy_cs_bytes_val = $("#id_custom_field_proxy_cs_bytes").val();
    old_proxy_sc_status_val = $("#id_custom_field_proxy_sc_status").val();
    old_proxy_sc_bytes_val = $("#id_custom_field_proxy_sc_bytes").val();


    proxy_cim_compliant.change(function () {
        custom_proxy_cim_checked(old_proxy_cim_compliant_val, $(this).val())
        old_proxy_cim_compliant_val = $(this).val();
    });
    if (old_proxy_c_ip_val.trim() == "" && old_proxy_cs_user_val.trim() == "" && old_proxy_cs_uri_val.trim() == ""
        && old_proxy_referer_val.trim() == "" && old_proxy_user_agent_val.trim() == "" && old_proxy_cs_bytes_val.trim() == ""
        && old_proxy_sc_status_val.trim() == "" && old_proxy_sc_bytes_val.trim() == "") {
        $("#id_custom_proxy_cim_compliant_2").attr("checked", "checked");
    }
    else {
        if (old_proxy_cim_compliant_val != "2") {
            custom_proxy_cim_checked(old_proxy_cim_compliant_val, old_proxy_cim_compliant_val)
        }
    }
	$("#popup_dialog_ok").click(function () {
        show_popup(false);
    });

    $("#btn_save").click(function () {
	    if (isFormValid()) {
            show_popup(true);
        }
        else {
            alert("Please, enter all necesary data.\nCheck that the sourcetype doesn't contains the * character.")
        }
    });
	
	 function isFormValid() {
	    switch ($('#type_hidden').val()) {
            case "bind":
                return ($("#id_sourcetype_bind").val() != "" && $("#id_sourcetype_bind").val().indexOf('*') == -1);
                break;
            case "ms":
                return ($("#id_sourcetype_msdns").val() != "" && $("#id_sourcetype_msdns").val().indexOf('*') == -1);
                break;
            case "custom":
			     return ($("#id_sourcetype_custom").val() != ""  && $("#id_sourcetype_custom").val().indexOf('*') == -1
						&& $("#id_custom_field_dnstype").val() != ""
                        && $("#id_custom_field_fqdn").val() != "" && $("#id_custom_field_srcip").val() != "");
                break;
            case "proxy":
                return ($("#id_sourcetype_proxy").val() != "" && $("#id_sourcetype_proxy").val().indexOf('*') == -1
						&& $("#id_custom_field_proxy_c_ip").val() != ""
                        && $("#id_custom_field_proxy_cs_user").val() != "" && $("#id_custom_field_proxy_cs_uri").val() != ""
                        && $("#id_custom_field_proxy_referer").val() != "" && $("#id_custom_field_proxy_user_agent").val() != ""
                        && $("#id_custom_field_proxy_cs_bytes").val() != "" && $("#id_custom_field_proxy_sc_status").val() != ""
                        && $("#id_custom_field_proxy_sc_bytes").val() != "" );
                break;
        }
        return false;
    }
	
  });

  function show_popup(show) {
      if (show) {
          $("#popup_dialog").show();
          $(".popup_dialog").show();
          $("#popup_dialog").css('height', $(".main-area").css("height"));
      } else {
          $("#popup_dialog").hide();
          $(".popup_dialog").hide();
          $("#btn_saveOK").trigger('click');
      }
  }

</script>
{% endif %}
{% endblock js %}
