{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} ITT GUI {% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />

    <style>        
        .main-area {
            margin: 0px auto;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 10px;
            width: 300px;
            border: 0 None;
        } 

		.itt_gui_iframe_container
		{
			height:1000px;
			width:100%;
		}
    </style>
{% endblock css %}

{% block content %}
<div class="main-area">  
  <a href="{{ apiurl }}">Click to join Reveelium GUI</a>
</div>

{% endblock content%}

{% block js %}    
   <script>
		
   </script>
{% endblock js %}
