{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}SourceTypes Settings{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />

    <style>        
        .main-area {
            margin: 0px auto;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 10px;
            width: 700px;
			border: 0;
			text-align: center;
        }  
        input[type='text'] {
            width: 585px;
            margin-bottom: 2px;
        }
		
		.icon-gear
		{
			font-size:20px;
		}

        select {
            width: 600px;
        }

        label {
            margin-top: 10px;
        }

        h3 {
            margin-top: 15px;
            margin-bottom: 15px;
            border-bottom: 2px solid #85d6ff;
        }

        .buttonbar {
            margin-top: 20px;
        }

        div.errors li {
            color: #ff8080;
        } 
        hr.separator {
          border-bottom: 1px solid #e0e0e0;
        }
        .radios {
            clear:both;
            width:100%;
            float:left;
            margin-bottom:5px;
        }
        .radios ul {
            list-style:none
        }
        #popup_dialog {
            width:100%;
            height:100%;
            background-color:#000000;
            opacity:0.5;
            position:absolute;
            display:none;
            top:65px;
            padding-bottom:100px;
        }
        .popup_dialog {
            position:fixed;
            top:200px;
            left:41%;
            background-color: #eee;
            border: 1px solid #bfbfbf;
            border-radius: 3px;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
            white-space: normal;
            z-index: 1060;
            padding:15px;
            text-align:center;
            display:none;
        }
        #btn_saveOK {
            visibility:hidden;
        }
    </style>
{% endblock css %}

{% block content %}

    <div>
        <div class="main-area">
            <form class="splunkdj-setup-form" method="post" action="" onsubmit="">
                {% csrf_token %}
                <h2>Sourcetypes Settings</h2>
                <p>
                    Add, edit or delete your DNS and Proxy query log data within Splunk.
                    Please contact <a href="mailto:support@itrust.fr">support@itrust.fr</a> for assistance.
                </p>
				<br/>
                <!--<p>Enter the information below, then click <strong>Save</strong> to continue.</p>

                <h3>DNS Logs Section</h3>-->
                <div id="table_st">

                </div>
                <input type="hidden" id="st_list" value="{{ form.st_list.value }}" />

            </form>  
        </div>
    </div>

{% endblock content%}

{% block js %}    
<script>
  

  var deps = [
      "splunkjs/ready!",
  ];
 
  require(deps, function(mvc) {
    

      var table = '<table border="1" width="95%" align="center"><tr><th>Sourcetype</th><th>Type</th><th>&nbsp;</th></tr>';
      var stlist = "{{ form.st_list.value }}";
      if (stlist != "" && stlist != "None" && stlist != "undefined") {

        stArray = new Array();
        stArray = stlist.split("**");
        if (stArray.length > 1) {
        for (var i=0; i < stArray.length; i++) {
            if (stArray[i].length > 0) {
                var data = stArray[i].split('*');
				if(data.length>2)
				{
					var type="";
					switch (data[1]) {
						case "0": 
							data[1] = 'ISC Bind Logs'; 
							type = "bind";
							break;
						case "1": 
							data[1] = 'Microsoft DNS Logs'; 
							type = "ms";
							break;
						case "2": 
							data[1] = 'Custom DNS Logs'; 
							type = "custom";
							break;
						case "3": 
							data[1] = 'Proxy Logs'; 
							type = "proxy";
							break;
					}
					table += '<tr align="center"><td>' + data[2] + '</td><td>' + data[1] + '</td><td><a href="/dj/it_tude/edit_sourcetype/' + type +"/"+ data[0] + '" title="Click to edit properties"><span class="icon-gear"></span></a></td><td>';
					table += "<a href='/dj/it_tude/delete_sourcetype/" + type +'/'+ data[0] + "' onclick='javascript:return confirm(\"Delete this sourcetype?\");'><span class='icon-close'></span></a></td></tr>";
				}
            }
        }
        }
    }
    table += '<tr><td colspan="3" style="text-align:left;padding-left:20px;"><a href="/dj/it_tude/add_sourcetype">+ Add New Sourcetype</a></td></tr></table>';
    $('#table_st').html(table);
  });
</script>
{% endblock js %}