tr.severityInformational td {
}

tr.severityLow td {
    background-color:#009933 !important;
    color: #fff !important;
    font-weight: bold;
}

tr.severityHigh td {
    background-color:#ed2b21 !important;
    color: #fff !important;
    font-weight: bold;
}
