body.splTemplate-dashboard,
.splSearchControls-inline, 
.TitleBar .splHeader, 
.FieldPickerPopup .splHeader-primary {
  background-color: #F7F7FF;
}

.appHeaderWrapper,
div.splHeader-navigation {
  background-color: #E6EFF7;
}

ul.appBarNav li a,
ul.appBarNav li.hasMenu a {
  font-weight: normal;
  color: black;
  padding-right: 10px;
}

ul.appBarNav li a:hover {
  background-color: #666666;
  color: white;
}

div.auxLinks {
  width: 100px;
  height: 28px;
  border: 0px;
  background-image: url('Splunk-Powered-28h.png');
  background-repeat: no-repeat;
}

div.auxLinks a,
div.auxLinks span {
  display: none;
  visibility: hidden;
}

span.splIcon-triangle-2-s {
  display: none;
  visibility: hidden;
  width: 0px;
}

.splView-flashtimeline .JobStatus {
  background: none repeat-x scroll left bottom #F7F7FF;
}

.splView-flashtimeline .ResultsHeader .splHeader-primary {
  background: none repeat-x scroll 0 0 #F7F7FF;
}

.DisableRequiredFieldsButton {
  background: none repeat-x scroll 0 0 #F7F7FF;
}

.splBackground-secondary, .sidebarExpanded {
  background-color: #F7F7FF;
}

div.sidebarCollapsed .sidebarControl {
  background: none repeat-x scroll 0 0 #F7F7FF;
}

h3.headerText {
  color: #73A550;
}

.SimpleResultsTable .simpleResultsTableWrapper {
  overflow-x: hidden;
}

.SingleValueHolder {
  background: none;
  text-align: left;
  font-weight: normal;
  width: auto;
  padding-top: 0;
  padding-left: 0;
  font-size: 11px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  float:left;
  margin-right: 20px;
}

.singleLabelBefore {
  display: block;
  margin-bottom: 2px;
  color: #333;
}

.singleResult {
  font-size: 14px;
}

.HiddenPostProcess {
  display:none;
}

.SearchLinkLister {
  margin-right: 10px !important;
}

.SearchLinkLister ul {
  margin-left: 10px;
}

.SearchLinkLister li {
  margin-left: 5px;
}

.SingleValue .singleResult { 
  margin: 0px; 
  font-size: 18px; 
}


