#node_details  tr td:first-child  {
    font-style: italic;
    text-decoration: underline;
}

#node_details th:nth-child(8), #node_details td:nth-child(8), #node_details th:nth-child(11), #node_details td:nth-child(11){
    display: none !important;
}

text.single-result{
     font-size: 55px !important;
}

td.data-bar-cell {
    padding: 4px 8px;
}

td.data-bar-cell .data-bar-wrapper .data-bar {
    height: 16px;
    min-width: 1px;
    background-color: #5479AF;
}

.nowrap {
    white-space: nowrap;
}

.tooltip-inner {
    max-width: 500px;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
}

.tooltip {
    max-width: 500px;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
}
