.dashboard-row .dashboard-panel h2.panel-title {
    color: #007db8;
    background-color: #f5f5f5;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 400;
}

.dashboard-row .dashboard-panel {
    border: 1px solid #ccc;
}

.panel-body.html {
    padding: 0px !important;
}
