{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc torque %}

{% block title %}Animated map demo{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
    <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/leaflet.fullscreen.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

{% endblock css %}

{% block content %}
    <div class="dashboard-body container-fluid main-section-body" data-role="main">

        <div class="dashboard-header">
            <div class="dashboard-title-inner">
                <div class="logo"></div>
                <h2 class="dashboard-title">/ Torque Map <span class="beta">BETA</span></h2>
            </div>
            <p class="dashboard-description">Animate time-series data on a map using CartoDB's Torque technology</p>
        </div>
        <div class="dashboard-row dashboard-row1">
            <div class="dashboard-cell" style="width: 100%;">
                <div class="dashboard-panel">
                    <div class="dashboard-element">
                        <div class="panel-head">
                            <h3>Search Patterns</h3>
                        </div>
                        <div class="panel-body">
                            {% searchbar id="searchbar" managerid="" value="$searchquery$"|token_safe
                                         timerange_earliest_time="$earlyval$"|token_safe timerange_latest_time="$lateval$"|token_safe
                                         default="" %}
                            <p>> <span class="searchMessage">Search for data with <i>_time, latitude, and longitude</i> fields.  For best results, keep queries below 50,000 results.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-row dashboard-row2">
            <div class="dashboard-cell" style="width: 68%;">
                <div class="dashboard-panel">
                    <div class="dashboard-zerocase">
                        <p>Enter a valid search to start your Torque animation.</p>
                    </div>
                    <div class="dashboard-element">
                        <div class="map-head">
                            <h3 class="map-title">Map</h3>
                            <form>
                                <ul class="basemap-options">
                                    <li>
                                        <label for="dark">
                                            <input class="basemap-radio" type="radio" name="basemap" value="dark" id="dark" checked>
                                            <span class="basemap-label">
                                                Basemap Dark
                                            </span>
                                        </lable>
                                    </li>
                                    <li>
                                        <label for="light">
                                            <input class="basemap-radio" type="radio" name="basemap" value="light" id="light">
                                            <span class="basemap-label">
                                                Basemap Light
                                            </span>
                                        </label>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <div class="panel-body">
                            {% torque id="mytorque" basemap="dark_all" managerid="presearch" searchbarid="searchbar" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-cell" style="width: 30%;">
                <div class="dashboard-panel ">
                    <div class="panel-element-row">
                        <div class="dashboard-element table" style="width: 100%">
                            <nav class="navigation">
                              <ul class="u-ilist js-navigation">
                                <li><a href="#" class="is-selected">Design</a></li>
                                <li><a href="#">Advanced</a></li>
                              </ul>
                            </nav>

                            <div class="panel-body cartocss">
                                <ul class="options" id="Design">
                                    <li>
                                        <div class='name'>Marker Type</div>
                                        <div class="form2">
                                            <select id="markerType" name="markerType">
                                              <option value="ellipse">Ellipse</option>
                                              <option value="rectangle">Rectangle</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <div class='name'>Marker Size</div>
                                        <div class="form">
                                            <input type="text" name="fname" class='markerSize' id="markerSize" value='6'>
                                        </div>
                                    </li>
                                     <li>
                                        <div class='name'>Marker Colour</div> 
                                        <div class="form">
                                            <div id="markerFill" class="colorPicker" style="background-color: rgb(24, 130, 207);">     
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class='name'>Marker Opacity</div>
                                        <div class="form">
                                            <input type="text" name="fname" class='markerSize' id="markerOpacity" value='6'>
                                        </div>
                                    </li>
                                    <li>
                                        <div class='name'>Border Size</div>
                                        <div class="form">
                                            <input type="text" name="fname" class='markerSize' id="borderSize" value='6'>
                                        </div>
                                    </li>
                                    <li>
                                        <div class='name'>Border Colour</div>
                                        <div class="form">
                                            <div id="borderFill" class="colorPicker" style="background-color: rgb(24, 130, 207);">     
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class='name'>Border Opacity</div>
                                        <div class="form">
                                            <input type="text" name="fname" class='markerSize' id="borderOpacity" value='6'>
                                        </div>
                                    </li>
                                    <!--
                                     <li>
                                        <div class='name'># of Trails:</div>
                                        <div class="form">
                                            <input type="text" name="fname" class='textInput' id="numTrails" value='5'>
                                        </div>
                                    </li>-->
                                </ul>

                                <ul class="options hide" id="Advanced">
                                    <li>
                                        <div class='name'>Trails</div>
                                        <div class="form">
                                            <input type="text" name="fname" class='markerSize' id="markerTrails" value='6'>
                                        </div>
                                    </li>
                              <!--       <li>
                                        <div class='name'>Duration (seconds)</div>
                                        <div class="form">
                                            <input type="text" name="fname" class='markerSize' id="markerDuration" value='30'>
                                        </div>
                                    </li> -->
                                </ul>

                               
                                <!-- {% table id="table_searchresults" managerid="search" %} -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

$( document ).ready(function() {

    $( ".js-navigation a" ).click(function(e) {
       e.preventDefault();
       $( ".js-navigation a" ).toggleClass("is-selected");
       $(".cartocss .options").toggleClass("hide");
    });

    $('select').each(function(){
        var $this = $(this), numberOfOptions = $(this).children('option').length;
      
        $this.addClass('select-hidden'); 
        $this.wrap('<div class="select"></div>');
        $this.after('<div class="select-styled"></div>');

        var $styledSelect = $this.next('div.select-styled');
        $styledSelect.text($this.children('option').eq(0).text());
      
        var $list = $('<ul />', {
            'class': 'select-options'
        }).insertAfter($styledSelect);
      
        for (var i = 0; i < numberOfOptions; i++) {
            $('<li />', {
                text: $this.children('option').eq(i).text(),
                rel: $this.children('option').eq(i).val()
            }).appendTo($list);
        }
      
        var $listItems = $list.children('li');
      
        $styledSelect.click(function(e) {
            e.stopPropagation();
            $('div.select-styled.active').each(function(){
                $(this).removeClass('active').next('ul.select-options').hide();
            });
            $(this).toggleClass('active').next('ul.select-options').toggle();
        });
      
        $listItems.click(function(e) {
            e.stopPropagation();
            $styledSelect.text($(this).text()).removeClass('active');
            $this.val($(this).attr('rel'));
            $list.hide();
            //console.log($this.val());
        });
      
        $(document).click(function() {
            $styledSelect.removeClass('active');
            $list.hide();
        });

    });
});





</script>

{% endblock content%}



{% block managers %}
    {% searchmanager id="presearch" timeout="86400" cache="86400" search="$searchquery$ | stats min(_time) as firstOccurrence, max(_time) as lastOccurrence, max(latitude) as maxlatitude,min(latitude) as minlatitude, min(longitude) as minlongitude,max(longitude) as maxlongitude | eval timebin=(lastOccurrence-firstOccurrence)/128 | table timebin,maxlatitude,minlatitude,maxlongitude,minlongitude"|token_safe %}
{% endblock managers %}



