{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc torque %}

{% block title %}Animated map demo{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
{% endblock css %}

{% block content %}
    <div class="dashboard-body container-fluid main-section-body" data-role="main">
        <div class="dashboard-header clearfix">
            <h2>CartoDB Torque Map</h2>
            <p class="description">Animate time-series data on map using CartoDB's Torque technology</p>
        </div>
        <div class="dashboard-row dashboard-row1">
            <div class="dashboard-cell" style="width: 100%;">
                <div class="dashboard-panel">
                    <div class="dashboard-element">
                        <div class="panel-head">
                            <h3>Search pattern</h3>
                        </div>
                        <div class="panel-body">
                            {% searchbar id="searchbar" managerid="" value="$searchquery$"|token_safe
                                         timerange_earliest_time="$earlyval$"|token_safe timerange_latest_time="$lateval$"|token_safe
                                         default="" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-row dashboard-row2">
            <div class="dashboard-cell" style="width: 70%;">
                <div class="dashboard-panel">
                    <div class="dashboard-element">
                        <div class="panel-head">
                            <h3>Torque Map</h3>
                        </div>
                        <div class="panel-body">
                            {% torque id="mytorque" basemap="dark_all" managerid="presearch" searchbarid="searchbar" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-cell" style="width: 30%;">
                <div class="dashboard-panel ">
                    <div class="panel-element-row">
                        <div class="dashboard-element table" style="width: 100%">
                            <div class="panel-head">
                                <h3>CartoCSS</h3>
                            </div>
                            <div class="panel-body">
                                <!-- {% table id="table_searchresults" managerid="search" %} -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}

{% block managers %}
    {% searchmanager id="presearch" timeout="86400" cache="86400" search="$searchquery$ | stats min(_time) as firstOccurrence, max(_time) as lastOccurrence, max(latitude) as maxlatitude,min(latitude) as minlatitude, min(longitude) as minlongitude,max(longitude) as maxlongitude | eval timebin=(lastOccurrence-firstOccurrence)/256 | table timebin,maxlatitude,minlatitude,maxlongitude,minlongitude"|token_safe %}
{% endblock managers %}
