/*grdhg24:112516:dashboardcss:spgt_easy*/
.h3-title {
    margin-top:5px;
}
pre {
  overflow: auto;
  white-space: pre-wrap;
  margin-top:12px;
}
.results-table td.timestamp, .results-table th.timestamp {
    min-width: 100px !important;
}
#filter1-input:hover {
	background-color: #FFF;
	border:1.3px solid #26AFAC;
  border-radius: 4px 4px 4px 4px !important;
}
.modal-header .modal-title, .modal-header  h4{
  line-height: 12px!important;
  margin: 0px !important;
  font-weight:200 !important;
  font-size:16px;
}
.modal-header .modal-title, .modal-header  h3{
  line-height: 12px!important;
  margin: 0px !important;
}
.modal-header {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    background: #f5f5f5;
    padding: 15px 0 15px 5px !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
/* Miscellaneous core overrides for this app */
div [id^="btn_ele"] .dashboard-row .dashboard-panel .panel-body.html {
    background-image: none !important;
		background-color: transparent !important;
    padding:0px !important;
    width:auto !important;
    border-top:0px;
}
#modal-element .splunk-table {
    margin-top: 1px !important;
    *zoom: 1;
}
.fieldset {
    margin-bottom: 15px;
}
.icon-display {
  padding:30px;
  margin-top:20px;
}
.icon-display :before {
  margin-bottom:40px;
}
.icon-layout {
  display:block;
  float:left;
  padding:10px;
}
/* begin added font selection */
@font-face {font-family: 'splidget.extend';src: url('fonts/splidget.extend.eot');src: url('fonts/splidget.extend.eot?#iefix') format('embedded-opentype'),url('fonts/splidget.extend.woff') format('woff'),url('fonts/splidget.extend.ttf') format('truetype'),url('fonts/splidget.extend.svg#splidget.extend') format('svg');font-weight: normal;font-style: normal;}
/* end font selection */
/* this is for custom glyph set. renamed to not interfere with font-awesome that comes with Splunk */

/* Begin color definitions for button identifier glyphs */
.icon-color-scratch{
color: #ffb800;
/*   text-shadow: 0 1px 1px rgba(0,0,0,.15) ;*/
}
.icon-color-easy{
color: #BE1700;
/*   text-shadow: 0 1px 1px rgba(0,0,0,.15) ;*/
}
.icon-color-searchfu{
color: #26AFAC;
/*   text-shadow: 0 1px 1px rgba(0,0,0,.15) ;*/
}
.icon-color-feed{
color: #0F92C8;
/* text-shadow: 0 1px 1px rgba(0,0,0,.15) ;*/
}
.icon-color-search{
color: #26AFAC;
/*text-shadow: 0 1px 1px rgba(0,0,0,.25) ;*/
}
.icon-color-misc{
color: #6A5AA0;
/*text-shadow: 0 1px 1px rgba(0,0,0,.25) ;*/
}
.icon-color-config{
color: #63A72E;
/*text-shadow: 0 1px 1px rgba(0,0,0,.25) ;*/
}
.icon-color-severe{
color: #BE1700;
/*text-shadow: 0 1px 1px rgba(0,0,0,.25) ;*/
}
.icon-color-high {
  color: #ff7e00;
/*text-shadow: 0 1px 1px rgba(0,0,0,.25) ;*/
}
.icon-color-elevated{
color: #ffb800;
/*text-shadow: 0 1px 1px rgba(0,0,0,.25) ;*/
}
.icon-color-low{
color: #63A72E;
/*text-shadow: 0 1px 1px rgba(0,0,0,.25) ;*/
}
.icon-color-info{
color: #0F92C8;
/* text-shadow: 0 1px 1px rgba(0,0,0,.25) ;*/
}
.box-shadow (@shadow: 0 1px 3px rgba(0,0,0,.25)) {
-webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
box-shadow: @shadow;
}

[class*='icn-']:before{
 display: inline-block;
 font-family: 'splidget.extend';
 font-style: normal;
 font-weight: normal;
 speak:none;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale
}
.icn-searchfu:before{content:'\0041';}
.icn-easy:before{content:'\0042';}
.icn-welcome:before{content:'\0043';}
.icn-greater-than:before{content:'\0044';}
.icn-splk-mch-learn:before{content:'\0045';}
.icn-splunkpad:before{content:'\0046';}
.icn-splidget:before{content:'\0047';}
.icn-feedback:before{content:'\0048';}
.icn-assess:before{content:'\0049';}
.icn-data-curator:before{content:'\004a';}
.icn-toggle-up:before{content:'\004b';}
.icn-toggle-down:before{content:'\004c';}
.icn-normal-state:before{content:'\004d';}
.icn-informational-state:before{content:'\004e';}
.icn-poor-state:before{content:'\004f';}
.icn-beyond-fatal-state:before{content:'\0050';}
.icn-fatal-state:before{content:'\0051';}
.icn-os-app:before{content:'\0052';}
.icn-app:before{content:'\0053';}
.icn-os:before{content:'\0054';}
.icn-vm:before{content:'\0055';}
.icn-extinguish:before{content:'\0056';}
.icn-fire:before{content:'\0057';}
.icn-location:before{content:'\0058';}
.icn-globe:before{content:'\0059';}
.icn-num-1:before{content:'\005a';}
.icn-num-2:before{content:'\0061';}
.icn-num-3:before{content:'\0062';}
.icn-num-4:before{content:'\0063';}
.icn-num-5:before{content:'\0064';}
.icn-os-linux:before{content:'\0065';}
.icn-os-windows:before{content:'\0066';}
.icn-user-experience:before{content:'\0067';}
.icn-filter:before{content:'\0068';}
.icn-firewall:before{content:'\0069';}
.icn-bar-chart:before{content:'\006a';}
.icn-rfid:before{content:'\006b';}
.icn-internet-of-things:before{content:'\006c';}
.icn-quote-left:before{content:'\006d';}
.icn-quote-right:before{content:'\006e';}
.icn-ipad:before{content:'\006f';}
.icn-iphone:before{content:'\0070';}
.icn-home:before{content:'\0071';}
.icn-move:before{content:'\0072';}
.icn-healthcare:before{content:'\0073';}
.icn-na:before{content:'\0074';}
.icn-tag:before{content:'\0075';}
.icn-refresh:before{content:'\0076';}
.icn-process-analytics:before{content:'\0077';}
.icn-risk-management:before{content:'\0078';}
.icn-mixture:before{content:'\0079';}
.icn-log-file:before{content:'\007a';}
.icn-script:before{content:'\0030';}
.icn-stream-lake:before{content:'\0031';}
.icn-wire-data:before{content:'\0032';}
.icn-universal-collection:before{content:'\0033';}
.icn-download:before{content:'\0034';}
.icn-toggle-up:before{content:'\0035';}
.icn-toggle-down:before{content:'\0036';}
.icn-enhanced-search:before{content:'\0037';}
.icn-process-fork:before{content:'\0038';}
.icn-cloud:before{content:'\0039';}
.icn-load-balancer:before{content:'\0021';}
.icn-datastore:before{content:'\0022';}
.icn-datastores:before{content:'\0023';}
.icn-router:before{content:'\0024';}
.icn-cluster-management:before{content:'\0025';}
.icn-datacenter:before{content:'\0026';}
.icn-datacenters:before{content:'\0027';}
.icn-server:before{content:'\0028';}
.icn-virtual-indexer:before{content:'\0029';}
.icn-indexer:before{content:'\002a';}
.icn-forwarder:before{content:'\002b';}
.icn-forwarder-management:before{content:'\002c';}
.icn-search-head:before{content:'\002d';}
.icn-pivot:before{content:'\002e';}
.icn-network-switch:before{content:'\002f';}
.icn-stop:before{content:'\005b';}
.icn-alert:before{content:'\005c';}
.icn-checkmark:before{content:'\005d';}
.icn-delete:before{content:'\005e';}
.icn-bug:before{content:'\005f';}
.icn-packaged-malware:before{content:'\0060';}
.icn-malware:before{content:'\007b';}
.icn-botnet:before{content:'\007c';}
.icn-virus:before{content:'\007d';}
.icn-attacker-general:before{content:'\007e';}
.icn-attacker-internal:before{content:'\003f';}
/* end webfont glyphs */
/* end color definitions for button identifier glyphs */

/* Button Grouping Styling - This makes the left and right end buttons have curved corners,
the middle button retains square corners. You will need to apply manually*/
.left{
border-radius: 4px 0px 0px 4px !important;
border-right-color: #F9F9F9;
}
.left :hover{
border-radius: 4px 0px 0px 4px !important;
border-right-color: #F9F9F9;
}
.right{
border-radius: 0px 4px 4px 0px !important;
}
.middle{
border-radius: 0px 0px 0px 0px !important;
}
.full{
border-radius: 4px 4px 4px 4px !important;
}
.m-right {
margin-right:7px;
}
.m-left {
margin-left:7px;
}
.m-8 {
margin:8px;
}
.icn-space {
letter-spacing:70px;
}
.a-w a {
color: #fff;
text-decoration: underline;
cursor: pointer;
}
.a-w a:hover{
color: #fff;
text-decoration: none;
cursor: pointer;
}

