{% extends "sentry:template/sentry_base_with_full_controls.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} | Relation - Organizational{% endblock title %}
{% block css %}
    <!-- Style sheets are loaded here -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
    <style>

    </style>
{% endblock css %}

{% block sentry_header %}
<div class="dashboard-body container-fluid main-section-body" data-role="main">
        <div class="span12 dashboard-header clearfix">
            <h2>Relation: Organizational</h2>
        </div>
{% endblock sentry_header %}

{% block content %}
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="panel-element-row">
                    <div class="dashboard-element chart" id="tableMVE" style="width: 100%">
                        <div class="panel-head">
                            <h3>Manager Viewing Direct Report</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="panel-element-row">
                    <div class="dashboard-element chart" id="tableEVM" style="width: 100%">
                        <div class="panel-head">
                            <h3>Direct Report Viewing Manager</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}

{% block managers %}
	
    {% searchmanager
        id="searchMVE"
        search='index="sentry_summary" report="manager_view_direct" user_id="$selUserID$" cust_id="$selCustID$" app="$selApp$" NOT [| inputlookup triage $includeTriaged$ | fields user_id, cust_id ] | sort -_time | table access_time,app,access_type,metric_name,user_id,cust_id,emp_name,emp_job_title,emp_hr_dept,cust_name,cust_job_title,cust_mgr_name'|token_safe
        earliest_time="$earlyTime$"|token_safe
        latest_time="$lateTime$"|token_safe
        autostart=False
    %}
    {% searchmanager
        id="searchEVM"
        search='index="sentry_summary" report="direct_view_manager" user_id="$selUserID$" cust_id="$selCustID$" app="$selApp$" NOT [| inputlookup triage $includeTriaged$ | fields user_id, cust_id ] | sort -_time | table access_time,app,access_type,metric_name,user_id,cust_id,emp_name,emp_job_title,emp_hr_dept,mgr_name,cust_name'|token_safe
        earliest_time="$earlyTime$"|token_safe
        latest_time="$lateTime$"|token_safe
        autostart=False
    %}

{% endblock managers %}

{% block js %}
<script>
    require(["splunkjs/mvc"], function() {
	    require.config({
	        baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js",
	        waitSeconds: 0 // Disable require.js load timeout 
	    });

		require(["splunkjs/ready!", 
	             "splunkjs/mvc/simplexml/element/table"], function(mvc, TableElement) {
	                 
	
	        // Initialization 
	
	        // Set the default time range 
	        timerange.val({"earliest_time": "-7d@h", "latest_time": "now"});
	        
	        // Set default for the App dropdown 
	        dropdownTriageApp.settings.set("default", "*")
	        
	        // Set default for the App dropdown 
	        dropdownApp.settings.set("default", "*")
	
	        
	        searches.push(mvc.Components.getInstance("searchMVE"));
	        searches.push(mvc.Components.getInstance("searchEVM"));
	
	 
	        // Views 
	
	        var tableMVE = new TableElement({
	            "id": "tableMVE",
	            "managerid": "searchMVE",
	            "fields": "access_time,app,access_type,metric_name,user_id,cust_id,emp_name,emp_job_title,emp_hr_dept,cust_name,cust_job_title,cust_mgr_name",
	            "pageSize": "15",
	            drilldownRedirect: false,
	            "link.inspectSearch.visible": false,
	            "link.openSearch.visible": false,
	            "el": $('#tableMVE')
	        }, {tokens: true}).render();
	
	        var tableEVM = new TableElement({
	            "id": "tableEVM",
	            "managerid": "searchEVM",
	            "fields": "access_time,app,access_type,metric_name,user_id,cust_id,emp_name,emp_job_title,emp_hr_dept,mgr_name,cust_name",
	            "pageSize": "15",
	            drilldownRedirect: false,
	            "link.inspectSearch.visible": false,
	            "link.openSearch.visible": false,
	            "el": $('#tableEVM')
	        }, {tokens: true}).render();
	
	
	        // Event Handlers 
	
	        // Table MVE click
	        tableMVE.on("click", function(e) {
	            var earlyTime = tokens.get("earlyTime");
	            var lateTime = tokens.get("lateTime");
	            var selApp = tokens.get("selApp");
	            redirector({'selUserID': e.data['row.user_id'], 'selCustID': e.data['row.cust_id'], 'selApp': e.data['row.app'], 'earlyTime': earlyTime, 'lateTime': lateTime}, 'lookup');
	        });
	
	        // Table EVM click
	        tableEVM.on("click", function(e) {
	        	var earlyTime = tokens.get("earlyTime");
	            var lateTime = tokens.get("lateTime");
	            var selApp = tokens.get("selApp");
	            redirector({'selUserID': e.data['row.user_id'], 'selCustID': e.data['row.cust_id'], 'selApp': e.data['row.app'], 'earlyTime': earlyTime, 'lateTime': lateTime}, 'lookup');
	        });
	  
    	});
    });
</script>
{% endblock js %}

