{% extends "sentry:template/sentry_base_with_full_controls.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} | Relation - Physical{% endblock title %}
{% block css %}
    <!-- Style sheets are loaded here -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
    <style>

    </style>
{% endblock css %}

{% block sentry_header %}
<div class="dashboard-body container-fluid main-section-body" data-role="main">
        <div class="span12 dashboard-header clearfix">
            <h2>Relation: Physical</h2>
	</div>
{% endblock sentry_header %}

{% block content %}

    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="panel-element-row">
                    <div class="dashboard-element chart" id="tableEVA" style="width: 100%">
                        <div class="panel-head">
                            <!--<h3>Employee Viewing Address</h3>-->
	                   	</div>
                            <div class="heading_wrapper">
	                            <span class="heading_3">Employee Viewing Address</span>
	                            <div id="help_icon" class="eyeIcon">i
			                        <div id="help_info_outer" class="custom-dropdown-menu hidden">
				                        <div id="help_info_inner" class="custom-dropdown-msg">
				                            eva is a weighted aggragate score looking for matches in:<br>
                                			- Address Line 1, Address Line 2 and Last Name.
				                        </div>
			                        </div>
			                    </div>
	                    	</div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock content%}

{% block managers %}

    {% searchmanager
        id="searchEVA"
        search='index="sentry_summary" report="emp_view_addr" user_id="$selUserID$" cust_id="$selCustID$" app="$selApp$" NOT [| inputlookup triage $includeTriaged$ | fields user_id, cust_id, app] | table eva, access_time, app, access_type, metric_name, user_id, cust_id, emp_job_title, emp_hr_dept, emp_cust_addr, emp_cust_name | sort -_time'|token_safe
        earliest_time="$earlyTime$"|token_safe
        latest_time="$lateTime$"|token_safe
        autostart=False
    %}

{% endblock managers %}

{% block js %}
<script>
    require(["splunkjs/mvc"], function() {
	    require.config({
	        baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js",
	        waitSeconds: 0 // Disable require.js load timeout 
	    });

		require(["splunkjs/ready!", 
	             "splunkjs/mvc/simplexml/element/table"], function(mvc, TableElement) {
	                 
	
	        // Initialization 
	
	        // Set the default time range 
	        timerange.val({"earliest_time": "-7d@h", "latest_time": "now"});
	        
	        // Set default for the App dropdown 
	        dropdownTriageApp.settings.set("default", "*");
	        
	        // Set default for the App dropdown 
	        dropdownApp.settings.set("default", "*");
	
	        
	        searches.push(mvc.Components.getInstance("searchEVA"));
	
	 
	        // Views 
	
	        var tableEVA = new TableElement({
	            "id": "tableEVA",
	            "managerid": "searchEVA",
	            "fields": "eva,access_time,app,access_type,metric_name,user_id,cust_id,emp_job_title,emp_hr_dept,emp_cust_addr,emp_cust_name",
	            "pageSize": "15",
	            "drilldownRedirect": false,
	            "link.inspectSearch.visible": false,
	            "link.openSearch.visible": false,
	            "el": $('#tableEVA')
	        }, {tokens: true}).render();
	
	
	        // Event Handlers 
	
	        // Table EVA click
	        tableEVA.on("click", function(e) {
	        	var earlyTime = tokens.get("earlyTime");
	            var lateTime = tokens.get("lateTime");
	            var selApp = tokens.get("selApp");
	            redirector({'selUserID': e.data['row.user_id'], 'selCustID': e.data['row.cust_id'], 'selApp': e.data['row.app'], 'earlyTime': earlyTime, 'lateTime': lateTime}, 'lookup');
	        });
	
	    });
    });
</script>
{% endblock js %}

