


#header>.app-bar {
#    background: #0072C6;
#}

#.app-bar {
#    color: #0072C6;
#    background-color: #0072C6;
#}

#.app-bar .app-icon {
#    display: block;
#    height: 36px;
#    width: 36px;
#    position: absolute;
#    right: 20px;
#    top: 12px;
#    background: url("/en-US/static/app/splunk6overview/appIcon.png") no-repeat scroll right center transparent;
#}

/*
** Splunk 6.0 walk through Landing Page
*/




.Splunk6HomeLanding {
	width: 100%;
	display: table;
}

.Splunk6HomeContainer {
	width: 95%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: white;
	clear: both;
}

table.Splunk6HomeTable {
	width: 100%;
	vertical-align: top;

}

td.Splunk6HomeCell {
	width: 45%;
	height: 128px;
	padding-left: 10px;
	padding-right: 20px;
	vertical-align: top;
	padding-top: 8px;
}

td.Splunk6ImageCell {
	width: 10%;
	height: 128px;
	padding-left: 20px;
	padding-right: 50px;
	padding-top: 12px;
}


.SplunkImageCell {
	vertical-align: top;
	padding-top: 12px;
}
}
