{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Threat Overview{% endblock title %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/jquery-jvectormap-1.2.2.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
	<style type="text/css">

svg {
  font-size: 10px;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke-width: .5px;
}

.x.axis path {
  stroke: #000;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .5;
}

.y.axis line {
  stroke: #ddd;
}

path.line {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

    </style>
	
    <style>
       .main-area {
           margin: 0px auto;
           margin-top: 30px;
           margin-bottom: 30px;
           padding: 10px;
           width: 300px;
       }
	.panel-body{
		
	}
	.node rect {
		cursor: move;
		fill-opacity: .9;
		shape-rendering: crispEdges;
	}
	.node text {
		pointer-events: none;
		text-shadow: 0 1px 0 #fff;
	}
	.link {
		fill: none;
		stroke: #000;
		stroke-opacity: .2;
	}
	.link:hover {
		stroke-opacity: .5;
	}
	.link.my-selected {
		stroke: yellow;
	}
	.scrollable {
		overflow-y: auto;
	}
	.hasDatepicker {
		display: inline-block;
	}

	body {
	font: 10px sans-serif;
	margin: 0;
	}
	
	.line.trends1 {
	fill: none;
	stroke: #0093BB;
	stroke-width: 1.5px;
	}
	
	#hashtag1 {color:#0093BB;}
	
	.line.trends2 {
	fill: none;
	stroke: #BDCD00;
	stroke-width: 1.5px;
	}
	
	#hashtag2 {color:#BDCD00;}
	
	.line.trends3 {
	fill: none;
	stroke: #F49E00;
	stroke-width: 1.5px;
	}
	
	#hashtag3 {color:#F49E00;}
	
	.line.trends4 {
	fill: none;
	stroke: #FFD500;
	stroke-width: 1.5px;
	}
	
	#hashtag4 {color:#FFD500;}
	
	.line.trends5 {
	fill: none;
	stroke: #E85276;
	stroke-width: 1.5px;
	}
	
	#hashtag5 {color:#E85276;}
	
	.line.trends6 {
	fill: none;
	stroke: #6D1F80;
	stroke-width: 1.5px;
	}
	#hashtag6 {color:#6D1F80;}
	
	path.area {
	fill: #00688E;
	}
	
	.axis {
	shape-rendering: crispEdges;
	}
	
	.x.axis line {
	stroke: #fff;
	}
	
	.x.axis .minor {
	stroke-opacity: .5;
	}
	
	.x.axis path {
	display: none;
	}
	
	.y.axis line, .y.axis path {
	fill: none;
	stroke: #000;
	}
	
	.graf {
	border-left:2px solid #0093BB;
	border-bottom:2px solid #0093BB;
	width:200px;
	}
	
	
	.endrow {
	display:inline-block;
	}
	
	.container{
		width:800px;
	}
	

	
	.dashboard-header {
	padding-left:30px;
	}
	
	.trendTabletd {
		padding-left:30px;
	}
	.trendTable {
		margin-bottom:39px;
	}
	
	.center
	{
		margin-left:auto;
		margin-right:auto;
		width:800px;
	}

	.panel-head
	{
		background:#0093BB;
	}

	h3 {
		text-align:center;
	}
	
</style>
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body" data-role="main">
	<div class="row">
		<div class="dashboard-header clearfix">
			<h2>Hacktivism</h2>
		</div>
	</div>
	
	<div class="dashboard-row center">
		<!-- First cell -->
        <div class="dashboard-cell" style="width:800px;">
            <div data-type="{{message}}" id="element1" class="dashboard-panel">
				<div class="panel-head">
					<h3 style="color:white">Hacktivism HeatMap</h3>
				</div>
				<div class="panel-body">
					<div id="mysplunkmapview" style="width:100%; height: 300px;"></div>
                </div>
            </div>
        </div>
        <!-- Second cell -->
	</div>
	<div class="dashboard-row center">
		<div class="dashboard-cell" style="width:800px;">
			<div data-type="{{message}}" id="element2" class="dashboard-panel">
                <div class="panel-head">
                    <h3 style="color:white">Hacktivism Trends over the last month</h3>
                </div>
                <div id="trend" class="panel-body">
                    <div class="container">
						<table class="trendTable">
						<tr >
						<td class="trendTabletd">
						<h3 id="hashtag1"></h3>
						</td>
						<td class="trendTabletd">
						<div id="trends1" class="graf" ></div>
						</td>
						<td class="trendTabletd">
						<h3 id="hashtag4"></h3>
						</td>
						<td class="trendTabletd">
						<div id="trends4" class="graf" ></div>
						</td>
						</tr>
						<tr>
						<td class="trendTabletd">
						<h3 id="hashtag2"></h3>
						</td>
						<td class="trendTabletd">
						<div id="trends2" class="graf" ></div>
						</td>
						<td class="trendTabletd">
						<h3 id="hashtag5"></h3>
						</td>
						<td class="trendTabletd">
						<div id="trends5" class="graf" ></div>
						</td>
						</tr>
						<tr>
						<td class="trendTabletd">
						<h3 id="hashtag3"></h3>
						</td>
						<td class="trendTabletd">
						<div id="trends3" class="graf" ></div>
						</td>
						<td class="trendTabletd">
						<h3 id="hashtag6"></h3>
						</td>
						<td class="trendTabletd">
						<div id="trends6" class="graf" ></div>
						</td>
						</tr>
						</table>
					</div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock content%}

{% block js %}
	<script src="{{STATIC_URL}}{{app_name}}/d3.v2.min.2.9.1.js"></script>
	<script src="{{STATIC_URL}}{{app_name}}/jquery-jvectormap-1.2.2.min.js"></script>
	
	<script>

	COMMERCIAL_TEXT = '<span class="commercial-text"><h3>Only for Commercial users. For more information, please contact at <a href="mailto:sales@blueliv.com" target="_top">sales@blueliv.com</a></h3>';

		var deps = [
			"splunkjs/ready!",
			"splunkjs/mvc/searchmanager",
			"jquery"
		];
		require(deps, function(mvc,$) {
			var SearchManager = require("splunkjs/mvc/searchmanager");
			var _ = require("underscore");
			var $ = require("jquery");
			new SearchManager({
				id: "search-by-trend",
				search: '|hack'
			});
			
			new SearchManager({
				id: "search-by-country",
				search: '|hackmap'
			});
			
			
			
			var manager = splunkjs.mvc.Components.getInstance('search-by-trend');
			var managerMap = splunkjs.mvc.Components.getInstance('search-by-country');
			
			
			
			var data = manager.data('results', {
				output_mode: 'json_rows',
				count: 0 // get all results
			});
			
			var dataMap = managerMap.data('results', {
				output_mode: 'json_rows',
				count: 0 // get all results
			});
			
			
			var map = function(results) {
				require(["{{STATIC_URL}}{{app_name}}/jquery-jvectormap-world-mill-en.js"], function (){
				var collection = results.collection().toJSON();
					var nodesList = _.uniq(_.pluck(collection, "symbol").concat(_.pluck(collection, "date")));
					var dataOut = _.map(collection, function(item) {
						return { 
							'iso' : item.iso,
							'total' : item.total
						}
					});
				
						var dataNew = {}
						for(var i = 0; i < dataOut.length; i++){
							dataNew[dataOut[i].iso] = dataOut[i].total;
						}
						
						$('#mysplunkmapview').vectorMap(
							{
								"map": "world_mill_en",
								"backgroundColor": "#fff",
								"regionStyle": {
									"initial": {
										"fill": "#ccc"
									},
									"hover": {
										"fill-opacity": 0.5
									}
								},
								"series": {
									"regions": [{
										"values": dataNew,
										"scale": ["#CCCCCC", "#FF4444"],
										"normalizeFunction": "polynomial"
									}]
								}
							}
						);
				});
			}
			
			var graph = function(results){
				var collection = results.collection().toJSON();
					var nodesList = _.uniq(_.pluck(collection, "symbol").concat(_.pluck(collection, "date")));
					var links = _.map(collection, function(item) {
						return {
							symbol: item.symbol,
							date: item.date,
							price: parseInt(item.price)
						}
					});
				
				var margin = {top: 10, right: 10, bottom: 0, left: 10},
					width = $('#trends1').width() - margin.left - margin.right,
					height = 80 - margin.top - margin.bottom;
				
				var parse = d3.time.format("%d/%m/%Y %H:%M").parse;
				
				// Scales and axes. Note the inverted domain for the y-scale: bigger is up!
				var x = d3.time.scale().range([0, width]),
					y = d3.scale.linear().range([height, 0]),
					xAxis = d3.svg.axis().scale(x).tickSize(-height).tickSubdivide(true),
					yAxis = d3.svg.axis().scale(y).ticks(4).orient("right");
				
				// An area generator, for the light fill.
				var area = d3.svg.area()
					.interpolate("monotone")
					.x(function(d) { return x(d.date); })
					.y0(height)
					.y1(function(d) { return y(d.price); });
				
				// A line generator, for the dark stroke.
				var line = d3.svg.line()
					.interpolate("monotone")
					.x(function(d) { return x(d.date); })
					.y(function(d) { return y(d.price); });
				
				var hashtags = [];
				var days = [];
				var index = 0;
				links.forEach(function(d) {
					if(hashtags.indexOf(d.symbol) == -1){
						hashtags.push(d.symbol);
					}
					
					if(index % 48 == 0){
						days.push(d.date)
					}
					index = index + 1;
					
				});
				
				ids = ["trends1","trends2","trends3","trends4","trends5","trends6"];
				hashtagid = ["#hashtag1","#hashtag2","#hashtag3","#hashtag4","#hashtag5","#hashtag6"];
				
				hashtags.forEach(function(d) {
					drawGraph(ids.pop(),hashtagid.pop(),d,links);
				});
				//drawGraph2(links,"opindect");
				
				function drawGraph(id,hashtagid,hashtag,data){
					var values = [];
					var sum = 0;
					var first = true;
					var index = 0;
					data.forEach(function(d) {
					if(d.symbol.localeCompare(hashtag) == 0){
							if(index % 24 == 0 && first == false){
								values.push({"date": parse(d.date),
										"price": sum,
										"symbol": d.symbol});
								sum = 0;
							}else{
								sum = sum + d.price;
								
							}
							first = false;
							index = index + 1;
						}
					});
					
	
					// Compute the minimum and maximum date, and the maximum value.
					x.domain([values[0].date, values[values.length - 1].date]);
					y.domain([0, d3.max(values, function(d) { return d.price; })]).nice();
					
					// Add an SVG element with the desired dimensions and margin.
					var svg = d3.select("#"+id).append("svg")
						.attr("width", width + margin.left + margin.right)
						.attr("height", height + margin.top + margin.bottom)
						.append("g")
						.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
					
					// Add the clip path.
					svg.append("clipPath")
						.attr("id", "clip")
						.append("rect")
						.attr("width", width)
						.attr("height", height);
					
					// Add the area path.
					/*svg.append("path")
						.attr("class", "area")
						.attr("clip-path", "url(#clip)")
						.attr("d", area(values));
					*/
					// Add the x-axis.
					/*svg.append("g")
						.attr("class", "x axis")
						.attr("transform", "translate(0," + height + ")")
						.call(xAxis);*/
					
					// Add the y-axis.
					/*svg.append("g")
						.attr("class", "y axis")
						.attr("transform", "translate(" + width + ",0)")
						.call(yAxis);*/
					
					// Add the line path.
					svg.append("path")
						.attr("class", "line "+id)
						.attr("clip-path", "url(#clip)")
						.attr("d", line(values));
					
					// Add a small label for the symbol name.
					d3.select(hashtagid).append("text")
						.style("text-anchor", "end")
						.style("font-weight", "bold")
						.style("font-size", "12")
						.text('#'+hashtag);
				}
				
			};
			
			if($("#element1").data('type') == 'PAID'){
				dataMap.on('data', map);
				managerMap.startSearch();
			}else{
				//Set style for commercial features
				var $title = $("#element1").find("div.panel-head");

	            $title.addClass('commercial-title');
	            $title.find('h3').text($title.find('h3').text()+' [Commercial]');

				$("#mysplunkmapview").addClass('commercial');
				$("#mysplunkmapview").html(
					COMMERCIAL_TEXT
				);
			}

			if($("#element2").data('type') == 'PAID'){
				data.on('data', graph);
				manager.startSearch();
			}else{
				//Set style for commercial features
				var $title = $("#element2").find("div.panel-head");

	            $title.addClass('commercial-title');
	            $title.find('h3').text($title.find('h3').text()+' [Commercial]');
				$("#trend").addClass('commercial');
				$("#trend").html(
					COMMERCIAL_TEXT
				);
			}			
					
		});
		</script>
		{% endblock js %}
		
		{% block managers %}
		
		{% endblock managers %}