{% extends 'splunkdj:base_with_app_bar.html' %}

{% load splunkmvc %}

{% block title %}Home{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body">
<h2><font color="07272D">Blueliv Cyber Threat Intelligence Feed</font><h2>
<h3 style="padding-top:20px;"><strong>Overview of Splunk® App for Blueliv</strong><h3>
<div style="padding-left:20px;">
<li style="padding-top:20px;">Provides an up-to-date cyber threat database</li>
<li style="padding-top:20px;">Improve your cyber threat visibility with the Blueliv cyber threat database</li>
<li style="padding-top:20px;">Perform custom searches</li>
<li style="padding-top:20px;">Detect internal compromised assets connecting to malicious URLs such as Malware distribution domains, C&Cs, phishing, exploit kits and backdoors</li>
<li style="padding-top:20px;">Block connections coming from TOR IP exit nodes</li>
<li style="padding-top:20px;">Track current threats in real-time with the Attacking IPs feed</li>
<li style="padding-top:20px;">Get an up-to-date list of recently analyzed malware samples including its hashes and detected behaviors</li>
<li style="padding-top:20px;">Monitor hacktivism trends</li>
</div>
<h3 style="padding-top:20px;"><strong>Get Started:</strong><h3>
<div style="padding-top:20px; padding-left:20px;">

<p>
Download an API key at <a href="https://map.blueliv.com" target="_blank">https://map.blueliv.com</a> to try some features of this plugin for free.
</p>

<p>
For full access, email sales@blueliv.com . Once you have full access to our cyber threat databases, you’ll be able to receive all the latest updates from our servers. A visual representation of Blueliv’s cyber threat data is available on the Overview tab. Select any domain or country and you’ll get a timestamped snapshot that will enable you to easily visualize the threat trend.
</p>

<p>
The CrimeServer dashboard shows the current state of your Splunk CrimeServers lookup tables. This feed allows you to detect connections coming from your internal network to malicious URLs. Some features of this dashboard are available to commercial users only.
</p>

<p>
The bot IPs dashboard shows the current state of your Splunk bot IPs lookup tables. This feed enables you to check for infected machines that are sending data to a crimeserver, giving you the data you need to neutralize and minimize the impact of the infection. Note this feature is only available to commercial users.
</p>

<p>
Attacking IPs dashboard shows the current state of your Splunk attacking IPs lookup tables. This feed allows you to monitor current threats in real-time and includes geolocation information about the attack, accurate timestamp data and attack categorization. Note this feature is only available to commercial users.
</p>

<p>
The malware dashboard shows the current state of your Splunk malware hashed lookup tables. This provides a list of most recently analyzed malware samples where you can search for the file hash. This data is rated with confidence levels from LOW to HIGH and search queries can be filtered using this criteria. Note this feature is only available to commercial users.
</p>

<p>
The Hacktivism tab enables you to track the latest hacktivism trends with up-to-date geographical and hashtag data.
</p>
<p>
Analysts can use the Search tab to easily create custom searches based on multiple inputs to obtain data to improve your overall cyber threat visibility, tailored to your specific requirements.
</p>

<p>
Each data feed continuously supplies fresh data enabling you to add greater context to the threats currently targeting your organization. Get more information about the lookup tables in the documentation file.
</p>
</div>
<h3 style="padding-top:20px;"><strong>Documentation:</strong><h3>
<div style="padding-top:20px; padding-left:20px;">
$SPLUNK_HOME/etc/apps/blueliv/Blueliv_Splunk_app_User_Guide.pdf
</div>
<h3 style="padding-top:20px;"><strong>Support & Feedback:</strong><h3>
<div style="padding-top:20px; padding-left:20px;">
You can get support and provide feedback at splunk@blueliv.com we will appreciate it.
</div>
</div>
{% endblock content %}
{% block js %}

{% endblock js %}