<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CrimeServers</title>
        <link rel="shortcut icon" href="{{SPLUNKWEB_URL_PREFIX}}/static/img/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
        <link rel="stylesheet" type="text/css" href="/en-US/static/@255606/css/build/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/en-US/static/@255606/css/build/pages/dashboard-simple-bootstrap.min.css" />
        <style>

            .panel-head
            {
                background:#0093BB;
            }

            h3{
                text-align:center;
                color: white !important;
            }

            h3.title{
                text-align:left;
                color: black !important;
            }

            .time-freshness{
                color: white !important;
            }

        </style>
    <!--[if IE 7]><link rel="stylesheet" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/sprites-ie7.css" /><![endif]-->
</head>
<body class="simplexml preload locale-en">
<!--
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system.
-->
<a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
<div class="header splunk-header">
        <div id="placeholder-splunk-bar">
            <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
        </div>
            <div id="placeholder-app-bar"></div>
</div>
<a id="navSkip"></a>
<div class="dashboard-body container-fluid main-section-body" data-role="main">

    <h3 class="title">CrimeServers</h3>
    <div id="row1" class="dashboard-row dashboard-row1">
        <div id="panel1" class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                <div class="panel-element-row">
                    <div data-type="{{message}}" id="element1" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head"><h3>Top 10 Crime Servers By Host</h3></div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel2" class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">

                <div class="panel-element-row">
                    <div data-type="{{message}}" id="element2" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-head">
                            <h3>Crime Servers by Country</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel3" class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">

                <div class="panel-element-row">
                    <div data-type="{{message}}" id="element3" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-head">
                            <h3>Top requested Portal Domains</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row2" class="dashboard-row dashboard-row2">
        <div id="panel4" class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                <div class="panel-element-row">
                    <div data-type="{{message}}" id="element4" class="dashboard-element map" style="width: 100%">
                        <div class="panel-head"><h3>Last month CrimeServers</h3></div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel5" class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                <div class="panel-element-row">
                    <div data-type="{{message}}" id="element5" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head"><h3>Top 10 CrimeServers ASN</h3></div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel6" class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                <div class="panel-element-row">
                    <div data-type="{{message}}" id="element6" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-head"><h3>Crime Servers Events</h3></div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer"></div>

<!--
END LAYOUT
-->

<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/build/simplexml.min/config.js"></script>
<script type="text/javascript">

COMMERCIAL_TEXT = '<span class="commercial-text"><h3>Only for Commercial users. For more information, please contact at <a href="mailto:sales@blueliv.com" target="_top">sales@blueliv.com</a></h3>';


require.config({
    baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js",
    waitSeconds: 0 // Disable require.js load timeout
});

//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
//
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/headerview",
    "splunkjs/mvc/footerview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/checkboxview"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        HeaderView,
        FooterView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        FormUtils,
        EventHandler,
        DropdownInput,
        RadioGroupInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel

        // Add comma-separated parameter names here, for example:
        // ...UrlTokenModel,
        // CheckboxView
        ) {



        var pageLoading = true;


        //
        // TOKENS
        //

        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }


        //
        // TOP 10 crimeservers by Host
        //
        if($("#element1").data('type')){

            //
            // SEARCH MANAGERS
            //

            var search1 = new SearchManager({
                "id": "search1",
                "cancelOnUnload": true,
                "earliest_time": "$earliest$",
                "search": mvc.tokenSafe('| inputlookup bl_host_lookup | sort - count | fields host count | head 10'),
                "status_buckets": 0,
                "latest_time": "$latest$",
                "app": utils.getCurrentApp(),
                "auto_cancel": 90,
                "preview": true,
                "runWhenTimeIsUndefined": true
            }, {tokens: true, tokenNamespace: "submitted"});

            //
            // VIEWS: VISUALIZATION ELEMENTS
            //

            var element1 = new ChartElement({
                "id": "element1",
                "charting.chart.bubbleSizeBy": "area",
                "charting.layout.splitSeries": "0",
                "charting.chart.bubbleMaximumSize": "50",
                "charting.chart.bubbleMinimumSize": "10",
                "charting.axisTitleX.visibility": "visible",
                "charting.drilldown": "all",
                "resizable": true,
                "charting.axisTitleY2.visibility": "visible",
                "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
                "charting.axisLabelsX.majorLabelStyle.rotation": "0",
                "charting.axisY2.enabled": "false",
                "charting.axisY2.scale": "inherit",
                "charting.chart.sliceCollapsingThreshold": "0.01",
                "charting.axisX.scale": "linear",
                "charting.axisTitleY.visibility": "visible",
                "charting.chart": "bar",
                "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
                "charting.chart.stackMode": "default",
                "charting.chart.style": "shiny",
                "charting.chart.nullValueMode": "gaps",
                "charting.axisY.scale": "linear",
                "charting.legend.placement": "none",
                "managerid": "search1",
                "el": $('#element1')
            }, {tokens: true, tokenNamespace: "submitted"}).render();
        }else{
            var $body = $("#element1").find("div.panel-body");
            var $title = $("#element1").find("div.panel-head");

            $title.addClass('commercial-title');
            $title.find('h3').text($title.find('h3').text()+' [Commercial]');

            $body.addClass('commercial');
            $body.html(
                COMMERCIAL_TEXT
            );
        }

        //
        // CrimeServers by Country
        //

        if($("#element2").data('type')){

            //
            // SEARCH MANAGERS
            //

            var search2 = new SearchManager({
                "id": "search2",
                "cancelOnUnload": true,
                "earliest_time": "$earliest$",
                "search": mvc.tokenSafe("| inputlookup bl_country_lookup | sort - count | fields country count | head 10"),
                "status_buckets": 0,
                "latest_time": "$latest$",
                "app": utils.getCurrentApp(),
                "auto_cancel": 90,
                "preview": true,
                "runWhenTimeIsUndefined": true
            }, {tokens: true, tokenNamespace: "submitted"});

            //
            // VIEWS: VISUALIZATION ELEMENTS
            //

            var element2 = new ChartElement({
                "id": "element2",
                "charting.chart.bubbleSizeBy": "area",
                "charting.layout.splitSeries": "0",
                "charting.chart.bubbleMaximumSize": "50",
                "charting.chart.bubbleMinimumSize": "10",
                "charting.axisTitleX.visibility": "visible",
                "charting.drilldown": "all",
                "resizable": true,
                "charting.axisTitleY2.visibility": "visible",
                "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
                "charting.axisLabelsX.majorLabelStyle.rotation": "0",
                "charting.axisY2.enabled": "0",
                "charting.axisY2.scale": "inherit",
                "charting.chart.sliceCollapsingThreshold": "0.01",
                "charting.axisX.scale": "linear",
                "charting.axisTitleY.visibility": "visible",
                "charting.chart": "pie",
                "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
                "charting.chart.stackMode": "default",
                "charting.chart.style": "shiny",
                "charting.chart.nullValueMode": "gaps",
                "charting.axisY.scale": "linear",
                "charting.legend.placement": "right",
                "managerid": "search2",
                "el": $('#element2')
            }, {tokens: true, tokenNamespace: "submitted"}).render();
        }else{
            var $body = $("#element2").find("div.panel-body");
            var $title = $("#element2").find("div.panel-head");

            $title.addClass('commercial-title');
            $title.find('h3').text($title.find('h3').text()+' [Commercial]');

            $body.addClass('commercial');
            $body.html(
                COMMERCIAL_TEXT
            );
        }

        //
        // CrimeServers Status
        //

        if($("#element3").data('type')){

            //
            // SEARCH MANAGERS
            //

            var search3 = new SearchManager({
                "id": "search3",
                "cancelOnUnload": true,
                "earliest_time": "$earliest$",
                "search": mvc.tokenSafe("| inputlookup bl_status_lookup | sort - count | fields status count"),
                "status_buckets": 0,
                "latest_time": "$latest$",
                "app": utils.getCurrentApp(),
                "auto_cancel": 90,
                "preview": true,
                "runWhenTimeIsUndefined": true
            }, {tokens: true, tokenNamespace: "submitted"});

            //
            // VIEWS: VISUALIZATION ELEMENTS
            //

            var element3 = new ChartElement({
                "id": "element3",
                "charting.chart.bubbleSizeBy": "area",
                "charting.layout.splitSeries": "0",
                "charting.chart.bubbleMaximumSize": "50",
                "charting.chart.bubbleMinimumSize": "10",
                "charting.axisTitleX.visibility": "visible",
                "charting.drilldown": "all",
                "resizable": true,
                "charting.axisTitleY2.visibility": "visible",
                "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
                "charting.axisLabelsX.majorLabelStyle.rotation": "0",
                "charting.axisY2.enabled": "0",
                "charting.axisY2.scale": "inherit",
                "charting.chart.sliceCollapsingThreshold": "0.01",
                "charting.axisX.scale": "linear",
                "charting.axisTitleY.visibility": "visible",
                "charting.chart": "pie",
                "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
                "charting.chart.stackMode": "default",
                "charting.chart.style": "shiny",
                "charting.chart.nullValueMode": "gaps",
                "charting.axisY.scale": "linear",
                "charting.legend.placement": "right",
                "managerid": "search3",
                "el": $('#element3')
            }, {tokens: true, tokenNamespace: "submitted"}).render();
        }else{
            var $body = $("#element3").find("div.panel-body");
            var $title = $("#element3").find("div.panel-head");

            $title.addClass('commercial-title');
            $title.find('h3').text($title.find('h3').text()+' [Commercial]');

            $body.addClass('commercial');
            $body.html(
                COMMERCIAL_TEXT
            );
        }

        //
        // Infection Map
        //

        if($("#element4").data('type')){

            //
            // SEARCH MANAGERS
            //

            var search4 = new SearchManager({
                "id": "search4",
                "cancelOnUnload": true,
                "earliest_time": "$earliest$",
                "search": mvc.tokenSafe("| inputlookup bl_map_lookup | geostats latfield=lat longfield=lon count by type"),
                "status_buckets": 0,
                "latest_time": "$latest$",
                "app": utils.getCurrentApp(),
                "auto_cancel": 90,
                "preview": true,
                "runWhenTimeIsUndefined": true
            }, {tokens: true, tokenNamespace: "submitted"});

            //
            // VIEWS: VISUALIZATION ELEMENTS
            //

            var element4 = new MapElement({
                "id": "element4",
                "mapping.data.maxClusters": "100",
                "mapping.markerLayer.markerMinSize": "10",
                "resizable": true,
                "mapping.map.zoom": "2",
                "mapping.drilldown": "all",
                "mapping.markerLayer.markerMaxSize": "50",
                "mapping.map.center": "(0,0)",
                "mapping.tileLayer.minZoom": "0",
                "mapping.markerLayer.markerOpacity": "0.8",
                "mapping.tileLayer.maxZoom": "7",
                "managerid": "search4",
                "el": $('#element4')
            }, {tokens: true, tokenNamespace: "submitted"}).render();
        }else{
            var $body = $("#element4").find("div.panel-body");
            var $title = $("#element4").find("div.panel-head");

            $title.addClass('commercial-title');
            $title.find('h3').text($title.find('h3').text()+' [Commercial]');

            $body.addClass('commercial');
            $body.html(
                COMMERCIAL_TEXT
            );
        }

        //
        // Top countries
        //

        if($("#element5").data('type') == "PAID"){

            //
            // SEARCH MANAGERS
            //

           var search5 = new SearchManager({
                "id": "search5",
                "cancelOnUnload": true,
                "earliest_time": "$earliest$",
                "search": mvc.tokenSafe("| inputlookup bl_asn_lookup | sort - count | fields asn count | head 10"),
                "status_buckets": 0,
                "latest_time": "$latest$",
                "app": utils.getCurrentApp(),
                "auto_cancel": 90,
                "preview": true,
                "runWhenTimeIsUndefined": true
            }, {tokens: true, tokenNamespace: "submitted"});

            //
            // VIEWS: VISUALIZATION ELEMENTS
            //

            var element5 = new TableElement({
                "id": "element5",
                "count": 10,
                "dataOverlayMode": "none",
                "drilldown": "cell",
                "rowNumbers": "false",
                "wrap": "true",
                "managerid": "search5",
                "el": $('#element5')
            }, {tokens: true, tokenNamespace: "submitted"}).render();
        }else{
            var $body = $("#element5").find("div.panel-body");
            var $title = $("#element5").find("div.panel-head");

            $title.addClass('commercial-title');
            $title.find('h3').text($title.find('h3').text()+' [Commercial]');

            $body.addClass('commercial');
            $body.html(
                COMMERCIAL_TEXT
            );
        }

        //
        // Top operating systems
        //

        if($("#element6").data('type')){

            //
            // SEARCH MANAGERS
            //

           var search6 = new SearchManager({
                "id": "search6",
                preview: true,
                "search": mvc.tokenSafe('| inputlookup crimeservers_lookup | fields + $what$ + firstSeenAt | search $what$ = "$value$" | eval _time=strptime(firstSeenAt,"%Y-%m-%dT%H:%M:%S+%3N")|timechart span=1mon count by $what$')
            });

            //
            // VIEWS: VISUALIZATION ELEMENTS
            //

            var element6 = new ChartElement({
                "id": "element6",
                "charting.axisTitleX.text": "Time",
                "charting.axisTitleY.text": "Num. Events",
                "charting.legend.placement": "none",
                "type": "line",
                "managerid": "search6",
                "el": $('#element6')
            }, {tokens: true, tokenNamespace: "submitted"}).render();
        }else{
            var $body = $("#element6").find("div.panel-body");
            var $title = $("#element6").find("div.panel-head");

            $title.addClass('commercial-title');
            $title.find('h3').text($title.find('h3').text()+' [Commercial]');

            $body.addClass('commercial');
            $body.html(
                COMMERCIAL_TEXT
            );
        }


			//Set height divs
			$("#element5").height(300);
			$("#element6").height(300);
			element1.on("click:chart", function (e) {
				e.preventDefault(); // Prevent redirecting to the Search app
				var tokens = mvc.Components.getInstance("default");
				tokens.set("what", "host");
				tokens.set("value", e.value);
				search6.startSearch();
			});

			element2.on("click:chart", function (e) {
				e.preventDefault(); // Prevent redirecting to the Search app
				var tokens = mvc.Components.getInstance("default");
				tokens.set("what", "country");
				tokens.set("value", e.value);
				search6.startSearch();
			});

        //
        // SPLUNK HEADER AND FOOTER
        //

        new HeaderView({
            id: 'header',
            section: 'dashboards',
            el: $('.header'),
            acceleratedAppNav: true,
            useSessionStorageCache: true,
            splunkbar: true,
            appbar: true,
            litebar: false,
        }, {tokens: true}).render();

        new FooterView({
            id: 'footer',
            el: $('.footer')
        }, {tokens: true}).render();


        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: true
        }, {tokens: true}).render();



        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        submitTokens();


        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

    }
);
</script>
</body>
</html>
