{% extends "sentry:template/base_with_app_bar.html" %}

{% load splunkmvc %}

{% block sentry_content %}
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                <!-- Row for the triaging changes ---->
                    <div class="panel-head">
                        <!--<h3>Triage</h3>-->
                        <div class="heading_wrapper">
                        	<span class="heading_3">Triage</span>
                            <div id="help_icon" class="eyeIcon">i
		                        <div id="help_info_outer" class="custom-dropdown-menu hidden">
			                        <div id="help_info_inner" class="custom-dropdown-msg">
			                            - The triage system is designed to provide visual event reduction.<br>
			                            - Triaged user_id/cust_id pairs will be visually removed from the reports below.<br>
			                            - Triaged pairs can be unhidden in the Search section by category.
			                        </div>
		                        </div>
		                    </div>
                    	</div>
                   	</div>
                    <div class="panel-body">
                        <span class=inputBoxLabel>User ID</span>
                        {% textinput id="inputTriageUserID" value="$selTriageUserID$"|token_safe %}
                        <span class=inputBoxLabel>Cust ID</span>
                        {% textinput id="inputTriageCustID" value="$selTriageCustID$"|token_safe %}
                        <span class=inputBoxLabel>App</span>
                        {% dropdown id="dropdownTriageApp" managerid="searchPopulateTriageApp" labelField="label" valueField="value" value="$selApp$"|token_safe showClearButton=False %}
                        <div class=clearFloat></div>
                        <span class=inputBoxLabel>Status</span>
                        {% dropdown id="dropdownTriageStatus" managerid="searchPopulateTriageStatus" labelField="label" valueField="value" value="$selTriageStatus$"|token_safe showClearButton=False default="Investigating" %}
                        <span class=inputBoxLabel>Comment</span>
                        {% textinput id="inputTriageComment" value="$selTriageComment$"|token_safe default=" " %}
                        <button id="buttonTriageApply" class="btn btn-primary">Apply</button>
                        {% single id="singleTriageUpdateStatus" managerid="searchUpdateTriage" field="msg" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <!--<h3>Search</h3>-->
                        <div class="heading_wrapper">
                            <span class="heading_3">Search</span>
                            <div id="help_icon" class="eyeIcon">i
		                        <div id="help_info_outer" class="custom-dropdown-menu hidden">
			                        <div id="help_info_inner" class="custom-dropdown-msg">
			                            - Fields support asterix (*) wildcard searching.<br>
			                            - Fields must not be left blank but should use an asterix (*) instead.<br>
			                            - Triaged events can be unhidden by category.<br>
			                            - To search for all activity for a specific user or customer set the one you're looking for and set the other to an asterix (*).
			                        </div>
		                        </div>
		                    </div>
                    	</div>
                   	</div>
                    <div class="panel-body">
                        <span class=inputBoxLabel>User ID</span>
                        {% textinput id="inputUserID" default="*" value="$selUserID$"|token_safe %}
                        <span class=inputBoxLabel>Cust ID</span>
                        {% textinput id="inputCustID" default="*" value="$selCustID$"|token_safe %}
                        <span class=inputBoxLabel>App</span>
                        {% dropdown id="dropdownApp" managerid="searchPopulateApp" labelField="label" valueField="value" value="$selApp$"|token_safe showClearButton=False %}
                        <div class=clearFloat></div>
                        <span class=multidropLabel>Unhide Triaged Categories:</span>
                        <div class=clearFloat></div>
                        {% multidropdown id="multidropUnhideTriaged" managerid="searchPopulateUnhideTriaged" labelField="label" valueField="value" width="400" %}
                        {% timerange id="timerange"
                           earliest_time="$earlyTime$"|token_safe
                           latest_time="$lateTime$"|token_safe %}
                        <button id="buttonSearch" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock sentry_content %}


{% block sentry_managers %}

    {# Pulls current logged in user for use during triaging #}
    {% searchmanager
        id="current_user"
        search='| rest /services/authentication/current-context splunk_server=local | table username, realname'
    %}

    {# Search to populate the available Triage Status #}
    {% searchmanager
        id="searchPopulateTriageStatus"
        search='| inputlookup triage_status.csv'
    %}

    {# Executes update triage command with status triaging input #}
    {% searchmanager
        id="searchUpdateTriage"
        search='index=sentry | head 1 | eval _key="$selTriageUserID$$selTriageCustID$$selTriageApp$" | eval status="$selTriageStatus$" | eval update_time="$triageTime$" | eval analyst="$analyst$" | eval username="$username$" | eval app="$selTriageApp$" | eval user_id="$selTriageUserID$" | eval cust_id="$selTriageCustID$" | eval comment="$selTriageComment$" | eval msg="Applied" | fields _key update_time username cust_id user_id analyst app status comment msg | outputlookup triage append=true'|token_safe
        autostart=False
    %}

    {# Search to populate the actively used triaged categories for the unhide box #}
    {% searchmanager
        id="searchPopulateUnhideTriaged"
        search='| inputlookup triage_status.csv | search value!="Delete"'
    %}
    
    {# Search to populate the available Apps #}
    {% searchmanager
        id="searchPopulateTriageApp"
        search='| inputlookup app.csv'
    %}
    
    {# Search to populate the available Apps #}
    {% searchmanager
        id="searchPopulateApp"
        search='| inputlookup app.csv'
    %}
    

{% endblock sentry_managers %}


{% block sentry_js %}

<script src="{{STATIC_URL}}sentry/customJS.js" type="text/javascript"></script>
<script>
    require(["splunkjs/ready!"], function(mvc) {
    	require.config({
	        baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js",
	        waitSeconds: 0 // Disable require.js load timeout 
	    });
	    
        // Fetch a reference to the views and managers
        tokens = mvc.Components.getInstance("default");

        // Triage user input
        dropdownTriageApp = mvc.Components.getInstance("dropdownTriageApp");
        var searchUpdateTriage = mvc.Components.getInstance("searchUpdateTriage");

        // Search user input
        dropdownApp = mvc.Components.getInstance("dropdownApp");
        var multidropUnhideTriaged = mvc.Components.getInstance("multidropUnhideTriaged");
        timerange = mvc.Components.getInstance("timerange");

        // Unhide triaged multidropdown 
        var statusValues = new Array();

        // The array of search managers that are controlled and started
        // by the top search controls search button
        searches = new Array();
        
        
        
    	// Initialization 
    	
    	// Set up static choices for the App dropdown 
        dropdownTriageApp.settings.set("choices", [{value: "*", label: "All"}]);
        
        // Set up static choices for the App dropdown 
        dropdownApp.settings.set("choices", [{value: "*", label: "All"}]);
    	
    	// Set include triaged token to nothing, hiding all triaged items 
        tokens.set({"includeTriaged": ""});

        // Set current user tokens 
        genFieldTokens(mvc, tokens, "current_user", [["realname", "analyst"], ["username", "username"]], function() {});
    
     	
        // Function definitions

        
        $( document ).ready(function() {
            // This removes empty h3 elements that are
            // automatically applied in the panel-head divs
            // once the first search is started.
            //var searchStatus = mvc.Components.getInstance("current_user")
            //searchStatus.on("search:done", function(){
            //	$("h3").each(function(index, element){ if (element.innerHTML == ""){ element.style.display='none';}});
            //});

            // This loops through all 'custom-dropdown-menu' divs 
            // and sets the top css property to just above the title 
            var topOffset = -42; //This value can be adjusted to raise/lower the description box. 
            $("[id='help_info_outer']").each(function(index, element){
            	$(element).css("top", topOffset - ($(element).css("height").split(/(in|cm|mm|em|ex|pt|pc|px)/)[0]));
            	
            });
        });

        
		// show help_info messages. 
        $( "div[id*='help_icon']" ).click(function(e) {
           var clicked_element = e.target;
           if (clicked_element.id != "help_info_outer" && clicked_element.id != "help_info_inner"){
			    $(e.target.children[0]).toggleClass("hidden");               
           }
           e.stopPropagation();
        });

		// hide help_info messages. 
        $("body").click(function(e) {
            var clicked_element = e.target;
               if (clicked_element.type != "submit" && clicked_element.id != "help_info_outer" && clicked_element.id != "help_info_inner"){
                  $("[id*='help_info_outer']").addClass("hidden");
               }              
		 });
		

        function startSearches(searches){
            for (i=0; i<searches.length; i++){
                searches[i].startSearch();
            };
        };


        
        // Multidropdown Status Filters change
        multidropUnhideTriaged.on("change", function(){
            var stats = multidropUnhideTriaged.val();
            var incTriaged = new Array();
            for(var i=0; i<stats.length; i++){
                incTriaged.push('status!="' + stats[i] + '"');
            }
            tokens.set({"includeTriaged": "| search " + incTriaged.join(" AND ")});
        });

        
        // Sanitize customer id input (whitespace trim and zero padding)
        function sanitizeCustID(tokenName){
            padding = "00000000"
            var trimmedCustID = $.trim(tokens.get(tokenName));
            var paddedCustID = (padding + trimmedCustID).slice(-padding.length);
            var newToken = {};
            newToken[tokenName] = paddedCustID;
            tokens.set(newToken);
        };


        // Search Button Click
        $("#buttonSearch").on("click", function() {

            if (multidropUnhideTriaged.val().length === 0 && (tokens.get("selUserID") != "*" || tokens.get("selCustID") != "*")){
               multidropUnhideTriaged.val(statusValues);
           }

            if (!(tokens.get("selUserID")) || typeof tokens.get("selUserID") === "undefined") {
                tokens.set({"selUserID": "*"});
            } else {
                tokens.set({"selUserID": $.trim(tokens.get("selUserID"))});
            }

            if (!(tokens.get("selCustID")) || typeof tokens.get("selCustID") === "undefined") {
                tokens.set({"selCustID": "*"});
            } else if (tokens.get("selCustID") != "*") {
                //tokens.set({"selCustID": $.trim(tokens.get("selCustID"))});
                sanitizeCustID("selCustID");
            }

            setTimeout(function(){
                startSearches(searches);
            },1000);
        });

        // Apply button click
        $("#buttonTriageApply").on("click", function() {
            if (!(tokens.get("selTriageUserID"))) {
                tokens.set({"selTriageUserID": undefined});
            } else {
                tokens.set({"selTriageUserID": $.trim(tokens.get("selTriageUserID"))});
            }

            if (!(tokens.get("selTriageCustID"))) {
                tokens.set({"selTriageCustID": undefined});
            } else if (tokens.get("selTriageCustID") != "*") {
                //tokens.set({"selTriageCustID": $.trim(tokens.get("selTriageCustID"))});
                sanitizeCustID("selTriageCustID");
            }
            
            if (!(tokens.get("selApp"))) {
                tokens.set({"selApp": undefined});
            } else {
                tokens.set({"selApp": $.trim(tokens.get("selApp"))});
            }

            setEpochTime(tokens, "triageTime");
            searchUpdateTriage.startSearch();
            setTimeout(function(){
                startSearches(searches);
            },1000);
        });


        // Start all searches
        $("#buttonSearch").click();
	        
		
    });
</script>

{% endblock sentry_js %}
