#Input_Panel51 {
  width: 100% !important;
}

div#Table_Panel51 th:last-child,
div#Table_Panel51 td:last-child {
  display: none;
}

div[id^="NumbersOnly_MinVirtualChannelVolumeMB"] {
  display: flex !important;
  width: 100% !important;
}

div[id^="NumbersOnly_MinVirtualChannelVolumeMB"] label {
  padding-top: 5px;
  padding-right: 10px;
}

div[id^="NumbersOnly_MinVirtualChannelVolumeMB_"] {
  width: 100px !important;
}
