#Section_Panel21 .dashboard-panel, #Section_Panel41 .dashboard-panel, #Section_Panel71 .dashboard-panel, #Section_Panel101 .dashboard-panel, #Section_Panel121 .dashboard-panel, #Section_Panel141 .dashboard-panel, #Section_Panel142 .dashboard-panel, #Section_Panel171 .dashboard-panel {
  background-color: gainsboro !important;  
}
#Table_Panel31 {
  width: 40% !important;
}
#Chart_Panel32, #Chart_Panel33, #Chart_Panel34 {
  width: 20% !important;
}
#Table_Panel81, #Table_Panel91 {
  width: 50% !important;
}
#Table_Panel31 th, #Table_Panel31 td, #Table_Panel81 th, #Table_Panel81 td, #Table_Panel91 th, #Table_Panel91 td, #Table_Panel111 th, #Table_Panel111 td, #Table_Panel131 th, #Table_Panel131 td, #Table_Panel151 th, #Table_Panel151 td, #Table_Panel152 th, #Table_Panel152 td, #Table_Panel161 th, #Table_Panel161 td, #Table_Panel162 th, #Table_Panel162 td {
    width: 50% !important;
    overflow-wrap: anywhere !important;
}
#Chart_Panel82, #Chart_Panel83, #Chart_Panel92, #Chart_Panel93 {
  width: 25% !important;
}
#Input_Panel181 {
  width: 100% !important;
}
div#Table_Panel181 th:last-child,
div#Table_Panel181 td:last-child {
  display: none;
}
