/* Force custom panel width */

#VoltageOverTimePanel{
  width:50% !important;
}
#PowerSupply1Panel{
  width:12.5% !important;
}
#PowerSupply2Panel{
  width:12.5% !important;
}
#PowerSupply3Panel{
  width:12.5% !important;
}
#PowerSupply4Panel{
  width:12.5% !important;
}


