#Table_Panel31 th:first-child,td:first-child {
  left: 0;
  z-index: 9999;
  position: sticky;
  width: 340px !important;
}

#Table_Panel41 th:first-child,td:first-child {
  left: 0;
  z-index: 9999;
  position: sticky;
  width: 340px !important;
}
