body, body.splTemplate-dashboard {
	background-color: #333;
}

a, .splHeader-dashboard h2, .dashboardContent .ServerSideInclude h2, .dashboardContent .GenericHeader h3 {
	color: #de7114;
}

.TextField label,
.Pulldown label 
{
	width:				130px;
	display:			block;
	float:				left;
	vertical-align:		middle;
	line-height:		14px;
	height:				17px;
	padding-top:		3px;		/* Matches input which is 2px padding + 1px border */
	padding-bottom:		3px;
}

// Single Value Intersite Topology Generator box
.single_istg {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.single_fullwidth {
	width: 90%;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
}

.single_fullwidth span {
	width: 50%;
	text-align: left;
	display: inline-block;
	float: left;
}

/* Color of the "Logged in as <username>" Text */
.AccountBar UL.accountBarItems LI {
	color: white;
}

/* Clean-up for the menu items along the top within IE 8/9 */
UL.appBarNav LI {
	_display: block;
}

.appHeaderWrapper, 			/* Underneath Splunk Logo and App Name */
.splSearchControls-inline, 	/* Search */
.mainSearchControls, 		/* Real Time Firewall Dashboard */
.ResultsActionButtons, 		/* Report builder */
.splHeader-primary			/* Under the actions button */
{
	background-color: #333;
}

.appHeaderWrapper {
	background-image: url("../../../img/skins/default/overlay_topgradient_32.png");
	background-position: 0 0;
	background-repeat: repeat-x;
	background-size: 1px 50px;
}

/* Menu */

div.AppBar {
    border-bottom: 2px solid #777777;
    background-image: url("../../../img/skins/default/overlay_reversegradient_28.png");
    background-position: 0 -20px;
    background-repeat: repeat-x;
    background-size: 3px 80px;
    padding: 0;
    margin: 10px;
}

ul.appBarNav li.hasMenu a:focus {
	background-color: #de7114;
	color: #fff;
}

ul.appBarNav li.hasMenu a:hover, ul.appBarNav li a:hover {
	border-bottom-color: #de7114;
}

ul.appBarNav li a:hover, ul.appBarNav li a.menuOpen {
	background-image: none;
	border-bottom-color: #de7114;
}

/* Shadow underneath app name */
.appHeaderWrapper h1
{
	text-shadow: 1px 1px #111;
}

/* Drop down menus */
.TitleBar div.menuOpen, .TitleBar a.menuOpen {
	background-color: #454545;
}

.splMenu-primary ul
{
	background-color: #454545;
	color: white;
	border: none;
}

.splMenu-primary a
{
	border: 1px solid transparent;
	color: white;
}

ul.appBarNav li.hasMenu a {
	border-bottom: 2px solid #777;
}

ul.appBarNav li a {
	border-bottom: 2px solid #777;
}

ul.appBarNav li.hasMenu a:hover, ul.appBarNav li.hasMenu a.menuOpen{
	border-bottom-color: #de7114;
}

.splMenu .actionsMenuDivider, .splDivider {
	border-bottom: 2px solid #777;
}

.splIcon-triangle-2-s {
    background-position: -7px -367px;
}

.splIcon-triangle-3-s {
    background-position: -7px -367px;
}

.splIcon-triangle-4-s {
	background-position: -27px -367px;
}

.splIcon-triangle-4-e {
    background-position: -7px -407px;
}

/*.splMenu-primary a:hover
{
	border: 1px solid #08246b;
	background-color: #9ca2ad;
}
*/
.splMenu ul div.innerMenuWrapper {
	background-color: #454545;
}

.splMenu ul div.innerMenuWrapper a {
	border: none;
}

.splMenu-primary li:hover, .splMenu-secondary li:hover {
	background-color: #000;
}

/* Fix for wrong background-color on hover for TimeRangePicker... */
.TimeRangePicker .splMenu a
{
	width: 146px;
}

/* Text color for headers and links */
.viewHeader, 
.mainSearchControls, 
.splSearchControls-inline, 
.SearchBar .saHelpWrapper,
.splHeader,
.splHeader h2,
.splHeader-primary,
.splHeader-primary a,
.JobStatus a,
.resultsArea .Count
{
	color: white;
}

.numberOfEvents,
.entityLabelStr,
.timeRangeStr
{
	color: #444444;
}

/* Default color for areas w/out gradients */
.viewHeader, 
.mainSearchControls, 
.splSearchControls-inline, 
.SearchBar .saHelpWrapper,
.BreadCrumb
{
	background-color: #333;
}

.TitleBar .splHeader-primary
{
	background-color: #333;
	color: white;
	margin: -5px 0 5px;
}

/* Dashboards */
.dashboardCell {
	box-shadow: 0 0 5px #222222;
	border-color: #777;
}

/* Searchbar */
.SearchBar .assistantInner {
	background-color: #333; 
	background-image: none;
}

.SearchBar .saKeywords {
    background-color: #454545;
    padding-bottom: 25%;
}

.SearchBar .sakeyword, .SearchBar .sakeyword em {
	color: #ccc;
}

.SearchBar h4, .intro code {
	color: #de7114;
}

.SearchBar .assistantContainer {
	border-color: #777;
	border-bottom: none;
}

/* Flashtimeline */
.JobStatus .output .complete h2 {
    background: url("../../../img/skins/default/bg_job_status_inverted.png") no-repeat scroll 0 -13px transparent;
}

.JobStatus .paused h2, .JobStatus .complete h2 {
	margin-top: -3px;
}

.JobStatus .running {
    background-color: #eee;
    border-radius: 5px;
    color: #333;
    margin-left: 10px;
    margin-top: -3px;
}

.running .splPipe {
	color: #777;
}

.JobStatus .running h2 {
	color: #333;
}

.JobStatus .running em {
	padding-right: 10px;
}

div.FlashTimeline {
	border-right-color: #de7114;
}

.splButton-secondary {
	background-color: #777;
	color: #fff;
	border-color: #555;
}

.splButton-secondary:hover {
	background-color: #666;
	color: #fff;
	border-color: #555;
}

.splButton-tertiary {
	margin-bottom: 5px !important;
	background-color: #de7114;
	border-color: #bc5e0d;
}

.splButton-tertiary:hover {
	background-color: #bc5e0d;
	border-color: #bc5e0d;
	
}

.splButtonGroup .splButton-tertiary, .splButtonGroup .splButton-tertiary:first-child {
	border-left-color: #e6a66f;
}

.splButton-primary {
	margin-bottom: 5px !important;
}

div.DisableRequiredFieldsButton {
	padding: 5px !important;
	background-color: #454545;
}

.fd_toggle_label, .SuggestedFieldViewer h3, .SuggestedFieldViewer .inlineFieldHeader h4, .MultiFieldViewer h3, .MultiFieldViewer .inlineFieldHeader h4 {
	color: #fff;
}

div.withSidebar div.sidebarExpanded .FieldPicker {
	border: none;
}

/* Resultsheader */
.resultsHeaderPanel {
	padding-bottom: 0 !important;
}

.splView-flashtimeline .ResultsHeader .splHeader-primary {
	background-color: #454545;
}

.EventsViewer .default .col1 {
	padding: 7px 0 0 10px;
}

div.pageControls {
	border-color: #454545;
}

.ButtonSwitcher {
    margin: 3px 0 0 5px;
}

.pageControls .SplunkModule {
	margin-top: 5px;
}

.withSidebar .oneColRow {
	padding-bottom: 10px;
}

.Paginator .active a, .Paginator .active a:hover {
	background-color: #333;
	border: none;
	box-shadow: none;
}

.Paginator a:hover {
	border-color: #777;
}

.splBarGraphBar {
	background-color: #de7114;
}

.splBarGraph {
	background-color: #ccc;
}

/* Fieldpicker Popup */
.FieldPickerPopup .splHeader-primary {
	background-color: #333;
}

.FieldPickerPopup .fpFieldListContainerOuter th.headerSortDown span {
    background-position: -27px -360px;
}

.FieldPickerPopup .fpFieldListContainerOuter th span {
    background-color: transparent;
    background-position: -27px -441px;
}

.FieldPickerPopup .fpSelectedFields li {
	color: #eee;
}

.FieldPickerPopup .fpAddTermCell span.splIcon-arrow-e {
	background-color: #de7114;
}

/* Replace Splunk's green with a highlighted blue color */
.SearchBar .assistantActivator,
input.searchButton,
.splButton-primary, table.mainSearchControlsTable .TimeRangePicker .timeRangeActivatorWrapper, table.mainSearchControlsTable .SearchBar .searchFieldWrapper
{
	background-color: #de7114;
	border-color: #bc5e0d;
}

table.mainSearchControlsTable .TimeRangePicker .timeRangeActivatorWrapper:focus, table.mainSearchControlsTable .TimeRangePicker .timeRangeActivatorWrapper:hover, table.mainSearchControlsTable input.searchButton:hover, .splButton-primary:hover, .splButton-primary:focus {
	background-color: #bc5e0d;
}

table.mainSearchControlsTable input.searchButton {
	border-left-color: #e6a66f;
}

.SearchBar .searchFieldWrapperInner, .SearchBar .assistantWrapperEnabled {
	border-color: #ef9446;
}

.appHeaderWrapper h1,
.GenericHeader h3
{
	color: #4a7ebb;
}

.splView-flashtimeline .JobStatus {
	background-color:  #333;
}

.splHeader-secondary,
.splBackground-secondary, 
.sidebarExpanded
{
	background-color: #454545;
}

.sidebarExpanded {
	padding-left: 10px;
}

.TimeRangePicker
{
	color: black;
}

.appLogo {
	background: url(Logo.png);
	width: 435px;
	height: 60px;
}

#AccountBar_0_0_0 h1 {
	visibility: hidden;
	display: none;
}

/* Changes to the splVersion-4_3 */
.splVersion-4_3 .timeRangeActivatorWrapper {
	width: 200px;
}

.splVersion-4_3 .actionsMenu {
	color: white;
}

.splVersion-4_3 .splHeader {
	border-top-width: 0;
}

.SplunkModule {
	padding: 0px 0px !important;
}

/* all landing */

/*.landing {
	width: 50%;
	padding: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	box-shadow: 0 0 5px #CCCCCC;
	left: 50%;
	margin-left: -360px;
	margin-top: -200px;
	position: absolute;
	top: 50%;
	clear: both;
	background-color: #fff;
	color:  #333;
}

.landing .h1 {
	margin: auto;
	width:  50%;
	font-size: 18px;
	
}

.adHome a {
    color: #1A7996;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.adHome p {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    width: 650px;
}

.adHome .intro {
  width:1000px;
}

.adHome tr {
  cursor:pointer;
}

.adHome td {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.adHome .trBackgroundNormal {
  background-color:transparent;
}

.adHome .trBackgroundHighlight {
  background-color:#EAEAEA;
}