.splView-edit_input   .Pulldown .multipleSelect select {
 float:  left;
  margin-top: 5px;
}

.splView-edit_input .Pulldown div.multipleSelect label {
  display: block;
}

.splView-edit_input   #Pulldown_0_2_0  {
 float:  left;
 display: inline-block;
}

.splView-edit_input   #Pulldown_1_3_0   {
 float:  left;
 display: inline-block;
}

.splView-edit_input   #HTML_1_2_1   {
 float:  left;
 display: inline-block;
 margin-top: 55px;
 margin-right: 5.5em;
 margin-left: 5.5em;
}

.splView-edit_input   #HTML_2_3_1  {
 clear:  both;
}




.splView-configure_inputs  label {
/*  float:left;*/
  display: block;
  /*width:6%;*/
  margin-left:0.2em;
  padding-top:5px;
  padding-bottom:5px;
  text-align:left;
  font-weight:bold;
  color: rgb(115, 165, 80);
  }
  
.splView-configure_inputs .layoutCellInner.dashboardCell {
  min-width: 1024px;
}

.splView-configure_inputs   .SplunkModule.Pulldown {
 float:  left;
 margin-right: 10px;
}

.splView-configure_inputs   .SplunkModule.Pulldown select{
 margin-top: 5px;
}


.splView-configure_inputs  div#HTML_6_10_0.SplunkModule.HTML{
 clear: both;
 padding-top: 50px;
}


.splView-configure_inputs   #Pulldown_2_5_0{
 margin-top:  -3px\9;
}


.splView-configure_inputs   #Pulldown_3_7_0{
 margin-top:  -3px\9;
}


.splView-configure_inputs #HTML_2_2_0.SplunkModule.HTML {
  padding-bottom: 3px;
}

.splView-configure_inputs #HTML_3_4_0.SplunkModule.HTML,
  #HTML_4_6_0.SplunkModule.HTML,
  #HTML_5_8_0.SplunkModule.HTML{
  padding-bottom: 0px;
}

.splView-configure_inputs   #HTML_1_8_0  {
 clear:  both;
}


.splView-configure_templates  label, .label {
/*  float:left;*/
  display: block;
  /*width:6%;*/
  margin-left:0.2em;
  padding-top:5px;
  padding-bottom:5px;
  text-align:left;
  font-weight:bold;
  color: rgb(115, 165, 80);
  }
  
.splView-configure_templates .layoutCellInner.dashboardCell {
  min-width: 1024px;
}

.splView-configure_templates   .SplunkModule.Pulldown {
 float:  left;
 margin-right: 10px;
}

.splView-configure_templates   .SplunkModule.Pulldown select{
 margin-top: 5px;
}

.splView-configure_templates   div#HTML_1_2_0.SplunkModule.HTML {
 float:  left;
 margin-right: 10px;
}

.splView-configure_templates  div#HTML_2_8_0.SplunkModule.HTML  {
 clear: both;
 padding-top: 50px;
}

.splView-configure_templates   div#Pulldown_0_3_0.SplunkModule.Pulldown {
 clear: both;
}

.splView-configure_templates   div#Pulldown_1_5_0.SplunkModule.Pulldown,
 div#Pulldown_2_7_0.SplunkModule.Pulldown {
 float:  left\9;
  clear: both\9;
}

