.appLogo {
    height: 69px; 
    width: 507px;
    padding-right: 5px;
    float: left;
    background: url(appLogo_MKATrans3.png) no-repeat 0 0;
    _background: url(appLogo_MKATrans3.gif) no-repeat 0 0;
}

.appHeaderWrapper {
    background-color: #018063;
    background-image: none;
    border-bottom-style: solid;
    border-bottom-width: 0px;
}


.appHeaderWrapper h1 {
    display: none;
    color: #000000;
    line-height: 43px;

} 

.appHeaderWrapper .accountBarItems li {
    text-shadow: -1px -1px 1px #111;   
    color: #000000;
    background-color: #018063;
    background-image: none;
    border-bottom-style: solid;
    border-bottom-width: 0px;

}

# classes used by eventtype renderer
.splEvent-et_blue    .t { color:#00F; }
.splEvent-et_green   .t { color:#0C0; }
.splEvent-et_magenta .t { color:#F09; }
.splEvent-et_orange  .t { color:#F30; }
.splEvent-et_purple  .t { color:#90C; }
.splEvent-et_red     .t { color:#F00; }
.splEvent-et_sky     .t { color:#09F; }
.splEvent-et_teal    .t { color:#099; }
.splEvent-et_yellow  .t { color:#990; }
