body,.dashboard-body,.footer,.header,.dashboard-cell { 
	background: #333; 
}
body {background-color:#F03131;}

a {
	color: #ccc;
}
a:hover {
	color: #fff;
}
.main-section-body{
	color: #fff;
}
.table-drilldown>tbody>tr>td:hover{
	color:yellow;
}
.view-mode .refresh-time-indicator .time-freshness{
	color: #fff;
}
.highcharts-container{
	background-color: rgb(68, 68, 68);
}
.dashboard-panel 
{ 
	border: 3px solid !important;
	border-radius: 10px !important;
	border-color: gray !important;
	background: #444 !important;	
}

/*svg path { 
	stroke: #fff !important; 
}*/

.dashboard-row .dashboard-panel .panel-head h3,.dashboard-header h2, p.description, .nav-footer>li>a { 
	color: #ddd; 
	text-shadow: none;

}


.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th { 
	background-color: #333 !important;
}
.table .table, .table-striped>tbody>tr>td {
    color: white;
}
.table .table, .table-striped>tbody>tr:nth-child(even)>td {
	background-color: #222 !important;
}
.table-chrome > thead > tr > th {
	background-image: linear-gradient(to bottom, #111, #000);
	color: white !important;
	text-shadow: none;
}
.table-chrome > thead > tr > th:hover {
	background-image: linear-gradient(to bottom, #666, #444) !important;
	color: white !important;
	text-shadow: none;
}
.table-chrome .sorts a {
	text-decoration: none;
	color: white;
}
.highlighted td {
	background: #aaa !important;
}
svg>rect {
	fill: #444 !important;
}
svg text { 
	fill: #fff !important; 
}


.single-value .single-result {
	color: #fff;
}
.splunk-paginator a.selected { 
	background: #000; 
}

