/*
 * MSADServerStatus CSS File
 */
#MSADServerStatusWrapper {
}
 
#MSADServerStatusWrapper table {
 	width: 			100%;
}
 
#MSADServerStatusWrapper table tr.divider {
 	line-height: 	8px;
 	height: 		8px;
}

#MSADServerStatusWrapper table tr.hline {
	line-height:	1px;
	height:			1px;
	border-top:		1px solid #333;
}

#MSADServerStatusWrapper table tr {
 	line-height: 	20px;
 	height: 		20px;
 	vertical-align:	middle;
}

#MSADServerStatusWrapper table tr td.col1 {
 	font-family:	Tahoma, Geneva, sans-serif;
 	font-size:		14px;
 	color:			black;
	width: 			50%;
 	font-weight:	bold;
 	color:			#333333;
}

#MSADServerStatusWrapper table tr td.services {
 	font-family:	Tahoma, Geneva, sans-serif;
 	font-size:		14px;
 	color:			black;
	width: 			50%;
 	font-weight:	bold;
 	color:			#333333;
 	vertical-align:	top;
}

table.svc_table tr td.svc_name {
	width: 			60%;
	font-family:	Tahoma, Geneva, sans-serif;
	font-size:		12px;
	height:			24px;
	vertical-align:	middle;
}

table.svc_table tr td.svc_status {
	width:			40%;
	font-family:	Tahoma, Geneva, sans-serif;
	font-size:		12px;
	height:			24px;
}
 
#MSADServerStatusWrapper table tr td.col2 {
 	font-family:	Tahoma, Geneva, sans-serif;
 	font-size:		14px;
 	color:			black;
	width:			50%;
}

#MSADServerStatusWrapper table tr td.col2 a:link,
#MSADServerStatusWrapper table tr td.col2 a:visited {
 	font-family:	Tahoma, Geneva, sans-serif;
 	font-size:		14px;
 	color:			black;
	width:			50%;
}

#MSADServerStatusWrapper table tr td.col2 a:hover,
#MSADServerStatusWrapper table tr td.col2 a:active {
 	font-family:	Tahoma, Geneva, sans-serif;
 	font-size:		14px;
 	color:			#2B9969;
	width:			50%;
}

#MSADServerStatusWrapper span.imageTrue {
	background: 	url('MSADServerStatus/img/tick.png');
	float:			left;
	display:		block;
	width: 			16px;
	height: 		16px;
}

#MSADServerStatusWrapper span.imageFalse {
	background: 	url('MSADServerStatus/img/cross.png');
	float:			left;
	display:		block;
	width: 			16px;
	height: 		16px;
}

#MSADServerStatusWrapper span.imageRODC {
	background: 	url('MSADServerStatus/img/lock.png');
	display:		block;
	float:			left;
	width: 			16px;
	height: 		16px;
}

#MSADServerStatusWrapper span.imageGlobalCatalog {
	background: 	url('MSADServerStatus/img/globe.png');
	display:		block;
	float:			left;
	width: 			16px;
	height: 		16px;
}

#MSADServerStatusWrapper span.imageSchema {
	background: 	url('MSADServerStatus/img/schema.jpg');
	display:		block;
	float:			left;
	width: 			16px;
	height: 		16px;
}

#MSADServerStatusWrapper span.imageDomainNaming {
	background: 	url('MSADServerStatus/img/domainnaming.jpg');
	display:		block;
	float:			left;
	width: 			16px;
	height: 		16px;
}

#MSADServerStatusWrapper span.imagePDCEmulator {
	background: 	url('MSADServerStatus/img/pdcemulator.jpg');
	display:		block;
	float:			left;
	width: 			16px;
	height: 		16px;
}

#MSADServerStatusWrapper span.imageRIDMaster {
	background: 	url('MSADServerStatus/img/ridmaster.jpg');
	display:		block;
	float:			left;
	width: 			16px;
	height: 		16px;
}

#MSADServerStatusWrapper span.imageInfrastructure {
	background: 	url('MSADServerStatus/img/infrastructure.jpg');
	display:		block;
	float:			left;
	width: 			16px;
	height: 		16px;
}

#MSADServerStatusWrapper span.imageServiceUp {
	background: 	url('MSADServerStatus/img/tick.png');
	display:		block;
	width: 			16px;
	height: 		16px;
}

#MSADServerStatusWrapper span.imageServiceDown {
	background: 	url('MSADServerStatus/img/cross.png');
	display:		block;
	width: 			16px;
	height: 		16px;
}
