/*******************************************
   Table
*******************************************/

/* Hide the first column */
#Table_Panel41 table th:nth-child(1)
{
   display: none;
}
#Table_Panel41 table td:nth-child(1)
{
   display: none;
}
