td.timebar-cell
{
   padding: 2px 8px;
   vertical-align: middle;
}

td.timebar-cell .timebar-wrapper .timebar
{
   height: 20px;
   min-width: 1px;
   background-color: #5479AF;
}

#Table_Panel41 table th:nth-child(1)
{
   width: 20%;
   min-width: 100px;
   max-width: 500px;
}
