$darkgray: #474747;
$lightgray: #eaedef;
$lightgray2: #f9f9f9;
$mediumgray: #777777;
$border-color: #eeeeee;
$border-color2: #dddddd;
$filtersbg: #d8dadc;

$green: #619F24;
$splunkgreen: #4e802a;
$blue: #20b5cb;
$blue2: #00b2ba;
$navyblue: #0f4e7a;
$darkblue: #232f3a;
$selectedblue: #23404c;
$red: #df4039;
$blackblue :#182028;
$textblue :#36667b;
$yellow: #fab440;

