{% extends "splunkdj:base_with_account_bar.html" %}

{% load splunkmvc %}

{% block title %}Setup{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkdj/setup.css" />
    <style>
        form {
            margin: 30px;
        }
    </style>
{% endblock css %}

{% block content %}
    <form class="dj-setup-form" method="post" action="">
        {% csrf_token %}
        
        <h1>Welcome to the Application Framework Setup Demo</h1>
        <p>
            To choose which state to filter by:
        </p>
        <ol>
            <li>Choose the state from the dropdown.</li>
            <li>Hit "save"</li>
            <li>View page3.html</li>
        </ol>
        
        {{ form.as_p }}
        
        <p id="setup_messages"></p>

        <input class="btn btn-primary" type="submit" value="Save"  />
        {% if can_cancel %}
            <a class="btn" href="{% url 'setupfx:home' %}">Cancel</a>
        {% endif %}
    </form>
{% endblock content%}

{% block js %}
    <script>
        require(['splunkjs/ready!', 'jquery', 'underscore'], function() {
            var $ = require('jquery');
            var _ = require('underscore');

            var states = {{states|safe}};

            var statesInput = $('#id_states');
            var messages = $('#setup_messages');
            var saveButton = $('input[type="submit"]');

            var updateMessages = function() {
                var input = $.trim(statesInput.val());
                var disableSave = false;

                if (input) {
                    var inputSplit = statesInput.val().split(',');
                    var noticed = [];
                    var warnings = [];

                    _.each(inputSplit, function(stateAbbrevRaw) {
                        stateAbbrevTrimmed = $.trim(stateAbbrevRaw);
                        if (stateAbbrevTrimmed) {
                            stateAbbrev = stateAbbrevTrimmed.toUpperCase();
                            var validState = _.find(states, function(state) { return state[0] === stateAbbrev; });

                            if (validState) {
                                noticed.push(validState[1]);
                            } else {
                                warnings.push(stateAbbrevTrimmed);
                            }
                        }

                    });

                    var html = [];
                    noticed.length && html.push('Noticed these states: <strong>' + noticed.join(', ') + '</strong>.');
                    warnings.length && html.push('Unrecognized states: <strong>' + warnings.join(', ') + '</strong>.');
                    messages.html(html.join(''));

                    disableSave = warnings.length;
                } else {
                    messages.html('Noticed no states.');
                    disableSave = true;
                }

                if (disableSave) {
                    saveButton.attr('disabled', 'disabled');
                } else {
                    saveButton.removeAttr('disabled');
                }

            };

            updateMessages();


            statesInput.keyup(updateMessages);
            statesInput.attr('autocomplete', 'off');

        });
    </script>
{% endblock js %}

