.data_pipeline {
    position: relative;
    width: 450px;
    height: 450px;
}
#image_overlay_panel .image{
    background: transparent 50% 50% no-repeat url('/static/app/kepware/images/actual_system.png');
    position: relative;
    top: 0px;
    left: 0px;
    width: inherit;
    height: inherit;
    border: 3px solid #73AD21;
}
.singleValue {
    font-size: 2em;
    font-weight: bold;
}
#image_overlay_panel #pressure_1 {
   position: relative;
   bottom:400px;
   left: 80px;
}

#image_overlay_panel #pressure_2 {
   position: relative;
   bottom: 415px;
   left:  240px;
}

#image_overlay_panel #pressure_3 {
   position: relative;
   bottom: 465px;
   left:  360px;
}

#image_overlay_panel #index_queue {
   position: relative;
   bottom: 100px;
   left:  240px;
}