/************** Start : Top head background color *************/

/*.app-bar .nav-pills>li:first-child> a{
    padding-left: 20px;
    background-color: #888888;
}
.app-bar .nav-pills>li:first-child> a, a:hover {
    background-color: #888888;
}
*/
.app-bar .nav-pills, .lite-bar .nav-pills {
    font-size: 13px;
}
.shared-appbar{
    /*background-color:rgb(65,110,121)!important;*/
    /*background-color:rgb(13, 82, 92)!important; //green color*/
    background-color:#304967 !important; //blue  color- CHS 
}


.app-bar .nav-pills>li > a:hover {
    /*background-color:  rgb(65,110,121) ! important;*/
     background-color: #5D697E ! important;// blue hover
    
}

/*.nav > li > a:hover, .nav > li > a:hover{background-color:#3E5F99 !important; }*/

.app-bar .nav-pills>li>a{
    margin-left: 6px;
}

/************** End : Top head background color *************/

/************** This will make the table header background color transparent *************/
.table-chrome .sorts a {
    text-decoration: none;
    /* color: red; */
    background-color: transparent;
    padding: 0px;
}

/** *********************start of Tabs******** ***/
/*** Four Tabs ********/
.classID_ul_FourTab-links:after {
    display:block;
    clear:both;
    content:'';
}

.classID_ul_FourTab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
    background-color: rgb(170, 170, 170);/** tabs background- color**/
}

.classID_ul_FourTab-links a {
    padding: 11px 20px;
    display:inline-block;
    border-radius:0px 0px 0px 0px;
    font-size:13px;
    font-weight:400;
    color: #FFFFFF;
    transition:all linear 0s;
}

.classID_ul_FourTab-links a:hover {
    text-decoration:none;
	 background-color: #888888;
}

.classID_ul_FourTab-links li.active a{

    background-color: #888888;
    /*// color:#4c4c4c;*/
    border:0px solid #ccc;
    border-bottom:0px solid #ccc ;
    position: relative;
    top:0px;
}
.classID_ul_FourTab-links li.active a:hover {

    background-color: #888888;
    /*// color:#4c4c4c;*/
    border:0px solid #ccc;
    border-bottom:0px solid #ccc ;
    position: relative;
    top:0px;
}
.classID_ul_FourTab-links
{
    /*margin-top: 5px;*/
}

/****  Three Tabs ***********/
.classID_ul_ThreeTab-links1:after {
    display:block;
    clear:both;
    content:'';
}

.classID_ul_ThreeTab-links1 li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.classID_ul_ThreeTab-links1 a {
    padding: 11px 20px;
    display:inline-block;
    border-radius:0px 0px 0px 0px;
    /*background:#e7e7e7; #D1D1D1;*/
    font-size:13px;
    font-weight:400;
    color: #FFFFFF;
    transition:all linear 0s;
}

.classID_ul_ThreeTab-links1 a:hover {
    background:#ffffff; /*#a7cce5; #888888*/
    text-decoration:none;
    background-color: #888888;
}
.classID_ul_ThreeTab-links1{
    /*margin-top: 5px;*/
}


/** *********** end of Tabs************ ***/
