
    .app-bar .nav-pills>li:nth-child(3)>  a:hover {
        background-color: #3E5F99;
        cursor: pointer;
    }
    .app-bar .nav-pills>li:nth-child(3)> a{
        background-color: rgb(84, 121, 175);// selected blue color
    }

    /**********************************************start : Radio buttons css code*********************************************************/
    .splunk-radiogroup .choice{
        /*margin-left: 0em;*/
    }
    .choice{
        width: 23%; float: left;
    }
    .splunk-radiogroup .choice {
        margin-bottom: 13px;
    }
    .splunk-radiogroup .choice {
        margin-left: 16px;
    }
    input[type=radio]{
        display: none;  
    }
    input[type=radio]:before{
        content: "";
        display: inline-block; 
    }
    .choice {
        margin-top: 10px;
        width: 62%;
        float: left;
    }

    input[type="radio"]:hover+label{ 
    }
    .highlightTab{
        border: 0px solid #ccc;
        color:white;
        background: #ccc;
    }
    #radioDiv .splunk-radiogroup .choice {

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 34px;
        margin-top: 9px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 20px;


    }
    .splunk-radiogroup-choices{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .choice #id_radio_group_Left0:checked+label{
    }
    input[type="radio"]:checked+label{ 
        font-weight: bold;
    }
    #radioDiv .splunk-radiogroup label{
        font-size: 12px;
    }
    #radioDiv .splunk-radiogroup label:hover{
        cursor: pointer;
    }
    .highlightTab {
        border: 0px solid #ccc;
        color: white;
        background-color: rgb(170, 170, 170);
    }

    .splunk-radiogroup-choices {
        height: auto; 
        margin-left: -11%; 
    }

    /**  Left side Applications CSS - Radio  */
    #radio{
        display: none;
    }

    #Id_Radio{
        height:550px;
        float:left;
        overflow-x: scroll ;
        overflow-y: scroll;
        background-color: white;
    }

    .dashboard-row .dashboard-panel .panel-body .splunk-radiogroup
    {
        margin: 0px 0px;
        /*margin: 0px 0px 0px 0px;*/
    }
    .dashboard-row .dashboard-panel{
        margin: 0px 0px 0px 0px;
    }
    .dashboard-row .dashboard-panel {
        border: 0px !important; 
        box-shadow:0px 0px 0px rgba(0, 0, 0, 0.00) !important;
        margin-top:8px;
    }

    #id_radio_group_Left{
        margin-top: -4px;
    }
    /**********************************************End : Radio buttons css code*********************************************************/


    .classID_ul_FourTab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }

    #overview{
        margin-right: 20px;
        text-decoration:none;
        font-size: 15px;
    }
    #alarm{
        margin-right: 20px;
        text-decoration:none;
        font-size: 15px;
    }
    #userd{
        margin-right: 20px;
        text-decoration:none;
        font-size: 15px;
    }

    #headuser{
        background-color: #C5C5C5;
    }

    #headcpu{
        background-color: #C5C5C5;
    }
    #headmem{
        background-color: #C5C5C5;
    }

    #high_user_cpu_mem{
        /*margin-left: 15%;
        margin-top: -20%;*/
        margin-top: 0.2%;
    }
    h3{
        font-weight: bold;
        font-size: 14px;
    }
    #headsum{
        background-color: #C5C5C5;
    }
    #headres{
        background-color: #C5C5C5;
    }

    .tabs {
        width:100%;
        display:inline-block;
    }

  /*  li.active a, li.active a:hover {
        background:#888888;/*;#888888; #7FB5DA;
        color:#ffffff;
        border:1px solid #888888;
        border-bottom:0px solid #888888 ;
        position: relative;
        top:1px;
        border-radius: 3px 3px 0px 0px;
    }*/

    #drop_users{
        margin-top: 30px;
    }
    #txtuser{
        margin-top: 31px;
    }

    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
        margin-top: -10px;
    }

    .tab {
        display:none;
    }

    .tab.active {
        display:block;
    } 

    #dID_fourTabs{
        display: none;
        display: block;
        background-color: rgb(170, 170, 170);
        margin-top: 0.5%;
    }
    #dID_fourTabs ul{
        border-bottom:1px solid #ccc;
    }
    .classID_ul_FourTab-links
    {
        /*margin-top: 7px;*/
    }


    #overview{
        margin-right: 20px;
        text-decoration:none;
    }
    #appd{
        margin-right: 20px;
        text-decoration:none;
    }
    #userd{
        margin-right: 20px;
        text-decoration:none;
    }
    #alarm{
        margin-right: 20px;
        text-decoration:none;
    }

    #container{
        display: none;
        padding-top: 3%;
    }

    #click_part_app{
        display: none;
        padding-top: 22px;
    }

    #cpuutil{
        display: none;
    }

    #memutil{
        display: none;
    }

    #cpuhead{
        background-color: #C5C5C5;
    }

    #memhead{
        background-color: #C5C5C5;
    }

    #total{
        overflow-y: scroll;
        overflow-x: scroll;
        height:550px;
    }

    body{
        overflow: hidden;
    }

    #dropappuser{
        display: none;
    }

    #txt{
        margin-top: 26px;
    }

    #usersescpu{
        display: none;
    }

    #userlat{
        display: none;
    }
    #usrcpu{
        display: none;
    }

    #sesprocess{
        display: none;
    } 
    #process{
        display: none;
    }

    #session{
        display: none;
    }

    #Alarmscreen{
        display: none;
    } 
    #alarmchart{
        display: none;
    }

    #Alarmtable{
        display: none;
    }

    #alarmtable{
        display: none;
    }

    #appbg{
        background-color: #ffffff;
        padding-top: 25px;
        text-align: left;
    }

    #time{
        display: block;
    }

    #appname{
        display: none;
        margin-left: 10px;
        font-weight: bold;
        background-color: #ffffff;
        font-size: 16px;
        padding-top: -7px;
        padding-bottom: -23px;
    }

    #allapps{
        display: block;
        padding-top: 0px;
        padding-bottom: 1px;
    }

    #usertable{
        display: none;
    }

    #userestime{
        display: none;
    }

    #single_resTime_calls_users_alarm{
        display: none;
    }

    ul,ol {
        padding: 0;
        margin: 0 0 10px 5px;
    }

    .single-value .before-label{
        font-size: 19px;
        font-weight: bold;
    }

    #rda_img_mem{
        display: none;
    }

    #rda_mem_io{
        display: none;
    }

    #head4{
        font-size: 16px;
        margin-left: 590px
    }

    /*Scecond new tab*/

    .tabs1 {
        width:100%;
        display:inline-block;
    }
    #container1{
        display: block;
        padding-top: 3%;
    }

    #myscreen1{
        display: none;
        display: block;
        background-color: rgb(170, 170, 170);
        margin-top: 0.5%;

    }
    #myscreen1 ul{
        border-bottom:1px solid #ccc;
    }

    .classID_ul_ThreeTab-links1:after {
        display:block;
        clear:both;
        content:'';
    }

    .classID_ul_ThreeTab-links1 li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }

    .classID_ul_ThreeTab-links1 a {
        padding: 11px 20px;
        display:inline-block;
        border-radius:3px 3px 0px 0px;
        font-size:15px;
        font-weight:400;
        color: #FFFFFF;
        transition:all linear 0s;
    }

    .classID_ul_ThreeTab-links1 a:hover {
        text-decoration:none;
    }

    .classID_ul_ThreeTab-links1 li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }

    .classID_ul_ThreeTab-links1
    {
        /*margin-top: 7px;*/
    }

    li.classID_ThreeTabs a, li.classID_ThreeTabs a:hover {
        background:#888888;/*;#888888; #7FB5DA;*/
        color:#ffffff;
        border:0px solid #888888;
        border-bottom:0px solid #ccc ;
        position: relative;
        top:0px;
        border-radius: 3px 3px 0px 0px;
    }

    .tab1.classID_ThreeTabs {
        display:block;
    } 

    #overview1{
        margin-right: 20px;
        text-decoration:none;
    }

    #alarm1{
        margin-right: 20px;
        text-decoration:none;
    }

    #alram_all_overview{
        display: none;
    }

    #users_all_overview{
        display: none;
    }

    /*new feature code for radio choice btns*/

    #newdrop{
        display: none;

        /*margin-top: 2px;*/
        width: 35%;
        position: static;
        margin-left: -63px;
    } 
    #singledropdownvalue{
        display: none;
        /*margin-left: 259px;*/
        margin-top: -18px;
        font-size: 15px;
        width: 100%;
        position: static;
        font-weight: bold;
        padding-bottom: 26px;
        margin-left: 219px;

    }

    #delivery{
        margin-left: 15%;
        margin-top: 4px;
        font-size: 15px;
        font-weight: 700;
        float:right;
    }

    #host{
        display: none;
    }

    #all_overview_chart{
        display: block;
    }

    #dropappuser_rda{
        display: none;
    }


    #drop_users_rda{
        padding-bottom: 10px;
        padding-top: 10px;
        width: 33%;
    }


    #txt_rda
    {margin-top: 13px;
     margin-left: 77px;
    }

    /*thitd tab*/

    .tabs11 {
        width:100%;
        display:inline-block;
    }
    #container11{
        display: block;
        padding-top: 3%;

    }

    #myscreen11{
        display: none;
        display: block;
        background-color: #C0BFBF;
    }

    #myscreen11 ul{
        /*border-top:1px solid #ccc;*/
        /*border-bottom:1px solid rgb(245, 245, 245);*/
    }

    .tab-links11:after {
        display:block;
        clear:both;
        content:'';
    }

    .tab-links11 li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }

    .tab-links11 a {
        padding: 11px 20px;
        display:inline-block;
        border-radius:3px 3px 0px 0px;
        font-size:15px;
        font-weight:400;
        color: #ffffff;
        transition:all linear 0s;
    }

    .tab-links11 a:hover {
        text-decoration:none;
    }

    .tab-links11 li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }

    .tab-links11
    {
        /*border: 1px solid red;*/
        /*margin-top: 7px;*/
    }

    .tab1.active11 {
        display:block;
    } 

    #overview11{
        margin-right: 20px;
        text-decoration:none;
    }

    #alarm11{
       margin-right: 20px;
        text-decoration:none;
    }


    /*End of third tab*/

    #item_rda{
        display: none; 
        margin-top: -0.9%;
    }
    #item_rda_session{
        display: none; 
    }

    #item_rda_ICAlatency{
        display: none;
    }

    #item_processes{
        display: none;
    }

    #item_processes_1{
        display: none;
    }

    #item_processes_2{
        display: none;
    }

    #item_processes_3{
        display: none;
    }

    #item_processes_4{
        display: none;
    }

    #Activity{
        display: none;
    }

    #Activity1{
        display: none;
    }

    #id_dropDown_userIP{

        width: 350px;
        margin-top: 28px;
    }


    #usercount_img{
        margin-left: 26px;
        margin-top: -5px;
    }

    #diagnostic_img{
        margin-left: 12px;
        margin-top: -9px;
        margin-bottom: -5px;
    }

    .single-value .single-result {
        font-size: 15px ! important;
        font-weight: bold ! important;
    }

    .single-value .before-label {
        font-size: 15px;
        font-weight: bold;
    }

  
     /*******************************************************Popup Code css********************************************************************************/
     
      #popup
    {
        display:none;
        position:fixed;
        width:550px;
        height: 280px;
        top: 40%;
        left: 40%;
        margin-left:-145px;
        margin-top:-110px;
        border:5px solid;
        background-color:#FFFFFF;
        /*background-color:#DEDFDE;*/
        padding:30px;
        z-index:102;
        font-family:Verdana;
        font-size:10pt;
        border-radius:12px;
        /*border-color:#DCDCDC;    */
        border-color:#FFFFFF; 
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        font-weight:bold;
        color:black;

    }
    #closeButton
    {    
        float:right;
        width: 20px;
        height:20px;
        border:0px solid;
        border-radius:0px;
        background-color:#DEDFDE;	
        background-color:transparent;	
        margin-top:-30px;
        margin-right:-30px;

        background-image: url("/dj/static/AppEnsure/images/close_20_20.png");/*url("{{STATIC_URL}}{{app_name}}/images/close_20_20.png");*/

    }
    #txt12{
        /*        background-color: #DEDFDE;*/
        background-color:#FFFFFF;
        height:150px;
        border-radius: 0px; 
        border-color: red;
        margin-left:-20px;
        margin-top: 12px;
    }

    .buttonsdiv{
        margin-top:30px;
    }
    #evaluation_button
    {    
        width: 240px;
        height:69px;
        float: right;
        border:0px solid;
        border-radius:0px;
        background-color:#FFFFFF;
        /*           background-color:#DEDFDE;*/
        background-image: url("/dj/static/AppEnsure/images/evaluation-button.png");/*url("{{STATIC_URL}}{{app_name}}/images/evaluation-button.png");*/
        /**-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/

    }
    #freemium_button
    {    
        float: left;
        width: 240px;
        height:69px;
        border:0px solid;
        border-radius:0px;
        background-color:#FFFFFF;
        /*background-color:#DEDFDE;*/
        background-image: url("/dj/static/AppEnsure/images/freemium-button.png");/*url("{{STATIC_URL}}{{app_name}}/images/freemium-button.png");*/

    }    


    #popup .span3{
        top: 400px;
        width:100%;

    }
    #headingtxt{
        font-size: 17px;
        color:#01008E;
    }  
        /*color:rgb(247, 159,87);*/

     
     /*******************************************************Popup Code css********************************************************************************/
  
    
    
