
    /************** Start : Top head background color *************/
    .app-bar .nav-pills>li:nth-child(2)> a{
        background-color: rgb(84, 121, 175);// selected blue color
    }

    .app-bar .nav-pills>li:nth-child(2)> a:hover {
        background-color: #3E5F99;
        cursor: pointer;
    }
    /******************** End : Top head background color***********************  */

    /**********************************************start : Radio buttons css code*********************************************************/
    .splunk-radiogroup .choice{
        /*margin-left: 0em;*/
    }
    .choice{
        width: 23%; float: left;
    }
    .splunk-radiogroup .choice {
        margin-bottom: 13px;
    }
    .splunk-radiogroup .choice {
        margin-left: 16px;
    }
    input[type=radio]{
        display: none;  
    }
    input[type=radio]:before{
        content: "";
        display: inline-block; 
    }
    .choice {
        margin-top: 10px;
        width: 62%;
        float: left;
    }

    input[type="radio"]:hover+label{ 
    }
    .highlightTab{
        border: 0px solid #ccc;
        color:white;
        background: #ccc;
    }
    #radioDiv .splunk-radiogroup .choice {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 34px;
        margin-top: 9px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 20px;
    }
    .splunk-radiogroup-choices{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .choice #id_radio_group_Left0:checked+label{
    }
    input[type="radio"]:checked+label{ 
        font-weight: bold;
    }
    #radioDiv .splunk-radiogroup label{
        font-size: 12px;
    }
    #radioDiv .splunk-radiogroup label:hover{
        cursor: pointer;
    }
    .highlightTab {
        border: 0px solid #ccc;
        color: white;
        background-color: rgb(170, 170, 170);
    }

    .splunk-radiogroup-choices {
        height: auto; 
        margin-left: -11%; 
    }

    /**  Left side Applications CSS - Radio  */
    #radio{
        display: none;
    }

    #Id_Radio{
        height:550px;
        float:left;
        overflow-x: scroll ;
        overflow-y: scroll;
        background-color: white;
    }

    .dashboard-row .dashboard-panel .panel-body .splunk-radiogroup
    {
        margin: 0px 0px;
    }
    .dashboard-row .dashboard-panel{
        /*margin: 0px 0px 0px 0px;*/
    }
    .dashboard-row .dashboard-panel {
        border: 0px !important; 
        box-shadow:0px 0px 0px rgba(0, 0, 0, 0.00) !important;
        margin-top:2px;

    }
    #id_radio_group_Left{
        margin-top: -4px;
    }

    /**********************************************End : Radio buttons css code*********************************************************/

    #id_selecetedApp_Tab_overview{

        margin-right: 20px;
        text-decoration:none;
        font-size: 15px;
    }
    #alarm{

        margin-right: 20px;
        text-decoration:none;
        font-size: 13px;
    }
    #userd{
        margin-right: 20px;
        text-decoration: none;
        margin-left: 542px;
        color: black;
    }

    #headuser{
        background-color: #C5C5C5;
    }

    #headcpu{
        background-color: #C5C5C5;
    }
    #headmem{
        background-color: #C5C5C5;
    }

    #high_user_cpu_mem{
        display: block;
        margin-top: -0.4%;
    }

    #all_overview_chart{
        display: block;
    }

    h3{
        font-weight: bold;
        font-size: 14px;
    }
    #headsum{
        background-color: #C5C5C5;
    }
    #headres{
        background-color: #C5C5C5;
    }

    .tabs {
        width:100%;
        display:inline-block;
    }

    /*----- Tab Links -----*/


    #id_All_overview1 li.active a, li.active a:hover {

        background-color: #888888;
        /*// color:#4c4c4c;*/
        border:0px solid #ccc;
        border-bottom:0px solid #ccc ;
        position: relative;
        top:0px;
    }

    .tab.active {
        display:block;
    } 

    #drop_users{
        width: 350px;
        margin-top: 30px;
    }
    #txtuser{
        margin-top: 31px;
    }

    .tab-content {
        padding:12px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
        margin-top: -10px;
    }

    .tab {
        display:none;
    }
    #myscreen{

        display: none;
        /*margin-left: 197px;*/
        display: block;
        background-color: rgb(170, 170, 170);/** tabs background- color**/
        margin-top: 0.5%;
    }
    #myscreen ul{
        /*border-top:1px solid #ccc;*/
        border-bottom:0px solid #ccc;
        margin-left: 6px;
    }

    #id_selecetedApp_Tab_overview{
        /*                border: 1px solid #CCC;
                        border-bottom: 4px solid #fff;*/
        margin-right: 20px;
        text-decoration:none;

    }
    #appd{

        margin-right: 20px;
        text-decoration:none;
    }

    #container{
        display: none;
        padding-top: 3%;

    }
    #container .classID_ul_FourTab-links a:hover {
        text-decoration:none;
        background-color:#888888;
        color:white;
        border-radius: 0px ;
        text-decoration:none;
        cursor: pointer;
        cursor:hand;
    }

    #click_part_app{
        display: none;
        padding-top: 2px;
    }

    #sum_res_chart{
        display: none;
        padding-top: 3%;
    }
    #cpuutil{
        display: none;
    }
    #memutil{
        display: none;
    }
    #cpuhead{
        background-color: #C5C5C5;
    }
    #memhead{
        background-color: #C5C5C5;
    }
    #total{
        overflow-y: scroll;
        overflow-x: scroll;
        height:550px;
        /*margin-left: 1.2%;*/
    }
    body{
        overflow: hidden;
    }
    #dropappuser{
        display: none;
    }
    #txt{
        margin-top: 26px;
    }
    #usersescpu{
        display: none;
    }
    #userlat{
        display: none;
    }
    #usrcpu{
        display: none;
    }
    #sesprocess{
        display: none;
    } 
    #process{
        display: none;
    }

    #session{
        display: none;
    }
    #Alarmscreen{
        display: none;
    } 
    #divID_selectedApp_AlarmCount{
        display: none;
    }

    #Alarmtable{
        display: none;
    }

    #alarmtable{
        display: none;
    }

    #appbg{
        /*background-color: #ffffff;*/

        background-color: #ffffff;
        padding-top: 23px;
        text-align: left;
    }
    #time{
        display: block;
    }

    #appname{
        display: none;

        margin-left: 10px;
        /*margin-top: auto;*/
        font-weight: bold;
        background-color: #ffffff;
        font-size: 14px;
        padding-top: -7px;
        padding-bottom: -23px;
        width: 94%;
    }

    #allapps{
        display: block;
        /*padding-left: 9px;*/
        padding-top: 0px;
        padding-bottom: 1px;
        width: 96%;
    }

    #dID_chart_serverResponseTime{
        display: none;
    }

    #dID_chart_usersessionLatency{
        display: none;
    }

    #single_resTime_calls_users_alarm{
        display: none;
    }

    ul,ol {
        padding: 0;
        margin: 0 0 10px 5px;
    }

    .single-value .before-label{
        font-size: 19px;
        font-weight: bold;
    }


    /*Scecond new tab*/

    .tabs1 {
        width:100%;
        display:inline-block;
    }
    #container1{
        display: block;
        padding-top: 3%;

    }

    #myscreen1{
        font-size:13px;
        display: none;
        display: block;
        background-color: rgb(170, 170, 170);/** tabs background- color**/
        margin-top: 0.5%;

    }
    #myscreen1 ul{
        font-size:13px;
        border-bottom:0px solid #ccc;
    }
    .classID_ul_ThreeTab-links1:after {
        display:block;
        clear:both;
        content:'';
    }

    .classID_ul_ThreeTab-links1 li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }

    .classID_ul_ThreeTab-links1 a {
        padding: 11px 20px;
        display:inline-block;
        border-radius:3px 3px 0px 0px;
        /*background:#e7e7e7; #D1D1D1;*/
        font-size:13px;
        font-weight:400;
        color: #FFFFFF;
        /*color: aliceblue;*/
        /*color:#4c4c4c;*/
        transition:all linear 0s;
    }

    .classID_ul_ThreeTab-links1 a:hover {
        /*background:#ffffff;#a7cce5; #888888*/
        text-decoration:none;
        background-color: #888888;
    }
    .classID_ul_ThreeTab-links1 {
        margin-top: 5px;
    }

    li.active1 a{

        background:#888888;/*;#888888; #7FB5DA;*/
        color:#ffffff;
        border:0px solid #888888;
        border-bottom:0px solid #ccc ;
        position: relative;
        top:0px;
        border-radius: 3px 3px 0px 0px;
    }
    li.active1 a:hover {

        background:#888888;/*;#888888; #7FB5DA;*/
        color:#ffffff;
        border:0px solid #888888;
        border-bottom:0px solid #ccc ;
        position: relative;
        top:0px;
        border-radius: 3px 3px 0px 0px;
    }
    .tab1.active1 {
        display:block;
    } 

    #id_All_overview1{
        margin-right: 20px;
        text-decoration:none;
    }

    #alarm1{
        margin-right: 20px;
        text-decoration:none;
    }

    #alram_all_overview{
        display: none;
    }
    #divID_all_users_overview{
        display: none;
    }

    .dashboard-row .dashboard-panel{
        margin: 0px 0px 0px 0px;
    }
    .dashboard-row .dashboard-panel {
        border: 0px !important; 
        box-shadow:0px 0px 0px rgba(0, 0, 0, 0.00) !important;
        margin-top:20px;
    }

    #newdrop{
        display: none;
        margin-top: 2px;
        width: 35%;
        position: static;
        margin-left: -63px;
    } 
    #singledropdownvalue{
        display: none;
        margin-top: -18px;
        font-size: 15px;
        width: 100%;
        position: static;
        font-weight: bold;
        padding-bottom: 26px;
        margin-left: 200px;
    }
    #delivery{
        margin-left: 15%;
        font-size: 15px;
        margin-top: 10px;
        font-weight: bold;
        float:right;
    }

    #host{
        display: none;
    }

    .single-value .single-result {
        font-size: 16px ! important;
        font-weight: bold ! important;
    }

    #diagnostic_img{
        margin-left: 12px;
        margin-top: -9px;
        margin-bottom: -5px;
    }
    #usercount_img{
        margin-left: 26px;
        margin-top: -5px;
    }
    .single-value .before-label {
        margin-right: 1em;
        font-size: 14px;
    }
    #usericon{
        padding: 10px 14px 6px 17px;
        background-color: #C2C2C2;
        font-weight: bold;
        font-size: 14px;
        margin-left: -7px;
    }

  /*******************************************************Popup Code css********************************************************************************/
     
      #popup
    {
        display:none;
        position:fixed;
        width:550px;
        height: 280px;
        top: 40%;
        left: 40%;
        margin-left:-145px;
        margin-top:-110px;
        border:5px solid;
        background-color:#FFFFFF;
        /*background-color:#DEDFDE;*/
        padding:30px;
        z-index:102;
        font-family:Verdana;
        font-size:10pt;
        border-radius:12px;
        /*border-color:#DCDCDC;    */
        border-color:#FFFFFF; 
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        font-weight:bold;
        color:black;

    }
    #closeButton
    {    
        float:right;
        width: 20px;
        height:20px;
        border:0px solid;
        border-radius:0px;
        background-color:#DEDFDE;	
        background-color:transparent;	
        margin-top:-30px;
        margin-right:-30px;

        background-image: url("/dj/static/AppEnsure/images/close_20_20.png");/*url("{{STATIC_URL}}{{app_name}}/images/close_20_20.png");*/

    }
    #txt12{
        /*        background-color: #DEDFDE;*/
        background-color:#FFFFFF;
        height:150px;
        border-radius: 0px; 
        border-color: red;
        margin-left:-20px;
    }

    .buttonsdiv{
        margin-top:30px;
    }
    #evaluation_button
    {    
        width: 240px;
        height:69px;
        float: right;
        border:0px solid;
        border-radius:0px;
        background-color:#FFFFFF;
        /*           background-color:#DEDFDE;*/
        background-image: url("/dj/static/AppEnsure/images/evaluation-button.png");/*url("{{STATIC_URL}}{{app_name}}/images/evaluation-button.png");*/
        /**-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/

    }
    #freemium_button
    {    
        float: left;
        width: 240px;
        height:69px;
        border:0px solid;
        border-radius:0px;
        background-color:#FFFFFF;
        /*background-color:#DEDFDE;*/
        background-image: url("/dj/static/AppEnsure/images/freemium-button.png");/*url("{{STATIC_URL}}{{app_name}}/images/freemium-button.png");*/

    }    


    #popup .span3{
        top: 400px;
        width:100%;

    }
    #headingtxt{
        font-size: 17px;
        color:#01008E;
    }  
        /*color:rgb(247, 159,87);*/

     
     /*******************************************************Popup Code css********************************************************************************/