.main-area {
    border: 1px solid black;
}

.app-bar .nav-pills{
    font-size:16px !important;
}

.app-bar .appLogo {
background: url("appLogo.png") no-repeat; }

      .app-bar .nav-pills, .lite-bar .nav-pills {
    font-size: 16px;
    margin: 0px;
    padding-left: 0px;
}
