
.dashboard-panel
{
  box-shadow: -4px -3px 12px -6px #000;

}
.underline
{
  border-bottom: 5px solid #fff;
}
.show_stat,.show_stat:hover,.show_stat:link,.show_stat:active,.show_stat:visited
{
  padding-right: 0px !important;
}
.app-bar .nav-pills{
    font-size:12px !important;
}
.select2-container
{
  width: 100% !important;
}

       .dashboard-header
       {
       }
       .menu
       {
         font-family:'Titillium Web';
         box-shadow: 0px 0px 6px 0px #000;
         padding:0;
         margin:0;
         background-color : #071019;
         font:#FAFAFA;
         height:40px;
         width:100%;
         z-index: 9999;


    }

    .mn1
    {
        height:40px;
        /*width:230px*/
        padding-left:10px;
        padding-right:20px;
        margin:0;
        font:#FAFAFA;
        background-color : #071019;
        float:left;

    }
    .mn2,.mn3,.mn4,.mn5,.mn6,.mn7
    {

        height:40px;
        padding:10px 22px 10px 22px;
        padd
        font:#FAFAFA;
        float:left;


    }
    .demoview
    {

      font-size:16px;
      border-radius: 50%;
      width: 16px;
      height: 16px;


      background: #000;
      border: 2px solid red;
      color: red;
      text-align: center;

    }

    .alert_info
    {
        position:fixed;
        right:0;
        top:40px;
        font-size:16px;
        max-width:250px;
        float:right;
        margin-right:5px;
        margin-top:5px;
        background: #fff;
        border: 2px solid black;
        color: #6E6E6E;
        text-align: center;
        overflow:hidden;
        display: none;
        z-index: 1;


    }
    .showalert
    {

    }
    .showalert:hover + .alert_info
    {
        display : block;

    }
    .alert_info td
    {
          width: 100px;
          min-width: 80px;
    }
    .alert_info td:first-child
    {
          width: 100px;
          min-width: 40px;
    }

    a
        {
           font-size:13px;
           color:#FAFAFA;
           text-decoration: none;
           padding-right:10px;
        }
        a:hover
        {
           font-size:13px;
           color:#FAFAFA;
           text-decoration: none;
           padding-right:10px;

        }
        a:active
        {
           font-size:13px;
           color:#FAFAFA;
           text-decoration: none;
           padding-right:10px;

        }
        a:visited
        {
           font-size:13px;
           color:#FAFAFA;
           text-decoration: none;
           padding-right:10px;

        }
        a:link
        {
           font-size:13px;
           color:#FAFAFA;
           text-decoration: none;
           padding-right:10px;

        }
        .dashboard-row
        {
            padding-left:10px;
        }
        .dashboard-header
        {
            padding-left:10px;
        }
        .dashboard-body
        {
         padding:0;
         margin:0;

        }
