.SingleValue .cold .singleResult {
    color: #1f96c9;
}

.SingleValue .warm .singleResult {
    color: #e7601f;
}

.accordion_toggle .COOL {
	background-color:#1f96c9;
}

.accordion_toggle .HEAT {
	background-color:#e7601f;
}

.SingleValue .hot .singleResult {
    color: #ed2228;
}

.SingleValue .green .singleResult {
    color: #71bf44;
}

.SingleValue .red .singleResult {
    color: #ed2228;
}

 td .singleResult {
    	text-align:center;
    	padding-bottom: 10px;
    }
    .singleResult {
    	font-size: 1.2em;
	margin: 0px 6px;
    	font-weight: bold;
    	text-align:center;
    	padding-bottom: 10px;
    }
    
    .singleResult.elevated {
    	color: rgb(255, 184, 0);
    }
    
    .singleResult.low {
    	color: rgb(31, 150, 201);
    }
    
    .singleResult.no, .singleResult.No, .singleResult.critical {
    	color: rgb(237, 34, 40);
    }
    
    .singleResult.yes, .singleResult.Yes {
    	color: rgb(113, 191, 68);
    }

text {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
      #main {width: 600px; margin-left: auto; margin-right: auto; font: 14px Helvetica Neue;}
      h1 {font-size: 36px; font-weight: 300;}
      h2 {font-size: 24px; font-weight: 300;}

      #chart path {-webkit-transition-property: fill; -webkit-transition-duration: 0.2s;}
  
      svg text {font-family: helvetica, sans-serif; fill: #555;}
      #status {cursor: pointer; text-anchor: middle;}
      #status g.first text.time {font-size: 14px;}
      #status g.first text.value {font-size: 44px; font-weight: bold;}
      #status g.first text.units {font-size: 12px;}

      #status g.second text.time, #status g.third text.time {font-size: 12px;}
      #status g.second text.value, #status g.third text.value {font-size: 30px; fill: #555;}
      #status g.second text.units, #status g.third text.units {font-size: 10px;}

      #status g.third { display: none; }
      svg text.day.label {font-size: 16px; font-weight: bold; fill: #bbb; pointer-events: none;}
      svg text.time.label {font-size: 12px; font-weight: bold; fill: #bbb; pointer-events: none;}

      .week_step {font-size: 80px; fill: #555; font-weight: bold; font-family: helvetica, sans-serif; cursor: pointer;}

#nest_home_img {
	display: inline;
	width: 25%;float: left;
}

#nest_home_txt {
	display: inline;
	width: 75%;float:right;
	vertical-align:top;
}
