/**********************************
Base color palette
***********************************/


/* default background color */

body {
    background-color: #e3efff;
}

body.splTemplate-dashboard {
    background-color: #e3efff;
}


/* default text color
_________________________________*/
body,  {
    color: #333;
}

body, div,
h1, h2, h3, h4, 
td, th,
.EventsViewer .default .event,
.LinkSwitcher ul li.selected a
{
    color: #333;
}

.fieldValuePopup table th, .fieldValuePopup table td {
    color: #333;
}


/* navy blue 
_________________________________*/


.splHeader.splHeader-dashboard h2, 
.dashboardContent .ServerSideInclude h2,
body.splTemplate-dashboard .TitleBar h2 {
    color: #000033;
}


.GenericHeader h3 {
    font-weight: bold;
    color:#000033;
}

.ui-datepicker-current-day {
    background-color: #000033;
}



/* default links and search button 
_________________________________*/

a, a:active, a:visited, 
.EventsViewer .default .showinline,
.splMenu-primary a:hover {
    color:#204d89;
}




.SearchBar .assistantActivator {
background-color:#ffab3f;
}

/* orange 
_________________________________*/





/* app name */

.appHeaderWrapper h1 {
    color:#ff9933;
}





/**********************************
App header and links
***********************************/


/* app header wrapper */

.appHeaderWrapper {
    background: url(bg_appHeaderWrapper.png) repeat-x;
}

.AccountBar .appLogoContainer {

}

/* change the app logo here.  set the height/width for your image, as well as the path to the image */
.appLogo {
    height: 43px; 
    width: 480px;
    padding-right: 5px;
    float: left;
    background: url(appLogo.png) no-repeat 0 0;
}

/* 
use this to display the name of the app. 
use line-height to adjust alignment with logo. if
if the name of the app is in the logo,  set this to display: none;  
*/
.appHeaderWrapper h1 {
    display: none;
} 


/*--- top-right text and links ---*/


.accountBarItems a, .accountBarItems a:active, .accountBarItems a:visited {
color: #000;
}

.splIcon-triangle-3-s {
background-position: -67px -367px;
}


/**********************************
Nav bar and aux links
***********************************/

/*--- the default state ---*/



.splHeader.splHeader-navigation {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #add1ff;
    background-image: url(bg_nav_default.png);
    background-repeat: repeat-x;

}

ul.appBarNav li a, ul.appBarNav li a:active, ul.appBarNav li a:visited  {
    color: #000;
    font-size: 11px;
    border-right: 1px solid #add1ff;
}

/*--- the hover state ---*/

ul.appBarNav li.hasMenu a:hover, ul.appBarNav li a:hover {
    background-image: url(bg_nav_hover.png);
    color: #000;
}

/*--- the open state ---*/

ul.appBarNav li a.menuOpen {
    background-image: url(bg_nav_on.png);
    color: #000;
}

/*--- link color ---*/

ul.appBarNav li.hasMenu a:hover, ul.appBarNav li a.menuOpen {
    color: #000;
}



/* auxiliary text and links */

.AppBar .auxLinks a {
    color: #000;
}

.AppBar .auxLinks span {
    color: #666;
}


/**********************************
Menus 
***********************************/

/* primary menu */

.splMenu-primary ul {
    background-color: #fff;
    border-color: #add1ff;
}

.splMenu-primary, .splMenu-primary a, .splMenu-primary a:visited, .splMenu-primary a:hover {
    color: #000;
}

.splMenu-primary .actionsMenuDivider {
    border-color: #add1ff;
}

.splMenu-primary li:hover {
    background-color: #ffe7a2;
    background-image: none;
}

/* secondary menu, used for apps pulldown */
.splMenu-secondary ul {
    background-color: #fff;
    border-color: #add1ff;
}

.splMenu-secondary, .splMenu-secondary a {
    color: #000;
}
.splMenu-secondary li.disabled a {
    color:#666;
}   

.splMenu-secondary li:hover {
    background-color: #ffe7a2;
    background-image: none;
}

.splMenu-secondary a:hover {
    color: #333;   
}

/* move the nav menu 1px to the left for border alignment */

.splHeader-navigation .splMenu ul {
    margin-left: -1px !important;
}

/* black arrow for menu */

.splIcon-triangle-2-s {
background-position:-67px -367px;
}

/**********************************
search title and area
***********************************/

.TitleBar .splHeader, .splBackground-primary, .viewHeader, .mainSearchControls, .splSearchControls-inline, .reportBuilder, .reportFirstPanel {
background-color:#e3efff;
}

/* search input border color */
.SearchBar .searchFieldWrapperInner {
border-color:#add1ff;
}

/* search button color; background-position of 0 0 is black >, -40px 0 is white */
input.searchButton {
    background-color: #15428b;
    background-position:-40px 0;   
}


/**********************************
Flash timeline and charts
***********************************/

/* All flash charts */
/*
  background-color -> controls bgcolor
  border-left-color -> controls foregroundColor
  color -> controls fontColor
*/
div.FlashChart {
    background-color: #fff;
    color: #000;
    border-left-color: #000;
}

/* flash timeline specific */
/*
  background-color -> controls bgcolor
  border-left-color -> controls foregroundColor
  color -> controls fontColor
  border-right-color -> controls seriesColor
*/
div.FlashTimeline {
    background-color: #fff;
    border-left-color: #000;
    color: #000;
    /* the color of the histogram bar. border-right-color = fill */
    border-right-color: #ffab3f; 
}

.controlLinks {
    margin-bottom: 5px;
}

/* popup bar chart; should be same color as flash timeline */
.splBarGraphBar {
background-color:#ffab3f;
}

/* resize handle */
.ui-resizable-s {
background-color:#bedafe !important;
}


/**********************************
Background colors 
***********************************/


/* secondary background - sidebar, other panels */
.splBackground-secondary, .sidebarExpanded, .popupFooter {
    background-color:#e3efff;
}

/* MultiFieldViewer + SuggestedFieldViewer */
.MultiFieldViewer .fieldTabs .mouseoverHighlight,
.MultiFieldViewer .fieldTabs .selected,
.SuggestedFieldViewer .fieldTabs .mouseoverHighlight,
.SuggestedFieldViewer .fieldTabs .selected {
    background-color:#add1ff;
}

/**********************************
Borders 
***********************************/

/* default border helper classes */
.splBorder, .splBorder-n, .splBorder-s, .splBorder-e, .splBorder-w, .splBorder-nsew {
    border-color: #add1ff;
}

/* layout panel borders */
div.mainSearchControls, div.graphArea, div.resultsArea, div.pageControls, div.splSearchControls-inline,
div.sidebar, div.withSidebar div.sidebarCollapsed,
div.reportBuilder .equalHeightRow, div.reportFirstPanel,
.popupContainer {
    border-color: #add1ff;   
}

/* helper class borders */
.splButtonWrapper {
    border-color: #add1ff;
}

/* form element borders */
input, textarea, select {
    border-color: #add1ff;  
}

/* individual element borders */
.reportBuilder .layoutCell,
.ui-datepicker-inline, 
.reportBuilder .GenericHeader h3,
.reportBuilder .layoutCell,
.dashboardCell {
    border-color: #add1ff;   
}


.fieldValuePopup table th, .fieldValuePopup table td,
.SearchBar .assistantContainer {
border-color:#add1ff;
}

/* pipe */
.splDivider {
    border-color: #666;
}

/**********************************
Headers
***********************************/

.ResultsHeader .splHeader-primary, .FlashTimeline .splHeader-primary {
background: #ffab3f url(bg_nav_on.png) repeat-x;
}

.splHeader-popup, .splHeader-secondary {
background: #e6e6df url(bg_nav_default.png) repeat-x;
}

/**********************************
Buttons and icons
***********************************/

.sidebar .splIcon, .FlashTimeline .splIcon {
background-color:#6f9dd9;
}

.ButtonSwitcher ul li.selected, .ButtonSwitcher ul li.selected:hover {
background-color:#6f9dd9;
border:1px solid #6f9dd9;
}

.splButton-primary {
background-color:#ffab3f;
}

.splButton-primary:hover {
background-color:#fda12b;
}

.splButton-secondary {
background-color:#999;
}

.splButton-secondary:hover {
background-color:#aaa;
}




.totalButton {
	border:1px solid grey;
	padding:20px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:18px;
	background-color: #5CAEDD;
	color: white;
}
.errorButton {
	border:1px solid grey;
	padding:20px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:18px;
	background-color: #D85127;
	color: white;
}
.warningButton {
	border:1px solid grey;
	padding:20px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:18px;
	background-color: #E2C438;
	color: white;
}


/**********************************
Dashboards
***********************************/


.splHeader-dashboard h2 {
font-size: 14px;
letter-spacing: normal;
}

ul.navWelcome-Windows {
list-style-type: none;
}

ul.navWelcome-Windows #SearchBullet {
padding-left:55px;
padding-top:12px;
padding-bottom:20px;
font-family:Arial,Helvetica,sans-serif;
min-height:40px;
_height:40px; /* for ie6 */
font-size: 13px;
background: url(/static/app/windows/icon_search.png) no-repeat 0 0;
}

ul.navWelcome-Windows #GraphBullet {
padding-left:55px;
padding-top:12px;
padding-bottom:20px;
font-family:Arial,Helvetica,sans-serif;
min-height:40px;
_height:40px; /* for ie6 */
font-size: 13px;
background: url(/static/app/windows/icon_dashboard.png) no-repeat 0 0;
}

ul.navWelcome-Windows #LocalEVBullet {
padding-left:55px;
padding-top:12px;
font-family:Arial,Helvetica,sans-serif;
min-height:40px;
_height:40px; /* for ie6 */
font-size: 13px;
background: url(/static/app/windows/icon_local.png) no-repeat 0 0;
}

ul.navWelcome-Windows #RemoteEVBullet {
padding-left:55px;
padding-top:12px;
padding-bottom:20px;
font-family:Arial,Helvetica,sans-serif;
min-height:40px;
_height:40px; /* for ie6 */
font-size: 13px;
background: url(/static/app/windows/icon_remote.png) no-repeat 0 0;
}

ul.navWelcome-Windows #SocketBullet {
padding-left:55px;
padding-top:12px;
padding-bottom:20px;
font-family:Arial,Helvetica,sans-serif;
min-height:40px;
_height:40px; /* for ie6 */
font-size: 13px;
background: url(/static/app/windows/icon_network.png) no-repeat 0 0;
}

ul.navWelcome-Windows #MoreDataBullet {
padding-left:55px;
padding-top:12px;
font-family:Arial,Helvetica,sans-serif;
min-height:40px;
_height:40px; /* for ie6 */
font-size: 13px;
background: url(/static/app/windows/icon_addData.png) no-repeat 0 0;
}
