.html {
    color: #777;
}

.html > h1 {
    color: black;
}

span.category {
    color: #777;
}

span.highlight {
    color: black;
}

span.highlight > a {
    font-weight: bold;
}

div.help-link {
    float: right;
}
