.html {
    color: #777;
}

span.highlight {
    color: black;
}

span.highlight > a {
    font-weight: bold;
}

div#relatedEntities
{
    justify-content: flex-start;
    width: 100%;
    height: auto;
}

div#relatedEntities > div
{
    width: 33.33% !important;
    height: 420px;
}

div#relatedEntities .dashboard-panel
{
    height: 417px;
}

.view-mode .dashboard-row .dashboard-cell.last-visible .dashboard-panel,
.view-mode .dashboard-row .dashboard-cell:last-child .dashboard-panel
{
    margin-right: 5px;
}
