@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,300,300italic");

h2.dashboard-title.dashboard-header-title {
    font-family: "Open Sans", sans-serif;
    font-size: 26pt;
}

div#panel1 > div.dashboard-panel {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    padding: 50px 100px 50px 100px;
}

.dashboard-panel img {
    box-shadow: 0 5px 20px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 18pt;
    font-family: "Open Sans";
}

h1:nth-child(n+2){
    margin-top: 2em;
}

h2 {
    font-size: 15pt;
    font-weight: bold !important;
    font-family: "Open Sans";
    margin-top: 2em !important;
}

h3 {
    font-size: 13pt;
    font-family: "Open Sans";
    font-weight: bold;
    margin-top: 1em;
}

.point-out:before {
    content: "» ";
    color: #00b550;
    display: inline-block;
    font-size: large;
}

.code {
    font-family: monospace;
    background: #EBEBEB;
    padding: 3px;
}

.floatright {
    float: right;
    margin-left: 20px;
}

hr {
    width: 80%;
    margin-left: 10%;
}

td, th {
    border: 1px solid #595959;
    border-collapse: collapse;
}

th {
    text-align: left;
    font-family: "Open Sans";
    background: #0071CE;
    color: white;
}

td {
    vertical-align: top;
}

td.subheader {
    color: #0071CE;
}

span.rf-field {
    color: darkgraygrey;
    padding: 0px 2px 1px 2px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    white-space: nowrap;
    font-size: 11px;
    font-weight: bold;
    border-radius: 3px;
}
