@import "../pcss/common.pcss";
/*Main Layout Styling*/
#layout{
  #latency-chart{
      height:220px;
      padding:0px 10px;
  }
  #latency-avg{
    .single-css{
      font-size: 18px;
      font-weight: 400;
      padding: 0px 10px 0px 17px;
      color: $yellow;
    }
  }
}