.main-area {
    border: 1px solid black;
}

#submitBtn:hover{
    cursor:pointer;
    background-color:rgb(220, 220, 220);
}
#submitBtn{
    max-width:19%;
    /*float: left;*/
    margin-top: 2px;
    /**background-repeat:repeat-x;*/
    padding:4px 7px;
    border-radius:5px;
    background-color: rgb(238, 238, 238);
    border:1px solid #000000;
    text-align:center;
    border-color: rgb(183, 183, 183) rgb(174, 174, 174) rgb(152, 152, 152);
    background-position: 0px 0px;
    color: rgb(51, 51, 51);
}
#submitBtn_XenApp, #submitBtn_XenDesktop:hover{
    cursor:pointer;
    background-color:rgb(220, 220, 220);
}
#submitBtn_XenApp,#submitBtn_XenDesktop, #submitBtn_XenApp{
    max-width:19%;
    float: left;
    margin-top: 2px;
    position:absolute;
    left:440px;
    top:4px;
    /**background-repeat:repeat-x;*/
    padding:4px 7px;
    border-radius:5px;
    background-color: rgb(238, 238, 238);
    border:1px solid #000000;
    text-align:center;
    border-color: rgb(183, 183, 183) rgb(174, 174, 174) rgb(152, 152, 152);
    background-position: 0px 0px;
    color: rgb(51, 51, 51);
}

#submitBtn {
    font-size: 13px;
    display: block;
    margin-left: 10%;
    font-weight: normal;
    /*                margin-top: -40px;
                    margin-right: 100px;*/
    width: 250px;
}
#units {
    display: block;
    font-weight: normal;
    font-size: 13px;
    /*        float: left;
            margin-top: 2px;
            position: absolute;
            display: block;
            margin-left: 30%;
            margin-top: -30px;
            margin-right: 100px;*/
}
#txt{
    margin-top: -30px;
    margin-left: 35%;

}
/*    #mytextbox11{

        height: 500px;
    }*/
#timerange {
    font-size: 13px;
    margin-top: 0px;
    float: right;
    width:180px;
    font-weight: normal;
    display: inline;
    float: right;
} 

#item13 {
    display : none;
}

#item3 {
    display : none;

}

#chart_allapps11{
    height:250px;

}

#mytextbox11 .highcharts-legend-item:nth-child(2){
    display:none;
}
#mytextbox110 .highcharts-legend-item:nth-child(3){
    display:none;
}
#mytextbox110_calls .highcharts-legend-item:nth-child(3){
    display:none;
}
#ResTime_forapp{
    display : none;
}
#ResTime_topten {
    display : none;
}
#item_chart{
    display : none;
}

#ResTime_forapp11
{
    display : block;
}
#cust_table_Noresults{
    display : none;
}
#cust_table_results{
    display : block;
}
#rowstart{
    padding :10px
}
#rowLast{
    padding-left :25px;
    padding-top: 10px;
}
#TCalls,#callsmin,#Tecalls,#errorCallsmin,#TScalls,#slowcallsmin,#res_ponse,#thr_put11,#Thrld_count,
#TCalls_thrput,#callsmin_thrput,#Tecalls_thrput,#errorCallsmin_thrput,#TScalls_thrput,#slowcallsmin_thrput,#res_ponse_thrput,#thr_put11_thrput,#Thrld_count_thrput,
#TCalls_Calls,#callsmin_Calls,#Tecalls_Calls,#errorCallsmin__Calls,#TScalls_Calls,#slowcallsmin_Calls,#res_ponse_Calls,#thr_put11_Calls,#Thrld_count_Calls,#errorCallsmin_Calls
{

    padding-left :5px;
    font-weight:normal;
    word-wrap: break-word;
	color:'black';
}
#datatcalls, #mincalls{
    max-width: 50px;
    word-wrap: break-word
}
#setTxt{
    margin-top: 12px;
    font-weight: bold;
    font-size: 15px;
}
#topAlign{
    align:"left";
    font-size:15px;
    padding: 5px;
}

#mytextbox{
    margin-top: 15px;}
#thrld_dropAgents,#drop_agents{
    font-weight: normal;
    font-size: 13px;
    margin-top: 30px;}

 .app-bar .app-name {
        font-weight: bold !important;
        display: inline !important;
    }
    /**.appLogo {          background: url("appLogo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
         }.app-name .app-logo {
         display: inline !important;}.app-label{padding-left:5px;}*/
    .app-label{color:transparent;}
