 #timerange {
        /*        margin-top: 1px;
                float: right;
                width:auto;
                margin-right: 4%;*/

        margin-top: 0px;
        float: right;
        width: auto;
        margin-right: 4%;
        padding-bottom: 10px;



    } 
    #timerange a:hover{
        margin-top: 1px;


    } 

    #item55
    {
        display:block;
    }

    #tests2{
        display:block;
        margin-top: -10px;
    }
    #tests1{
        display:block;
        margin-top: -12px;
    }
    #txt {
        margin-top: 2px;
    } 
    #particular_server{
        display:none;
    }
    #item1{
        display:none;
    }
    #item2{
        display:none;
    }
    #item3{
        display:none;
    }

    #item7{
        display:none;
    }
    #item8{
        display:none;
    }
    #XenApp_Users_dropDown{
        display:none;
    }
    #XenApp_Users_table{
        display:none;
    }
    #AppDetails_table{
        display:none;
    }
    #IP_resourceCharts{
        display:none;
    }
    #select-radio{
        display:none;
    } 
    .choice{
        width: 19%; float: left;
    }
    #drop_agents, #id_dropDown_ListofIps{
        width: 21%;
        float: left;
    }
    #view_drop_down{
        width: 21%;
        float: left;
    }

    #id_dropDown_ListofIps{
        width: 10%;
        float: left;
        //margin-top: 66px;
    }



    #txt123{
        height: 0px;
        width: auto;
        font-size: 13px;
        font-weight: normal;
        margin-top: 17px;
    }  


    #view_drop_down, #drop_agents{
        width: 21%;
        float: left;

    }



    #selectServer_drop_agents{
        width: 21%;
        float: left;
    }
    #drop_select_Server_desktop{
        width: 21%;
        float: left;
    }

    #table_allapps789 { display:none !important;}
    .before-label{font-weight:bold;font-size: 18px}
    .single-value .after-label{font-weight:bold !important;}

    .app-bar .app-name {
        font-weight: bold !important;
        display: inline !important;
    }

    .app-label{color:transparent;}


    #topoText:hover{
        cursor:pointer;
        background-color:rgb(220, 220, 220);
    }
    #topoText{
        max-width:19%;
        float: left;
        margin-top: 2px;
        /**background-repeat:repeat-x;*/
        padding:4px 7px;
        border-radius:5px;
        background-color: rgb(238, 238, 238);
        border:1px solid #000000;
        text-align:center;
        border-color: rgb(183, 183, 183) rgb(174, 174, 174) rgb(152, 152, 152);
        background-position: 0px 0px;
        color: rgb(51, 51, 51);

    }
    #topoText_XenApp, #topoText_XenDesktop:hover{
        cursor:pointer;
        background-color:rgb(220, 220, 220);
    }
    #topoText_XenApp,#topoText_XenDesktop, #topoText_XenApp{
        max-width:19%;
        float: left;
        margin-top: 2px;
        position:absolute;
        left:440px;
        top:4px;
        /**background-repeat:repeat-x;*/
        padding:4px 7px;
        border-radius:5px;
        background-color: rgb(238, 238, 238);
        border:1px solid #000000;
        text-align:center;
        border-color: rgb(183, 183, 183) rgb(174, 174, 174) rgb(152, 152, 152);
        background-position: 0px 0px;
        color: rgb(51, 51, 51);


    }
    #txt
    {
        height:0px;
       	width:auto;
        font-size: 13px;
        font-weight:normal;
    }

    #popup
    {
        display:none;
        position:fixed;
        width:530px;
        height: 280px;
        top: 40%;
        left: 40%;
        margin-left:-145px;
        margin-top:-110px;
        border:5px solid;
        background-color:#FFFFFF;
        padding:30px;
        z-index:102;
        font-family:Verdana;
        font-size:10pt;
        border-radius:12px;
        border-color:#FFFFFF; 
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        font-weight:bold;
        color:black;

    }
    #closeButton
    {    
        float:right;
        width: 20px;
        height:20px;
        border:0px solid;
        border-radius:0px;
        background-color:#DEDFDE;	
        background-color:transparent;	
        margin-top:-30px;
        margin-right:-30px;

        background-image: url("{{STATIC_URL}}{{app_name}}/images/close_20_20.png");

    }
    #headingtxt{
        font-size: 17px;
        color:#01008E;
    }
    #txt1
    {
        height:170px;
       	width:auto;
        font-size: 14px;
        font-weight:normal;
        background-color: transparent;
    }
    #tierText {
        left: 440px;
        height: 70px;
        width: auto;
        font-size: 16px;
        font-weight: bolder;
        margin-top: 90px;
        margin-left: 50%;
        margin-bottom: 10px;
        background-color: transparent;
    }

    #txt12{
        background-color:#FFFFFF;
        height:150px;
        border-radius: 0px; 
        border-color: red;
        margin-left:-20px;
    }

    .buttonsdiv{
        margin-top:30px;
    }
    #evaluation_button
    {    
        width: 240px;
        height:69px;
        float: right;
        border:0px solid;
        border-radius:0px;
        background-color:#FFFFFF;
        background-image: url("{{STATIC_URL}}{{app_name}}/images/evaluation-button.png");


    }
    #freemium_button
    {    
        float: left;
        width: 240px;
        height:69px;
        border:0px solid;
        border-radius:0px;
        background-color:#FFFFFF;
        /*background-color:#DEDFDE;*/
        background-image: url("{{STATIC_URL}}{{app_name}}/images/freemium-button.png");

    }    

    #signin{
        background: #6bd934;
        background-image: -webkit-linear-gradient(top, #6bd934, #2bb868);  
        background-image: -moz-linear-gradient(top, #6bd934, #2bb868);  
        background-image: -ms-linear-gradient(top, #6bd934, #2bb868);  
        background-image: -o-linear-gradient(top, #6bd934, #2bb868);  
        background-image: linear-gradient(to bottom, #6bd934, #2bb868);
        -webkit-border-radius: 10; 
        -moz-border-radius: 10; 
        border-radius: 14px; 
        font-family: Arial;
        font-weight:bold; 
        color: #ffffff;  
        font-size: 16px;  

        border: solid #f0f0f0 2px; 
        text-decoration: none;
        width:120px;
        height:35px;
        margin-left:40%;
        margin-top:30px;
    }
    /*    .dashboard-row .dashboard-panel {
            border: 0px !important; 
            box-shadow:0px 0px 0px rgba(0, 0, 0, 0.00) !important;
            margin-top:20px;
            *margin-left:-20px;
        }*/
    .nav > li > a:hover, .nav > li > a:hover{background-color:#888888 !important; }


    .app-bar .nav-pills>li:first-child> a{
        padding-left: 20px;
        background-color: #888888;
    }

    /*main code*/

    .app-bar .nav-pills>li:first-child> a, a:hover {
        background-color: #888888;
    }

    #id_table_ListofIps .app-bar .nav-pills>li:first-child> a, a:hover {
        background-color: transparent;
    }

    .select2-container{
        margin-left:10px;
    }

    /*To remove the second legend symbol in charts*/
    #id_chart_allapps .highcharts-legend-item:nth-child(2){
        display:none;
    }

    /*border for radio applin*/

    /*    .splunk-radiogroup label{
    
            margin-left: -43%;
            font-size: 14px;
    
        }*/
    .select-radio1{
        margin-left:0em;
    }
    .splunk-radiogroup .choice{
        margin-left: 0em;
    }
    .choice{
        width: 23%; float: left;
    }
    .splunk-radiogroup .choice {
        margin-bottom: 13px;
    }
    #timerange_top {
        margin-top: 1px;
        float: right;
    } 
    #applicationitem{
        display: block;
    }
    #item55{
        display: block;
    }
    #item6{
        display: block;
    }


    /**This is top bar style **/
    .app-bar .shared-appbar-navitem>.dropdown-menu {
        width: 300px;
        border-color: #cccccc;
        background-color: #cccccc;
        border-radius: 5px;
        padding: 4px;
    }
    .dropdown-menu .arrow:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #cccccc;
        position: absolute;
        top: 1px;
        left: 0;
        margin-left: -8px;
    }

    .span3{
        top: 400px;

    }

    #table_id
    {
        display: none;
    }
    #chart_id
    {
        display: none;
    }

    #table1_id
    {
        display: none;
    }
    #chart1_id
    {
        display: none;
    }


    #topoText1
    {
        display: none;
    }

    #appdetails
    {
        display: none;
    }
    #item51
    {
        display: none;
    }

    #item52
    {
        display: none;
    }
    #item53
    {
        display: none;
    }
    #item54
    {
        display: none;
    }
    #item57
    {
        display: none;
    }
    #topoText1 {
        margin-left: 632px;
        margin-bottom: -25px;
    }

    #appdetails {

        margin-left: 432px;
    }



    #text{
        max-width:19%;
        float: left;
        margin-top: 7px;

        padding: 2px 7px;
        border-radius: 5px;
        background-color: #428bca;
        border:1px solid #000000;
        text-align:center;
        border-color: rgb(183, 183, 183) rgb(174, 174, 174) rgb(152, 152, 152);
        background-position: 0px 0px;
        color: rgb(51, 51, 51);
        margin-left: 48px;
        color: rgb(247, 250, 249);
    }

    #text1{


        max-width:19%;
        float: left;
        margin-top: 7px;

        padding: 2px 7px;
        border-radius: 5px;
        background-color: #428bca;
        border:1px solid #000000;
        text-align:center;
        border-color: rgb(183, 183, 183) rgb(174, 174, 174) rgb(152, 152, 152);
        background-position: 0px 0px;
        color: rgb(51, 51, 51);
        margin-left: -28px;
        color: rgb(247, 250, 249);
    }

    #drop_users{
        margin-top: 35px;
    }
    #txtuser{
        margin-top: 31px;
    }


    /*user info*/

    #user_chart{
        display: none;
    }
    #sID_table_userIPS{
        display: none;
    }

    #dropdown_user{
        display: none;
    }

    #all_users{
        display: none;
    } 

    #parti_user{
        display: none;
    }

    #single_resTime_calls_users_alarm
    {
        background-color: rgb(216,94,61);
        display: none;
        margin-top: 20px;
    }

    #tab_overview{
        display: none;
        /*margin-top: 1px;*/
        padding-top: 14px;
    }

    #dropdownips{
        display: none;
        margin-top: 1px;
    }

    #over_all_restime{
        display: none;
        /*margin-top: 1px;*/
    }

    #over_thrput_calls{
        display: none;
        /*margin-top: 12px; margin-top: 1px;*/
    }

    /**  Left side Applications CSS - Radio  */
    #radio{
        display: none;
    }
    .splunk-radiogroup-choices {
        height: auto; 
        margin-left: -7%; 
    }

    /*****************************************************************************************************************/
    /*Original code*/
    .splunk-radiogroup .choice {

        /*         margin-right: 24px;
                margin-bottom: 15px;
                border: 1px solid red;
                padding-left: 42px;
                padding-right: 20px;*/



        margin-left: 16px;
        // margin-right: 24px;
        //margin-bottom: 15px;

    }

    .splunk-radiogroup-choices{
        /*margin-left: 0%*/
    } 




    input[type=radio]{
        display: none;  
    }

    input[type=radio]:before{
        content: "";
        display: inline-block; 

    }
    .choice {
        margin-top: 10px;
        width: 50%;
        float: left;

    }
    /*    input[type="radio"]+label:hover{ 
    
            background-color:#888888 !important;
            // padding-left: 10px;
    
    
        }*/
    /*        input[type="radio"]:checked+label{ 
        
               background-color: #888888;
                background-color: rgb(231, 231, 231);
                padding-right: 20px;
                padding-top: 9px;
                padding-bottom: 14px;
                margin-left: -45%;
                font-weight: bold;
        
            }*/

    /*input[type="radio"]:checked+label{ font-weight: bold; color:#444445; }*/



    input[type="radio"]:hover+label{ 

        /*        background-color: rgb(231, 231, 231);
                padding-right: 20px;
                padding-top: 9px;
                padding-bottom: 14px;
                margin-left: -45%;*/

    }



    #Id_Radio{
        height:510px;
        float:left;
        overflow: hidden;
        background-color: white;
    }
    #Id_Radio:hover{

        overflow-y:scroll;
        overflow-x: scroll;

    }
    #RightDiv{

        overflow-y: scroll;overflow-x: scroll; height:510px
    }
    #radioDiv3{
        float:right;
    }
    #topology_div{
        width:100%;
        display: none; 
        height:600px;
        background-image: url("{{STATIC_URL}}{{app_name}}/images/screnTopo.png");
    }



    #appname{
        display: none;
        margin-left: 10px;
        font-weight: bold;
        font-size: 16px;
    }

    #appbg{

        background-color: #ffffff;
        padding-top: 3px;
        text-align: left;
        padding-top: 19px;

    }

    #time{
        margin-top: -22px;
    }

    #container{
        /*padding-top: 3px;*/
    }

    #allapps{
        /*        display: block;
                padding-left: 9px;
                padding-top: 0px;
                padding-bottom: 8px;
                font-weight: bold;*/
        display: block;
        padding-left: 9px;
        padding-top: 0px;
        padding-bottom: 5px;
        font-weight: bold;


    }



    /* ***new feature code for radio choice btns*** */

    .highlightTab{

        border: 0px solid #ccc;
        color:white;
        background: #ccc;

    }


    .splunk-radiogroup .choice {

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 84px;
        margin-top: 9px;
        margin-right: 176px;
        margin-bottom: 0px;
        margin-left: 0px;

    }

    .dashboard-row .dashboard-panel .panel-body .splunk-radiogroup
    {
        margin: 0px 0px;
        /*margin: 0px 0px 0px 0px;*/
    }
    .dashboard-row .dashboard-panel{
        /*margin: 0px 0px 0px 0px;*/
    }
    .dashboard-row .dashboard-panel {
        border: 0px !important; 
        box-shadow:0px 0px 0px rgba(0, 0, 0, 0.00) !important;
        margin-top:20px;

    }
    .splunk-radiogroup-choices{
        margin-bottom: 0px;
        margin-top: 21px;
    }

    .choice #id_radio_group_Left0:checked+label{
        /*        color: #fff;
                background: #ccc;
                background: #4B8DFF;
                background: #33A2EB;
                border: 0px solid #ccc;
                margin-left: 0px;
                padding-top: 10px;
                padding-bottom: 10px;a
                padding-left: 27px;
                padding-right: 37px;
                display: block;
                width: 100%;*/

        color:white;
        background-color: rgb(170, 170, 170);
        /*background: #4B8DFF;*/
        /*background: #33A2EB;*/
        border: 0px solid #ccc;
        /*margin-left: 9.3%;*/
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 126px;
        display: block;
        width: 100%;
    }

    .splunk-radiogroup label{
        font-size: 14px;
        margin-left: 1em;
        padding-left: 11px;
    }

    .highlightTab {
        border: 0px solid #ccc;
        color: white;
        /* background: #ccc; */
        background-color: rgb(170, 170, 170);
    }
    /** ********************* Start of Tabs and links ************************************** **/
    .tabs {
        width:100%;
        display:inline-block;
    }
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
        background-color: rgb(170, 170, 170);/** tabs background- color**/
    }

    .tab-links a {
        padding: 11px 20px;
        display:inline-block;
        border-radius:0px 0px 0px 0px;
        font-size:13px;
        font-weight:400;
        color: #FFFFFF;
        transition:all linear 0s;
    }

    .tab-links a:hover {
        text-decoration:none;
    }

    li.active a, li.active a:hover {

        background-color: #888888;
        // color:#4c4c4c;
        border:0px solid #ccc;
        border-bottom:0px solid #ccc ;
        position: relative;
        top:0px;

    }

    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
        margin-top: -8px;
    }

    .tab {
        display:none;
    }

    .tab.active {
        display:block;
    } 

    #myscreen{
        display:none;
        background-color: rgb(170, 170, 170);/** tabs background- color**/
        margin-top: -0.9%;

    }
    #myscreen ul{
        border-bottom:1px solid #ccc;
    }
    .tab-links
    {
        margin-top: 5px;
    }
    ul,ol {
        padding: 0;
        margin: 0 0 8px 5px;
    }

    #overview{

        margin-right: 20px;
        text-decoration:none;
    }
    #appd{
        margin-right: 20px;
        text-decoration:none;
    }

    #userd{
        margin-right: 20px;
        text-decoration:none;
    }

    #alarm{
        margin-right: 20px;
        text-decoration:none;
    }

    #topologyd{
        margin-right: 20px;
        text-decoration:none;
    }





    /** **** All tabs ********** */

    /*new tab for all application*/
    .tabs1 {
        width:100%;
        display:inline-block;
    }
    #container1{
        display: block;
        /*padding-top: 3%;*/
    }
    #myscreen1{
        /*margin-left: 1px;*/
        /*        display:block;
                background-color: #C0BFBF;
                margin-top: -18px;*/
        display: none;
        /*margin-left: 197px;*/
        display: block;
        background-color: rgb(170, 170, 170);/** tabs background- color**/
        margin-top: -0.9%;
    }
    #myscreen1 ul{
        /*border-top:1px solid #ccc;*/
        border-bottom:0px solid #ccc;
    }

    .tab-links1:after {
        display:block;
        clear:both;
        content:'';
    }

    .tab-links1 li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }

    .tab-links1 a {
        padding: 11px 20px;
        display:inline-block;
        border-radius:0px 0px 0px 0px;
        /*background:#e7e7e7; #D1D1D1;*/
        font-size:13px;
        font-weight:400;
        color: #FFFFFF;
        /*color: aliceblue;*/
        /*color:#4c4c4c;*/
        transition:all linear 0s;
    }

    .tab-links1 a:hover {
        /*background:#ffffff;#a7cce5; #888888*/
        text-decoration:none;
        background-color: #888888;
    }

    .tab-links1 li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }

    .tab-links1
    {
        margin-top: 5px;
    }

    li.active1 a, li.active1 a:hover {
        background:#ffffff;/*;#888888; #7FB5DA;*/
        background-color: #888888;
        font-color:#4c4c4c;
        border:0px solid #ccc;
        border-bottom:0px solid #ccc ;
        position: relative;
        top:0px;
        border-radius: 0px 0px 0px 0px;
    }

    .tab1.active1 {
        display:block;
    } 

    #overview1{
        /*                border: 1px solid #CCC;
                        border-bottom: 4px solid #fff;*/
        margin-right: 20px;
        text-decoration:none;
    }

    #alarm1{
        margin-right: 20px;
        text-decoration:none;
    }

    #alram_all_overview{
        display: none;
    }

    #all_users_overview{
        display: none;
    }



    /** ********************* End  of Tabs and links ************************************** **/


    #id_single_respTime .before-label {
        font-weight: bold;
        font-size: 15px;
    }#id_single_allCalls .before-label {
        font-weight: bold;
        font-size: 15px;
    }
    #id_single_users .before-label {
        font-weight: bold;
        font-size: 15px;
    }
    #id_single_Alarms .before-label {
        font-weight: bold;
        font-size: 15px;
    }

