

legend {
   color: #07F !important;
}

#overlay { 
	 position:absolute; 
	 display:none; 
	 top:0; 
	 bottom:0; 
	 left:0; 
	 right:0; 
	 background-color: #fff; 
	 opacity: 0.8; 
	 -moz-opacity: 0.8; 
	 filter: alpha(opacity=70);
}

#loader  { 
	 position:absolute; 
	 left:50%; 
	 top:50%;
}



