/*
** Application Logo in a Splunk 5.0 Simple XML Document
** Recipe for when you want a logo and not a title
*/
div.AccountBar,
div.splHeader-navigation 
{
  background-color: #0072c6
}

.splHeader.splHeader-primary h2
{
    font-size: x-large       !important;
}

.appLogoContainer 
{
    height: 43px;
}

.appLogoContainer .appLogo 
{
    height: 43px; 
    width: 350px; 
    background-image: url("appLogo.png") !important;
    background-repeat: no-repeat;
}

.appLogoContainer h1 
{
    background-color: #0072c6
    border: solid thick green !important;
    width: 0px;
    font-size: 1px;
    color: red;
}

.appHeaderWrapper,
.appHeaderWrapper a 
{
  color: white;
}

.singleValueCompact 
{
    background-color: white !important;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-right:0px;
    padding-left:0px;
    font-size: 16px !important;
    color: #73a550;
}

.singleResult
{
    color: black;
}
.splHeader h2
{
    font-size: 16px !important;
}