{# Boilerplate for a Django Bindings template #}
{% extends "splunkdj:base_with_app_bar.html" %}
{% load splunkmvc %}
{% block title %}Controller Setup{% endblock title %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/table_decorations.css" />
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Play:700,400' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/table.css" />
<link rel="shortcut icon" href="/en-US/static/@0E22169D3B3FB1750D1147F8BD773C60E9CC26636C867A8DC9886F3E8A17DDC6/img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" />
<link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />
{% endblock css %}
{% header id="app-header" appbar=0 %}
{% block content %}
<div class="dashboard-body container-fluid main-section-body">
    <div class="dashboard-row">
        <div class="dashboard-header">
            <h2 style='color: rgb(2, 2, 2);'>Controller Setup</h2>
        </div>
    </div>

    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                <div class="panel-head" style='text-align: center; background-color: #3b73af; display: block;'>
                    <h3 style='color:white;'>Nova Hosts</h3>
                </div>

                <div class="panel-body" style="max-height:216px;min-height:216px;overflow:auto;" >
                    <div id="nova_hosts_table" ></div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                <div class="panel-head" style='text-align: center; background-color: #3b73af; display: block;'>
                     <h3 style='color:white;'>VM Flavors</h3>
                </div>

                <div class="panel-body" style="max-height:216px;min-height:216px;overflow:auto;" >
                    <div id="vm_flavors_table"></div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel">
                <div class="panel-head" style='text-align: center; background-color: #3b73af; display: block;'>
                    <h3 style='color:white;'>OS Images</h3>
                </div>

               <div class="panel-body" style="max-height:216px;min-height:216px;overflow:auto;" >
                    <div id="os_images_table"></div>
                </div>
            </div>
        </div>
     </div>



     <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 40%;">
            <div class="dashboard-panel">
                <div class="panel-head" style='text-align: center; background-color: #3b73af; display: block;'>
                    <h3 style='color:white;'>Neutron Agents</h3>
                </div>

                <div class="panel-body" style="max-height:216px;min-height:216px;overflow:auto;">
                        <div id="neutron_agents_table">
                        </div>
                </div>

            </div>
        </div>
        <div class="dashboard-cell" style="width: 30%;">
            <div class="dashboard-panel">
                <div class="panel-head" style='text-align: center; background-color: #3b73af; display: block;'>
                    <h3 style='color:white;'>Configured Networks</h3>
                </div>

                <div class="panel-body" style="max-height:216px;min-height:216px;overflow:auto;">
                        <div id="networks_table">
                        </div>
                </div>

            </div>
        </div>
        <div class="dashboard-cell" style="width: 30%;">
            <div class="dashboard-panel">
                <div class="panel-head" style='text-align: center; background-color: #3b73af; display: block;'>
                    <h3 style='color:white;'>Routers</h3>
                </div>

                <div class="panel-body" style="max-height:216px;min-height:216px;overflow:auto;">
                        <div id="routers_table">
                        </div>
                </div>
            </div>
        </div>
    </div>


    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 21%;">
            <div class="dashboard-panel">
                <div class="panel-head" style='text-align: center; background-color: #3b73af; display: block;'>
                    <h3 style='color:white;'>Select Node</h3>
                </div>
                <div class="panel-body" style='height:160px'>
                    <center>
                        <h5>OpenStack Deployment</h5>
                        <div id="controller_openstack_select_dropdown"></div>
                        </hr>
                        <h5>Controller Node</h5>
                        </br>
                        <div id="controller_node_select_dropdown"></div>
                    </center>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 25%">
            <div class="dashboard-panel">
                <div class="panel-head" style='text-align: center; background-color: #3b73af; display: block;'>
                    <h3 style='color:white;'>Service Monitoring Details</h3>
                </div>

                <div class="panel-body" style='height:160px'>
                    <div id="controller_table_custom_service_status_table"></div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 17%;">
            <div class="dashboard-panel">
                <div class="panel-head" style='text-align: center; background-color: #3b73af; display: block;'>
                    <h3 style='color:white;'>Load Details</h3>
                </div>

                <div class="panel-body" style='height:160px'>
                    <div id="controller_user_session_details_table"></div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 12.33%;">
            <div class="dashboard-panel">
                <div class="panel-head" style='text-align: center; background-color: #3b73af; display: block;'>
                    <h3 style='color:white;'>% RAM Usage</h3>
                </div>

                <div class="panel-body" style='height:145px;margin-top:10%;'>
                    <div id="controller_ram_usage_gauge"></div>
                </div>
            </div>
        </div>

        <div class="dashboard-cell" style="width: 12.33%;">
            <div class="dashboard-panel">
                <div class="panel-head" style='text-align: center; background-color: #3b73af; display: block;'>
                    <h3 style='color:white;'>% CPU Usage</h3>
                </div>

                <div class="panel-body" style='height:145px;margin-top:10%;'>
                    <div id="controller_cpu_usage_gauge"></div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 12.33%;">
            <div class="dashboard-panel">
                <div class="panel-head" style='text-align: center; background-color: #3b73af; display: block;'>
                    <h3 style='color:white;'>% Disk Usage</h3>
                </div>

                <div class="panel-body" style='height:145px;margin-top:10%;'>
                    <div id="controller_disk_usage_gauge"></div>
                </div>
            </div>
        </div>        
    </div>

    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 21%;">
            <div class="dashboard-panel">
                <div class="panel-head" style='text-align: center; background-color: #3b73af; display: block;'>
                    <h3 style='color:white;'>View Log</h3>
                </div>

                <div class="panel-body" style='height:160px'>
                    <center>
                        <h5>Select Log</h5>
                        <div id="controller_log_select_dropdown"></div>
                        <h5>Select Time Range</h5>
                        </br>
                        <div id="controller_timerangeview"></div>
                    </center>
                </div>
            </div>
        </div>

        <div class="dashboard-cell" style="width: 79%">
            <div class="dashboard-panel">
                <div class="panel-head" style='text-align: center; background-color: #3b73af; display: block;'>
                    <h3 style='color:white;'>Log</h3>
                </div>

                <div class="panel-body" style=''>
                    <div id="controller_log_table"></div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content%}
{% block managers %}

    {% searchmanager
    id="openstack_hosts_search_manager"
    search="node::splunk_server source=\"hosts\"|head 1|table _raw"
    earliest_time="rt-2m"
    latest_time="rt"
    cache=False %}  

    {% searchmanager
    id="flavors_search_manager"
    search="node::splunk_server source=\"flavors\"|head 1|table _raw"
    earliest_time="rt-2m"
    latest_time="rt"
    cache=False %}  

    {% searchmanager
    id="images_search_manager"
    search="node::splunk_server source=\"images\"|head 1|table _raw"
    earliest_time="rt-2m"
    latest_time="rt"
    cache=False %} 


    {% searchmanager
    id="controller_machine_service_status_search_manager"
    search="node::$node$ service_name=* | head 100 | dedup service_name service_status| table service_name service_status | sort service_status desc | rename service_name as \"Name\", service_status as \"Status\""|token_safe
    earliest_time="rt-15m"
    latest_time="rt"
    cache=False %}  

    {% searchmanager
    id="controller_log_table_search_manager"
    search="node::$node$ sourcetype=$sourcetype$| table _raw | rename _raw as \"Log Entry\""|token_safe
    earliest_time="$earlyval$"|token_safe
    latest_time="$lateval$"|token_safe
    cache=False %}  

    {% searchmanager
    id="controller_log_select_search_manager"
    search="node::$node$ AND sourcetype=*_log  | dedup sourcetype | top 2000 sourcetype| fields sourcetype"|token_safe
    earliest_time="rt-24h@h"
    latest_time="rt"
    cache=True %} 

    {% searchmanager
    id="controller_openstack_select_search_manager"
    search="openstack::*|dedup openstack|top 100 openstack | fields openstack"
    earliest_time="rt-1h"
    latest_time="rt"
    cache=True %}

    {% searchmanager
    id="controller_node_select_search_manager"
    search="openstack::$openstack$ AND node::* AND node_type::controller| dedup node | top 250 node| fields node"|token_safe
    earliest_time="rt-1h"
    latest_time="rt"
    cache=True %}


   {% searchmanager
    id="neutron_agents_search_manager"
    search="node::splunk_server source=\"neutron-agent\"|head 1|table _raw"
    earliest_time="rt-5m"
    latest_time="rt"
    cache=False %}

    {% searchmanager
    id="networks_search_manager"
    search="node::splunk_server source=\"networks\" |head 1"
    earliest_time="rt-2m"
    latest_time="rt"
    cache=False %}

    {% searchmanager
    id="routers_search_manager"
    search="node::splunk_server source=\"routers\"|head 1|table _raw"
    earliest_time="rt-2m"
    latest_time="rt"
    cache=False %} 
{% endblock managers %}
{% block js %}
<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>

<script type="text/x-underscore-tmpl" id="controller_user_session_template" style="display:none">
    <table id="controller_user_session_table" class="table table-chrome table-striped not-wrapped-results  table-drilldown table-drilldown-cell">
        <thead class="shared-resultstable-resultstableheader">
            <tr class="">
                <th class="sorts" data-sort-key="Name">Parameter</th>
                <th class="sorts" data-sort-key="Status">Value</th>
            </tr>
        </thead>
        <tbody>
            <%
            for(var i=0, l=results.length; i<l; i++) {
                var line=results[i];
                for(var key in line) {
                    var attrName = key;
                    var attrValue = line[key];
                %>
                    <tr class="shared-resultstable-resultstablerow odd">
                    <td><%= attrName %></td>
                    <td><%= attrValue %></td>
                    </tr>
                <%
                }
            }
            %>
        </tbody>
    </table>
</script>

<script type="text/x-underscore-tmpl" id="flavors_template" style="display:none">
    <table id="flavors-session-table" class="table table-chrome table-striped not-wrapped-results  table-drilldown table-drilldown-cell">
        <thead class="shared-resultstable-resultstableheader">
            <tr class="">
                <th class="sorts" data-sort-key="Name">Name</th>
                <th class="sorts" data-sort-key="RAM">RAM</th>
                <th class="sorts" data-sort-key="VCPUs">VCPUs</th>
                <th class="sorts" data-sort-key="Disk">Disk</th>
            </tr>
        </thead>
        <tbody>
        <%
            var temp1  = results[0]['_raw'];
            temp = JSON.parse(temp1);
            for(var i=0;i < temp['flavors'].length;i++) {
                %>
                    <tr class="shared-resultstable-resultstablerow odd">
                    <td><%= temp["flavors"][i]["name"] %></td>
                    <td><%= temp["flavors"][i]["ram"] %> MB</td>
                    <td><%= temp["flavors"][i]["vcpus"] %></td>
                    <td><%= temp["flavors"][i]["disk"] %> GB</td>
                    </tr>
                <%
            }
        %>
        </tbody>
    </table>
</script>

<script type="text/x-underscore-tmpl" id="images_template" style="display:none">
    <table id="images-session-table" class="table table-chrome table-striped not-wrapped-results  table-drilldown table-drilldown-cell">
        <thead class="shared-resultstable-resultstableheader">
            <tr class="">
                <th class="sorts" data-sort-key="Name">Name</th>
                <th class="sorts" data-sort-key="Status">Status</th>
		
            </tr>
        </thead>
        <tbody>
        <%
            var temp1  = results[0]['_raw'];
            temp = JSON.parse(temp1);
            for(var i=0;i < temp['images'].length;i++) {
                %>
                    <tr class="shared-resultstable-resultstablerow odd">
                         <td><%= temp["images"][i]["name"] %></td>
                     <%
                    if(temp["images"][i]["status"] == "ACTIVE")
                    {
                     %>
                        <td class="icon-inline numeric"><center><%= temp["images"][i]["status"] %><i class="icon-check" title="ACTIVE"></i></center></td>
                    <% 
                    }
                    else
                    { %>
                     <td class="icon-inline numeric"><center><%= temp["images"][i]["status"] %><i class="icon-alert" title=<%= temp["images"][i]["status"] %>></i></center></td>
                    <% } %>
                    </tr>
                <%
            }
        %>
        </tbody>
    </table>
</script>

<script type="text/x-underscore-tmpl" id="hosts_template" style="display:none">
    <table id="hosts-session-table" class="table table-chrome table-striped not-wrapped-results  table-drilldown table-drilldown-cell">
        <thead class="shared-resultstable-resultstableheader">
            <tr class="">
                <th class="sorts" data-sort-key="Service">Service</th>
                <th class="sorts" data-sort-key="Host">Host</th>
                <th class="sorts" data-sort-key="Zone">Zone</th>
            </tr>
        </thead>
        <tbody>
        <%
            var temp1  =results[0]['_raw'];
            temp = JSON.parse(temp1);
            for(var i=0;i < temp['hosts'].length;i++) {
                %>
                    <tr class="shared-resultstable-resultstablerow odd">
                        <td><%= temp["hosts"][i]["service"] %></td>
                        <td><%= temp["hosts"][i]["host_name"] %></td>
                        <td><%= temp["hosts"][i]["zone"] %></td>
                    </tr>
                <%
            }
        %>
        </tbody>
    </table>
</script>


<script type="text/x-underscore-tmpl" id="neutron_agents_template" style="display:none">
    <table id="neutron_agents_session_table" class="table table-chrome table-striped not-wrapped-results  table-drilldown table-drilldown-cell">
        <thead class="shared-resultstable-resultstableheader">
            <tr class="">
                <th class="sorts" data-sort-key="Host">Host</th>
                <th class="sorts" data-sort-key="Agent-type">Type</th>
                <th class="sorts" data-sort-key="Alive?">Alive?</th>
            </tr>
        </thead>
        <tbody>
        <%
            var temp1  = results[0]['_raw'];
            temp = JSON.parse(temp1);
            for(var i=0;i < temp['agents'].length;i++) {
                %>
                    <tr class="shared-resultstable-resultstablerow odd">
                        <td><%= temp["agents"][i]["host"] %></td>
                        <td><%= temp["agents"][i]["agent_type"] %></td>
                    <% if(temp["agents"][i]["alive"] == true)
                    {
                     %>
                        <td class="icon-inline numeric"><center><%= temp["agents"][i]["alive"] %><i class="icon-check" title="true"></i></center></td>
                    <% 
                    }
                    else
                    { %>
                     <td class="icon-inline numeric"><center><%= temp["agents"][i]["alive"] %><i class="icon-alert" title="false"></i></center></td>
                    <% } %>
                    </tr>
                <%
            }
            %>
        </tbody>
    </table>
</script>

<script type="text/x-underscore-tmpl" id="networks_template" style="display:none">
    <table id="networks_table" class="table table-chrome table-striped not-wrapped-results  table-drilldown table-drilldown-cell">
        <thead class="shared-resultstable-resultstableheader">
            <tr class="">
                <th class="sorts" data-sort-key="Name">Name</th>
            </tr>
        </thead>
        <tbody>
        <%
            var temp1  = results[0]['_raw'];
            temp = JSON.parse(temp1);
            for(var i=0;i < temp['networks'].length;i++) {
                %>
                    <tr class="shared-resultstable-resultstablerow odd">
                    <td><%= temp["networks"][i]["label"] %></td>
                    </tr>
                <%
            }
        %>
        </tbody>
    </table>
</script>

<script type="text/x-underscore-tmpl" id="routers_template" style="display:none">
    <table id="routers_agents_table" class="table table-chrome table-striped not-wrapped-results  table-drilldown table-drilldown-cell">
        <thead class="shared-resultstable-resultstableheader">
            <tr class="">
                <th class="sorts" data-sort-key="Name">Name</th>
                <th class="sorts" data-sort-key="Status">Status</th>
            </tr>
        </thead>
        <tbody>
        <%
            var temp1  = results[0]['_raw'];
            temp = JSON.parse(temp1);
            for(var i=0;i < temp['routers'].length;i++) {
                %>
                <tr class="shared-resultstable-resultstablerow odd">
                    <td><%= temp["routers"][i]["name"] %></td>
                <% if(temp["routers"][i]["status"] == "ACTIVE")
                {
                    %>
                    <td class="icon-inline numeric"><center><%= temp["routers"][i]["status"] %><i class="icon-check" title="ACTIVE"></i></center></td>
                <% 
                }
                else
                { %>
                    <td class="icon-inline numeric"><center><%= temp["routers"][i]["status"] %><i class="icon-alert" title="INACTIVE"></i></center></td>
                <% } %>
                </tr>
                <%
            }
            %>
        </tbody>
    </table>
</script>


<script>
    var deps = [
    "splunkjs/ready!",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/chartview",
    "splunkjs/mvc/tableview",
    "splunkjs/mvc/dropdownview",
    "splunkjs/mvc/timerangeview",
    "underscore",
    "splunkjs/mvc/dataview",
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "jquery"
    ];
    require(deps, function(mvc) {
        var ChartView = require("splunkjs/mvc/chartview");
        var TableView = require("splunkjs/mvc/tableview");
        var DropdownView = require("splunkjs/mvc/dropdownview");
        var TimeRangeView = require("splunkjs/mvc/timerangeview");
        var DataView = require("splunkjs/mvc/dataview");
        var _ = require("underscore");

        

        new TableView({
            id: "controller_log_table_view",
            managerid: "controller_log_table_search_manager",
            type: "table",
            pageSize: "10",
            el: $("#controller_log_table")
        }).render();

        new DropdownView({
            id: "controller_log_select_dropdown_view",
            managerid: "controller_log_select_search_manager",
            value: mvc.tokenSafe("$sourcetype$"),
            labelField: "sourcetype",
            valueField: "sourcetype",
            selectFirstChoice: "true",
            el: $("#controller_log_select_dropdown")
        }).render();

        new TimeRangeView({
            id: "controller-example-timerange",
            preset: "Today",
            earliest_time: mvc.tokenSafe("$earlyval$"),
            latest_time: mvc.tokenSafe("$lateval$"),
            el: $("#controller_timerangeview")
        }).render();

        new DataView({
            id: "vm_flavors_table_view",
            managerid:"flavors_search_manager",
            template:$('#flavors_template').html(),
            el: $('#vm_flavors_table')
        }, {tokens: true}).render();

        new DataView({
            id: "os_images_table_view",
            managerid: "images_search_manager",
            template: $('#images_template').html(),
            el: $('#os_images_table')
            }, {tokens: true}).render();

        new DataView({
            id: "hosts_table_view",
            managerid: "openstack_hosts_search_manager",
            template: $('#hosts_template').html(),
            el: $('#nova_hosts_table')
            }, {tokens: true}).render();

        new DropdownView({
            id: "controller_openstack_select_dropdown_view",
            managerid: "controller_openstack_select_search_manager",
            value: mvc.tokenSafe("$openstack$"),
            labelField: "openstack",
            valueField: "openstack",
            selectFirstChoice: "true",
            el: $("#controller_openstack_select_dropdown")
        }).render();

        new DropdownView({
            id: "controller_node_select_dropdown_view",
            managerid: "controller_node_select_search_manager",
            value: mvc.tokenSafe("$node$"),
            labelField: "node",
            valueField: "node",
            selectFirstChoice: "true",
            el: $("#controller_node_select_dropdown")
        }).render();


	 new DataView({
            id: "routers_table_view",
            managerid: "routers_search_manager",
            template: $('#routers_template').html(),
            el: $('#routers_table')
            }, {tokens: true}).render();

	 new DataView({
            id: "networks_table_view",
            managerid: "networks_search_manager",
            template: $('#networks_template').html(),
            el: $('#networks_table')
            }, {tokens: true}).render();
	
	 new DataView({
            id: "agents_table_view",
            managerid: "neutron_agents_search_manager",
            template: $('#neutron_agents_template').html(),
            el: $('#neutron_agents_table')
            }, {tokens: true}).render();

        var myCustomTable = new TableView({
            id: "controller_table_custom_service_status_view",
            managerid: "controller_machine_service_status_search_manager",
            pageSize: 4,
            el: $("#controller_table_custom_service_status_table"),
            format: {
                "sparkline": [ 
                {
                        "type": "sparkline", 
                        "options": 
                        {
                            "type": "bar",
                            "height": "40px", 
                            "barWidth": "5px",
                            "colorMap": 
                            {
                                "100:": "#0033CC", 
                                ":99": "#00FF00"
                            }
                        }
                    }
                    ]
                }
            });
        var ICONS = {
            stopped: 'alert-circle',
            running: 'check-circle'
        };
        var CustomIconCellRenderer = TableView.BaseCellRenderer.extend({ 
            canRender: function(cellData) {
                return cellData.field === "Status";
                console.log(cellData.field === "Status")

            },
            
            render: function($td, cellData) {
                console.log("cellData: ");
                console.log("cellData: ", cellData);

                var icon = 'question';
                if(ICONS.hasOwnProperty(cellData.value)) {
                    icon = ICONS[cellData.value];
                }
                $td.addClass('icon').html(_.template('<%- Status %> <i class="icon-<%-icon%> <%- Status %>" title="<%- Status %>"></i>', {
                    icon: icon,
                    Status: cellData.value
                }));
            }
        });
        var myCellRenderer = new CustomIconCellRenderer();
        myCustomTable.addCellRenderer(myCellRenderer); 
        myCustomTable.render();
});
</script>


<script type="text/javascript">

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/layoutview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simplexml/element/visualization",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel",
     "splunkjs/mvc/dataview",
     "splunkjs/mvc/chartview",
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/tokenforwarder"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        LayoutView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        VisualizationElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel,
	DataView,
	ChartView
        ) {

        var pageLoading = true;


   	new SearchManager({
            "id": "system_status_search_manager",
            "sample_ratio": null,
            "status_buckets": 0,
            "earliest_time": "rt-5m",
            "search": "node::$node$ source=system_status|head 1|fields *",
            "cancelOnUnload": true,
            "latest_time": "rt",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true});


         new PostProcessManager({
            "id": "controller_ram_usage_search_manager",
	    "managerid": "system_status_search_manager",
            "sample_ratio": null,
            "status_buckets": 0,
            "earliest_time": "rt-5m",
            "search": "|search used_ram_perc|fields used_ram_perc | table used_ram_perc",
            "cancelOnUnload": true,
            "latest_time": "rt",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true});



	new PostProcessManager({
            "id": "controller_cpu_usage_search_manager",
	    "managerid": "system_status_search_manager",
            "sample_ratio": null,
            "status_buckets": 0,
            "earliest_time": "rt-5m",
            "search": "|search used_cpu|fields used_cpu",
            "cancelOnUnload": true,
            "latest_time": "rt",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true});

	new PostProcessManager({
            "id": "controller_disk_usage_search_manager",
	    "managerid": "system_status_search_manager",
            "sample_ratio": null,
            "status_buckets": 0,
            "earliest_time": "rt-5m",
            "search": "|search used_disk_perc|fields used_disk_perc |table used_disk_perc",
            "cancelOnUnload": true,
            "latest_time": "rt",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true});

       

	  new PostProcessManager({
            "id": "machine_load_search_manager",
	    "managerid": "system_status_search_manager",
            "sample_ratio": null,
            "status_buckets": 0,
            "earliest_time": "rt-5m",
            "search": "|search uptime users load0 load1 load2|table uptime users load0 load1 load2",
            "cancelOnUnload": true,
            "latest_time": "rt",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true});



       new DataView({
        "id": "controller_machine_load_view",
        "managerid": "machine_load_search_manager",
        "template": $('#controller_user_session_template').html(),
        "el": $('#controller_user_session_details_table')
        }, {tokens: true}).render();


	new ChartElement({
            "id": "controller_ram_usage_gauge_view",
            "resizable": true,
            "charting.chart": "radialGauge",
            "managerid": "controller_ram_usage_search_manager",
	    "charting.chart.style":"minimal",
            "el": $('#controller_ram_usage_gauge')
        }, {tokens: true}).render();


	 new ChartElement({
            "id": "controller_cpu_usage_gauge_view",
            "resizable": true,
            "charting.chart": "radialGauge",
            "managerid": "controller_cpu_usage_search_manager",
	    "charting.chart.style":"minimal",
            "el": $('#controller_cpu_usage_gauge')
        }, {tokens: true}).render();

 	new ChartElement({
            "id": "controller_disk_usage_gauge_view",
            "resizable": true,
            "charting.chart": "radialGauge",
            "managerid": "controller_disk_usage_search_manager",
	    "charting.chart.style":"minimal",
            "el": $('#controller_disk_usage_gauge')
        }, {tokens: true}).render();




        DashboardController.ready();
        pageLoading = false;

    }
);

</script>


{# JavaScript goes here #}
{% endblock js %}
