#infoContainer {
    clear: both;
    padding: 2px 20px;
}

/* header customizations */
.appLogoContainer {
	padding-top:0px;
	height: 54px;	
}

div.AccountBar {
    padding: 0 0 0 0px;
}

.appLogo {
	height: 55px; 
	width: 300px;
	background: url(appLogo.png) no-repeat;
}

.appHeaderWrapper {
	background: #333333;
}
.splMenu ul {
border-width: 1px;
border-top-width: 0px;
border-style: solid;
}

.navigationHeader {

}

.appHeaderWrapper a {
  color: #FFFFFF;
}

.appHeader {
	background-color: #FFFFFF;
    border-top-style: solid;
    border-top-width: 0px;
    border-right-style: solid;
    border-right-width: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 0px;
	height: 55px;	
}

.viewHeader {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #FFFFFF;
    border-right-style: solid;
    border-right-width: 0px;
    border-right-color: #FF1602;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom-color: #FF1602;
    border-left-style: solid;
    border-left-width: 0px;
    border-left-color: #FF1602;
	background-color: #edede7;
}

.AccountBar ul.accountBarItems li.accountDivider {
  margin: 0 6px 0 1px;
  padding: 0;
  color:#96967C;
}

.splMenu-secondary, .splMenu-secondary a {
  color:#000000;
}

.splMenu-secondary, .splMenu-secondary a:hover {
  color:#000000;
}

.splMenu-secondary li:hover {
    background-color: #F3ECBB;
}

.splMenu-secondary ul {
  background-color: #FFFFFF;
  border-color: #CCCCCC;
}

.splDivider {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
}

.splIcon-triangle-3-s { background-position: -27px -367px; }

.AccountBar ul.accountBarItems {
	float: right;
	margin: 3px 5px 0 0;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FF1602), to(#B61101));
    background:-moz-linear-gradient(#FF1602, #B61101);
    background:-o-linear-gradient(#FF1602, #B61101);
    background:linear-gradient(#FF1602, #B61101);
	background-color: #FF1602;
	padding-left:7px;
	-webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #C11001;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #FF1602;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #FF1602;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #C11001;
}


a {
    color: #777777;
}

.SimpleResultsTable table.enableMouseover tr td.d {
    color: #777777;
    cursor: pointer;
}

.splHeader-dashboard h2, .dashboardContent .ServerSideInclude h2, .dashboardContent .GenericHeader h3 {
  background-color: transparent;
  color: #777777;
  font-size: 12px;
  font-weight: bold;
}

.appHeaderWrapper h1 {
	color: #A53800;
	line-height: 43px;
	padding-top:0px;
	font-size: 35px
	font-family:"Trebuchet MS";
	visibility:hidden;
}

ul.appBarNav {
	list-style: none none;
	margin: 0;
	height:29px;
	float:left;
}

.AppBar .auxLinks {
	float: right;
	margin-right: 10px;
	font-size: 11px;
}

ul.appBarNav li {
	list-style: none none;
/*	background:-webkit-gradient(linear, 0 0, 0 100%, from(#00A9C2), to(#005765));
        background:-moz-linear-gradient(#00A9C2, #005765);
        background:-o-linear-gradient(#00A9C2, #005765);
        background:linear-gradient(#00A9C2, #005765);
	background-color: #005765; */
	float: left;
}

ul.appBarNav li a {
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

.appHeaderWrapper a.help {
    background: url("icon-help-12.png") no-repeat scroll left center transparent;
    display: block;
    float: left;
    padding-left: 16px;
}

.AppBar .auxLinks span {
    padding: 0 6px;
    color:#96967C;
}

.splHeader-navigation {

	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FF1602), to(#B61101));
    background:-moz-linear-gradient(#FF1602, #B61101);
    background:-o-linear-gradient(#FF1602, #B61101);
    background:linear-gradient(#FF1602, #B61101);
	background-color: #FF1602;


	background-repeat:repeat-x;
	list-style: none none;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color:#eaecde;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C7CABF;
#	background:-webkit-gradient(linear, 0 0, 0 100%, from(#C8CFC6), to(#EEEFE0)); 
#	background:-moz-linear-gradient(#C8CFC6, #EEEFE0); 
#	background:-o-linear-gradient(#C8CFC6, #EEEFE0); 
#	background:linear-gradient(#C8CFC6, #EEEFE0); 
#	background-color: #51a0ae;
}

.splHeader-primary {
  border-top-style: solid;
  border-top-width: 0px;
  border-top-color: #FFF;
}

.splHeader {
    height: 27px;
    line-height: 28px;
}

h1 {
	font-size: 18px;
	font-weight: normal;
	color: #5ba4b2;
	font-family:"Trebuchet MS";
}

/* end header */
/* begin search bar */

.TitleBar .splHeader, .FieldPickerPopup .splHeader-primary {
    background-color: #EAECDE;
    background-image: none;
}

.splView-flashtimeline .ResultsHeader .splHeader-primary {
    background: url("overlay_topgradient_32.png") repeat-x scroll 0 0 #EAECDE;
    border-color: #A4A4A4;
    padding-top: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #A4A4A4;
}

.DisableRequiredFieldsButton {
    background: url("overlay_topgradient_32.png") repeat-x scroll 0 0 #EAECDE;
}

.splBackground-secondary, .sidebarExpanded {
    background-color: #EAECDE;
}

.SearchBar .searchFieldWrapperInner {
    border-color: #CCCCCC;
}

.FieldPickerPopup .fpFieldList tbody tr:hover .fpFieldListSecond a, .FieldPickerPopup .fpFieldList tbody tr.mouseoverHighlight .fpFieldListSecond a {
    background: url("graph_icon.png") no-repeat scroll right center transparent;
}
table .SearchBar .searchFieldWrapper {
}
table.mainSearchControlsTable .SearchBar .searchFieldWrapper {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("search_bar.png") repeat scroll 0 0 #EBECDD;
    border-bottom-right-radius: 0;
    border-color: #979797;
    border-image: none;
    border-style: solid;
    border-top-right-radius: 0;
    border-width: 1px 0 1px 1px;
    padding-top: 0.5px;
}

.SearchBar label {
    color: #BBBBBB;
}
.SearchBar .assistantActivator {
    background-color: #C5C5B9;
    background-image: url("overlay_gradient_28.png");
    background-repeat: repeat-x;
}
.SearchBar .assistantEnabled span.assistantAutoOpener {
    color: #FFFFFF;
}
.SearchBar .assistantEnabled span.saHandle {
    background: url("bg_resizer_white.png") no-repeat scroll center center transparent;
}
.SearchBar h4 {
    color: #EBECDD;
}
.sakeywordCount {
    background-color: #FFFFFF;
    color: #333333;
}
.saKeywordSelected {
    background-color: #F5E998;
}
.saKeywordSelected .sakeywordCount {
    background-color: #F5E998;
}
.sakeyword:hover {
    background-color: #EDEDE7;
}
.sakeyword:hover .sakeywordCount {
    background-color: #EDEDE7;
}
.splSearchControls-inline {
    background-position: center bottom;
    background-repeat: repeat-x;
}
.SearchBar .assistantWrapperEnabled {
    border-top: 1px solid #979797;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);
}
.SearchBar .assistantInner {
    background: url("bg_search_assistant.png") repeat-y scroll left top #EDEDE7;
}
.SearchBar .assistantInnerHelpOnly {
    background-color: #EDEDE7;
    background-image: none;
}
.SearchBar .assTab .splIcon {
    background-color: transparent;
    background-position: 0 -582px;
}
.SearchBar .assistantWrapperEnabled .assTab .splIcon {
    background-position: 0 -562px;
}
.SearchBar .saHelpWrapper {
    border-left-color: #FFFFFF;
}
.SearchBar .sakeyword em {
    color: #046A89;
    font-style: normal;
    font-weight: bold;
}
.SearchBar .saNotice {
    background-color: #F5E998;
    border-color: #CCCCCC !important;
}
.SearchBar .error {
    background-color: #F5E998;
    background-image: none;
    border-color: #CCCCCC !important;
    color: #990000;
}
.introstep {
    color: #333333;
}
.intro code {
    color: #9B9A93;
}
.SearchBar .intro ul li {
    list-style-type: disc;
}
.splView-flashtimeline .JobStatus {
    background: url("overlay_bottomgradient_32.png") repeat-x scroll left bottom #EAECDE;
    border-bottom-color: #A4A4A4;
}
.splView-flashtimeline .ChartTypeFormatter {
    border-bottom: 1px solid #CCCCCC;
}
.splView-flashtimeline .ShowHideHeader div.secondary h2 {
    font-size: 12px;
}
.splView-flashtimeline .ShowHideHeader {
    border-top-width: 2px;
}
div.splSearchFormatChart-tabs ul li.selected .linkSwitcherSelectedIcon {
    background: url("splIcons.gif") no-repeat scroll -68px -346px transparent;
}
.TimeRangePicker .timeRangeActivatorWrapper {
    background-color: #D5D5D1;
    background-image: url("overlay_topgradient_white.png");
    background-repeat: repeat-x;
    border-radius: 5px 5px 5px 5px;
}
table.mainSearchControlsTable .TimeRangePicker .timeRangeActivator {
    padding-top: 3px;
}

table.mainSearchControlsTable .TimeRangePicker .timeRangeActivatorWrapper {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("search_bar.png") repeat scroll 0 0 #EBECDD;
    border-color: #979797;
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    color: #777777;
    font-size: 12px;
    height: 26.5px;
} 

.mainSearchControlsTable .timeRangeActivatorWrapper {
}
.mainSearchControlsTable .dropDown {
}
* + html .mainSearchControlsTable .SubmitButton fieldset {
    border: 1px solid #84181D;
}
* + html .mainSearchControlsTable .SubmitButton input {
    border: 0 none;
    height: 26px;
    width: 42px;
}
* + html .mainSearchControlsTable .timeRangeActivator {
    min-width: 100px;
}
table.mainSearchControlsTable .TimeRangePicker .timeRangeActivatorWrapper:hover, table.mainSearchControlsTable .TimeRangePicker .timeRangeActivatorWrapper:focus {
    background-color: #D7D8CB;
    text-decoration: none;
}
table.mainSearchControlsTable .TimeRangePicker .timeRangeActivatorWrapper .dropDown {
    background-position: -27px -367px;
    margin-top: 11px;
}
/*.trpCustomDateTime .rangeType {
    border-bottom: 1px solid #CCCCCC;
}
.trpCustomDateTime input.disabled {
    background-color: #DDDDDD;
    border-color: #DDDDDD;
    color: #666666;
}
.trpCustomDateTime .earliestDateTime, .trpCustomDateTime .latestDateTime {
    border: 1px solid #CCCCCC;
}
.trpCustomDateTime .dateTimeDisabled {
    background-color: #F4F4F1;
    border-color: #F4F4F1;
    color: #666666;
}
.trpCustomDateTime .dateTimeDisabled input {
    background: none repeat scroll 0 0 transparent;
}
.trpCustomDateTime input.customDate {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
.trpCustomDateTime div.outputString {
    background-color: #F4F4F1;
    border: 1px solid #F4F4F1;
    color: #333333;
}
.report_builder_format_report .viewHeader {
    border: 0 none;
}
.report_builder_format_report .JobStatus {
    border: 0 none;
}
.ShowHideHeader {
    border-top-style: solid;
    border-top-width: 1px;
}
.splView-charting .ResultsHeader .splHeader-primary {
    background-image: none;
}
.ButtonSwitcher ul li.selected .splIcon-events-list {
    background-position: 0 -740px;
}
.ButtonSwitcher ul li.selected .splIcon-events-table {
    background-position: 0 -760px;
}
.ButtonSwitcher ul li.selected .splIcon-results-table {
    background-position: 0 -780px;
}
.ButtonSwitcher ul li.selected .splIcon-results-chart {
    background-position: 0 -800px;
}
.ButtonSwitcher ul li.disabled .splIcon-events-list {
    background-position: -13px -740px;
}
.ButtonSwitcher ul li.disabled .splIcon-events-table {
    background-position: -13px -760px;
}
.ButtonSwitcher ul li.disabled .splIcon-results-table {
    background-position: -13px -780px;
}
.ButtonSwitcher ul li.disabled .splIcon-results-chart {
    background-position: -13px -800px;
}
.ButtonSwitcher ul li.disabled a * {
}
.ButtonSwitcher ul li {
    border-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
}
.ButtonSwitcher ul li.selected, .ButtonSwitcher ul li.selected:hover {
    background-color: #999999;
    box-shadow: 1px 1px 1px 0 #333333 inset;
}
.LinkSwitcher a {
    font-size: 12px;
}
.LinkSwitcher ul li.selected a {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}
.ShowHideHeader div.secondary {
    background-image: none;
}
.ShowHideHeader h2 span.splIcon-triangle {
    background-position: -67px -367px;
}
.ShowHideHeader div.secondary h2 {
    font-size: 11px;
    font-weight: normal;
}
.ShowHideHeader div.secondary h2 span.splIcon-triangle {
    background-position: -87px -367px;
}
.ShowHideHeader div.secondary h2:hover {
    text-decoration: underline;
}
.ShowHideHeader h2.closed span.splIcon-triangle {
    background-position: -67px -407px;
}
.ShowHideHeader div.secondary h2.closed span.splIcon-triangle {
    background-position: -87px -407px;
}
.TabSwitcher {
    background-color: #BDBDB7;
}
.TabSwitcher ul li {
    background: url("tab_switcher_rounded_corners.gif") no-repeat scroll 0 -68px #666666;
}
.TabSwitcher ul li a {
    background: url("tab_switcher_rounded_corners.gif") no-repeat scroll right -102px #666666;
    color: #FFFFFF;
    font-size: 12px;
}
.TabSwitcher ul li.selected {
    background: url("tab_switcher_rounded_corners.gif") no-repeat scroll 0 0 #FFFFFF;
}
.TabSwitcher ul li.selected a {
    background: url("tab_switcher_rounded_corners.gif") no-repeat scroll right -34px #FFFFFF;
    color: #333333;
}*/

#loading {
    background-color: #EBECDD;
    color: #FFFFFF;
}
#loadingmessage {
    background: url("loading_white.gif") no-repeat scroll 0 0 transparent;
    font-size: 18px;
}
.popupLoading {
    background: url("loading_white.gif") no-repeat scroll 0 20px transparent;
    font-size: 18px;
}
.mouseoverHighlight, .mouseoverHighlight td {
    background-color: #F5E998;
}
.searchFieldGhost {
    border-color: #333333;
}
.widgeterror {
    color: red;
    font-weight: bold;
}
.resultStatusMessage {
    color: #666666;
}
.splBarGraph {
    background: none repeat scroll 0 0 #EDEDE7;
}
.splBarGraphBar {
    background: url("overlay_gradient_28.png") repeat-x scroll 0 0 #EBECDD;
}
.splBarGraphValue {
}
.graphLoading {
    padding-bottom: 5px;
}
.popupContainer {
    border-color: #666666;
    box-shadow: 0 0 8px #222222;
    z-index: 10000;
}
.schedulePdfPopup .popupContent iframe {
    border: medium none;
}
.wizardPopup .popupContent iframe {
    border: medium none;
    display: block;
    width: 400px;
}
.wideTreeviewPopup .popupContent iframe {
    border: medium none;
    display: block;
    height: 433px;
    width: 700px;
}
.panelEditorPopup .popupContent iframe {
    border: medium none;
    display: block;
    width: 340px;
}
.panelEditorPopup .popupContent {
    min-width: 340px;
}
.fieldValuePopup {
    border: medium none;
    box-shadow: none;
}
.fieldValuePopup .fieldValuePopupInner {
    background-image: url("bg_reversegradient_28.png");
    border: 1px solid #CCCCCC;
}
.fieldLayers .popupContainer {
    border-color: #CCCCCC;
}
.pdfPopup {
    background: none repeat scroll 0 0 #FFFFFF;
}
.splHeader-popup {
    background: url("overlay_gradient_28.png") repeat-x scroll 0 0 #000000;
}
.splHeader-popup h2 {
    color: #FFFFFF;
    font-size: 14px;
}
.splHeader-popup, .splHeader-popup h2 {
    cursor: move;
}
.popupContent .popup-loading {
    background: url("loading_white.gif") no-repeat scroll center center #FFFFFF;
    direction: ltr;
    height: 100%;
    position: absolute;
    text-indent: -1000em;
    top: 0;
    width: 100%;
}
.popupContent {
    background-color: #FFFFFF;
    position: relative;
}
.popupContent .error, .wizard .error {
    background: none repeat scroll 0 0 #AF4444;
    border-radius: 4px 4px 4px 4px;
    font-size: 12px;
    margin: 10px 10px 0;
}
.popupFooter {
    background: url("overlay_topInnerShadow_35.png") repeat-x scroll 0 0 #EDEDE7;
}
.fieldValuePopup h3 em {
    font-size: 11px;
}
.fieldValuePopup table th.fieldName {
    font-weight: normal;
}
.fieldValuePopup table tr:first-child th.fieldName {
    font-weight: bold;
}
.fieldValuePopup table td, .fieldValuePopup table th {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    color: #333333;
}
.fieldValuePopup table tr.fieldNameHeaderRow th {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.fieldValuePopup table tr.fieldNameHeaderRow td {
    border-bottom: medium none;
    color: #000000;
    font-weight: bold;
}
.fieldValuePopup p.reportLinks, .fieldValuePopup div.reportLinks {
    border-radius: 4px 4px 4px 4px;
}
.wizard .scheduledView .error, .wizard .scheduledView .info {
    margin: 0 0 10px;
}
.wizard .scheduledView .disabled {
    cursor: not-allowed;
}
.splOverlay, .splOverlay-white {
    background-color: #000000;
    opacity: 0.7;
}
.splOverlay-white {
    background-color: #FFFFFF;
}
.splShadow {
    background: url("shadow_soft.png") no-repeat scroll right bottom transparent;
    border-bottom-left-radius: 17px;
    border-top-right-radius: 17px;
}
.splButton-primary, .splButton-secondary, .splButton-tertiary {
    background: url("overlay_gloss_28.png") repeat-x scroll left -3px #EBECDD;
    border: 1px solid #5E8D3D;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
button.splButton-primary span, button.splButton-secondary span, button.splButton-tertiary span {
    line-height: 21px;
}
.splButton-primary {
    background: url("search_bar.png") repeat scroll 0 0 #C5C5B9;
    border: 1px solid #979797;
    color: #777777;
}
.splButton-secondary {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    color: #333333;
}
.splButton-tertiary {
    background-color: #C6C8BF;
    border: 1px solid #949791;
    color: #FFFFFF;
}
.splButton-primary:hover, .splButton-primary:focus {
    background-color: #9B9A93;
    outline: medium none;
}
.splButton-secondary:hover, .splButton-secondary:focus {
    background-color: #F3F3F3;
    border-color: #AAAAAA;
    outline: medium none;
}
.splButton-tertiary:hover, .splButton-tertiary:focus {
    background-color: #B0B6AE;
    outline: medium none;
}
.splButton-disabled, .splButton-disabled:hover, .splButton-disabled:focus {
    background: none repeat scroll 0 0 #BBBBBB;
    border-color: #999999;
    color: #999999;
}
.splButton-disabled .splButtonIcon {
    opacity: 0.5;
}
.splButton-primary span.splMenuIcon, .splButton-tertiary span.splMenuIcon {
    background-position: 0 -300px;
}
.splButtonGroup .splButton-primary, .splButtonGroup .splButton-secondary, .splButtonGroup .splButton-tertiary {
    border-left-color: #6E745C;
    border-radius: 0 0 0 0;
    margin: 0;
}
.splButtonGroup .splButton-secondary {
    border-left-color: #DDDDDD;
}
.splButtonGroup .splButton-tertiary {
    border-left-color: #DCE2DB;
}
.splButtonGroup .splButton-disabled {
    border-left-color: #BBBBBB;
    cursor: not-allowed;
}
.splButtonGroup .splButton-primary:first-child, .splButtonGroup .splButton-secondary:first-child, .splButtonGroup .splButton-tertiary:first-child {
    border-bottom-left-radius: 4px;
    border-left-color: #5E8D3D;
    border-top-left-radius: 4px;
}
.splButtonGroup .splButton-secondary:first-child {
    border-left-color: #CCCCCC;
}
.splButtonGroup .splButton-tertiary:first-child {
    border-left-color: #949791;
}
.splButtonGroup .splButton-disabled:first-child {
    border-left-color: #999999;
}
.splButtonGroup .splButton-primary:last-child, .splButtonGroup .splButton-secondary:last-child, .splButtonGroup .splButton-tertiary:last-child {
    border-bottom-right-radius: 4px;
    border-right-width: 1px;
    border-top-right-radius: 4px;
}
.splIconicLinkIcon, .splButtonIcon, span.splMenuIcon {
    background-image: url("sprite_button_icons.png");
    background-position: 0 0;
}
.splIconicLinkIcon {
    margin-top: 2px;
}
.splIconicLinkLabel {
    font-size: 11px;
}
.splIconicLinkDisabled {
    background-image: none;
    color: #999999;
}
.splIconicLinkDisabled .splIconicLinkIcon {
    border-radius: 3px 3px 3px 3px;
    color: #999999;
    opacity: 0.45;
}
.splIcon-export {
    background-position: -26px -660px;
}
.splIconicLinkDisabled .splIcon-export {
    background-position: -13px -660px;
}
.splIcon-options {
    background-position: -26px -680px;
}
input.searchButton {
    background-color: #EBECDD;
    background-image: url("search_button.png");
    background-position: right center;
    border: 1px solid #979797;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
}
input.searchButton:hover, input.searchButton:focus {
    background-color: #D7D8CB;
}
table.mainSearchControlsTable input.searchButton {
    border-bottom-left-radius: 0;
    border-left-color: #F2F2F2;
    border-top-left-radius: 0;
    height: 28.5px;
}
.splButtonWrapper {
    border-top-style: solid;
    border-top-width: 1px;
}
.splIcon {
    /*background-color: #999999;*/
    background-image: url("splIcons.gif");
}
.spl-icon-external-link-xsm {
    background: url("icon-external-xsm.png") no-repeat scroll 0 50% transparent;
    display: inline-block;
    font-style: normal;
    margin-left: 5px;
    padding-left: 15px;
}
.spl-icon-external-link-xsm.inline-icon {
    margin-left: 0;
}
.splIcon-sidebar-open .splIconicLinkIcon {
    background-position: -26px -320px;
}
.splIcon-sidebar-closed .splIconicLinkIcon {
    background-position: -26px -340px;
}
div.FlashTimeline a.linLogToggle {
    color: #000000;
}
div.FlashTimeline a.linLogToggle:focus {
    background-color: #CCCCCC;
}
div.FlashTimeline a.linLogToggle .splIcon-triangle-4-s {
    background-position: -67px -367px;
}
.splIcon-clear {
    background-position: 0 0;
    border-radius: 5px 5px 5px 5px;
}
html > body .splIcon-clear, x:-moz-any-link, x:default {
}
.splIcon-clear:hover {
    background-position: -20px 0;
}
.splIcon-close {
    background-position: 0 0;
}
.splIcon-close:hover {
    background-position: -20px 0;
}
.splIcon-arrow-n, .splIcon-arrow-e, .splIcon-arrow-s, .splIcon-arrow-w {
    background-color: #999999;
    border-radius: 5px 5px 5px 5px;
}
html > body .splIcon-arrow-n, html > body .splIcon-arrow-s, html > body .splIcon-arrow-e, html > body .splIcon-arrow-w, x:-moz-any-link, x:default {
}
.splIcon-arrow-n {
    background-position: 0 -100px;
}
.splIcon-arrow-e {
    background-position: 0 -140px;
}
.splIcon-arrow-s {
    background-position: 0 -120px;
}
.splIcon-arrow-w {
    background-position: 0 -160px;
}
.splIcon-arrow-n:hover {
    background-position: -20px -100px;
}
.splIcon-arrow-e:hover {
    background-position: -20px -140px;
}
.splIcon-arrow-s:hover {
    background-position: -20px -120px;
}
.splIcon-arrow-w:hover {
    background-position: -20px -160px;
}
.splIcon-events-list, .splIcon-events-table, .splIcon-results-table, .splIcon-results-chart {
    background-image: url("sprite_button_icons.png");
}
.splIcon-events-list {
    background-position: -26px -740px;
}
.splIcon-events-table {
    background-position: -26px -760px;
}
.splIcon-results-table {
    background-position: -26px -780px;
}
.splIcon-results-chart {
    background-position: -26px -800px;
}
.splIcon-events-list:hover {
    background-position: -39px -740px;
}
.splIcon-events-table:hover {
    background-position: -39px -760px;
}
.splIcon-results-table:hover {
    background-position: -39px -780px;
}
.splIcon-results-chart:hover {
    background-position: -39px -800px;
}


#splunkLogo {
    background: url("logo-mrsparkle.png") no-repeat scroll 65px 60px #FFFFFF;
    float: left;
    height: 200px;
    padding: 0;
    width: 368px;
}


table.IssuesTable th{
	font-size: 14pt; 
}

table.IssuesTable td{
	font-size: 11pt; 
}

table.GlossaryTable th{
	font-size: 24pt; 
}

table.GlossaryTable td{
	font-size: 14pt; 
}