certifi==2021.5.30; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
charset-normalizer==2.0.3; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
configparser==5.0.2; python_version >= "3.6"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
future==0.18.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.3.0"
httplib2==0.19.1
idna==3.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
pyparsing==2.4.7; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.3.0"
requests==2.26.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
solnlib==4.2.0; python_version >= "3.7" and python_version < "4.0"
sortedcontainers==2.4.0
splunk-sdk==1.6.16; python_version >= "3.7" and python_version < "4.0"
splunktalib==2.1.0; python_version >= "3.7" and python_version < "4.0"
splunktaucclib==5.0.2; python_version >= "3.7" and python_version < "4.0"
urllib3==1.26.6; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
