@font-face {
    font-family: ProximaNova;
    src: url('font/ProximaNova-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ProximaNovaBold;
    src: url('font/ProximaNova-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

body,
.dashboard-body {
    background: #FFFFFF !important;
}

/*
h3 {
    font-size: 26px;
    font-weight: normal;
    text-align: center;
}

.single-value .single-result {
    font-size: 33px !important;
}

div {
    font-family: ProximaNovaBold;
}

.navbar .navbar-inner {
    font-family: ProximaNova;
}

.app-bar .nav-pills,
.lite-bar .nav-pills {
    font-family: ProximaNova;
}

.shared-footer {
    font-family: ProximaNova;
}
*/

