{% extends "splunkdj:base_with_account_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Main Page{% endblock title %}


{% block css %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/bower_components/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/bower_components/codemirror/lib/codemirror.css" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/bower_components/codemirror/theme/monokai.css" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/bower_components/jquery-ui-layout/source/stable/layout-default.css" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/css/main.css" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/js/inspector-json/inspector-json.css" />
  
  <script type="text/javascript" src="{{STATIC_URL}}{{app_name}}/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}{{app_name}}/bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}{{app_name}}/bower_components/jquery-ui-layout/source/stable/jquery.layout.min.js"></script>
  
  <script type="text/javascript" src="{{STATIC_URL}}{{app_name}}/bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>
  
  <script type="text/javascript" src="{{STATIC_URL}}{{app_name}}/bower_components/d3/d3.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}{{app_name}}/bower_components/lodash/dist/lodash.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}{{app_name}}/bower_components/graphlib/dist/graphlib.core.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}{{app_name}}/bower_components/dagre/dist/dagre.core.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}{{app_name}}/bower_components/dagre-d3/dist/dagre-d3.core.js"></script>
  
  

{% endblock css %}


{% block content %}
<div id="everything">
  <div class="outer-west">
      <div id="pipeline-diagram"></div>
      <svg id="svg-canvas" width="500" height="600"></svg>
  </div>
  
  <div class="outer-center">
        <textarea id="code" width="100%">
        </textarea>
  <!--
        <span>
  <pre>
  search index=_internal hello
  | sort 100 host, str(source)
  | table host, sourcetype, source
  | stats count(eval(sourcetype="splunkd")) as source_count by host
  | stats sparkline(count(host), 5m) by source
  | fields host, sourcetype | top host
  | eval foo_field=1+2
  | rename foo_field as bar_field 
  | top host, source by sourcetype
  | fields host, source
  </pre>
        </span>
  -->
  </div>
  
  <div class="outer-east seash">
    <script type="text/template" id="data-template">
      <div>
        <span class="cli-prompt">splunk&gt;&nbsp;</span><%= command %> page=<%= page %> index=<%= index %>
      </div>
      <div id="<%= recordId %>">
      </div>
    </script>
    <script type="text/template" id="help-template">
      <p>seash, splunk eval analyzing shell</p>
      <p>Usage:</p>
      <ul style="list-style-type: none; margin-left: 0px;">
        <li>- <span class="cli-highlight">eval</span> {evalExpression}, execute an client side evaluation for an eval expression</li>
        <li>- <span class="cli-highlight">search</span> {logicalExpression}, execute an client side evaluation for a logic expression</li>
        <li>- <span class="cli-highlight">select</span>, you need to manually click one row in the search result table below to select a record for evaluation</li>
        <li>- <span class="cli-highlight">cat</span>, print currently selected record</li>
        <li>- <span class="cli-highlight">clear</span>, clear the shell screen</li>
        <li>- <span class="cli-highlight">help</span>, print help</li>
      </ul>
    </script>
    <script type="text/template" id="command-template">
      <span class="cli-prompt">splunk&gt;&nbsp;</span><span><%= command %></span>
      <div style="margin-bottom: 10px;">
        <%= result %>
      </div>
    </script>
    <div id="console">
      <div>
        Welcome to seash, splunk eval analyzing shell.<br/>
        Enter <span class="cli-highlight">help</span> for a list of commands.
      </div>
    </div>
    <table class="inputtable">
      <tbody>
        <tr>
          <td class="cli-prompt">splunk&gt;&nbsp;</td>
          <td class="cli-cmd"><input id="cli" type="text" class="cmdline" autofocus></input></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="outer-south" id="south-search-result">
    <div class="south-center" id="south-search-table">
      <div id="search-table"></div>
    </div>
    <div class="south-east">
      <select id="chart-type">
        <option value="bar">bar</option>
        <option value="pie">pie</option>
        <option value="line">line</option>
        <option value="area">area</option>
        <option value="scatter">scatter</option>
        <option value="column">column</option>
        <option value="fillerGauge">filler gauge</option>
        <option value="markerGauge">marker gauge</option>
        <option value="radialGauge">radial gauge</option>
      </select>
      <div id="search-chart"></div>
    </div>
  </div>
</div>
{% endblock content%}

{% block js %}
  <script type="text/javascript" src="{{STATIC_URL}}{{app_name}}/js/pipeline_main.js"></script>
{% endblock js %}