/*  _______________________________ */
/* Overrides to Mr. Sparkle General v1 - 120715*/
/* begin form fix */
#s2id_autogen1 {
  width: 135px !important;
}
#s2id_autogen3 {
  width: 135px !important;
}
#input2 {
  width: 100px !important;
}
/* end form fix */
.dashboard-row .dashboard-panel {
    /* border-radius: 10px !important; */
    border: 0px solid #CCC;
    margin: 0px 10px 10px 0px;
    position: relative;
}
.main-section-body {
    color: #333;
    min-height: 500px;
    background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 2%, #d6cfd6 58%, #ebe8eb 99%, #ebe8eb 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(2%, #ededed), color-stop(58%, #d6cfd6), color-stop(99%, #ebe8eb), color-stop(100%, #ebe8eb));
	background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 2%, #d6cfd6 58%, #ebe8eb 99%, #ebe8eb 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #ededed 2%, #d6cfd6 58%, #ebe8eb 99%, #ebe8eb 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #ededed 2%, #d6cfd6 58%, #ebe8eb 99%, #ebe8eb 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #ededed 2%, #d6cfd6 58%, #ebe8eb 99%, #ebe8eb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebe8eb', GradientType=0 );
}

/* Specific to Chargeback App  - 120715*/
#select2-drop {
    display: block;
    left: 20px;
    width: 135px !important;
    top: 175.5px;
    bottom: auto;
}
.dashboard-row .dashboard-panel .panel-element-row {
    clear: both;
    border-top: 0px solid #eee !important;
}
input, textarea, .uneditable-input {
    width: 125px !important;
}
.fieldset .input {
    width: auto !important;
}
.dashboard-header h2 {
    font-size: 24px;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: 200;
}
.splunk-radiogroup input {
    width: 10px !important;
}
.splunk-multidropdown .select2-container, .splunk-dropdown .select2-container, .shared-controls-multiinputcontrol .select2-container, .splunk-multidropdown .select2-container-multi, .splunk-dropdown .select2-container-multi, .shared-controls-multiinputcontrol .select2-container-multi {
    min-width: 125px !important;
    margin-bottom: 5px;
}
.select2-container .select2-allowclear {
    width: 125px !important;
}
#panel2 {
  width:100% !important;
}
