/*easy_button_012416 |  kris hutchinson: hutch@splunk.com: grdhg24 */
/* README: The below example is the cut and paste button code  to place directly
underneath the first <panel> demarcation in your simple XML page. Since <HTML> tags
cannot be placed outside of panel elements I have found the best place to drop them is right
underneath the panel element and before the title tag.
WHY: There might be something you want to access right from the page. You may want to
call specific functionality, display a modal, or add workflow. An  example of this is the "easy"
button which simply runs a search and redirects you to the search page the appropriate search.

Example Code: A button group and its associated modal. If modals are going to be used make
sure you attach spgt_modal.js and spgt_modal.css to your simple XML as well.
<!-- begin easy_button container element -->
		<html id="btn_element1">
			<div class="btn-group1">
				<!-- trigger instructions modal -->
				<a class="btn btn-instruction left" href="#" data-toggle="modal" data-target="#info">Instructions<i class="icon-info-circle icon-modal-large"/></a>
				<a class="btn btn-config right" href="/app/lookup_editor/lookup_edit?owner=admin&amp;namespace=chargeback&amp;lookup=customers.csv&amp;type=csv">Edit Config<i class="icon-gear icon-modal-large"/></a>
			</div>
		</html>
		<!-- end easy_button container element -->

	<!-- begin modal button container element-->
	<html>
		<div id="info" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:2000;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">
							<i class="icon-info-circle icon-modal-xlarge"></i>The Chargeback App: How to use.
						</h4>
					</div>
					<div class="modal-body">
						<p>
							<b>Set Up</b> - This panel contains set up information for the Chargeback app. <code>Note that you will need to download the "<a href="https://splunkbase.splunk.com/app/1724/">File Lookup Editor App</a>"</code> from Splunk apps in order for you to input and edit groups, costs, etc. <br/>
							<br/>
							<code>You will then need to update the customers.csv </code> file to reflect the departments in your environment. There is a "ChargeBack Configuration Audit" below, which will help you identify anything that is missing. <br/>
							<br/>
							<b>Column Headers</b> - Do not alter the names of the column headers - group, idx, micro_lic_GB <br/>
							<br/>
							<b>Group</b> - These are the different departments that you are providing Splunk as a service to. <br/>
							<br/>
							<b>IDX</b> - These are the indexes that you have configured. Match the names exactly. <br/>
							<br/>
							<b>MAX_LIC_GB</b> - This is the maximum daily data volume in GBs that your customer is going to use. This is used to calculate the total cost to the customer. <br/>
							<br/>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</html>
	<!-- end modal button container element-->
*/

/* Information: button id's - name your button -- like "btn_config" below.
They are placed in relative fashion based on its container id. The container
id's seen as #btn_element1 below*/

/* For Modals Windows - This hides the div, which is invisible, but has a higher z-index so it
create problems in your UI*/
#info, #searchFu, #scratchPad, #showSearch {
display:none;
}

/* This is the button container. Its properties decides where your button/buttons
end up on the page. If you use multiple buttons make sure you change the id, for
example #btn-element2 ... and so on */

/* establishes button elements : core overrides*/
#btn_element1 {
	position:absolute !important;
    z-index:1000;
    vertical-align: middle;
    float: left;
    top: -250px !important;
    left:142px !important;
    margin-right:10px;
    width:auto !important;
    padding-top:2px;
}
.btn-group1 {
    vertical-align: middle;
    white-space: nowrap;
    padding-top:2px;
}
/* options for button themes : core overrides*/
/* begin styles used for buttons on this page */
#qwerty {
		 position:absolute;
		 top:-200px;
		 left:-600px;
}
.btn-config {
	background-color: #f4f4f4;
	background-image: -moz-linear-gradient(top, #f8f8f8, #eee);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eee));
	background-image: -webkit-linear-gradient(top, #f8f8f8, #eee);
	background-image: -o-linear-gradient(top, #f8f8f8, #eee);
	background-image: linear-gradient(to bottom, #f8f8f8, #eee);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffeeeeee', GradientType=0);
	background-color: #eee;
	border: 1px solid #bfbfbf;
	border-top-color: #bfbfbf;
	border-bottom-color: #bfbfbf;
	color: #333;
	-webkit-box-shadow: inset 0 1px 0 #fdfdfd;
	-moz-box-shadow: inset 0 1px 0 #fdfdfd;
	box-shadow: inset 0 2px 0 #fdfdfd;
	background-position: 0;
	text-shadow: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.btn-scratchPad {
	background-color: #f4f4f4;
	background-image: -moz-linear-gradient(top, #f8f8f8, #eee);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eee));
	background-image: -webkit-linear-gradient(top, #f8f8f8, #eee);
	background-image: -o-linear-gradient(top, #f8f8f8, #eee);
	background-image: linear-gradient(to bottom, #f8f8f8, #eee);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffeeeeee', GradientType=0);
	background-color: #eee;
	border: 1px solid #bfbfbf;
	border-top-color: #bfbfbf;
	border-bottom-color: #bfbfbf;
	color: #333;
	-webkit-box-shadow: inset 0 1px 0 #fdfdfd;
	-moz-box-shadow: inset 0 1px 0 #fdfdfd;
	box-shadow: inset 0 1px 0 #fdfdfd;
	background-position: 0;
	text-shadow: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.btn-searchFu {
	background-color: #f4f4f4;
	background-image: -moz-linear-gradient(top, #f8f8f8, #eee);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eee));
	background-image: -webkit-linear-gradient(top, #f8f8f8, #eee);
	background-image: -o-linear-gradient(top, #f8f8f8, #eee);
	background-image: linear-gradient(to bottom, #f8f8f8, #eee);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffeeeeee', GradientType=0);
	background-color: #eee;
	border: 1px solid #bfbfbf;
	border-top-color: #bfbfbf;
	border-bottom-color: #bfbfbf;
	color: #333;
	-webkit-box-shadow: inset 0 1px 0 #fdfdfd;
	-moz-box-shadow: inset 0 1px 0 #fdfdfd;
	box-shadow: inset 0 1px 0 #fdfdfd;
	background-position: 0;
	text-shadow: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.btn {
	background: rgba(255,255,255,1);/* Old Browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(233,233,233,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(247,247,247,1)), color-stop(100%, rgba(233,233,233,1)));/* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(233,233,233,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(233,233,233,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(233,233,233,1) 100%); /* IE 10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(233,233,233,1) 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=0 );/* IE6-9 */
	border: 1px solid #BFBFBF;
	color: #333;
	box-shadow: 1px #FDFDFD inset;
	background-position: 0px center;
	text-shadow: none;
	border-radius: 4px;
}
.btn btn-edit {
    background-color: #f4f4f4;
    background-image: -moz-linear-gradient(top, #f8f8f8, #eee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eee));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #eee);
    background-image: -o-linear-gradient(top, #f8f8f8, #eee);
    background-image: linear-gradient(to bottom, #f8f8f8, #eee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#eeeeee', GradientType=0);
    background-color: #eee;
    border: 1px solid #bfbfbf;
    border-top-color: #bfbfbf;
    border-bottom-color: #bfbfbf;
    color: #333;
    -webkit-box-shadow: inset 0 1px 0 #fdfdfd;
    -moz-box-shadow: inset 0 1px 0 #fdfdfd;
    box-shadow: inset 0 1px 0 #fdfdfd;
    background-position: 0;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn-green {
    background-color: #61a035;
    background-image: -moz-linear-gradient(top, #65a637, #5c9732);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#65a637), to(#5c9732));
    background-image: -webkit-linear-gradient(top, #65a637, #5c9732);
    background-image: -o-linear-gradient(top, #65a637, #5c9732);
    background-image: linear-gradient(to bottom, #65a637, #5c9732);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65a637', endColorstr='#5c9732', GradientType=0);
    border: 1px solid #4e802a;
    border-bottom-color: #4e802a;
    border-top-color: #4e802a;
    color: #fff;
    -webkit-box-shadow: inset 0 1px 0 #6aae3a;
    -moz-box-shadow: inset 0 1px 0 #6aae3a;
    box-shadow: inset 0 1px 0 #6aae3a;
    text-shadow: none;
}
.btn-blue {
    background-color: #4691CA;
    background-image: -moz-linear-gradient(top, #4691CA, #3863a0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4691CA), to(#3863a0));
    background-image: -webkit-linear-gradient(top, #4691CA, #3863a0);
    background-image: -o-linear-gradient(top, #4691CA, #3863a0);
    background-image: linear-gradient(to bottom, #4691CA, #3863a0);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4691CA', endColorstr='#3863a0', GradientType=0);
    border: 1px solid #3854A2;
    border-bottom-color: #3854A2;
    border-top-color:#3854A2;
    color: #fff;
    -webkit-box-shadow: inset 0 1px 0  #4691CA;
    -moz-box-shadow: inset 0 1px 0  #4691CA;
    box-shadow: inset 0 1px 0  #4691CA;
    text-shadow: none;
}
.btn-yellow {
    background-color: #F2B827;
    background-image: -moz-linear-gradient(top, #F2B827, #D4A303);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F2B827), to(#D4A303));
    background-image: -webkit-linear-gradient(top, #F2B827, #D4A303);
    background-image: -o-linear-gradient(top, #F2B827, #D4A303);
    background-image: linear-gradient(to bottom, #F2B827,#D4A303);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2B827', endColorstr='#D4A303', GradientType=0);
    border: 1px solid #DAA600;
    border-bottom-color: #DAA600;
    border-top-color:#DAA600;
    color: #fff;
    -webkit-box-shadow: inset 0 1px 0  #FFC302;
    -moz-box-shadow: inset 0 1px 0  #FFC302;
    box-shadow: inset 0 1px 0  #FFC302;
    text-shadow: none;
}
.btn-ltgray {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f7f7f7, #eee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#eee));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #eee);
    background-image: -o-linear-gradient(top, #f7f7f7, #eee);
    background-image: linear-gradient(to bottom, #f7f7f7, #eee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#eee', GradientType=0);
    border: 1px solid #eee;
    border-bottom-color: #eee;
    border-top-color: #eee;
    color: #000;
    -webkit-box-shadow: inset 0 1px 0 #333;
    -moz-box-shadow: inset 0 1px 0 #333;
    box-shadow: inset 0 1px 0 #333;
    text-shadow: none;
}
.btn-medgray {
    background-color: #eeeeee;
    background-image: -moz-linear-gradient(top, #eeeeee, #ddd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#ddd));
    background-image: -webkit-linear-gradient(top, #eeeeee, #ddd);
    background-image: -o-linear-gradient(top, #eeeeee, #ddd);
    background-image: linear-gradient(to bottom, #eeeeee, #ddd);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ddd', GradientType=0);
    border: 1px solid #ddd;
    border-bottom-color: #ddd;
    border-top-color: #ddd;
    color: #000;
    -webkit-box-shadow: inset 0 1px 0 #F2F2F2;
    -moz-box-shadow: inset 0 1px 0 #666;
    box-shadow: inset 0 1px 0 #666;
    text-shadow: none;
}
/* end button style examples */

/* border fix for buttons sitting side by side: btn-group1 explicitly defined for easy button*/
.btn-group1 > .btn + .btn {
    margin-left: -1px;
}
/* end styles used for buttons on this page */

/* core overrides below */
.fieldset {
    margin-bottom: 15px;
    white-space: nowrap;
}
.btn-primary {
    background-color: #61a035;
    background-image: -moz-linear-gradient(top, #65a637, #5c9732);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#65a637), to(#5c9732));
    background-image: -webkit-linear-gradient(top, #65a637, #5c9732);
    background-image: -o-linear-gradient(top, #65a637, #5c9732);
    background-image: linear-gradient(to bottom, #65a637, #5c9732);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65a637', endColorstr='#5c9732', GradientType=0);
    background-color: #65a637;
    border: 1px solid #4e802a;
    border-bottom-color: #4e802a;
    border-top-color: #4e802a;
    color: #fff;
    -webkit-box-shadow: inset 0 1px 0 #6aae3a;
    -moz-box-shadow: inset 0 1px 0 #6aae3a;
    box-shadow: inset 0 1px 0 #6aae3a;
    text-shadow: none;
}
/* options for button themes : core overrides*/
/* button icon overrides : look at /en-US/static/docs/style/style-guide.html#icons */
.icon-modal-large {
    font-size: 1.8em;
    vertical-align: middle;
    margin-left:10px !important;
}
.icon-modal-xlarge {
    font-size: 3.0em;
    vertical-align: middle;
    margin-right:10px !important;
}
.icon-modal-xxlarge {
    font-size: 4.0em;
    vertical-align: middle;
    margin-right:10px !important;
}
/* Begin color definitions for button identifier glyphs */
.icon-color-info{
  color: #0F92C8;
  text-shadow: 0 1px 3px rgba(0,0,0,.25)) ;
}
.icon-color-scratch{
  color: #F3B900;
  text-shadow: 0 1px 3px rgba(0,0,0,.25)) ;
}
.icon-color-easy{
  color: #BE1700;
  text-shadow: 0 1px 3px rgba(0,0,0,.25)) ;
}
.icon-color-search{
  color: #26AFAC;
  text-shadow: 0 1px 3px rgba(0,0,0,.25)) ;
}
.icon-color-misc{
  color: #6A5AA0;
  text-shadow: 0 1px 3px rgba(0,0,0,.25)) ;
}
.icon-color-config{
  color: #63A72E;
  text-shadow: 0 1px 3px rgba(0,0,0,.25)) ;
}
.box-shadow (@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
          box-shadow: @shadow;
}
.the-icons li[class^="icon-"]::before, .the-icons li[class*=" icon-"]::before {
    display: inline-block;
    min-width: 32px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}
.icon-searchfu{
	 background:  transparent url("glyph_spunk_fu.svg") no-repeat fixed 0% 0% / cover;
	/*	content: "◀";*/
}
/* end color definitions for button identifier glyphs */

/* Button Grouping Styling - This makes the left and right end buttons have curved corners,
the middle button retains square corners. You will need to apply manually*/
.left{
    border-radius: 4px 0px 0px 4px !important;
}
.right{
    border-radius: 0px 4px 4px 0px !important;
}
.middle{
    border-radius: 0px 0px 0px 0px !important;
}
.full{
    border-radius: 4px 4px 4px 4px !important;
}

