{# Boilerplate for a Django Bindings template #}
{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} | Home{% endblock title %}
{% block css %}
    <!-- Style sheets are loaded here -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
    <style>

        /* Disclaimer */
        #intro{padding-left:10pt; padding-top:10pt}
        #disclaimer{padding-left:20pt; padding-top:10pt; padding-bottom:5pt}

    </style>
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
        </div>
    </div>    
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-body">
                        <p id=intro>The Sentry application is designed to allow for accurate and actionable proactive monitoring of implemented applications.</p> 
       
                        <p id=disclaimer><font color="red"><b>DISCLAIMER:</b></font> This application can only provide matches based on predefined criteria and identified anomalies.</br>
                        This application <b>DOES NOT</b> establish intent and/or appropriateness of the access and actions presented.</br>
                        This application will attempt to be as accurate and comprehensive as possible, however, the events presented should not be considered complete.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}

{% block managers %}
{% endblock managers %}

{% block js %}
<script>
</script>
{% endblock js %}
