{% extends "sentry:template/sentry_base_with_full_controls_no_unhide.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} | Epic Triage{% endblock title %}
{% block css %}
    <!-- Style sheets are loaded here -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
    <style>

    </style>
{% endblock css %}

{% block sentry_header %}
<div class="dashboard-body container-fluid main-section-body" data-role="main">
        <div class="span12 dashboard-header clearfix">
            <h2>Triage</h2>
        </div>
{% endblock sentry_header %}

{% block content %}
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="panel-element-row">
                    <div class="dashboard-element chart" id="tableIncident" style="width: 100%">
                        <div class="panel-head">
                            <h3>Incident</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="panel-element-row">
                    <div class="dashboard-element chart" id="tableInvestigating" style="width: 100%">
                        <div class="panel-head">
                            <h3>Investigating</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="panel-element-row">
                    <div class="dashboard-element chart" id="tableFalsePositive" style="width: 100%">
                        <div class="panel-head">
                            <h3>False Positive</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                       <h3>Reset Triage</h3>
                    </div>
                    <div class="panel-body" style="height: 60pt;">
                        <p style="clear:both;"></p>
                        <p><b>Caution:</b> Resetting the triage cannot be reversed.</br></p>
                        <button id="resetbutton" class="btn btn-primary" 
                            onmouseout="javascript: document.getElementById('resetbutton').style.backgroundImage = 'linear-gradient(to bottom, rgb(243, 59, 59), rgb(172, 59, 59))';" 
                            onmouseover="javascript: document.getElementById('resetbutton').style.backgroundImage = 'linear-gradient(to bottom, rgb(243, 90, 90), rgb(172, 60, 60)';">
                            Reset Triage
                        </button>
                        {#% single id="resetStatus" managerid="reset_triage" %#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}

{% block managers %}
	
    {% searchmanager
        id="reset_triage"
        search='index=_* | head 1 | fields -* | outputlookup triage'
        autostart=False
    %}
    {% searchmanager
        id="searchInvestigating"
        search='| inputlookup triage | search status="Investigating" user_id="$selUserID$" cust_id="$selCustID$" app="$selApp$" | convert timeformat="%Y-%m-%d %H:%M:%S" ctime(update_time) as status_updated | sort -status_updated'|token_safe
    	earliest_time="$earlyTime$"|token_safe
        latest_time="$lateTime$"|token_safe
    %}
    {% searchmanager
        id="searchIncident"
        search='| inputlookup triage | search status="Incident" user_id="$selUserID$" cust_id="$selCustID$" app="$selApp$" | convert timeformat="%Y-%m-%d %H:%M:%S" ctime(update_time) as status_updated | sort -status_updated'|token_safe
    	earliest_time="$earlyTime$"|token_safe
        latest_time="$lateTime$"|token_safe
    %}
    {% searchmanager
        id="searchFalsePositive"
        search='| inputlookup triage | search status="False Positive" user_id="$selUserID$" cust_id="$selCustID$" app="$selApp$" | convert timeformat="%Y-%m-%d %H:%M:%S" ctime(update_time) as status_updated | sort -status_updated'|token_safe
    	earliest_time="$earlyTime$"|token_safe
        latest_time="$lateTime$"|token_safe
    %}
{% endblock managers %}

{% block js %}
<script>
    require(["splunkjs/mvc"], function() {
	    require.config({
	        baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js",
	        waitSeconds: 0 // Disable require.js load timeout 
	    });

		require(["splunkjs/ready!", 
	             "splunkjs/mvc/simplexml/element/table"], function(mvc, TableElement) {
	                 
	        // Initialization 
	
	        // Set the default time range 
	        timerange.val({"earliest_time": "-30d@d", "latest_time": "now"});
	        
	        // Set default for the App dropdown 
	        dropdownTriageApp.settings.set("default", "*")
	        
	        // Set default for the App dropdown 
	        dropdownApp.settings.set("default", "*")

	
	        // Fetch a reference to the views and managers
	        searches.push(mvc.Components.getInstance("searchIncident"));
	        searches.push(mvc.Components.getInstance("searchInvestigating"));
	        searches.push(mvc.Components.getInstance("searchFalsePositive"));
	        
	        var reset_triage = mvc.Components.getInstance("reset_triage");
	        
	
	        // Tables
	
	        var tableIncident = new TableElement({
	            "id": "tableIncident",
	            "managerid": "searchIncident",
	            "fields": "status_updated, analyst, app, user_id, cust_id, comment",
	            "pageSize": "10",
	            drilldownRedirect: false,
	            "link.inspectSearch.visible": false,
	            "link.openSearch.visible": false,
	            "el": $('#tableIncident')
	        }, {tokens: true}).render();
	
	        var tableInvestigating = new TableElement({
	            "id": "tableInvestigating",
	            "managerid": "searchInvestigating",
	            "fields": "status_updated, analyst, app, user_id, cust_id, comment",
	            "pageSize": "10",
	            drilldownRedirect: false,
	            "link.inspectSearch.visible": true,
	            "link.openSearch.visible": false,
	            "el": $('#tableInvestigating')
	        }, {tokens: true}).render();
	
	        var tableFalsePositive = new TableElement({
	            "id": "tableFalsePositive",
	            "managerid": "searchFalsePositive",
	            "fields": "status_updated, analyst, app, user_id, cust_id, comment",
	            "pageSize": "10",
	            drilldownRedirect: false,
	            "link.inspectSearch.visible": false,
	            "link.openSearch.visible": false,
	            "el": $('#tableFalsePositive')
	        }, {tokens: true}).render();
	
	
	        // Event Handlers
	
	        // Table False Positive click
	        tableFalsePositive.on("click", function(e) {
	            redirector({'selUserID': e.data['row.user_id'], 
	                        'selCustID': e.data['row.cust_id'],
	                        'selApp': e.data['row.app'],
	                        'earlyTime': "-30d@d",
	                        'lateTime': "now"}, 
	                       'lookup');
	        });
	
	        // Table Incident click
	        tableIncident.on("click", function(e) {
	            redirector({'selUserID': e.data['row.user_id'], 
	                        'selCustID': e.data['row.cust_id'],
	                        'selApp': e.data['row.app'],
	                        'earlyTime': "-30d@d",
	                        'lateTime': "now"}, 
	                       'lookup');
	        });
	
	        // Table Investigating click
	        tableInvestigating.on("click", function(e) {
	            redirector({'selUserID': e.data['row.user_id'], 
	                        'selCustID': e.data['row.cust_id'],
	                        'selApp': e.data['row.app'],
	                        'earlyTime': "-30d@d",
	                        'lateTime': "now"}, 
	                       'lookup');
	        });
	
	        // Apply Button Click
	        $("#applybutton").on("click", function() {
	            setEpochTime(tokens, "triageTime");
	            update_triage.startSearch();
	            setTimeout(function(){
	            	$("#buttonSearch").click();
	            },1000);
	        });
	
	        // Reset Button Click
	
	        $("#resetbutton").on("click", function() {
	            reset_triage.startSearch();
	            setTimeout(function(){
	            	$("#buttonSearch").click();
	            },1000);
	        });
	        
	    });
    });
</script>
{% endblock js %}
