#.appLogo{height:57px;width:129px;background-image:url(appHeader.png);background-repeat:no-repeat;}
.appLogo { background: url("tstranslogo.png") no-repeat; }
.appLogoContainer h1 { display: none; }
.wiki-anchor { display: none; }
code span.no { color: #bbb; }
