/* Styling for the Help Pages */
a.vze {
    color: rgb(237, 28, 36);
    text-decoration: none;
    font-size: 24px;
    padding-left: 7px !important;
}

a.vze:hover {
    color: rgb(237, 28, 36);
    text-decoration: none;
}

.dbirHelp .tiny {
    color: #B0B0B0;
    font-size: 9px;
    max-width:700px;
    padding: 7px !important;
}

/* Sub header */
.dbirHelp .dbirSelected {
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    border-bottom: 3px solid #ed1c24;
}

.dbirHelp a.dbirSub {
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.dbirHelp a.dbirSub:hover {
    color: #ed1c24;
    text-decoration: underline;
}

.dbirBuffer {
    padding-bottom: 50px !important;
}

/* Formatted to Splunk Minimun */
.dbirHelp {
    max-width: 875px;
}

.dbirHelp h1 {
    color: #6b6d6d;
    font-size: 24px;
    font-family: Arial,Helvetica,sans-serif;
    border-bottom: 1px solid #6b6d6d;
    max-width:700px;
}

.dbirHelp h3 {
    color: #ed1c24;
    font-size: 16px;
    font-family: Arial,Helvetica,sans-serif;
}

.dbirHelp p,
.dbirHelp li {
    font-size: 14px;
    max-width: 650px;
    line-height: 150%;
}

.dbirHelp pre {
    max-width: 650px;
}

.dbirHelp p.standOut {
    color: #6b6d6d;
    font-size: 18px;
    font-family: Arial,Helvetica,sans-serif;
    border-top: 1px solid #6b6d6d;
    border-bottom: 1px solid #6b6d6d;
    line-height: 200%;
}

.dbirTable {
    display: table;
    width: 650px;
}

.dbirHeader {
    display: table-row;
    color: #FFFFFF;
    background-color: #6b6d6d;
    font-weight: bold;
}

.dbirRow {
    color: #6b6d6d;
    display: table-row;
}

.dbirRowOdd {
    background-color: #FFFFFF;
}

.dbirRowEven{
    background-color: #EAEBEB;
}

.dbirCell {
    display: table-cell;
    padding: 3px;
}

.dbirCellTop {
    border-top: 1px solid #6b6d6d;
}

.dbirCellLeft {
    border-left: 1px solid #6b6d6d;
    border-bottom: 1px solid #6b6d6d;
}

.dbirCellRight {
    border-left: 1px solid #6b6d6d;
    border-right: 1px solid #6b6d6d;
    border-bottom: 1px solid #6b6d6d;
}

.dbirHelp img {
    border: 1px solid #6b6d6d;
}

.dbirPad15 {
    padding: 15px 0px;
}

