<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%def name="css()">
    <%coreCSSFiles = [
        "/static/css/view.css", 
        "/static/css/skins/default/default.css" 
    ] %>
    <%lib:stylesheet_tags files="${coreCSSFiles}" />
</%def>
<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/%s/application.css' % app]}" />
</%def>
<div class="UnixMessageContainer">
  <h1>Error</h1>
  <p>${err}</p>
  <div>
    <a href="${make_url('/custom/%s/%s/%s/list' % (app, app, app))}"><b><span>Return</span></b></a>
  </div>
</div>
