<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%namespace name="helpers" file="//view/_helpers.html" import="*"/>

<%def name="css()">
    <%coreCSSFiles = [
        "/static/css/view.css", 
        "/static/css/skins/default/default.css" 
    ] %>
    <%lib:stylesheet_tags files="${coreCSSFiles}" />
</%def>

<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/%s/application.css' % app]}" />
    <%lib:script_tags files="${['/static/app/%s/ssh_setup.js' % app]}" />
</%def>

<%def name="gen_form(method='POST', action=None, id=None)">
    <form method="${method}" action="${action if action else ''}" ${'id=' + id if id else ''}>
</%def>

<%def name="gen_row(input)">
<%
    name = input['name']
%>
<tr class="${name}">
  <td class="name">${name}</td>
  <td align="center">
    ${'No' if input['disabled']=='1' else 'Yes'}
  </td>
  <td>
    ${input['user'] + '@' + input['address']}
  </td>
  <td>
    ${input['port'] if input.get('port') else '22'}
  </td>
  <td>
    ${mountpath + name}
  </td>
  <td>
    <input type="submit" class="splButton-primary" onclick="$('#remove').val('${name}');" value="Delete" />
  </td>
</tr>
</%def>

<%
    error_key = None
%>
<div class="sshfsContainer">

  <div class="sshfsError">
    % if errors:
<%
    error_key = errors.name
%>
        % for error in errors.errors:
    <p class="errorText">Error in ${errors.name}: ${error}</p>
        % endfor
    % endif
  </div>


  ${gen_form(method='POST', action=make_url(['custom', app , 'sshfs', app, 'delete']), id="ssh_list")}

  ${csrf_hidden_input()}

  <noscript>Please enable JavaScript in your browser</noscript>

  <div class="inputs" style="display:none">
    <h1 id="input_header">Existing mountpoints</h1>
    <table id="input_table" class="InputTable">
      <tr>
        <th class="NameHeader"><div class="theader">Name</div></th>
        <th><div class="theader">Active</div></th>
        <th><div class="theader">Username@Host</div></th>
        <th><div class="theader">Port</div></th>
        <th><div class="theader">Mountpoint</div></th>
        <th><div class="theader">Delete</div></th>
      </tr>
    % for m in inputs:
        ${gen_row(m)}
    % endfor
    </table>
    <input type="hidden" id="remove" name="remove" value="" />
  </div>
  <div class="buttons" style="display:none">
    <input id="refresh" type="button" value="Refresh" class="splButton-primary" onclick="location.reload();" />
  </div>
  </form>
  <h2>&nbsp;</h2>
  <h1 id="inputs_header">Add new mountpoint</h1>
  ${gen_form(method='POST', action=make_url(['custom', app , 'sshfs', app, 'query']), id="ssh_add")}
  ${csrf_hidden_input()}
    <table>
         <tr><td class="left"><b>Input name</b></td><td><input type="text" name="name" id="new_name"/></td></tr>
         <tr><td class="left">SSH username@host</td><td><input name="user_address" /></td></tr>
         <tr><td class="left">SSH port</td><td><input name="port" /></td></tr>
         <tr><td class="left">SSH remote root directory</td><td><input name="root" /></td></tr>
    </table>
    <button class="sourceadd splButton-tertiary" type="button">Add new</button>
  </form>
</div>
