@import url("savvius.css");

table1.results-table table1.wrapped-results th:nth-child(7),
table1.results-table table1.wrapped-results td:nth-child(7) {
    text-align: right !important;
}

table1.results-table table1.wrapped-results th:nth-child(8),
table1.results-table table1.wrapped-results td:nth-child(8) {
    text-align: right !important;
}

table1.results-table table1.wrapped-results th:nth-child(9),
table1.results-table table1.wrapped-results td:nth-child(9) {
    text-align: right !important;
}

table1.results-table table1.wrapped-results th:nth-child(10),
table1.results-table table1.wrapped-results td:nth-child(10) {
    text-align: right !important;
}

table1.results-table table1.wrapped-results th:nth-child(12),
table1.results-table table1.wrapped-results td:nth-child(12) {
    text-align: right !important;
}

table1.results-table table1.wrapped-results th:nth-child(13),
table1.results-table table1.wrapped-results td:nth-child(13) {
    text-align: right !important;
}

table1.results-table table1.wrapped-results th:nth-child(15),
table1.results-table table1.wrapped-results td:nth-child(15) {
    text-align: right !important;
}

table1.results-table table1.wrapped-results th:nth-child(17),
table1.results-table table1.wrapped-results td:nth-child(17) {
    text-align: right !important;
}

table2.results-table table2.wrapped-results th:nth-child(9),
table2.results-table table2.wrapped-results td:nth-child(9) {
    text-align: right !important;
}
