<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*" />


<%def name="js()">

    <script src="${make_url('/static/app/tagger/jquery.tools.min.js')}"></script>

    <script>
        window.onbeforeunload = gobusy
        function gobusy(){
            $('#overlay').show()
        }
    </script>

</%def>    

<style>
label { 
      color:#07F;
      font-size:15px;
}
</style>

<%def name="css()"> 
    <%coreCSSFiles = ["/static/css/view.css", "/static/css/skins/default/default.css", "/modules/nav/AccountBar.css", "/static/css/print.css"] %>
    <%lib:stylesheet_tags files="${coreCSSFiles}" />
</%def>

<link rel="stylesheet" href="${make_url('/static/app/tagger/jquery-ui.css')}" type="text/css" />
<link rel="stylesheet" href="${make_url('/static/app/tagger/tagger.css')}" type="text/css" />


<body onload="document.getElementById('restriction_value').focus()" xonsubmit="$('#overlay').show()">

  <div id="overlay">
    <div id="loader" >
      <img src="${make_url('/static/app/tagger/images/ajax-loader.gif')}" />
    </div>
  </div>

  <div class="appHeaderWrapper">
    <div class="splClearfix" nothing="xlayoutRow xoneColRow xappHeader">       
      <div class="SplunkModule AccountBar">
	<font size="3">
	  <a href="${make_url('/app/launcher/home')|h}" class="splIcon splIcon-close"></a>
	  <div class="appLogoContainer popupAppLogoContainer">
	    <a href="${make_url('/app/launcher/home')|h}" class="appLogo"></a>
	    <span style="position: absolute; top: 3px; color:#0088FF" class="myh1">${_('Tagger')}:<small> organize your field values</small></span>
	  </div>
	</font>
      </div>
    </div>
  </div>


<!-- display messages -->
% for mtype, msgs in messages.items():
   % for msg in msgs:
         <p class="${mtype|h}">${msg|h}</p>
   % endfor
% endfor

  <form method="POST">
    ${csrf_hidden_input()}

    <fieldset class="taggerset">
      <legend>&nbsp; Scoping <small>- specify the source of data </small>&nbsp;</legend>

      <div>
	<select name="restriction_type" onchange='$("#rsearch").val("");this.form.submit()'>
	% for rtype in model.getRestrictionTypes():
          % if rtype == model.getRestrictionType():
	     <option selected="selected">${rtype|h}</option>
          % else:
	     <option>${rtype|h}</option>
          % endif
        % endfor
	</select>

	<label>=</label>
	<% values = model.getRestrictionValues(model.getRestrictionType()) %>
	%if len(values) == 0:
	   [no values] &nbsp;&nbsp; <input type="hidden" name="restriction_value" value=""/>
	%else:
          <select id="restriction_value" name="restriction_value" onchange='$("#rsearch").val("");this.form.submit()'>
          % if model.getRestrictionValue() == None and len(values) > 1:
             <option selected="selected" value="">${"<pick a %s>" % model.getRestrictionType() |h}</option>
          % endif

          % for rval in values:
             <% 
                selected = '' 
                if rval == model.getRestrictionValue():
   	            selected = 'selected="selected"'
                shortname = splunk.util.smartTrim(rval, 100)
             %>
             <option ${selected} value="${rval|h}">${shortname|h}</option>
          % endfor
	  </select>
	  %endif

	  <nobr>
	  <b>or</b> specify a search:
          <input type="text" name="rsearch" id="rsearch" value="${model.getRestrictionSearch()|h}" size="50" />
	  <button name="search" value="search" title="search" style="color:#07F"><b>search</b></button>
	  </nobr>

      </div>
    </fieldset>

%if len(model.getSourceFields()) > 0:

    <fieldset class="taggerset">
      <legend>Field values</legend>
      <table cellpadding=10>
	<tr valign=top>
	  <td>
	    <label>Field</label><br/>
	    <% coverage = model.getFieldCoverage() %>
	    <select name="source_field" onchange='this.form.submit()' size="${min(20,len(model.getSourceFields()))|h}">
	      % for fieldname in model.getSourceFields():
                <% selected = 'selected="selected"' if fieldname == model.getSourceField() else '' %>
		<% perc = '(%.2f%% tagged)'% (100*coverage[fieldname])  if fieldname in coverage else '' %>
	        <option value="${fieldname|h}" ${selected|h} >${fieldname|h} ${perc|h}</option>
	      % endfor
 	    </select>
	  </td>
%if len(model.getFieldValues()) > 0:

	  <td>
        <% 
           import re
           def punct(str):
              return ''.join(re.findall("[!@#$%^&*()_+-={}[\]:;'\",./<>?`~]+", str))
              #return ''.join(re.findall("[!@#$%^&*()_+-={}[\]:;'\",./<>?`~]+", str)
      
           fv = model.getFieldValues()
           order = model.getGroupByType()
           if order=="count":
             fv.sort(lambda x,y: cmp(y[1][0], x[1][0]))
           elif order=="cluster" or order=="lexical":
             fv.sort(lambda x,y: cmp(x[0], y[0]))
           elif order=="format":
             fv.sort(lambda x,y: cmp(punct(x[0]), punct(y[0])))

           selectsize=min(100,len(fv))

	   maxwidthvalue = min(80, max([len(v) for v,data in fv]))
        %>
	    <pre><label>Value ${' '*int(maxwidthvalue*.7)|h} Count       Tags</label></pre>
	    <select style="font-family:monospace;" size="${selectsize|h}" name="field_values" multiple="multiple">
              % for val, (count, tags) in fv:     
	        <% if hide_tagged_values and len(tags) > 0: continue %>
                <option title="${val|h}" value="${val|h}">${val[:maxwidthvalue]|h}
		  % if len(val) > maxwidthvalue:
		     ...
		  % endif
		  <% padding = maxwidthvalue+6 - min(maxwidthvalue + 3,len(val)-1) %>
		  ${'&nbsp;'*padding}
		  (${count|h}) 
		  <% padding = 7 - len(str(count)) %>
		  ${'&nbsp;'*padding}

		  % if len(tags) == 0:
		     ***UNTAGGED***
		  % else:
		     ${','.join(tags)|h}
		  % endif
		</option>
              % endfor
	    </select>
	  </td>
          <td valign=top>
              <label>Sort:</label>
              <select name="groupby" onchange='this.form.submit()'>
        	% for gtype in model.getGroupByTypes():
                  % if gtype == model.getGroupByType():
        	     <option selected="selected">${gtype|h}</option>
                  % else:
        	     <option>${gtype|h}</option>
                  % endif
                % endfor
              </select>
	      <br/>

	      <label><input type=checkbox name="hide_tagged_values" onchange='this.form.submit()' ${'checked="checked"' if hide_tagged_values else ''|h}>Hide tagged values</input></label>

	      <br/>
	      <br/>
	      <br/>
	      <fieldset class="taggerset" style="padding:10px"><legend>Actions</legend>

              <label>App:</label>
              <select name="app">
        	% for app in model.getAppsList():
                  % if app == model.getCurrentApp():
        	     <option selected="selected">${app|h}</option>
                  % else:
        	     <option>${app|h}</option>
                  % endif
                % endfor
              </select>
	      <br/>
	      <label>Tag:</label>
              <input type="text" name="tag_name" value="" size="20" />
	      <center>
	      <label><input type=checkbox name="make_tag_public" ${'checked="checked"' if make_tag_public else ''|h}>make public</input></label>
	      <br/>
	      <br/>
	      <button name="tag" value="tag" title="tag" style="color:#07F"><b>Tag</b></button>
	      <button name="untag" value="untag" title="untag" style="color:#07F"><b>Untag</b></button>
	      </center>
	      </fieldset>
          </td>
%endif

        </tr>
      </table>
    </fieldset>
% endif
  </form>
      
<center>
<hr>
Copyright &copy; Splunk 2005-2013.  All rights reserved. Version ${model.version()|h}.
</center>  
</body>
      
