<% if (threads.length > 1) { %>
<ul id="threads">
  <% _.each(threads, function(thread) { %>
  <li data-thread="<%- thread %>" <% if (currentThread == thread ) { %>class="active"<% } %>>Thread <%- thread %></li>
  <% }); %>
<% } %>
</ul>
<div class="notifications"></div>
<table border="0">
  <% if (stacktrace) { %>
    <% _.each(stacktrace, function(lines) { %>
    <tr>
      <% if(!_.isArray(lines)) { %>
        <td><%- lines %></td>
      <% } else { %>
        <% _.each(lines, function(line) { %>
          <td><%- line %></td>
        <% }); %>
      <% } %>
    </tr>
    <% }); %>
  <% } %>
</table>

