<div id="layout">
    <div class="FiltersRight">
    </div>
    <div class="BodyLeft transactions-parent">
        <div class="NavBreadcrumb">
        </div>

        <div class="normal">
          <div class="big-graph"></div>
          <div class="table"></div>
        </div>
        <div class="drilldown" style="display: none;">
          <div class="grid1">
            <div id="rates-graph" class="rates-transactions grid3">
                <h3>Failed and Cancelled Occurrences</h3>
            </div>
            <div id="volume-graph" class="volume-transactions grid3">
                <h3>Volume</h3>
            </div>
            <div id="duration-graph" class="duration-transactions grid3">
                <h3>Duration (ms) </h3>
            </div>
          </div>

          <!-- <div id="rates-graph" class="big-graph grid1">
            <h3>Volume by status</h3>
          </div> -->
          <div class="grid1">
            <div class="table table-recent grid1">
              <h3>100 Most Recent Failed and Cancelled Transactions</h3>
            </div>
            <div class="grid2 two-table-failed">
              <h3>Errors that caused transactions to fail</h3>
            </div>
            <div class="grid2 two-table-cancelled">
              <h3>Reasons why transactions were cancelled</h3>
            </div>
          </div>
        </div>
    </div>
</div>

