.overlay {
  fill: slategrey;
  pointer-events: all;
  stroke: black;  
 stroke-width: 3; 
}

.splunk-toolkit-bubble-chart {
    font-family: arial;
    position: relative;
    height: 100%;
    width: 100%;
}

.splunk-toolkit-bubble-chart svg {
    display: block;
    margin: 0px auto;
}
.splunk-toolkit-bubble-chart g {
    display: block;
    margin: 0px auto;
} 

.bubble-chart-tooltip {
    position: absolute;
    background-color: #424242;
    border-radius: 3px 3px 3px 3px;
    padding: 7px;
    font-size: 1.0em;
    color: white;
    opacity:0;
}

.node:hover{
    opacity: .7;
}

circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leafghs circle {
  fill: #009999;
  color: white;
  fill-opacity: 1;
}

.leafghs text {
  font: 8px sans-serif;
  fill: black;
}

.leaf1 circle {
  fill: #DEB887;
  color: white;
  fill-opacity: 1;
}

.leaf1 text {
  font: 8px sans-serif;
  fill: black;
}

.leaf2 circle {
  fill: #99CCFF;
  fill-opacity: 1;
}

.leaf2 text {
  font: 8px sans-serif;
  fill: black;
}

.leaf3 circle {
  fill: #B8860B;
  fill-opacity: 1;
}

.leaf3 text {
  font: 8px sans-serif;
  fill: black;
}

.leaf4 circle {
  fill: #8B008B;
  fill-opacity: 1;
}

.leaf4 text {
  font: 8px sans-serif;
  fill: white;
}

.leaf5 circle {
  fill: #E9967A;
  fill-opacity: 1;
}

.leaf5 text {
  font: 8px sans-serif;
  fill: black;
}

.leaf6 circle {
  fill: #33CC00;
  fill-opacity: 1;
}

.leaf6 text {
  font: 8px sans-serif;
  fill: black;
}

.leaf7 circle {
  fill: #009900;
  fill-opacity: 1;
}

.leaf7 text {
  font: 8px sans-serif;
  fill: black;
}

.leaf8 circle {
  fill: #CCCC66;
  fill-opacity: 1;
}

.leaf8 text {
  font: 8px sans-serif;
  fill: black;
}

.leaf9 circle {
  fill: #666633;
  fill-opacity: 1;
}

.leaf9 text {
  font: 8px sans-serif;
  fill: white;
}

.leaf10 circle {
  fill: #663366;
  fill-opacity: 1;
}

.leaf10 text {
  font: 8px sans-serif;
  fill: white;
}

.leaf11 circle {
  fill: #990099;
  fill-opacity: 1;
}

.leaf11 text {
  font: 8px sans-serif;
  fill: white;
}

.leaf12 circle {
  fill: #996633;
  fill-opacity: 1;
}

.leaf12 text {
  font: 8px sans-serif;
  fill: white;
}

.leaf13 circle {
  fill: #99FF99;
  fill-opacity: 1;
}

.leaf13 text {
  font: 8px sans-serif;
  fill: black;
}

.leaf14 circle {
  fill: #999966;
  fill-opacity: 1;
}

.leaf14 text {
  font: 8px sans-serif;
  fill: black;
}

.leaf15 circle {
  fill: #CC9900;
  fill-opacity: 1;
}

.leaf15 text {
  font: 8px sans-serif;
  fill: black;
}

.leaf16 circle {
  fill: #FFCC00;
  fill-opacity: 1;
}

.leaf16 text {
  font: 8px sans-serif;
  fill: black;
}

.leaf17 circle {
  fill: #33FF33;
  fill-opacity: 1;
}

.leaf17 text {
  font: 8px sans-serif;
  fill: white;
}

.leaf18 circle {
  fill: #9900FF;
  fill-opacity: 1;
}

.leaf18 text {
  font: 8px sans-serif;
  fill: white;
}

.leaf19 circle {
  fill: #330033;
  fill-opacity: 1;
}

.leaf19 text {
  font: 8px sans-serif;
  fill: white;
}

.leaf20 circle {
  fill: #FFCC66;
  fill-opacity: 1;
}

.leaf20 text {
  font: 8px sans-serif;
  fill: black;
}

text {
  font: 8px sans-serif;
  fill: black;
}

title {
  font: 10px sans-serif;
  color: black;
}
