.tooltip-inner {
    max-width: 500px;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
}
.tbl-title-UnassignedDrives {
    font-size:22px;
    position:absolute;
}
.tooltip {
    max-width: 500px;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
}
