body {
        background-color: #F5F5F5;
}
th {
        min-width: 100px;
}
td {
        text-align: center;
}
.left {
        text-align: left;
        padding-right: 20px;
}
.splButton-secondary, .splButton-primary {
        line-height: 0px;
        margin-right: 5px
}
.theader {
        min-height: 24px;
        line-height: 24px;
        font-size: 12px;
}

.newLeft {
        float: left;
        width: 50%;
}

.newRight {
        float: right;
        width: 50%;
}
