.detail_view_title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 15px;
    padding: 5px 55px 5px 10px;
    font-weight: 200;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #29688A;
}

.textformat {
    text-align: center;
}

.single-result {
    font-size: 25px !important;
    color: #333333 !important;
}

text.single-result{
     font-size: 55px !important;
}
/*.splunk-single{
     margin-right: 23% !important; 
     margin-top: -8% !important;
 }*/