.selected{
    color: orange;
}

.node {
    position: absolute;
    list-style: none;
    cursor: default;
}

.node span {
    margin-right: 3px;
}

#dendogram_el > .node .caret {

    font-size: 20px;
}
.folder {}
.array { }
.controller { }
.volumegroup {}
.volume { }
.filename {font-weight:bold;}
.folderfilename {cursor:pointer;font-weight:bold;}
.arrayfilename {cursor:pointer;font-weight:bold; }
.arrayfilenameNeedAttention {color: red;cursor:pointer;font-weight:bold; }
.controllerfilename {cursor:pointer;font-weight:bold; }
.volumegroupfilename {cursor:pointer;font-weight:bold; }
.volumefilename {cursor:pointer;font-weight:bold; }
.volumehide {visibility: hidden; }