/* This is required to get the footer the same background color as the rest*/
html, .panel-body.html {
	background: #c5c5c5;
}

#a.dropdown-toggle {
#	background: #607392 !important;
#	font-family: 'roboto_condensedlight', sans-serif !important;
#	text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black !important;
#	font-size:14px !important;
#	font-weight:900 !important;
#	-webkit-border-radius: 5px;
#	-moz-border-radius: 5px;
#	border-radius: 5px;
#}


/* Loading up the fonts used on the FireEye appliances*/
@font-face {
    font-family: 'roboto_condensedlight';
    src: url('RobotoCondensed-Light-webfont.eot');
    src: url('RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoCondensed-Light-webfont.woff') format('woff'),
         url('RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Forces the color of the elapsed time counter*/
.refresh-time-indicator.pull-right.splunk-view.splunk-timeindicator, .time-freshness {
	color: #FFFFFF !important;
}

/* Add a red line at the bottom of the page*/
.dashboard-body {
	border-bottom: 2px solid #BD362F;
}

/* Set the font size and color for the footer */
.footer, .nav, .nav-footer, .nav.nav-footer a:link {
	color: #000000;
    font-size:14px !important;
}

/* Set the background color for the footer */
.footer, .shared-footer {
	background: #c5c5c5;
	background-image: none;
	color: #000000;
}

/* Adding a little extra padding after the red line at the bottom */
.shared-footer {
	padding: 5px;
}

/* Adds a red line at the top of the page to match the FireEye appliances */
/* and uses the same font type, color and size */
.dashboard-header h2 {
	border-bottom: 4px solid #BD362F;
	font-family: 'roboto_condensedlight', sans-serif;
	font-size: 30px;
 	font-weight: bold;
	color: #000000;
}
/* Adjust the padding to tighten the headers up on the panels */
/* and set the FireEye font and color */
.dashboard-row .dashboard-panel .panel-head h3 {
	font-family: 'roboto_condensedlight', sans-serif;
	background-color: rgb(59, 62, 80);
	color: #FFFFFF;
	padding: 8px 15px 8px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Changed the background to a solid color instead of the default linear-gradient */
.main-section-body {
    background: #c5c5c5;
}

/* Set the background color of all of the nav bars to match the FireEye dashboard background color */
/* Set the color of the hyperlink text in our dashboard to white for easy reading. Add 3-D touch with shadows */
.header, .app-bar, .nav-pills, .navbar-inner, a.dropdown-toggle {
    background: #21232E !important;
	font-family: 'roboto_condensedlight', sans-serif !important;
    font-size:14px !important;
    font-weight:900 !important;
}

/* If the FireEye logo (appLogo.png or appLogoWhite.png) does not exist the text will be the correct size and color */
div.app-name {
        color:#D12131 !important;
        text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
        font-size:26px !important;
}

/* Hide the drilldown "Details" box when it is unpopulated
#field3 {
        display: none;
}*/

