/*
   Restrict the width of single controls
*/

#Single_NumberOfHosts
{
   width: auto !important;
}

#Single_Errors
{
   width: auto !important;
}

#Single_Warnings
{
   width: auto !important;
}

#Single_Debug
{
   width: auto !important;
}

#Single_Info
{
   width: auto !important;
}


/*
   Put checkboxes next to each other instead of below each other
*/

#field4 
{
   width: auto;
}

#field4 .splunk-checkboxgroup
{
   width: 100%;
}

#field4 .shared-controls-syntheticcheckboxcontrol
{
   float: left;
   margin-right: 10px;
}