<style type="text/css">
	body 
	{
		font-family: helvetica, arial, sans-serif; 
		padding: 0;
		margin: 0;
        font-size:13px;
        color: #111;
	} 	
	
	label 
	{
		width:10%;
		display: inline-block;
		font-size:13px;
		line-height:24px;
		font-weight:bold;
	}
	
	.header_div h2
	 {
		color: rgb(94, 141, 61);
		font-size:18px;
	 }
	
	input 
	{
       width: 13em;
	   margin-top:5px;
       margin-bottom:5px;
       line-height:18px;
       padding:2px 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
       border-radius: 5px;
       border: 1px solid rgb(204, 204, 204)
    }
	
	
  #chassis input[type=submit] 
  {
    width: 13em;
    margin-top:10px
	margin-bottom:10px;
    padding:2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid ;
    background-color: rgb(94, 141, 61);
    color:#fff;
    font-weight:bold;
	cursor: pointer;
   }
   
   .div_ch_label
   {
	   width: 10em;
	   float: left;
	   display: inline-block;
   }   
   
   .row
   {
	   float: left;
	   width: auto;
	   padding-left:5px;
   }
	
	.new_row
	{
		float: left;
	}
	
</style>

<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%namespace name="helpers" file="//view/_helpers.html" import="*"/>

<%def name="gen_form(id, cls, method='POST', action=None)">
    <form id="${id}" class="${cls}" method="${method}"  action="${action if action else ''}">
</%def>

<div class="header_div">
    <h2>Chassis Setup</h2>
</div>

<div class="form_div">
  ${gen_form(id="chassis",cls="chassis" , method="POST", action=make_url(['custom', 'anue_app', 'AnueController', 'addChassis']))}
  ${csrf_hidden_input()}
     <input type="submit" value="Add Chassis"></input>
  </form>  
</div>



<div class="extra_space">
	<br />
	<br />
</div>

%if (availableChassis):
	% for entry in availableChassis:
	<div class="new_row">
	
	    <div class="div_ch_label">
			<label class="chassis_label" >${entry}</label>
		</div>
		
			${gen_form(id="set_tool_ports",cls="row" , method="POST", action=make_url(['custom', 'anue_app', 'AnueController', 'getToolPorts']))}
				${csrf_hidden_input()}
				<input type="hidden" name="ch_id" value="${entry}" /> 
				<input type="submit" value="Set Tool Ports"></input>
			</form> 
			
			${gen_form(id="set_network_ports",cls="row" , method="POST", action=make_url(['custom', 'anue_app', 'AnueController', 'getNetworkPorts']))}
				${csrf_hidden_input()}
				<input type="hidden" name="ch_id" value="${entry}" /> 
				<input type="submit" value="Set Network Ports"></input>
			</form> 
			
			${gen_form(id="set_bidi_ports",cls="row" , method="POST", action=make_url(['custom', 'anue_app', 'AnueController', 'getBidirectionalPorts']))}
				${csrf_hidden_input()}
				<input type="hidden" name="ch_id" value="${entry}" /> 
				<input type="submit" value="Set Bidirectional Ports"></input>
			</form> 
			
			${gen_form(id="set_dynamic_filters",cls="row" , method="POST", action=make_url(['custom', 'anue_app', 'AnueController', 'getDynamicFilters']))}
				${csrf_hidden_input()}
				<input type="hidden" name="ch_id" value="${entry}" /> 
				<input type="submit" value="Set Dynamic Filters"></input>
			</form> 
			
			${gen_form(id="del_ch",cls="row" , method="POST", action=make_url(['custom', 'anue_app', 'AnueController', 'deleteChassis']))}
				${csrf_hidden_input()}
				<input type="hidden" name="ch_id" value="${entry}" /> 
				<input type="submit" value="Delete Chassis"></input>
			</form>
	</div>
	
	</br>
	</br>
	</br>
	
	% endfor
% endif	


