<style type="text/css">
	body 
	{
		font-family: helvetica, arial, sans-serif; 
		padding: 0;
		margin: 0;
        font-size:13px;
        color: #111;
	} 
	
	label.key 
	{
	    height:50px;
		width:140px;
		display: inline-block;
		font-size:12px;
		line-height:24px;
	}

	label.value 
	{
	    height:50px;
		width:50%;
		display: inline-block;
		font-size:12px;
		line-height:24px;
		font-weight:bold;
	}
	
	h2
	{
		color: rgb(94, 141, 61);
		font-size:18px;
	}
	
    a:hover 
	{
		color: #333333;
	}

</style>

<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>

<div>
  <h2>Failure</h2>

%if (message):
    <label class="key">Something is not right</label> <label class="value">${message}</label> </br>
% endif	

  <label> Click <a target="_parent" href="${make_url('/app/anue_app/Setup')}"><span>Back</span></a> to return to  chasis setup.</label>  
  
</div>
