<style type="text/css">
	body 
	{
		font-family: helvetica, arial, sans-serif; 
		padding: 0;
		margin: 0;
        font-size:13px;
        color: #111;
	} 

	label 
	{
		width:10%;
		display: inline-block;
		font-size:12px;
		line-height:24px;
		font-weight:bold;
	}
	
	.form_header_div h2
	 {
		color: rgb(94, 141, 61);
		font-size:18px;
	 }
	 	
	input 
	{
       width: 16.5em;
	   margin-top:5px;
       margin-bottom:5px;
       line-height:18px;
       padding:2px 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
       border-radius: 5px;
       border: 1px solid rgb(204, 204, 204)
    }
	
  #chassis input[type=submit] 
  {
    width: 18em;
    margin-top:10px
	margin-bottom:10px;
    padding:2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid ;
    background-color: rgb(94, 141, 61);
    color:#fff;
    font-weight:bold;
	cursor: pointer;
}
</style>

<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%namespace name="helpers" file="//view/_helpers.html" import="*"/>

<%def name="gen_form(method='POST', action=None)">
    <form id="chassis" class="chassis" method="${method}"  action="${action if action else ''}">
</%def>

<div class="form_header_div">
    <h2>Chassis Setup</h2>
</div>

<div class="form_div">
  ${gen_form(method="POST", action=make_url(['custom', 'anue_app', 'AnueController', 'addChassisExecutor']))}
  ${csrf_hidden_input()}
    <label>Host</label> <input type="text" name="host" value=""/> <br />
	<label>Web Api Port</label> <input type="text" name="webapi_port" value="8000" /> <br />
    <label>Username</label> <input type="text" name="username" value="" /> <br />
    <label>Password</label> <input type="password" name="password" value="" /> <br />

     <label>&nbsp; </label><input type="submit" value="Set Chassis"></input>
  </form>  
</div>

