<style type="text/css">
	body 
	{
		font-family: helvetica, arial, sans-serif; 
		padding: 0;
		margin: 0;
        font-size:13px;
        color: #111;
	} 
	
	h2
	{
		font-size:18px;
    }
	
	#header_div h2
	 {
		color: rgb(94, 141, 61);
	 }
	 
	label.key  
	{
		width:10%;
		display: inline-block;
		font-size:12px;
		line-height:24px;
	}
	
	label.value  
	{
		width:20%;
		display: inline-block;
		font-size:15px;
		line-height:24px;
		font-weight:bold;
	}
	
	#chassis input[type=submit] 
	{
		width: 8em;
		margin-top:10px
		margin-bottom:10px;
		padding:2px 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border:1px solid ;
		font-weight:bold;
		background-color: rgb(94, 141, 61);
		color:#fff;
		cursor: pointer;
	}
	
    select 
	{
	    margin-top:10px
		margin-bottom:10px;
		margin-right:10px;
		width: 8em;
		padding: 5px;
		font-size: 13px;
		line-height: 1;
		-webkit-appearance: none;
	}
	 
</style>

<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%namespace name="helpers" file="//view/_helpers.html" import="*"/>



<%def name="gen_form(method='POST', action=None)">
    <form id="chassis" class="chassis" method="${method}"  action="${action if action else ''}">
</%def>

<div id="chassis">
    <div id="header_div">
		<h2>Chassis Configuration </h2>
	</div>
%if (host):
    <label class="key">Host : </label> <label class="value">${host}</label> </br>
% endif	
%if (webApiPort):
    <label class="key"> Web api port is : </label> <label class="value">${webApiPort}</label> </br>
% endif	
%if (username):
    <label class="key">Username is : </label>  <label class="value">${username}</label>  </br>
% endif	
%if (password):
    <label class="key">Password is : </label> <label class="value">${password}</label>  </br>
% endif	
</div>

<div>
	</br>
</div>
  
<div id="SetupPortDiv">
  ${gen_form(method="POST", action=make_url(['custom', 'anue_app', 'AnueController', 'setPort']))}
  ${csrf_hidden_input()}
	<label class="key">Available tool ports</label>
    <select name="statistics_port">
	 % for entry in chassisPortsList:
 	     <option value="${entry}">${entry['name']}</option>
	 % endfor
    </select> 
	<input type="hidden" name="host" value="${host}"/> 
	<input type="hidden" name="webapi_port" value="${webApiPort}" />
    <input type="hidden" name="username" value="${username}" /> 
    <input type="hidden" name="password" value="${password}" /> 

    <input type="submit" value="Set Port"></input>
  </form>  
</div>


