<style type="text/css">
	body 
	{
		font-family: helvetica, arial, sans-serif; 
		padding: 0;
		margin: 0;
        font-size:13px;
        color: #111;
	} 
	
	h2
	{
		font-size:18px;
    }
	
	#header_div h2
	 {
		color: rgb(94, 141, 61);
	 }
	 
	
	label
	{
		width:20%;
		display: inline-block;
		font-size:13px;
		line-height:24px;
		font-weight:bold;
	}
	
	#chassis input[type=submit] 
	{
		width: 8em;
		margin-top:10px
		margin-bottom:10px;
		padding:2px 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border:1px solid ;
		font-weight:bold;
		background-color: rgb(94, 141, 61);
		color:#fff;
		cursor: pointer;
	}

	 
</style>

<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%namespace name="helpers" file="//view/_helpers.html" import="*"/>



<%def name="gen_form(method='POST', action=None)">
    <form id="chassis" class="chassis" method="${method}"  action="${action if action else ''}">
</%def>

  
<div id="SetupDiv">
  ${gen_form(method="POST", action=make_url(['custom', 'anue_app', 'AnueController', 'setToolPorts']))}
  ${csrf_hidden_input()}
	<label class="key">Available Tool Ports</label>
	</br>
	</br>
	 % for entry in chassisEntitiesList:
		<input type="checkbox" name="selectedToolPorts" value="${entry}" ${entry['state']}>${entry['name']}
		</br> 
	 % endfor
    </br>
	</br>
	<input type="hidden" name="host" value="${host}"/> 
    <input type="submit" value="Set"></input>
  </form>  
</div>


