.panel_row1_col .layoutCellInner{
    background-image: url(host.png);
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 80px;
}

.panel_row1_col .layoutCellInner .dashboardContent{
    min-height: 110px;
}

.GenericHeader {
    display: inline-block;
    margin: 0px !important;
    padding: 0px !important;
}

.panel_row1_col .layoutCellInner .dashboardContent h3{
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

.panel_row1_col .layoutCellInner .dashboardContent h3.chartTitle {
    font-size: 12px;
    text-align: center;
}

.panel_row1_col .layoutCellInner .FieldSetItem label,
.panel_row1_col .layoutCellInner .FieldSetItem input{
    font-size: 24px;
    color: rgb(115, 165, 80);
    font-weight: bold;
}

.ExtendedFieldSearch {
    display: inline-block;
}

.panel_row1_col .dashboardContent {
    overflow: visible;
}

.panel_row1_col .dashboardContent div {
    overflow: visible !important;
}

.DashboardTitleBar h2 {
    display: none !important;
}

.SingleValueHolder {
    min-width:  0px;
    padding: 0px;
    text-align: left;
    float: none;
    background-color: transparent;
    border-radius: none;
    font-size: 15px;
    font-weight: inherit;
    box-shadow: none;
    background-image: none;
    border: none;
    display: inline-block;
}

.TimeRangePicker {
    float:right;
}

.SingleValueHolder.numVms:hover,
.SingleValueHolder.numVmsRunning:hover {
    cursor: hand;
    cursor: pointer;
    color: #798E07;
    text-decoration: underline;
}

.panel_row1_col .JSChartContainer {
    height: 100px !important;
    width: 150px !important;
    display: inline-block;
}

.panel_row1_col .JSChart {
    display: inline-block;
}

svg text {
    font-weight: normal !important;
    font-size: 10px !important;
}

.SingleValueHolder.critical {
    padding: 10px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}