.SingleValueHolder.clusterIcon {
    background-image: url(clusterIcon.png);
    background-repeat: no-repeat;
    background-position: 5px;
    padding: 10px 10px 10px 20px;
}

.SingleValueHolder.hostIcon {
    background-image: url(hostIcon.png);
    background-repeat: no-repeat;
    background-position: 5px;
    padding: 10px 10px 10px 20px;
}

.SingleValueHolder.vmIcon {
    background-image: url(vmIcon.png);
    background-repeat: no-repeat;
    background-position: 5px;
    padding: 10px 10px 10px 20px;
}

.SingleValueHolder.vmIcon:hover,
.SingleValueHolder.hostIcon:hover,
.SingleValueHolder.vmStoreIcon:hover {
    cursor: hand;
    cursor: pointer;
    color: #3366cc;
    text-decoration: underline;
}

.SingleValueHolder.vmStoreIcon {
    background-image: url(vmStoreIcon.png);
    background-repeat: no-repeat;
    background-position: 5px;
    padding: 10px 10px 10px 20px;
}