/* Leaflet overrides */
.splunk-map .leaflet-control-layers, .splunk-map .leaflet-bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.splunk-map .leaflet-bar a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.splunk-map .leaflet-control-zoom {
    background: none;
}

.splunk-map .leaflet-control-zoom-in {
    margin-bottom: 0;
}

.html>.splunk-map {
    margin: -10px;
}

.splunk-map {
  clear: both;
}

.search-status {
  background: #fff;
  padding: 5px 8px;
  font-size: 14px;
}

.search-status .icon-error {
  color: #c00;
}

#feature-table {
  background-color: white;
  font-size: 14px;
}

#feature-table thead td {
  font-weight: bold;
}

#feature-table tr .action {
  font-size: 12px;
}

#feature-table .feature-name {
  font-style: normal;
  color: #000;
}

#feature-table .feature-name.edit-mode {
  white-space: nowrap;
  font-style: italic;
  color: #666;
  padding: 2px 5px;
  border: 1px solid #999;
  min-width: 100px;
}

#feature-table .glyphicon {
  background-image: url('../../contrib/leaflet.draw-0.2.2/images/spritesheet.png');
  background-repeat: no-repeat;
  text-decoration: none;
  padding-left: 20px;
  height: 28px;
  margin-top: -14px;
  padding-top: 6px;
}

.feature-table.leaflet-control {
    max-height: 400px;
    overflow: auto;
}

.leaflet-retina #feature-table .glyphicon {
  background-image: url('../../contrib/leaflet.draw-0.2.2/images/spritesheet-2x.png');
  background-size: 270px 30px;
}

#feature-table .glyphicon-pencil {
  background-position: -152px -2px;
}

#feature-table .glyphicon-remove {
  background-position: -182px -2px;
}

#feature-table .actions {
  text-align: right;
}

tr.edit-mode .action {
  display: none;
}

tr.edit-mode .save {
  display: inline-block;
}

tr .save {
  display: none;
}