.syncsort-ironstream-dashboard-help-anchor {
    content: "About this Dashboard";
    width: 135px;
    position: absolute;
    top: 1px;
    right: 200px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
}

.syncsort-ironstream-dashboard-help-anchor:hover {
    color: #ffffff;
    text-decoration: none;
}   

#divIronstreamDashboardHelp.modal {
    min-width: 90%;
    max-width: 1550px;
    height: 90%;
    min-height: 795px;
    display: none;
}

#divIronstreamDashboardHelp div.modal-header, #divIronstreamDashboardHelp div.modal-footer {
    background-color: rgba(23, 101, 174, 0.15);
}

#divIronstreamDashboardHelp div.modal-body {
    padding: 10px;
    height: 100%;
    min-height: 661px;
}

#divIronstreamDashboardHelp .modal-title {
    color: #383333;
}

.divIronstreamDashboardHelpBody iframe {
    width: 100%;
    height: 100%;
}