{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% load demoview %}

{% block title %}Aerospike Statistics{% endblock title %}

{% block css %}
        <link rel="stylesheet" type="text/css" href="/dj/static/aerospike_app_for_splunk/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/dj/static/aerospike_app_for_splunk/dashboard-simple-bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="/dj/static/aerospike_app_for_splunk/style.css" />

    <style>
        @font-face
         {
             font-family: "Titillium Web";
             font-style: normal;
             font-weight: 400;
             src: local("Titillium Web"), local("TitilliumWeb-Regular"), url("http://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2") format("woff2");
         }
         body
        {
            font-family:'Titillium Web';
        }
        .shared-timerangepicker .btn
        {
          float: right;
          margin-bottom: 7px;
        }
        #timerange2
        {
          float:left;
          padding-top: 3px;
        }
        #timerange1
        {
          padding-right: 10px;
          padding-top: 3px;
        }
        .panel-body
        {
            table-layout:fixed;
             word-wrap:break-word;
        }
        table
        {
             table-layout:fixed;
             word-wrap:break-all;
             width:400px;
        }
        td {
            text-align: center;
        }

        td {
            font-size: 16px;
            /*text-shadow: 1px 1px #aaa;*/
            height:25px;
            max-width:200px;
            min-width:200px;
            overflow:hidden;
            padding-top:5px;
            padding-right:10px;
            align: center;
        }
        th {
            font-size: 18px;
            text-shadow: 1px 1px #aaa;
             height:30px;
             text-align: center;
        }
        
        a
        {
            color:#6E6E6E;
        }
        a:hover
        {
            color:#6E6E6E;
        }
        a:active
        {
            color:#6E6E6E;
        }
        a:visited
        {
            color:#6E6E6E;
        }
        a:link
        {
            color:#6E6E6E;
        }
        .show_stat
        {
            color:#FAFAFA;
        }
        .show_stat:hover
        {
            color:#FAFAFA;
        }
        .show_stat:active
        {
            color:#FAFAFA;
        }
        .show_stat:visited
        {
            color:#FAFAFA;
        }
        .show_stat:link
        {
            color:#FAFAFA;
        }

        .alert_info td
        {
              width: 100px;
              min-width: 80px;
        }
       .alert_info td:first-child
       {
              width: 100px;
              min-width: 40px;
        }
        #search_attributes input
        {
            width: 100% !important;
            float: right;
            height: 20px !important;
            font-size: 16px !important;
            border-color: #AEAEAE !important;
        }

</style>

{% endblock css %}

{% block content %}

<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <!--Menu bar for aerospike app -->

    <!--Page Discrption -->

    <div class="dashboard-header clearfix">
        <h2 style="color : #050505;text-shadow: 1px 1px #aaa">Aerospike Statistics</h2>

    </div>

    <!--Row 1 for node selection -->

    <div  class="dashboard-row dashboard-row1" style="height: 120px">
        <div class="dashboard-cell" style="width: 100%">
            <div id="dropdown_nodes" class="dashboard-panel" style="height: 120px">
                <div class="dashboard-element">
                  <div class="panel-head" style="background-color : #6E6E6E;width:50%;float:left;">
                        <h3 style="color : #FAFAFA;width:auto;float:left">Nodes Statistics</h3>

                  </div>
                  <div class="panel-head" style="background-color : #6E6E6E;width:50%;float:left;">
                      {% timerange id="timerange1" preset="1 minute window" managerid="search_node_resulttable"  earliest_time="$et$"|token_safe latest_time="$lt$"|token_safe %}
                      <h3 style="color : #FAFAFA;float:right;padding-top:9px;">Select Time Range</h3>

                  </div>
                  <div class="panel-body" style="width:100%;height:80px;">
                      <div style="width:25%;float:left;">
                          <h3 style="color : #6E6E6E; padding-left:10px">Select Node :
                              {% dropdown id="drop_headcount" default="*" managerid="search_sourcetypes" labelField="stanza" valueField="stanza" value="$ip_addr$"|token_safe showClearButton=False %}
                          </h3>
                      </div>

                      <div style="width:50%;float:right;">
                          <h3 style="color : #6E6E6E; padding-left:10%">Enter coma seperated attributes for searching :
                              {% textinput id="search_attributes" default="*"  value="$attributes$"|token_safe  %}
                          </h3>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!--Row 2 for Nodes statistics table -->

    <div  class="dashboard-row dashboard-row1" style="width: 100%;">
        <div class="dashboard-cell" >
            <div id="table_connected_nodes" class="dashboard-panel ">
                <div class="panel-element-row">
                    <div class="dashboard-element table" >

                        <div class="panel-body">
                            {% table id="table_node_searchresults" managerid="search_node_resulttable" count=10 drilldown="none" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>

{% endblock content%}

{% block managers %}

    {# Search managers go here #}

    {% searchmanager
        id="search_node_resulttable"
        search="sourcetype= \"aerospike_statistic\" stanza=$ip_addr$ |dedup stanza |rename stanza as Node_Address | table Node_Address,$attributes$ | transpose |rename row* as Node* |rename column as Attribute"|token_safe
        earliest_time="$et$"|token_safe
        latest_time="$lt$"|token_safe
        cache=True
    %}

    {% searchmanager
        id="search_alert"
        search="index=\"_audit\" action=\"alert_fired\" ss_app=\"splunk_app_for_aerospike\" | dedup ss_name | stats count"
        earliest_time="rt-5m"
        latest_time="rt"
        cache=True
    %}

    {% searchmanager
        id="search_alertinfo"
         search="index=\"_audit\" action=\"alert_fired\" ss_app=\"splunk_app_for_aerospike\" | dedup ss_name | rename ss_name as Alert_Name | eval severity = case(severity == \"1\", \"Info\", severity == \"2\", \"Low\", severity == \"3\", \"Medium\", severity == \"4\", \"High\", severity == \"5\", \"Critical\") | table severity Alert_Name"
        earliest_time="rt-5m"
        latest_time="rt"
        cache=True
    %}

    {%
    searchmanager
        id="search_sourcetypes"
        search="sourcetype= \"aerospike_statistic\" | stats count by stanza"
        earliest_time="$et$"|token_safe
        latest_time="$lt$"|token_safe
        cache=True
    %}

{% endblock managers %}

{% block js %}
<script>
        // Load the required libraries--in this case, the SplunkJS Stack and radio buttons
        var deps = [
            "splunkjs/ready!",
            "splunkjs/mvc/radiogroupview"
        ];
        require(deps, function(mvc) {
            // Define a dictionary of choices for the dropdown list
            var choices_headcount = [
                {label:"ALL", value:"*"}
            ];

            // Set the choices into the dropdown list
            splunkjs.mvc.Components.getInstance("drop_headcount").settings.set("choices", choices_headcount);

        });
</script>

{% endblock js %}
