{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}Aerospike Setup{% endblock title %}

{% block css %}

         <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/dashboard.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/dashboard-simple-bootstrap.min.css" />

        <link rel="stylesheet" type="text/css" href="/dj/static/aerospike_app_for_splunk/style.css" />

        <style>
         @font-face
         {
             font-family: "Titillium Web";
             font-style: normal;
             font-weight: 400;
             src: local("Titillium Web"), local("TitilliumWeb-Regular"), url("http://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2") format("woff2");
         }
         body
        {
            font-family:'Titillium Web';
        }
        .main-area {
            margin: 0px auto;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 10px;
            width: 400px;
        }
        .btn-primary {
            background-image: linear-gradient(to bottom, #57A0D2, #57A0D2);
            background-repeat: repeat-x;
            background-color: #57A0D2;
            border: 1px solid #57A0D2;
            color: #FFF;
            font-size:16px;
            box-shadow: 0px 1px 0px #57A0D2 inset;
       }
       .btn-primary:hover {
            background-image: linear-gradient(to bottom, #57A0D2, #57A0D2);
            background-repeat: repeat-x;
            background-color: #57A0D2;
            border: 1px solid #57A0D2;
            color: #FFF;
            font-size:16px;
            box-shadow: 0px 1px 0px #57A0D2 inset;
       }
       .btn-primary-can {
            background-image: linear-gradient(to bottom, #6E6E6E, #6E6E6E);
            background-repeat: repeat-x;
            background-color: #6E6E6E;
            border: 1px solid #BFBFBF;
            color: #333;
            box-shadow: 0px 1px 0px #6E6E6E inset;
            border-radius: 4px;
            font-size:16px;
            margin-left:50px;
            width:60px;
            padding-right:20px;


       }
       .btn-primary-can:hover {
            background-image: linear-gradient(to bottom, #6E6E6E, #6E6E6E);
            background-repeat: repeat-x;
            background-color: #6E6E6E;
            border: 1px solid #BFBFBF;
            color: #333;
            box-shadow: 0px 1px 0px #6E6E6E inset;
            border-radius: 4px;
            font-size:16px;
            margin-left:50px;
            width:60px;
       }
       label
       {

            font-size:16px;
            color : #6E6E6E
       }
       input[type="text"]
       {

            height:20px;
            font-family:'Titillium Web';
            font-size:16px;
       }
       main-area
       {
         margin: 0px auto 30px auto !important;
       }

    </style>
{% endblock css %}

{% block content %}

    <!--Menu bar for aerospike app -->
    <div>
        <div class="main-area" style="margin:70px auto 30px auto">
            <form class="splunkdj-setup-form" method="post" action="">
                {% csrf_token %}
                <h2 style="color : #050505;text-shadow: 1px 1px #aaa">Setup Form</h2>
                <h4 style="color : #6E6E6E">Enter seed node, then click <b>Save</b> to continue.</h4></br>

                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Connect" />
                {% if configured %}
                    <a class="btn btn-primary-can" href="{% url 'aerospike_app_for_splunk:home' %}">Cancel</a>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock content %}
