<a id="toggle-filters" href="#"><i class="icon icon-chevron-left"></i><i class="icon icon-chevron-left"></i></a>
<h3>Filters</h3>
<div class="clearfix"></div>
<div class="fieldset">
	<div class="input input-project-picker splunk-choice-input">
		<label for="project-picker">Project</label>
        <div id="project-picker"></div>
	</div>
    <div class="input input-timerange-picker splunk-choice-input">
        <label for="timerange-picker">Time range</label>
        <div id="timerange-picker"></div>
    </div>

<% _.each(filters, function(filter, index) { %>
    <div id="<%- ids[index] %>-container" class="input dropdown-container">
        <label for="<%- ids[index] %>"><%- labels[index] %></label>
        <div id="<%- ids[index] %>"></div>
    </div>
<% }) %>

</div>

