@font-face {
    font-family: CiscoSansTT;
    src: url(../fonts/CiscoSansTTRegular.woff);
}
body{
	font-family: CiscoSansTT !important;
}
.dashboard-body{
  background-color:#f2f2f2 !important;
}
/*threats css*/
#tableWithMultipleSparklineColors table tbody tr td[data-cell-index="0"] {
    font-size: 12px !important;
    text-align: center !important;
    color: white !important;
    width: 32px;
    height: 1px;
    border-radius: 50%;
    padding: 0px;
    vertical-align: middle;
}
#tableWithMultipleSparklineColors>.dashboard-row .dashboard-panel .panel-body .results-table table tr>td:last-child, .dashboard-row .dashboard-panel .panel-body .results-table table tr>th:last-child, .dashboard-row .dashboard-panel .panel-body .table td:last-child, .dashboard-row .dashboard-panel .panel-body .table th:last-child {
    padding-right: 12px;
    text-align: center;
    display: flex;
}

body{
	font-family: CiscoSansTT !important;
    -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-family: CiscoSans, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  min-width: 320px;
  height: 100%;
  margin: 0;
  background-color: #fff;
  color: #39393b;
  text-transform: none;
  box-sizing: border-box;
}
.html.h1,
.html.h2,
.html.h3,
.html.modal__title,
.htmlh4,
.htmlh5,
.html.h1,
.html.h2,
.html.h3,
.html.h4,
.html.h5 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  margin: 10px 0;
  color: inherit; }

.dashboard-body{
  background-color:#f2f2f2 !important;
}
.html h1{
   color: #39393B !important;	
   font-size: 24px !important;	
   line-height: 33px !important;
   font-weight: normal !important;
   font-family: CiscoSansTT !important;
}
.html h3 {
    font-size: 18px !important;
    line-height: 25px!important;
    font-weight: normal !important;
    margin: 5px 0px 0px 5px !important;
    color: #39393B !important;
    font-family: CiscoSansTT !important;
  }
  .html h4 {
    font-size: 16px !important;
    line-height: 22px!important;
    font-weight: normal !important;
    margin: 5px 0px 0px 5px !important;
    color: #39393B !important;
    font-family: CiscoSansTT !important;
  }
  .html h5 {
    font-size: 14px !important;
    line-height: 19px!important;
    font-weight: normal !important;
    margin: 5px 0px 0px 5px !important;
    color: #39393B !important;
    font-family: CiscoSansTT !important;
  }
  .subheading{
  color: #58585B;
	font-family: CiscoSansTT;
	font-size: 12px;
	line-height: 16px;
	margin: -8px 0px 0px 7px !important; 
  }
  .subheading1{
  	color: #58585B;
	font-family: CiscoSansTT;
	font-size: 12px;
	line-height: 16px;
	margin: 3px 0px 4px -3px; 
  }
  .subheading2{
    color: #58585B;
  font-family: CiscoSansTT;
  font-size: 12px;
  line-height: 16px;
  margin: 5px 0px 0px 6px; 
  }
/*Inputfield label Starting*/ 
#fieldset1 label{
	font-size: 14px!important;
	color: #737373!important;
	line-height: 19px!important;
	font-weight: lighter;
	font-family: CiscoSansTT !important;
}
/*Inputfield label end*/
#input2 button, #input3 button, #input4 button, #input5 button, #input6 button{
	background: #fff!important;
	border-radius: 3px !important;
	box-shadow: none!important;
	border-color: #9D9CA1!important;
	font-size: 14px!important;
	color: #39393B!important;
}
#input1 input, #input7 input, #input2 input, #input6 input{
  background: #fff!important;
  border-radius: 3px !important;
  box-shadow: none!important;
  border-color: #9D9CA1!important;
  font-size: 14px!important;
  color: #39393B!important;
}
#input3,#input4{
	width: 200px !important;
}
/*
#input6 div:nth-child(2) [style]{
  width: 220px !important;
}*/

#submit button.btn.btn-primary{
	background-color: #049FD9!important;
  font-size: 14px !important;
  font-weight: normal!important;
  font-family: CiscoSansTT !important;
}
#submit button.btn.btn-primary:hover{
  background-color: #0083b3 !important;
}
tr{
  font-family: CiscoSansTT !important;
  font-weight: normal!important;
}
#fieldset1 .hide-global-filters{
  display: none!important;
}

/*Spinner Starting*/

.spinner {
  margin: 0px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 8px;
  height: 8px;
  background-color: #049fd9;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/*Spinner End*/

/*Progressbar hide*/

.progress-bar{
             visibility: hidden;
           }
           
/*Progressbar hide*/           

/*.splunk-header.splunk-view.splunk-header.splunk-view > div[data-view="views/shared/appbar/Master"] {
  background-color: #ffffff !important;
  padding-top: 10px !important;
}
.splunk-header.splunk-view.splunk-header.splunk-view > div[data-view="views/shared/appbar/Master"] > div[data-view="views/shared/appbar/AppNav"] {
  margin-left: 27rem !important;
}
.splunk-header.splunk-view.splunk-header.splunk-view > div[data-view="views/shared/appbar/Master"] > div[data-view="views/shared/appbar/AppLabel"] {
  float: right !important;
  position: absolute !important;
}
.link---pages-enterprise---7-1-2---34IQK {
    color: #58585B !important;
    font-family: CiscoSansTT !important;
    font-weight: 200!important;
    display: block!important;
    padding: 0 20px !important;
    position: relative !important;
    text-decoration: none !important;
    margin-top: -4px!important;
}
.viewEnterprise---pages-enterprise---7-1-2---2Xt56 {
    line-height: 38px !important;
    font-size: 14px !important;
    font-family: CiscoSansTT !important;
    color: #39393B !important;
    height: 44px;
    box-sizing: border-box;
}*/
  
div[data-view="views/shared/appbar/Master"] {
  background-color: #ffffff !important;
  padding-top: 10px !important;
}
div[data-view="views/shared/appbar/Master"] > div[data-view="views/shared/appbar/AppNav"] {
  margin-left: 23rem !important;
}
div[data-view="views/shared/appbar/Master"] > div[data-view="views/shared/appbar/AppLabel"] {
  float: right !important;
  position: absolute !important;
  margin-top: -4px!important;
}

div[data-view="views/shared/appbar/Master"] > div[data-view="views/shared/appbar/AppNav"] > div > div > a > span[data-role="label"] {
    color: #39393B !important;
    font-family: CiscoSansTT !important;
    font-weight: normal!important;
    /*padding: 0 20px !important;*/
    padding: 0px 8px 0px 0px!important;
    position: relative !important;
    text-decoration: none !important;
    margin-top: -4px!important;
}

div[data-view="views/shared/appbar/Master"] > div[data-view="views/shared/appbar/AppNav"] > div > a > span[data-role="label"] {
    color: #39393B !important;
    font-family: CiscoSansTT !important;
    font-weight: normal!important;
    padding: 0 20px !important;
    position: relative !important;
    text-decoration: none !important;
    margin-top: -4px!important;
}

div[data-view="views/shared/appbar/Master"] > div[data-view="views/shared/appbar/AppNav"] > a[data-active] > span[data-role="label"] {
    color: #58585B !important;
    font-family: CiscoSansTT !important;
    font-weight: normal!important;
    padding: 0 20px !important;
    position: relative !important;
    text-decoration: none !important;
    margin-top: -4px!important;
}
div[data-view="views/shared/appbar/Master"] > div[data-view="views/shared/appbar/AppNav"] > div > div > a[data-active]{
    color: #58585B !important;
    font-family: CiscoSansTT !important;
    font-weight: normal!important;
    /*padding: 0 20px !important;*/
    padding: -1px 20px 0px 20px !important;
    position: relative !important;
    text-decoration: none !important;
    /*margin-top: -4px!important;*/
    
}


div[data-view="views/shared/appbar/Master"] > div[data-view="views/shared/appbar/AppLabel"] > a > div > span[data-role="app-label"] {
    line-height: 38px !important;
    font-family: CiscoSansTT !important;
    color: #58585B !important;
    height: 44px;
    box-sizing: border-box;
}


div[data-view="views/shared/appbar/Master"] > div[data-view="views/shared/appbar/AppNav"] > div > div > a[class^="viewEnterprise---simplexml---dev---"] {
    color: #58585B !important;
    font-family: CiscoSansTT !important;
    font-weight: normal!important;
    position: relative !important;
    text-decoration: none !important;
}

div[data-view="views/shared/appbar/Master"] > div[data-view="views/shared/appbar/AppNav"] > div > div > a > i[data-view="views/shared/Icon"]{
  color: #58585B !important;
}


a[data-view="views/shared/appbar/Button"][data-active="active"] div{
  background-color:#0083B3 !important;
  height: 4px !important;
  margin-bottom: 1px !important;
}

/*threats menu hover style*/

/*No result fount text*/

.dashboard-row .dashboard-panel .panel-body .splunk-message-container .alert{
  font-size: 14px !important;
  font-family: CiscoSansTT !important;
  color:#39393b !important; 
}

/*No result fount text*/

/*Threats Events and Traffic over the last 24 hours hyperlink*/
.panel-body.html .buttonRightAlign a{
  color:#049FD9 !important;
}
/*Threats Events and Traffic over the last 24 hours hyperlink*/

.panel {
  color: #39393b;
  border: 1px solid #9e9ea2;
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  height: auto;
  display: block;
  position: relative;
  margin: 15px; }
   .panel--color-gray {
    background: #f2f2f2;
    border: none; }
   .panel--color-white {
    color: #39393b;
    background: #fff;
    border: none; }
   .panel__.html
    display: flex; }
   .panel__title {
    font-size: 18px;
    flex: 1;
    flex-shrink: 1;
    flex-wrap: wrap; }
     .panel__title--size-small {
      font-size: 14px; }
   .panel__icon {
    font-size: 16px; }
   .panel__body {
    margin: 15px 0; }
   .panel__footer {
    text-align: right; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, 
{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1; }

.order-last {
  order: 13; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

.html .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    order: -1; }
  .order-sm-last {
    order: 13; }
  .order-sm-0 {
    order: 0; }
  .order-sm-1 {
    order: 1; }
  .order-sm-2 {
    order: 2; }
  .order-sm-3 {
    order: 3; }
  .order-sm-4 {
    order: 4; }
  .order-sm-5 {
    order: 5; }
  .order-sm-6 {
    order: 6; }
  .order-sm-7 {
    order: 7; }
  .order-sm-8 {
    order: 8; }
  .order-sm-9 {
    order: 9; }
  .order-sm-10 {
    order: 10; }
  .order-sm-11 {
    order: 11; }
  .order-sm-12 {
    order: 12; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

.html .btn--primary {
    color: #fff;
    background-color: #049fd9;
    border-color: #049fd9; }
    .html .btn--primary:hover {
      color: #fff;
      background-color: #0083b3;
      border-color: #0083b3; }
    .html .btn--primary:focus {
      color: #fff;
      background-color: #0083b3;
      border-color: #0083b3;
      box-shadow: 0 0 2px 2px rgba(4, 159, 217, 0.4); }
    .html .btn--primary:active {
      color: #fff;
      background-color: #00678c;
      border-color: #00678c; }
    .html .btn--primary.disabled, .html .btn--primary:disabled {
      box-shadow: none;
      color: #fff;
      background-color: #049fd9;
      border-color: #049fd9;
      opacity: 0.5; }


  #text1 .splunk-textinput
{
  width: 200px !important;
}
#text2 .splunk-textinput input{
  width: 200px !important;
}           
           
#input2 button, #input3 button, #input4 button, #input5 button, #input6 button{
        background: #fff!important;
        border-radius: 3px !important;
        box-shadow: none!important;
        border-color: #9D9CA1!important;
        font-size: 14px!important;
        color: #39393B!important;
}
#submit button.btn.btn-primary{
        background-color: #049FD9!important;
#submit button.btn.btn-primary:hover{
  background-color: #0083b3 !important;
}
a[data-view="views/shared/appbar/Button"][data-active="active"] div{
  background-color:#0083B3 !important;
  height: 4px !important;
  margin-bottom: 1px !important;
}

 .html .header__title {
    max-width: 400px;
    margin: 0 50px 0 0; }
    .html .header__title:focus {
      outline: 1px solid #049fd9; }
    .html .header__title a,
    .html .header__title a:visited,
    .html .header__title a:hover,
    .html .header__title a:focus,
    .html .header__title a:active {
      color: #39393b;
      text-decoration: none; }
    .html .header__title h1,
    .html .header__title h2 {
      margin: 0;
      font-weight: 200; }
  .html .header__toolbar {
    font-size: 16px;
    display: inline-flex; }
  .html .header__icon {
    display: inline-flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 36px;
    width: 36px; }
    .html .header__icon:hover {
      text-decoration: none; }
    .html .header__icon:focus {
      box-shadow: 0 0 2px 2px rgba(4, 159, 217, 0.4);
      text-decoration: none; }
  .html .header .dropdown__menu {
    top: calc(100% + 22.5px);
    left: -15px; }

.html .header {
  display: flex;
  height: 65px;
  padding: 0 30px 0 20px;
  width: 100%;
  min-width: 1280px;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 1030;
  overflow: visible; }
  .html .header__logo {
    display: block;
    margin: 0 20px 0 0; }
    .html .header__logo:hover {
      text-decoration: none; }
    .html .header__logo:focus {
      box-shadow: 0 0 2px 2px rgba(4, 159, 217, 0.4);
      text-decoration: none; }
    .html .header__logo .icon-cisco {
      display: block;
      font-size: 60px;
      line-height: 1; }
      .html .header__logo .icon-cisco:before {
        color: #049fd9; }
  .html .header__navigation {
    display: flex;
    align-self: flex-end;
    flex: 1; }
    .html .header__navigation .tab-group {
      margin: 0; }
      .html .header__navigation .tab-group__tab {
        padding-bottom: 21.5px; }
        .html .header__navigation .tab-group__tab .icon {
          font-size: 10px;
          font-weight: 800;
          margin: 0 0 0 5px;
          vertical-align: middle; }
  .html .header__title {
    max-width: 400px;
    margin: 0 50px 0 0; }
    .html .header__title:focus {
      outline: 1px solid #049fd9; }
    .html .header__title a,
    .html .header__title a:visited,
    .html .header__title a:hover,
    .html .header__title a:focus,
    .html .header__title a:active {
      color: #39393b;
      text-decoration: none; }
    .html .header__title h1,
    .html .header__title h2 {
      margin: 0;
      font-weight: 200; }
  .html .header__toolbar {
    font-size: 16px;
    display: inline-flex; }
  .html .header__icon {
    display: inline-flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 36px;
    width: 36px; }
    .html .header__icon:hover {
      text-decoration: none; }
    .html .header__icon:focus {
      box-shadow: 0 0 2px 2px rgba(4, 159, 217, 0.4);
      text-decoration: none; }
  .html .header .dropdown__menu {
    top: calc(100% + 22.5px);
    left: -15px; }  