div#expand_with_events > div.panel-head {
    background: #FFFF00 !important;
}

div#AppDistribution > div.panel-head {
    background: #FFFF00 !important;
}

div#AppDetails > div.panel-head {
    background: #FFFF00 !important;
}

#drilldown  .panel-title {
    background: #FFFF00 !important;
}

div#ProcessAccountDetails > div.panel-head {
    background: #FFFF00 !important;
}

div#ProcessDetails > div.panel-head {
    background: #FFFF00 !important;
}

