.making-ta-waiting{
	margin-top: 16px;
}

.output-message{
	margin-top: 16px;
}

.output-message .icon-check-circle{
	color: #65a637;
	padding-right: 6px;
	font-size: 22px;
}

.indexer-success-icon{
	margin-top: 4px;
}

.indexer-success-message-holder{
	margin-bottom: 16px;
}