
/*App Bar color to sky blue: #2D3D4C*/
.app-bar .nav {
/*background-color: #2D3D4C!important;*/
}

/*Page main body color*/
/*body,.dashboard-body,.footer,.header,.app-bar,.dashboard-panel,.dashboard-cell { 
	background: #F2F4F8!important; 
}



/*-----------------------SINGLE VALUE-COUNTER PANEL-----------------------------------*/

/*
Single Value Result display block Color And Heigh Increment and SHADOW */


.dashboard-row .dashboard-panel .panel-body .splunk-single {
/*background-color: #FFFFFF!important;
height: 100px!important;
width: 95%!important;*/

}

/*Remove Single Value Panel Border*/
/*.dashboard-row .dashboard-panel {
border: none!important;
margin: 0 2px 1px 0!important;

}

/*Single Value Result Alignment*/
/*.single-value {
margin-top: 25%!important;
}

/*Aligning the result of Single Value*/
/*.dashboard-row .dashboard-panel .panel-head h3 {
text-align: center!important;
}

/*Font Size of Single Value Result*/
/*.single-value .single-result {
font-size: 55px!important;
}

/*Single Value Footer Color*/
/*.dashboard-row .dashboard-panel .dashboard-element .panel-footer {
display:none!important;
}

/*Hide the Source Code*/
.sourcecode-viewer {
display: none!important;
}

/*Hide the refresh time*/
.dashboard-row .dashboard-panel .refresh-time-indicator {
display: none !important;
}

/*Hide Chart Labels*/
.highcharts-axis-labels {
display: none!important;
}

/*Hide x&y axis lines*/
.highcharts-axis {
opacity: 0!important;
}

.highcharts-grid {
opacity: 0!important;
}







.single-value:before {
    font-family: "Splunk Icons";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 58px;
}
/*Error report Count*/
.severe.single-value:before,.single-value .severe, .single-value.severe .single-result  {
   /* content: "\2297";*/
    color: #F10941!important;
	font-size: 55px!important;
	/*margin-right: 45%!important;*/
}
/*Usage report Count*/
.c_usage.single-value:before,.single-value .c_usage, .single-value.c_usage .single-result  {
    /*content: "#";*/
    color: #29BD88!important;font-size: 55px!important;
	/*margin-right: 45%!important;*/
}
/*No. of Devices connected*/
.dc_device.single-value:before,.single-value .dc_device, .single-value.dc_device .single-result  {
    /*content: "#";*/
    color: #29B1BD!important;font-size: 55px!important;
	/*margin-right: 45%!important;*/
}

/*Shadowing the dashboards*/
.dashboard-row .dashboard-panel {
box-shadow: 10px 21px 43px -7px rgba(0,0,0,0.35)!important;
border-width: 2px!important;
border-color: #2D3D4C!important;
/*border-radius: 23px 23px 23px 23px!important;*/
}



/*.single-value {
margin: 12%!important;
}


.dashboard-row .dashboard-panel .panel-element-row {
margin-top: 5%!important;
}

/*Header Center Aligning of pie and table group*/
.dashboard-row.dashboard-row3 {
	text-align: center!important;
}

/*Dashboard-Header Font Change*/
.dashboard-row .dashboard-panel .panel-head h3 {
font-weight: bold!important;
font-size: 150%!important
;}








