/* Cell Highlighting */

/* APP VERSION NAME */

#unauth_landing td.range-pckg_name,#sources_landing td.range-pckg_name,#highlight0 td.range-pckg_name, #highlight1 td.range-pckg_name, #highlight2 td.range-pckg_name, #highlight3 td.range-pckg_name {
background-color: #EFF9F9 !important;
color: #1D4F4F;
font-weight: bold;
}

#unauth_landing td.range-app_ver_name,#sources_landing td.range-app_ver_name,#highlight0 td.range-app_ver_name, #highlight1 td.range-app_ver_name, #highlight2 td.range-app_ver_name, #highlight3 td.range-app_ver_name {
background-color: #DEDEF2 !important;
color: #4040A4;
font-weight: bold;
}

#unauth_landing td.range-model,#sources_landing td.range-model,#highlight0 td.range-model, #highlight1 td.range-model, #highlight2 td.range-model, #highlight3 td.range-model {
background-color: #DFF0D8 !important;
color: #3C763D;
font-weight: bold;
}
#unauth_landing td.range-rel_id,#sources_landing td.range-rel_id,#highlight0 td.range-rel_id,#highlight1 td.range-rel_id,#highlight2 td.range-rel_id,#highlight3 td.range-rel_id {
background-color: #FCF8E3 !important;
color: #8A6D3B;
font-weight: bold;
}
#unauth_landing td.range-error_count,#sources_landing td.range-error_count,#highlight0 td.range-error_count,#highlight1 td.range-error_count,#highlight2 td.range-error_count,#highlight3 td.range-error_count,#errors_landing td.range-error_count {
background-color: #F2DEDE !important;
font-weight: bold;
color: #A94442;
}

/* FOR Android Version Column*/
#unauth_landing td.range-and_ver,#sources_landing td.range-and_ver,#highlight0 td.range-and_ver,#highlight1 td.range-and_ver,#highlight2 td.range-and_ver,#highlight3 td.range-and_ver,#errors_landing td.range-and_ver {
background-color: #DEE8F2 !important;
font-weight: bold;
color: #3A6592;
}

#unauth_landing td.range-unauth,#sources_landing td.range-unauth,#highlight0 td.range-unauth,#highlight1 td.range-unauth,#highlight2 td.range-unauth,#highlight3 td.range-unauth,#errors_landing td.range-unauth {
/*background-color: #fdcdb0 !important;*/
font-weight: bold;
color: #d9534f;
text-align: left;
/*font-size: 14px;*/
}

#unauth_landing td.range-auth,#sources_landing td.range-auth,#highlight0 td.range-auth,#highlight1 td.range-auth,#highlight2 td.range-auth,#highlight3 td.range-auth,#errors_landing td.range-auth {
/*background-color: #94d7ff !important;*/
font-weight: bold;
color: #428bca;
text-align: left;
/*font-size: 14px;*/
}

#unauth_landing td.range-err,#sources_landing td.range-err,#highlight0 td.range-err,#highlight1 td.range-err,#highlight2 td.range-err,#highlight3 td.range-err,#errors_landing td.range-err {
/*background-color: #FCF8E3 !important;*/
font-weight: bold;
color: orange;
}



#highlight0 hidden {
    display: none;
}


#highlight0 td.inbound, #highlight1 td.inbound, #highlight2 td.inbound, #highlight3 td.inbound {
  background-color: #D9EDF7 !important;
  border-color: #BCE8F1 !important;
  color: #31708F !important;
  font-weight: bold !important;
}

#highlight0 td.outbound, #highlight1 td.outbound, #highlight2 td.outbound, #highlight3 td.outbound {
  background-color: #F5E0EC !important;
  border-color: #BDA8B3 !important;
  color: #7E6974 !important;
  font-weight: bold !important;
}


.icon-inline i {
    font-size: 24px;
    margin-right: 5px;
    margin-top: 2px;
    display: block;
    float: left;
}
.icon-inline i.icon-alert-circle {
    color: #ef392c;
}
.icon-inline i.icon-alert {
    color: #ff9c1a;
}
.icon-inline i.icon-check {
    color: #5fff5e;
}

.icon-inline i.icon-triangle-down-small {
    color: #d85d3c;
}
.icon-inline i.icon-triangle-up-small {
    color: #65A637;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-weight: bold;
}


/*Config landing page*/

#creates {
   background: #DFF0D8;
   border-top: 3px solid #65a637;
}
#creates .single-value, #creates .single-drilldown, #creates .single-value .under-label {
    color: #65a637;
}
#creates .single-value .single-result{
    font-size: 50px;
    font-weight: 200;
}

#updates {
    background: #FCF8E3;
    border-top: 3px solid #eab51c;
 }
#updates .single-value, #updates .single-drilldown, #updates .single-value .under-label {
    color: #eab51c;
}
#updates .single-value .single-result{
    font-size: 50px;
    font-weight: 200;
}

#deletes {
    background: #F2DEDE;
    border-top: 3px solid #d85d3c;
}
#deletes .single-value, #deletes .single-drilldown, #deletes .single-value .under-label {
    color: #d85d3c;
}
#deletes .single-value .single-result {
    font-size: 50px;
    font-weight: 200;
}

#totals {
    background: #c2e5ff;
    border-top: 3px solid #31708f;
}
#totals .single-value, #totals .single-drilldown, #totals .single-value .under-label {
    color: #31708f;
}
#totals .single-value .single-result {
    font-size: 50px;
    font-weight: 200;
}


#simpleTopology {
  background-color: #f5f5f5;
  background-image: linear-gradient(#e0e0e0, #f5f5f5 400px, #f5f5f5);

}

/*About Resource Relationships Image */

.relationship_image {
  background: url("/static/app/SplunkAppforAWS/sample_relationships.png") no-repeat scroll 50% 50% transparent;
  min-height: 540px;
  background-position: top right;
  border: 1px dotted #e1e1e8;
}

