
/* Cell Highlighting */

/* 
#highlight td {
    background-color: #c1ffc3 !important;
}
*/

#highlight td.range-Free {
	background-color: #82FA58 !important;
    font-weight: bold;
	color: black !important;
}

#highlight td.range-crash{
    background-color: #fcb316 !important;
    font-weight: bold;
	color: black !important;
}

#highlight td.range-proc_start {
    background-color: #f01b31 !important; /**/
	color: white;
    font-weight: bold;
}


#highlight2 td.range-Build{
	background-color: #82FA58 !important;
    font-weight: bold;
	color: black !important;
}

#highlight2 td.range-Package {
    background-color: #fcb316 !important;
    font-weight: bold;
	color: black !important;
}

#highlight2 td.range-Free {
    background-color: #f01b31 !important;
	color: white;
    font-weight: bold;
	
}

.table th, .table td {
font-weight: normal;
padding: 4px 8px;
white-space: nowrap!important;

}

#field2 .select2-container{ width: 400px!important; }

#field1 { padding-left: 19px; }
#field3 {
margin-left: 15%!important;
width: 12%!important;
}



.dashboard-row .dashboard-panel .panel-element-row div.single {
float: left;
min-width: 200px;
text-align: center;
}


.dashboard-row .dashboard-panel .refresh-time-indicator {
padding: 10px 10px 6px 10px;
display: none!important;
}

.fieldset .input, .fieldset .element, .fieldset .form-submit {
margin-right: 4%!important;
}