<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%namespace name="helpers" file="//view/_helpers.html" import="*"/>
<%!
    import logging
    logger = logging.getLogger('splunk.module.setup')
%>



<%def name="gen_form(method='POST', action=None)">
    <form  method="${method}"  action="${action if action else ''}">
</%def>

<%def name="gen_text(name, form_content, dynamic=False)">
  % if name == 'python_path':
    <label for="python_path">Full path to python executable</label><br>
    <input type="text" id="python_path" value="${form_content['search']}" name="python_path"  size="25"></input><br><br>
  % else:
    <label for="${name}">${name.title()}</label><br>
    <input type="text" id="${name}" value="${form_content['search']}" name="${name}"  size="25"></input><br><br>
  % endif
  
</%def>


<h3>Extrahop Metrics Setup</h3>
<p>Please enter in the following values. After you click the save button, the device list<br> (located on the configuration view) will get populated by
an API call to the Extrahop device.<br><br>
This API call may take a few moments so please be patient.</p>

<h2>Please Note:</h2>
<b>*</b> If this is an upgrade please verify that the settings are correct and click save.<br>
<b>*</b> If this is a new install please fill-in the configuration settings and click save.<br>
<br>
  <br>
${gen_form(method="POST", action=make_url(['custom', 'extrahop_metrics', 'EHMSetup', 'save']))}
${csrf_hidden_input()}

${gen_text('username', form_content.get('username'), dynamic=True)}
${gen_text('password', form_content.get('password'), dynamic=True)}
${gen_text('hostname', form_content.get('hostname'), dynamic=True)}
${gen_text('python_path', form_content.get('python_path'), dynamic=True)}

<div class="stepHeader"> </div>
<div class="stepContent">
  <input class="splButton-primary" type="submit" value="Save"></input>
  </div>

</form>
