<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>


<div id="success">
  <h2>Success</h2>
  <p>Configuration settings have been saved.</p>
  <p>You should now see some devices show up in the Configure Inputs page under Dashboards.</p>
  
  <div class="stepHeader"> </div>
<div class="stepContent">
  <input class="splButton-primary" type="submit" value="Go to configuration view" onClick=parent.location="${make_url('/app/extrahop_metrics/configure_inputs')}"></input>
  </div>

</div>
