#ColumnSelectorWrapper {
	text-align: 	center;
	width: 			100%;
}

#ColumnSelectorWrapper div.column {
	float: 			left;
}

#ColumnSelectorWrapper div.column div.columntitle {
	text-align: 	left;
	color: 			#73A550;
	font-size: 		12px;
	font-weight: 	bold;
	font-family: 	Arial, Helvetica, "sans-serif";
	width: 			100%;
}

#ColumnSelectorWrapper div.column select.columnselect {
	width: 			100%;
}

#ColumnSelectorWrapper div.column select.columnselect option {
	margin-left:	16px;
	background:		white;
}
