.CodeMirror-code .assistantInner {
    /* background-color: black; */
}

.CodeMirror pre {
    font-size: 14px;
}

.label {
    text-transform: none;
}

g.type-TK > rect {
  fill: #00ffd0;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

g.cluster > rect {
  fill:#fff;
  stroke:#65a637;
  stroke-width:2px;
}

.node rect {
  fill:#fff;
  stroke:#65a637;
  stroke-width:2px;
}

.node circle {
  fill:#fff;
  stroke:#65a637;
  stroke-width:2px;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}

g.node-pipe > rect {
    
}

table.search-command-table {
  border-collapse: collapse;
  width: 100%;
}

table.search-command-table td, table.search-command-table th {
  border: 1px dotted #65a637;  
}

table.table-command-table {
  /*border-collapse: collapse;*/
  width: 100%;
}

table.search-command-table td.false-search-node {
  border: 1px dotted #d85d3c;  
  background-color: #faeae6;
}

#console table.search-command-table td.true-search-node {
  background-color: #ebf3d7;
}

html, body {
  width:    100%;
  height:   100%;         
  overflow: auto; /* when page gets too small */
}

body {
  font-size: 12px;
}

#everything {
  width:    100%;
  height:   100%;
  margin:   0 auto;
}

.ui-layout-center {
  width: 50%; 
}

input.cmdline {
  border: none;
  border: 0px;
  font-size: 12px;
  font-family: monospace;
  padding: 0px;
  margin: 0px;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 14px;
  line-height: 14px;
  color: #65a637;
}

.cli-prompt {
  color: #666666;
  display: inline;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  width: 40px;
}

input.cmdline[type="text"]:focus {
  border: none;
  border: 0px;
  font-size: 12px;
  font-family: monospace;
  padding: 0px;
  margin: 0px;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; 
  height: 14px;
  line-height: 14px;
}

table.inputtable {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: top;
}

table.inputtable td {
  padding: 0px;
  margin: 0px;
  vertical-align: top;
  font-size: 12px;
  font-family: monospace;
  text-align: left;
}

.cli-highlight {
  color: #65a637;
}

.text-highlight {
  color: #9ac23c;
}

table.inputtable td.cli-cmd {
  width: 100%;
  height: 14px;
  line-height: 14px;
}

.seash {
  font-size: 12px;
  font-family: monospace;
}

#svg-canvas p {
  margin: 0px;
}