/*
** Application Logo in a Splunk 5.0 Simple XML Document
** Recipe for when you want a logo and not a title
*/

/* Changes the background of the top-most bar to be the gradient in the image */
div.AccountBar {
	background-image: url('banner-background.png');
	background-repeat: repeat-x;
}

/* Changes the background of the navigation bar (where your menus appear) */
div.splHeader-navigation {
	background: #E1E1E1;
}

/* Changes the Logo Container to be a specific size and having a specific image */
.appLogoContainer {
	height: 64px;
}

.appLogoContainer .appLogo {
	width: 240px;
	height: 64px;
	background-image: url('appLogo.png');
	background-repeat: no-repeat;
}

/* Removes the text that is placed by the web application server */
.appLogoContainer h1 {
	width: 0px;
	font-size: 1px;
}

/* Adjusts the color of the "Account Bar" which is the bar in the top-right */
ul.accountBarItems li a,
ul.accountBarItems li a:link,
ul.accountBarItems li a:hover,
ul.accountBarItems li a:visited,
ul.accountBarItems li a:active {
	color: black;
}

/* Adjusts the color of the "AppBar" which is the bar with your menus */
ul.appBarNav li a,
ul.appBarNav li a:link,
ul.appBarNav li a:hover,
ul.appBarNav li a:visited,
ul.appBarNav li a:active {
	color: black;
}

/* The Aux Links are in the AppBar, but appear on the Right (Help and About) */
div.auxLinks a,
div.auxLinks a:link,
div.auxLinks a:hover,
div.auxLinks a:visited,
div.auxLinks a:active {
	color: black;
}
