/**
    Only use this file for css that you want to also appear in default 
    splunk views.
*/

/**
 * logo stuff
 */
 div.AccountBar {
    padding-left:5px;
}
.appLogo {
    width: 34px;
    height: 25px; 
    background-image: url(images/logo_sideview.gif);
    background-repeat: no-repeat;
    position:relative;
    top:4px;
}
.appLogoContainer {
    width:336px;
    height:42px;
    display:block;
    
    background-image:url(images/logo_splunk_powered.gif);
    background-repeat:no-repeat;
    background-position:240px 10px;
}
.appHeaderWrapper h1 {
    color:#f0f0f0;
    line-height:37px;
}



