/* DETAIL VIEWS */

.dashboardContent .Pulldown {
    float:left;
    margin-right:10px;
}

/* BROWSE VIEWS */
.CheckboxPulldown label, 
.Pulldown label, 
.TextField label,
.TimeRangePicker .timeRangePickerLabel {
    display: block;
    float: left;
    padding-right: 5px;
    padding-top: 3px;
    min-width: 62px;
    text-align: right;
}
.resultsHeaderPanel .Link {
    float:right;
}
.FieldPickerPopup .fpFieldListSecondHeader,
.FieldPickerPopup .fpFieldListThirdHeader,
.FieldPickerPopup  td.fpFieldListSecond,
.FieldPickerPopup  td.fpFieldListThird,
.FieldPickerPopup  .fpFrequencyFilter {
    display:none;
}
.FieldPickerPopup .fpFieldListFirstHeader {
    width:319px !important;
}
.FieldPickerPopup .fpFieldTerm div {
    width:280px !important;
}
.FieldPickerPopup .fpFieldListContainerInner {
    border-top-width:1px;
    border-top-style:solid;
}
.FieldPickerPopup a.fpClearSelectedFields {
    display:inline;
    border-bottom-width:0px;
}
.FieldPickerPopup a.extraLinkCreatedBySideview {
    margin: 5px 10px;
    padding-bottom: 3px;
    cursor:pointer;
}
/*
.FieldPickerPopup .fpSelectedFieldsContainer .fpFieldListContainerInner {
    height:
}
*/


.FieldPicker .splButton-primary span {
    min-width:none;
}
.FieldPicker {
    margin: 5px 10px 5px 0px;
}

.SearchControls {
    margin-right:8px  !important;
    margin-top:-27px !important;
}
.dashboardContent .Pager,
.dashboardContent .Link {
    margin-top:10px;
}
.dashboardContent .Table {
    margin:5px 10px 0px 10px;
}
.Table .distinctValueCount {
    color:#888;
}

.pageControls {
    border: 0 none !important;
}
.resultsArea .Pulldown {
    float: right;
}


/* SHARED */
.FieldPicker .splHeader h2 { 
    float:none;
    margin-left:0px;
    padding:0px;
}
.FieldPicker .splHeader-secondary {
    background:none;
}
.FieldPicker {
    float:right;
    height:32px;
}
.FieldPicker .inlineHeader {
    width:auto;
}
.Table p.emptyResults {
    background-color:transparent;
}