.panel_row1_col .layoutCellInner,
.panel_row1_col .Tabs {
/*    background-color:#edede7;
*/
}
.panel_row1_col .Tabs {
  border-bottom:1px solid #ccc !important;
}
.panel_row1_col .Tabs li.selected{
  position:relative;
  top:1px;
  height: 26px;
  line-height: 26px;
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
}

/*
tricky We use the grp1 div as the 'inside' of our tab design. 
however there's no classname so we have to apply a dangerous style
to all child divs, and then patch it
*/
.panel_row1_col .dashboardContent div {
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-top-width:0px;
}
.panel_row1_col .dashboardCell,
.panel_row1_col .dashboardContent div.SplunkModule,
.panel_row1_col .dashboardContent div.SplunkModule div {
    -moz-border-radius: 0px;
    -moz-box-shadow: none;
    border-radius:0px;
    border:0px;
    box-shadow:none;
/*
    background: transparent;
*/
    border-width: 0px;
    padding:0px;
}
