body{

}
.appLogoContainer h1{
 width:0px;
 visibility:hidden;
}
.appLogoContainer{
 background-image:url("hhlogo.png");
 background-repeat:no-repeat;
 width:900px;
 height:70px;
 vertical-align:middle;
}
.appLogo{
 margin-left:370px;
 margin-top:18px;
 width:150px;
 background-image:url("pivot2pcap.png");
 vertical-align:center;
}
