<div id="layout">
    <div class="FiltersRight">
    </div>
    <div class="BodyLeft technical-parent">
        <div class="PopTiles grid5">
            <a id="top_app_version">
            </a>
            <a id="top_os_version">
            </a>
            <a id="top_device">
            </a>
            <a id="top_locale">
            </a>
            <a id="top_carrier">
            </a>
        </div>
        <div id="AnalyticsTechnicalGraph" class="BigGraph"></div>
        <div id="bottom-table" class="Table"></div>
    </div>
</div>

