<div id="layout">
    <div class="FiltersRight">
    </div>
    <div class="BodyLeft usage-parent">
        <div class="NavBreadcrumb">
        </div>
        <div class="PopTiles">
            <a class="unique_users active">
                <h3>Users</h3>
                <span class="labelspan">Total users</span>
                <p id="unique-users-single"></p>
            </a>
            <a class="affected_users">
                <h3>Affected users</h3>
                <span class="labelspan">Total affected users</span>
                <p id="affected-users-single"></p>
            </a>
            <a class="sessions">
                <h3>Sessions</h3>
                <span class="labelspan">Total sessions</span>
                <p id="sessions-single"></p>
            </a>
            <a class="crash_rate">
                <h3>Crash rate (%)</h3>
                <span class="labelspan">Avg crash rate</span>
                <p id="error-rate-single"></p>
            </a>
            <a class="sessions_length">
                <h3>Session length</h3>
                <span class="labelspan">Avg session length</span>
                <p id="sessions-length-single"></p>
            </a>
            <a class="sessions_per_user">
                <h3>Sessions per user</h3>
                <span class="labelspan">Avg sessions per user</span>
                <p id="sessions-per-user-single"></p>
            </a>
        </div>
        <div id="AnalyticsOverviewGraph" class="BigGraph"></div>
    </div>
</div>

