/* make the text bigger/more readable on the user guide */

p {
	font-size:12px;
}

h3 {
	font-size:14px;
}

.dashboardContent .ServerSideInclude li {
	font-size:12px;
}

.code {
	font-size:12px;
	white-space:pre-wrap;
}

.splHeader-dashboard h2, .dashboardContent .ServerSideInclude h2, .dashboardContent .GenericHeader h3 {
    font-size: 14px;
}