#eaiform h2 {
    height: 55px;
    width: 168px;
    background-image: url(appLogo.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
}

fieldset legend {
    color: #000000 !important;
}

p.helpText {
    font-size: 14px;
}

#sitelink {
    font-weight: bold;
}
