@media print {
		.SingleValue .ack .singleResult {
		font-size:12px;
	}
	
	.SingleValue .ack {
		background-image:none;
		padding:0px 0px 0px 5px;
	}
	
	.SingleValue .critical .singleResult {
		font-size:12px;
	}
	
	.SingleValue .critical {
		background-image:none;
		padding:0px 0px 0px 5px;
	}
	
	.SingleValue .warning .singleResult {
		font-size:12px;
	}
	
	.SingleValue .warning {
		background-image:none;
		padding:0px 0px 0px 5px;
	}
	
	.SingleValue .ok .singleResult {
		font-size:12px;
	}
	
	.SingleValue .ok {
		background-image:none;
		padding:0px 0px 0px 5px;
	}
	
	.SingleValue .alarm .singleResult {
		font-size:12px;
	}
	
	.SingleValue .alarm {
		background-image:none;
		padding:0px 0px 0px 5px;
	}
	
	.SingleValue .down .singleResult {
		font-size:12px;
	}
	
	.SingleValue .down {
		background-image:none;
		padding:0px 0px 0px 5px;
	}
	
	.singleLabel {
		font-size: 12px;
		display:inline;
	}
	
	.singleValueHolder {
		display:inline;
	}
	
	.TimeRangePicker .timeRangeActivatorWrapper span.splIcon-triangle-4-s {
		display:none;
	}

	.page-breaker {
		page-break-after:avoid;
		display:none;
	}
}