.Setup_Table {
    width: 100%;
}

.Setup_Table td {
    border: 1px solid black;
}

.validated {
    color: green;
}

.validationfailed {
    color: red;
}

.dv input {
    margin-left: 10px;
}


/*
.panel-body {
    padding-left: 15px;
}
*/

.dvforcemargin {
    margin-left: 10px;
}

.statuscontainer {
    display: none;
    border: 1px solid gray;
    -moz-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    -moz-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
    min-height: 500px;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.panel-body p {
    padding-left: 0 !important;
    display: block;
}

.statuscontainer .btn-primary {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.status-container-default {
    display: block;
}

.stage-nav li {
    display: inline;
    margin-right: 20px;
}

.stage-nav a {
    font-size: 1em;
}

.ErrorPanel {
    display: none;
    background-color: #F99;
    color: #600;
    border: 1px #e60000 solid;
}

.dv-loader-description div p {
    display: inline;
}

.dv-loader-progress li {
    font-size: 1.5em;
    margin-top: 15px;
}

.dv-loader-progress ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.dv-stage-container{
    padding-bottom: 8px;
}

#element1 {
    width: 100% !important;
    /* for whatever reason, Splunk forces this to be 50% width which is obnoxious */
}