.SplunkModule.ExtendedFieldSearch
{
  float: left;
  padding-top: 2px;
  padding-left: 10px;
}

.SplunkModule.SearchSelectLister
{
  float: left;
  padding-top: 5px;
  padding-left: 10px;
}

.SplunkModule.SubmitButton,
.SplunkModule.TimeRangePicker
{
  float: left;
  padding-top: 7px;
  padding-left: 10px;
}

