.fieldset .input .input-text{
    /* Hide all form fields */
    display: none;
}

.splunk-view.splunk-textinput{
	    /* Hide all form fields */
	    display: none;
	}

.input.input-text.splunk-view{ 
	/* Hide all form fields */
	        display: none;
	 }
