.gigamaps {
	background: rgb(245,245,245);
	border: none;
}
.gigamap {
	display:inline-block;
	width: 45%;
	border-radius: 2px;
  	border: 1px solid #ccc;
  	background: #fff;	
	padding: 5px;
	margin: 5px;
}

.gigamaps_item {
	display: inline-block;
	padding: 5px;
	vertical-align: top;
}
