<div class="dashboard-cell">
    <h3 class="projectname">
        <a href="<%- projectHomeLink %>" class="project-name"><%- project.entry.get('name') %><i class="icon icon-chevron-right"></i></a>
        <a href="#" class="edit-project"><i class="icon icon-pencil"></i></a>
        <a href="#" class="delete-project"><i class="icon icon-trash"></i></a>
    </h3>
    <!--<p class="platfroms"><span class="android">{X} Android</span><br/><span class="ios">{Y} iOS</span></p>-->
    <div class="dashboard-panel">
        <div class="dashboard-element chart-mau">
            <div class="panel-head">
                <p data-toggle="tooltip" data-placement="top" title="<%- _('Weekly active users').t() %>">Users</p>
            </div>
            <div class="panel-body"></div>
            <div class="single-value">
                <span class="before-label"></span>
                <span class="single-result <%- (projectStats.get('uniques') === '') ? 'spinner' : '' %>">
                    <%- (projectStats.get('uniques') === null) ? _('Not Found').t() : projectStats.get('uniques') %>
                </span>
                <span class="after-label"></span>
          </div>
        </div>
        <div class="dashboard-element chart-crash-rate">
            <div class="panel-head">
                <p data-toggle="tooltip" data-placement="top" title="<%- _('7-day crash rate').t() %>">Crash rate</p>
            </div>
            <div class="panel-body"></div>
            <div class="single-value">
                <span class="before-label"></span>
                <span class="single-result <%- (projectStats.get('error_rate') === '') ? 'spinner' : '' %>">
                    <%- (projectStats.get('error_rate') === null) ? _('Not Found').t() : projectStats.get('error_rate') %>
                </span>
                <span class="after-label"><%- (projectStats.get('error_rate')) ? '%' : '' %></span>
            </div>
        </div>
        <div class="dashboard-element chart-avg-latency">
            <div class="panel-head">
                <p data-toggle="tooltip" data-placement="top" title="<%- _('7-day average network latency').t() %>">Avg latency</p>
            </div>
            <div class="panel-body"></div>
            <div class="single-value">
                <span class="before-label"></span>
                <span class="single-result <%- (projectStats.get('latency') === '') ? 'spinner' : '' %>">
                    <%- (projectStats.get('latency') === null) ? _('Not Found').t() : projectStats.get('latency') %>
                </span>
                <span class="after-label"><%- (projectStats.get('latency')) ? 'ms' : '' %></span>
            </div>
        </div>

    </div>
</div>
