<div id="legal-checkboxes">
    <h4>Help us improve Splunk products and services</h4>
    <label for="legalcheckbox">I wish to permit Splunk Inc. to collect anonymized information about my use of the Splunk App for MINT so that Splunk can improve its products and services. I understand that collecting this information will not impact the application's performance in any way, and that I can opt out at any time. <a href="http://docs.splunk.com/Documentation/MintApp/2.1.0/UserGuide/Usagedata" target="_new">Learn More</a></label>
</div>