/* -------------------------------------------------------------------------- */
/* General Styling                                                            */
/* -------------------------------------------------------------------------- */

p.helpText {
    color: #6b7785;
}

fieldset>legend{
    font-weight: bold;
    color: #1ca32e;
}
.formWrapper .widget{
    margin-top: 5px;
}
.configure_text{
    font-weight: bold;
}
.formWrapper .widget>label {
    float: left;
    line-height: 20px;
    width: 250px;
    text-align: right;
    padding-right: 20px;
    margin-top: 3px;
}

input[type=radio]{
    margin-right: 10px;
    margin-top: -5px;
}

input[type=checkbox]{
    margin-right: 10px;
    margin-top: -5px;
}

input,textarea{
    width: 400px;
}

#id_modes_of_authentication, #id_modes_of_authentication_mso, #id_modes_of_authentication_site{
    margin-left: 260px;
    padding: 10px;
}
.table tr th,.table tr td{
    text-align:center;
    border: 0.5px solid #1ca32e;
    padding:8px;
    line-height: 1.42857143;
}
.table{
    border: 1px solid #1ca32e;
}
table.table .form-control {
    height: 25px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
 }

.add_new_button .add-new{
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
    background:#1ca32e;
    color: #FFFFFF;
    border: 1px solid transparent;
}

#existing_stanza_widget{
    display: none;
}

.display_prop,.table td .add{
    display: none;
}

.submit_cancel_buttons{
    float: right;
    padding: 20px;
}

#id_submit_cancel_buttons
{
    height: 32px;
    width: 100px;
    margin: 0px 0px 0px 10px;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.1);
    border: transparent;
    font-weight: 500;
    border-radius: 3px;
}
.save_button{
    padding: 6px 15px;
    background-color:#1ca32e;
    color: #fff;
}

.save_button:hover {
    background-color: #4CAF50;
}
.fetch_sites{
    padding: 20px;
}

#id_fetch_sites_button
{
    height: 32px;
    width: 100px;
    margin: 0px 0px 0px 250px;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.1);
    border: transparent;
    font-weight: 500;
    border-radius: 3px;
}

.fetch_sites_button{
    padding: 6px 15px;
    background-color:#1ca32e;
    color: #fff;
}

.fetch_sites_button:hover {
    background-color: #4CAF50;
}
.cancel_button{
    padding: 5px 14px;
    background-color: #f7f8fa;
    color: #5c6773;
}

.cancel_button:hover {
    background-color: #e7e7e7;
}

.widgeterror {
    color: #dc4e41;
    font-weight: 700;
    padding-bottom: 5px;
    margin-left: 270px;
}

.msowidgeterror {
    color: #dc4e41;
    font-weight: 700;
    padding-bottom: 5px;
}
#inputs_error_widget {
    margin-left: 20px;
    margin-bottom: -25px;
    font-weight: 700;
    color: #dc4e41;
}
#nothing_selected_error_widget {
    margin-left: 0px;
    font-size: 16px;
    font-weight: 700;
    color: #dc4e41;
}

table .error{
    background-color: #dc4e41;
    border-color: #f50000;
}

#error_message{
    padding: 10px;
    background: #f7f7f5;
    color: #dc4e41;
    text-align: center;
    font-weight: bold;
}
#success_message{
    background: #f7f7f5;
    font-weight: bold;
    text-align: center;
    color: #1ca32e;
    padding: 10px;

}
.site_data_label {
    float: left;
    line-height: 20px;
    width: 250px;
    text-align: right;
    padding-right: 20px;
    margin-top: 3px;
}

button[disabled] {
    cursor: not-allowed;
    color: #dff2df;
    background: #9ed99e;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #f7f7f5;
    color: #222;
}

.tab-content{
    display: none;
    background: #f7f7f5;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}

.accordion > i {
    pointer-events: none
}

.fetch_sites{
    padding: 20px;
}

#id_fetch_sites_button
{
    height: 32px;
    width: 100px;
    margin: 0px 0px 0px 250px;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.1);
    border: transparent;
    font-weight: 500;
    border-radius: 3px;
}

.fetch_sites_button{
    padding: 6px 15px;
    background-color:#1ca32e;
    color: #fff;
}

.fetch_sites_button:hover {
    background-color: #4CAF50;
}
.accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active_accordian, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #eee;
}
