<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*" />

<%def name="css()"> 
    <%coreCSSFiles = ["/static/css/view.css", "/static/css/skins/default/default.css", "/modules/nav/AccountBar.css", "/static/css/print.css"] %>
    <%lib:stylesheet_tags files="${coreCSSFiles}" />
</%def>

<body>

<div class="appHeaderWrapper">
    <div class="layoutRow oneColRow splClearfix appHeader">       
        <div class="SplunkModule AccountBar">
           <font size="3">
            <a href="${make_url('/app/launcher/home')|h}" class="splIcon splIcon-close"></a>
            <div class="appLogoContainer popupAppLogoContainer">
                <a href="${make_url('/app/launcher/home')|h}" class="appLogo"></a>
                <h1>${_('Splunkbase')}</h1>
            </div>
            </font>
        </div>
    </div>
</div>

<!-- display messages -->
<h1>Best matching apps to your event</h1>


<ul>
% for app in bestapps[:10]:
<table>
 <tr>
  <td width="5px"><b>${app[0]|h}</b></td>
  <td xwidth="50px"><table bgcolor="#5555BB" width="${float(str(app[1]))*5|h}"><tr><td align=center><font color=white>score: ${app[1]|h}<font></td></tr></table></td>
</tr>
<tr>
  <td colspan=2>
     <ul>
       % for reason in app[2]:
       <li>Reason: ${reason|h}</li>
       % endfor
     </ul>
     </td>
</tr>
</table>
% endfor
</ul>

</body>
