/* trend define
--------------------------------*/
.main-area {
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  width: 300px;
}
#ffrom{
  position: relative;
  left: 10px;
  top: 10px;
  width: 400px; 
  height: 80px;
}
#spl{height: 23px;}
h3{
  font-size: 12px;
  color: #73A550;
  font-weight: bold;
  background-color: transparent;
}
.move2{left:5px;}
#submit-button{
  width:80px;
  height:20px;
  font-size:12px;
}
/* buttons
---------------------------------*/

.splButton-primary,
.splButton-secondary,
.splButton-tertiary,
.splRadio-control {
    /*background: #73a550 url(/en-US/static/@196940/img/skins/default/overlay_gloss_28.png) repeat-x left -3px;*/
    color: #333333;
    font-size:12px;
    border: 1px solid #5e8d3d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    background-color: #e9e9e9;
    background-color: #ebebeb;
    background-image: url(/en-US/static/@196940/img/skins/default/ieGradients/interactive.png);
    background-image: -moz-linear-gradient(top, #f5f5f5, #dcdcdc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#dcdcdc));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #dcdcdc);
    background-image: -o-linear-gradient(top, #f5f5f5, #dcdcdc);
    background-image: linear-gradient(to bottom, #f5f5f5, #dcdcdc);
    background-repeat: repeat-x;
    background-position: center;

    border: 1px solid #aeaeae;
    border-top-color: #b7b7b7;
    border-bottom-color: #989898;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);

    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);

}
.splButton-primary
{
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(51, 51, 51, 0.7);

    background-color: #5c9732;
    background-image: url(/en-US/static/@196940/img/skins/default/ieGradients/interactivePrimary.png);
    background-image: -moz-linear-gradient(top, #65a637, #4e802a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#65a637), to(#4e802a));
    background-image: -webkit-linear-gradient(top, #65a637, #4e802a);
    background-image: -o-linear-gradient(top, #65a637, #4e802a);
    background-image: linear-gradient(to bottom, #65a637, #4e802a);


    border: 1px solid #426d24;
    border-bottom-color: #32521b;
    border-top-color: #4e802a;
}

button.splButton-primary span,
button.splButton-secondary span,
button.splButton-tertiary span
{
    line-height:21px; /*Note: line-height won't work on buttons in FF*/
}


.splButton-primary:hover,
.splButton-primary:focus {
    background-color: #7db44d;
    background-image: url(/en-US/static/@196940/img/skins/default/ieGradients/interactivePrimaryHover.png);
    background-image: -moz-linear-gradient(top, #95ca5f, #599331);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#95ca5f), to(#599331));
    background-image: -webkit-linear-gradient(top, #95ca5f, #599331);
    background-image: -o-linear-gradient(top, #95ca5f, #599331);
    background-image: linear-gradient(to bottom, #95ca5f, #599331);

    border-color: #55802a;
    border-bottom-color: #36591e;
    border-top-color: #629331;

    outline: none;
}

.splButton-secondary:hover,
.splButton-secondary:focus,
.splButton-tertiary:hover,
.splButton-tertiary:focus,
.splRadio-control:hover,
.splRadio-control:focus {
    background-color: #f5f5f5;
    background-image: url(/en-US/static/@196940/img/skins/default/ieGradients/interactiveHover.png);
    background-image: -moz-linear-gradient(top, #ffffff, #e5e5e5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
    background-image: -o-linear-gradient(top, #ffffff, #e5e5e5);
    background-image: linear-gradient(to bottom, #ffffff, #e5e5e5);

    border-color: #aeaeae;
    border-top-color: #b7b7b7;
    border-bottom-color: #989898;
    outline: none;
}

.splButton-disabled,
.splButton-disabled:hover,
.splButton-disabled:focus {
	border-color: #999;
	background-color: #e6e6e6;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
}

.splButton-disabled .splButtonIcon {
    opacity:0.5;
}

.splButton-primary span.splMenuIcon {
   background-position: 0 -300px;
}
.splButton-secondary span.splMenuIcon,
.splButton-tertiary span.splMenuIcon {
   background-position: -13px -300px;
}

.splButton-secondary.selected,
.splButton-tertiary.selected,
.splRadio-control.s-active{
   background-color: #f5f5f5;
   background-image: url(/en-US/static/@196940/img/skins/default/ieGradients/interactiveSelected.png);
   background-image: -moz-linear-gradient(top, #ffffff, #e5e5e5);
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e5e5e5));
   background-image: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
   background-image: -o-linear-gradient(top, #ffffff, #e5e5e5);
   background-image: linear-gradient(to bottom, #ffffff, #e5e5e5);

   border-color: #aeaeae;
   border-top-color: #b7b7b7;
   border-bottom-color: #989898;
   background-position: center;
   background-image: none;
   -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
   -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
   box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}


/* buttons Groups
---------------------------------*/

.splButtonGroup .splButton-primary,
.splButtonGroup .splButton-secondary,
.splButtonGroup .splButton-tertiary {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin:0;
}


.splButtonGroup .splButton-disabled {
	border-left-color: #bbb;
	cursor:not-allowed;
}

.splButtonGroup .splButton-primary:first-child,
.splButtonGroup .splButton-secondary:first-child,
.splButtonGroup .splButton-tertiary:first-child {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
}

.splButtonGroup .splButton-primary:last-child,
.splButtonGroup .splButton-secondary:last-child,
.splButtonGroup .splButton-tertiary:last-child {
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 4px;
    border-right-width:1px;
}

/* Iconic Links
---------------------------------*/

.splIconicLinkIcon, .splButtonIcon, span.splMenuIcon {
    background-image: url(/en-US/static/@196940/img/skins/default/sprite_button_icons.png);
    background-position: 0 0;
}

.splIconicLinkIcon, .splButtonIcon, span.splMenuIcon {
    background-image: url(/en-US/static/@196940/img/skins/default/sprite_button_icons.png);
    background-position: 0 0;
}
