.main-area {
    border: 1px solid black;
}

.commercial{
	background-color: rgba(0, 0, 0, 0.3) !important;
	display: table !important;
	text-align: center !important;
	width: 100% !important;
	height: 300px;
}

.commercial-text{
	display: table-cell !important;
	vertical-align: middle !important;
	color: white !important;
}

.commercial-title
{
	background:#f0595f !important;
}