{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load splunk_wftoolkit %}

{% block title %}Parallel{% endblock title %}

{% block css %}
{{block.super}}
<style type="text/css">
.splunk-toolkit-parellel-sets{
    height: 600px;
    width: 1200px;
}
</style>
{% endblock css %}


    {% block heading %}Pa{% endblock heading %}

    {% block content %}
        {%  parallelsets
                id="example-sets"
                managerid="search1"
        %}
    {% endblock content %}
{% block managers %}

    {% searchmanager id="search1"
        search='| pivot AlarmasOssim ossimevent count(alarm) AS "Alarma" SPLITROW src_ip AS "src_ip" SPLITROW alarm AS "Alarm" SPLITROW dst_ip AS "Destino" SORT 20 src_ip |table src_ip,Alarm,Destino'
        cache=True
    %}

{% endblock managers %}

{% block js %}
{{block.super}} 
<script>
require([
"splunkjs/ready!",
"jquery",
"splunk_wftoolkit/components/parallelsets/parallelsets",
],
function(mvc, $, ParallelSets) {
var sets = new ParallelSets({
'id' : 'example',
'managerid' : 'example-search',
'el' : $('#example-chart')
}).render();
});
</script>
{% endblock js %}
