{% extends "toolkit_controls_base.html" %}

{% load splunkmvc %}
{% load splunk_wftoolkit %}

{% block title %}Promiscuous Hosts Visual{% endblock title %}

{% block css %}
{{block.super}}
<style type="text/css">
#sankey1{
    height: 600px;
    width: 1200px;
}
#messagetext{
    text-align:center;
    font-size:22px;
}

</style>
{% endblock css %}


    {% block heading %}Sankey{% endblock heading %}

    {% block content %}
	<div id="messagetext">Last 24 Hrs Promiscuous Hosts</div>
        <div id="graph">
         {%  sankey
                id="sankey1"
                managerid="search1"
        %}
        </div>
    {% endblock content %}
{% block managers %}

    {% searchmanager id="search1"
        search='sourcetype=ossim_action RIESGO>=1 earliest=-24h@h | head 200 | stats count by src_ip,dst_ip'
        cache=True
    %}

{% endblock managers %}

{% block js %}
{{block.super}} 
<script>
  require([ 
        "splunkjs/ready!", 
        "jquery",
        "splunk_wftoolkit/components/sankey/sankey",
    ], 
    function(mvc, $, Sankey) {
        var sankey = new Sankey({
            'id' : 'graph',
            'managerid' : 'search1',
            'el' : $('#graph')
        }).render();
    });


</script>
{% endblock js %}
