{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Your page title goes here{% endblock title %}

{% block css %}
    <!-- Style sheets are loaded here -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
    <style>
        /* Define any page styles here*/
    </style>
{% endblock css %}

{% block content %}
    <!-- You can use HTML and <div> tags for layout -->
    <div class="dashboard-body container-fluid main-section-body" data-role="main">

        <!-- HEADER --> 
        <div class="dashboard-header clearfix">
            <h2>Connectors stats</h2>
            <p class="description">Connector statistics</p>
            <p>
            {% timerange id="timerange1"
                preset="Last 60 minutes"
                earliest_time="$earlyval$"|token_safe
                latest_time="$lateval$"|token_safe %}
            </p>
        </div>


        <div class="dashboard-header clearfix">
            <h3>Network Traffic Stats</h3>
        </div>

        <div class="dashboard-row dashboard-row1">
            <div class="dashboard-cell" style="width: 50%;">
                <div class="dashboard-panel ">
                    <div class="dashboard-element">
                        <div class="panel-head">
                            <h3>Network input bytes per connector</h3>
                        </div>
                        <div class="panel-body">
                            {# Splunk views go here #}
                            {% chart id="tchart_netin" managerid="search_tchart_netin" type="line" %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboard-cell" style="width: 50%;">
                <div class="dashboard-panel ">
                    <div class="dashboard-element">
                        <div class="panel-head">
                            <h3>Network output bytes per connector</h3>
                        </div>
                        <div class="panel-body">
                            {# Splunk views go here #}
                            {% chart id="tchart_netout" managerid="search_tchart_netout" type="line" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="dashboard-header clearfix">
            <h3>Connections Stats</h3>
        </div>
        <div class="dashboard-row dashboard-row2">
            <div class="dashboard-cell" style="width: 50%;">
                <div class="dashboard-panel ">
                    <div class="dashboard-element">
                        <div class="panel-head">
                            <h3>Average Received Bytes by Connection</h3>
                        </div>
                        <div class="panel-body">
                            {# Splunk views go here #}
                            {% chart id="tchart_avg_received_bytes_by_conn" managerid="search_avg_received_bytes_by_conn" type="line" %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboard-cell" style="width: 50%;">
                <div class="dashboard-panel ">
                    <div class="dashboard-element">
                        <div class="panel-head">
                            <h3>Average Sent Bytes by Connection</h3>
                        </div>
                        <div class="panel-body">
                            {# Splunk views go here #}
                            {% chart id="tchart_avg_sent_bytes_by_conn" managerid="search_avg_sent_bytes_by_conn" type="line" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-row dashboard-row3">
            <div class="dashboard-cell" style="width: 50%;">
                <div class="dashboard-panel ">
                    <div class="dashboard-element">
                        <div class="panel-head">
                            <h3>Avarage processing time</h3>
                        </div>
                        <div class="panel-body">
                            {# Splunk views go here #}
                            {% chart id="tchart_avg_ptime" managerid="search_avg_ptime" type="line" %}
                        </div>
                    </div>
                </div>
            </div>

            
        </div>

        </div>



    </div>
{% endblock content%}

{% block managers %}
    {# Search managers go here #}


    {% searchmanager
        id="search_tchart_netin"
        search="index=jboss eventtype=jmxnetstats | streamstats current=f global=f window=1 last(bytesReceived) as prevBytesReceived by conn_name | eval dBytesReceived=prevBytesReceived-bytesReceived | eval dBytesReceived=if(dBytesReceived<0, 0, dBytesReceived) | eval dBytesReceivedMB=round(dBytesReceived/1024/1024,2) | timechart avg(dBytesReceivedMB) by conn_name"
        earliest_time="$earlyval$"|token_safe
        latest_time="$lateval$"|token_safe
        cache=False
    %}  

    {% searchmanager
        id="search_tchart_netout"
        search="index=jboss eventtype=jmxnetstats   | streamstats current=f global=f window=1 last(bytesSent) as prevBytesSent by conn_name  | eval dBytesSent=prevBytesSent-bytesSent   | eval dBytesSent=if(dBytesSent<0, 0, dBytesSent) | eval dBytesSentMB=round(dBytesSent/1024/1024,2) | search bytesSent>0 | timechart avg(dBytesSentMB) by conn_name"
        earliest_time="$earlyval$"|token_safe
        latest_time="$lateval$"|token_safe
        cache=False
    %}  

    {% searchmanager
        id="search_avg_received_bytes_by_conn"
        search='index=jboss eventtype=jmxnetstats | streamstats current=f global=f window=1 last(bytesReceived) as prevBytesReceived last(requestCount) as prevRequestCount by conn_name | eval dBytesReceived=bytesReceived-prevBytesReceived | eval dRequestCount=requestCount-prevRequestCount | eval avgBytesReceived=dBytesReceived/dRequestCount | eval avgBytesReceivedKB=round(avgBytesReceived/1024,2) | timechart avg(avgBytesReceivedKB) by conn_name'
        earliest_time="$earlyval$"|token_safe
        latest_time="$lateval$"|token_safe
        cache=False
    %}  

    {% searchmanager
        id="search_avg_sent_bytes_by_conn"
        search='index=jboss eventtype=jmxnetstats  | streamstats current=f global=f window=1 last(bytesSent) as prevBytesSent last(requestCount) as prevRequestCount by conn_name | eval dBytesSent=bytesSent-prevBytesSent | eval dRequestCount=requestCount-prevRequestCount | eval avgBytesSent=dBytesSent/dRequestCount | eval avgBytesSentKB=round(avgBytesSent/1024,2) | timechart avg(avgBytesSentKB) by conn_name'
        earliest_time="$earlyval$"|token_safe
        latest_time="$lateval$"|token_safe
        cache=False
    %}  

    {% searchmanager
        id="search_avg_ptime"
        search='index=jboss eventtype=jmxnetstats  | sort +_time | streamstats current=f global=f window=1 last(processingTime) as prevProcessingTime last(requestCount) as prevRequestCount by conn_name | eval dProcessingTime=processingTime-prevProcessingTime | eval dRequestCount=requestCount-prevRequestCount | eval avgProcessingTime=dProcessingTime/dRequestCount | timechart avg(avgProcessingTime) by conn_name'
        earliest_time="$earlyval$"|token_safe
        latest_time="$lateval$"|token_safe
        cache=False
    %}  



{% endblock managers %}

{% block js %}
    {# JavaScript goes here #}

    <script>
        var deps = [
            "splunkjs/ready!"
        ];
        require(deps, function(mvc) {

            var tchart_netin = splunkjs.mvc.Components.getInstance("tchart_netin");
            tchart_netin.settings.set({
                "charting.axisTitleX.text": " ",
                "charting.axisTitleY.text": "MB",
                "charting.chart.nullValueMode": "connect",
                "charting.seriesColors": "[0xFAC61D, 0xD85E3D, 0x956E96, 0xF7912C, 0x9AC23C, 0x998C55, 0xDD87B0, 0x5479AF, 0xE0A93B, 0x6B8930, 0xA04558, 0xA7D4DF, 0xFCDD77, 0xE89E8B, 0xBFA8C0, 0xFABD80, 0xC2DA8A, 0xC2BA99, 0xEBB7D0, 0x98AFCF, 0xECCB89, 0xA6B883, 0xC68F9B, 0x416E79, 0x967711, 0x823825, 0x59425A, 0x94571A, 0x5C7424, 0x5C5433, 0x85516A, 0x324969, 0x866523, 0x40521D, 0x602935, 0x6CB8CA]"
            });

            var tchart_netout = splunkjs.mvc.Components.getInstance("tchart_netout");
            tchart_netout.settings.set({
                "charting.axisTitleX.text": " ",
                "charting.axisTitleY.text": "MB",
                "charting.chart.nullValueMode": "connect",
                "charting.seriesColors": "[0xD85E3D, 0x956E96, 0xF7912C, 0x9AC23C, 0x998C55, 0xDD87B0, 0x5479AF, 0xE0A93B, 0x6B8930, 0xA04558, 0xA7D4DF, 0xFCDD77, 0xE89E8B, 0xBFA8C0, 0xFABD80, 0xC2DA8A, 0xC2BA99, 0xEBB7D0, 0x98AFCF, 0xECCB89, 0xA6B883, 0xC68F9B, 0x416E79, 0x967711, 0x823825, 0x59425A, 0x94571A, 0x5C7424, 0x5C5433, 0x85516A, 0x324969, 0x866523, 0x40521D, 0x602935, 0x6CB8CA, 0xFAC61D]"
            });


            var tchart_avg_received_bytes_by_conn = splunkjs.mvc.Components.getInstance("tchart_avg_received_bytes_by_conn");
            tchart_avg_received_bytes_by_conn.settings.set({
                "charting.axisTitleX.text": " ",
                "charting.axisTitleY.text": "KB",
                "charting.chart.nullValueMode": "connect",
                "charting.seriesColors": "[0x956E96, 0xF7912C, 0x9AC23C, 0x998C55, 0xDD87B0, 0x5479AF, 0xE0A93B, 0x6B8930, 0xA04558, 0xA7D4DF, 0xFCDD77, 0xE89E8B, 0xBFA8C0, 0xFABD80, 0xC2DA8A, 0xC2BA99, 0xEBB7D0, 0x98AFCF, 0xECCB89, 0xA6B883, 0xC68F9B, 0x416E79, 0x967711, 0x823825, 0x59425A, 0x94571A, 0x5C7424, 0x5C5433, 0x85516A, 0x324969, 0x866523, 0x40521D, 0x602935, 0x6CB8CA, 0xFAC61D, 0xD85E3D]"
            });

            var tchart_avg_sent_bytes_by_conn = splunkjs.mvc.Components.getInstance("tchart_avg_sent_bytes_by_conn");
            tchart_avg_sent_bytes_by_conn.settings.set({
                "charting.axisTitleX.text": " ",
                "charting.axisTitleY.text": "KB",
                "charting.chart.nullValueMode": "connect",
                "charting.seriesColors": "[0xF7912C, 0x9AC23C, 0x998C55, 0xDD87B0, 0x5479AF, 0xE0A93B, 0x6B8930, 0xA04558, 0xA7D4DF, 0xFCDD77, 0xE89E8B, 0xBFA8C0, 0xFABD80, 0xC2DA8A, 0xC2BA99, 0xEBB7D0, 0x98AFCF, 0xECCB89, 0xA6B883, 0xC68F9B, 0x416E79, 0x967711, 0x823825, 0x59425A, 0x94571A, 0x5C7424, 0x5C5433, 0x85516A, 0x324969, 0x866523, 0x40521D, 0x602935, 0x6CB8CA, 0xFAC61D, 0xD85E3D, 0x956E96]"
            });

            var tchart_avg_ptime = splunkjs.mvc.Components.getInstance("tchart_avg_ptime");
            tchart_avg_ptime.settings.set({
                "charting.axisTitleX.text": " ",
                "charting.axisTitleY.text": "MilliSeconds",
                "charting.chart.nullValueMode": "connect",
                "charting.seriesColors": "[0xF7912C, 0x9AC23C, 0x998C55, 0xDD87B0, 0x5479AF, 0xE0A93B, 0x6B8930, 0xA04558, 0xA7D4DF, 0xFCDD77, 0xE89E8B, 0xBFA8C0, 0xFABD80, 0xC2DA8A, 0xC2BA99, 0xEBB7D0, 0x98AFCF, 0xECCB89, 0xA6B883, 0xC68F9B, 0x416E79, 0x967711, 0x823825, 0x59425A, 0x94571A, 0x5C7424, 0x5C5433, 0x85516A, 0x324969, 0x866523, 0x40521D, 0x602935, 0x6CB8CA, 0xFAC61D, 0xD85E3D, 0x956E96]"
            });


        });
    </script>


{% endblock js %}
