body,.dashboard-body,.footer,.header,.dashboard-cell { 
    background: #333 !important; 
}
body, .main-section-body, .footer {
    color: #FFF !important;
	font-weight: bold !important; 	
}
.app-bar .app-name { font-weight: bold !important; display: inline !important;}
.appLogo { background: url("appLogo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
.app-name .app-logo { display: inline !important;}

/*
dashboard-body
    dashboard-row
        dashboard-cell
            dashboard-panel
                panel-head
                panel-body
*/
.dashboard-body {
    color: #FFF !important;
}

.dashboard-row {
    color: #FFF !important;
    text-shadow: 0 1px 0 #681111 !important;	
}

.dashboard-cell  {
    background: none !important;
}
.dashboard-panel {
    background: #666 !important;	
	font-weight: bold !important; 		
    text-shadow: 0 1px 0 #681111! important;	
}
.panel-head  {
    color: #FFF !important;
	font-weight: bold !important; 		
    text-shadow: 0 1px 0 #681111 !important;	
}
.panel-body {
	
}

a:hover {
    color: #FFF;
}
.refresh-time-indicator {
    color: #FFF;
}
.dashboard-header h2, p.description, .nav-footer>li>a { 
    color: #DDD; 
    text-shadow: none; 
}
.dashboard-row .dashboard-panel .panel-head h3 {
    color: #FFF;
    text-shadow: 0 1px 0 #681111;
}
.table-chrome > thead > tr > th a {
    background-image: none !important;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th { 
    background-color: #414141 !important; 
}
.table {
    background-color: none;
}
.table .table, .table-striped>tbody>tr>td {
    color: white;
}
.table .table, .table-striped>tbody>tr:nth-child(even)>td {
    background-color: #696969 !important;
}
.table-chrome > thead > tr > th, .table-chrome > thead > tr > th a {
    background-image: linear-gradient(to bottom, #888, #666);
    color: white !important;
    text-shadow: none;
}
.table-chrome .sorts a {
    text-decoration: none;
    color: #DDD;
}
.table-chrome .sorts:hover {
    background: none;
    background-color: #333;
}
svg>rect {
    fill: #333 !important;
}
svg text { 
    fill: #FFF !important; 
}
.single-value .single-result {
    color: #FFF;
}
.splunk-paginator a.selected { 
    background: #000; 
}

