.appLogoContainer {
    padding: 10px;
}

.appLogo {
    height: 95px; 
    width: 295px;
    background: url(filetrek_logo.png) no-repeat 0 0;
    background-size: 200px;
}

body.splTemplate-dashboard {
    background-color: #ECECEC;
}

.splHeader-dashboard h2 {
   color: #4181c6;
}

.splunkPoweredLogo {
    height:23px;
    margin-top:13px;
    width:65px;
}

.appHeaderWrapper h1 {
    display: none;
    color: #4181c6;
    font-size: 24pt;
    font-weight: normal;
}

.appHeaderWrapper {
    background: none;
    background-color: #000;
    color: black;
}

.appHeaderWrapper a {
}

.DashboardTitleBar {
   display: none;
}

.auxLinks {
   display: none;
}

.AppBar {
    border-top: 2px solid #f68428;
    background-color: #8c8c8c;    
}

.AccountBar {
}

.viewHeader {
    background-color: #CCCCCC;
}

ul.appBarNav li a {
    font-weight: normal;
    font-size:16pt;
    color: white;
}

