@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);

.main-area {
    border: 1px solid black;
}

.filter_tags {
  margin-left: 10px;
  float:left;
}

.filter {
  background-color: #273542;
}

.exclude {
  background-color: #E73E2E;
}

.app-bar {
  background-color: #3C4B68;
}

.navbar .navbar-inner {
  background-color: #476994;
  color: #003363;
}

.navbar .nav>li>a {
  color: #FFF;
}

.navbar .nav>li.active.dropdown>a.dropdown-toggle, .navbar .nav>li>a.active, .navbar .nav>li a:focus {
  color: #FFF;
  background: #476994;
}

body, .main-section-body {
  background-color: #F1F3F4;
  font-family: 'Ubuntu', sans-serif;
}

.dashboard-row .dashboard-panel {
  background-color: #F1F3F4 !important;
}

.span-full {
    width: 100%;
}
.span-half {
    width: 50%;
}
.span-third {
    width: 33%;
}
.splunk-textinput, .splunk-choice-input {
    margin: 0 !important;
}
input {
    width: 150px;
}

div#row1 {
    float: right;
    margin-top: -20px;
}

div#fieldset1 {
    float: right;
}

.fieldset .input-radio {
    width: 130px;
}

a.hide-global-filters {
    display: none;
}
