

.risk-is-critical:before {
  background : url(icons/RiskLevelCriticalResourceDictionary.svg) 
}

.risk-is-critical {
  color:white !important;
  background-color : #E55D5D    !important;
}

.risk-is-high {
  color:white !important;
  background-color : #FF8B1A !important;
}

.risk-is-medium {
  color:white !important;
  background-color : #FFE614 !important;
}

.risk-is-low {
  color:white !important;
  background-color : #89C73A !important;
}

.risk-is-very-low {
  color:white !important;
  background-color : #6FA0F9 !important;
}

.risk-is-info {
  color:white !important;
  background-color : #6FA0F9 !important;
}

.risk-is-unknown,
.risk-is-undefined {
  color:white !important;
  background-color : #A6A6A6 !important;
}


.risk-is-critical:hover {
  color:white !important;
  background-color : #E55D5D    !important;
}

.risk-is-high:hover {
  color:black !important;
  background-color : #FF8B1A !important;
}

.risk-is-medium:hover {
  color:black !important;
  background-color : #FFE614 !important;
}

.risk-is-low:hover {
  color:black !important;
  background-color : #89C73A !important;
}

.risk-is-very-low:hover {
  color:black !important;
  background-color : #6FA0F9 !important;
}

.risk-is-info:hover {
  color:black !important;
  background-color : #6FA0F9 !important;
}

.risk-is-unknown,
.risk-is-undefined:hover {
  color:black !important;
  background-color : #A6A6A6 !important;
}



