.single-trend {
    position: relative;
    top: -55px;
    left:50px;
    text-align: center;
    font-size: 18px;
    color: #65A637;
}
.single-trend i {
    font-size: 64px !important;
    

}
.single-trend.nochange, .single-trend.nochange i {
    font-size: 24px;
}
.single-trend.increase {
    color: #A80000 ;
}
.single-trend.decrease {
    color: #202020;
}

