/* Cell Highlighting */
/* 
#highlight td {
    background-color: #c1ffc3 !important;
}
*/
#highlight td.range-low {
    color: #228B22;
}
#highlight td.range-elevated {
    
    font-weight: bold;
    color:#006400;
}
#highlight td.range-severe {
    
    font-weight: bold;
    color:#FF0000;
}