<div id="layout">
    <div class="FiltersRight">
    </div>

    <div class="BodyLeft services-parent">
        <div class="NavBreadcrumb">
        </div>
          <div class="choro"></div>
        <div class="Graphs">
            <div class="grid1">
                <div id="latency-graph" class="latency">
                    <h3>Latency <span id="country-name">for the whole World</span></h3>

                    <p id="latency-avg"></p>

                    <div id="country-latency-chart" class="chart"></div>
                </div>
            </div>
        </div>
        <!-- <div id="bottom-table" class="Table grid1"></div> -->
    </div>
</div>

