<div id="layout">
    <div class="FiltersRight">
    </div>
    <div class="BodyLeft services-parent">
        <div class="NavBreadcrumb">
        </div>
        <div class="Graphs">
            <div class="grid1">
                <div id="latency-graph" class="latency grid3">
                    <h3>Avg latency</h3>
                    <p id="latency-avg"></p>
                    <div id="latency-chart" class="chart"></div>
                </div>
                <div id="volume-graph" class="volume grid3">
                    <h3>Requests Volume</h3>
                    <p id="volume-avg"></p>
                    <div id="volume-chart" class="chart"></div>
                </div>
                <div id="error-rate-graph" class="crashrate grid3">
                    <h3>HTTP Error Rate</h3>
                    <p id="error-rate-avg"></p>
                    <div id="error-rate-chart" class="chart"></div>
                </div>
            </div>
        </div>
        <div id="bottom-table" class="Table grid1"></div>
    </div>
</div>

