input[type=text] {
    width: 90%;
}

.dashboard-header {
  width: auto;
  overflow: hidden;
  margin-bottom: 20px;
  padding-top: 20px;
}
.dashboard-title-inner {
  float: left;
}
.dashboard-header .dashboard-title {
  font: 300 18px 'Lato';
  display: inline-block;
  vertical-align: middle;
}
.dashboard-logo {
  display: inline-block;
  vertical-align: middle;
}

.dashboard-description {
  float: right;
  font: 300 15px 'Lato';
  color: rgba(255, 255, 255, .6);
  padding-top: 12px;
}

.dashboard-body {
  background: #2E3C43;
}

.dashboard-row .dashboard-panel {
    border: none;
    border-radius: 3px;
    margin-right: 0;
    margin-bottom: 20px;
}

.dashboard-row.dashboard-row2 .dashboard-cell:first-child {
  margin-right: 0;
}
.dashboard-row.dashboard-row2 .dashboard-cell:last-child {
  float:right;
}

.dashboard-header {
    color: #fff;
}

.panel-body p {
    color: #8B8B8B;
}

.map-head {
  width: auto;
  overflow: hidden;
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.Tabs-elements {
  width: auto;
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 0 20px 0;
}
.Tabs-elements:after {
  content:"";
  display: block;
  clear: both;
  width: 100%
}

.Tabs-elements > li {
  list-style-type: none;
  float: left;
  margin-right: 20px;
  font: 300 15px 'Lato';
}
.Tabs-elements > li  a {
  color: #3AA9E3;
  display: block;
  padding-bottom: 20px;
  margin-bottom: -1px;
}
.Tabs-elements > li.is-active a  {
  font-weight: 700;
  color: #000;
  border-bottom: 1px solid #282C2F;
}

.map-title {
  float: left;
  font: 700 15px 'Lato';
  color: #2E3C43;
  margin: 0;
}
.map-head form {
  margin: 0;
}
.basemap-options {
  float: right;
  margin: 0;
}
.basemap-options > li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font: 400 13px 'Lato';
  color: #999999;
}
.basemap-options > li label {
  margin: 0;
  cursor: pointer;
}

.basemap-radio, .basemap-label {
  display: inline-block;
  vertical-align: middle;

}
input.basemap-radio:focus {
  outline: none;
}
.basemap-radio[type=radio] {
  margin: 0;
  margin-right: 4px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.basemap-radio[type="radio"] {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 50%;
  position: relative;
}
.basemap-radio[type="radio"]:checked:before {
  content:"";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -5px;
  margin-left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #189BDB;
}



.dashboard-element.table{
        height: 500px;
}

.logo {
    background: url('https://cartodb-libs.global.ssl.fastly.net/cartodb.com/static/logos_full_cartodb_dark.svg');
    height: 40px;
    width: 155px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    background-size: 100%;
}

.torque-map {
    width: 100%;
    height: 95%;
    padding: 0;
    margin: 0;
}
#torque_control {
    display:inline-block;
    z-index: 10000;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    padding: 8px;
    cursor: pointer;
    float: left;
}
#torque_control:hover {
    background: #f5f5f5;
}
#torque_control span {
    display: block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    position:relative
}
#torque_control span.torque-pause:before {
    content:"";
    position: absolute;
    display: block;
    height: 10px;
    width: 3px;
    background: #666;
    left: 2px;
    top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#torque_control span.torque-pause:after {
    content:"";
    position: absolute;
    display: block;
    height: 10px;
    width: 3px;
    background: #666;
    right: 1px;
    top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#torque_control span.torque-play:before {
    content:"";
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    border: 6px solid transparent;
    border-left: 8px solid #666;
    left: 3px;
}

.torque-timeline-inner {
    cursor: pointer;
    border-radius: 50px;
    height: 6px;
    background: #fff;
    display: block;
    margin-left: 46px;
    margin-top: 10px;
}
.torque-timeline-progress{
    display: inline-block;
    border-radius: 50px;
    height: 6px;
    background: #0090D7;
    vertical-align: top;
    position: relative;
}
.torque-timeline-progress > span {
    width: 18px;
    height: 18px;
    position: absolute;
    top: -6px;
    right: 0;
    background: #FFFFFF;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.30);
}
#torque_filter *:focus {
  outline: none;
}
#torque_filter  p {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-right: 4px;
    margin-top: 12px;
}
#torque_filter input[type=checkbox] {
    margin-top: 12px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#torque_filter input[type=checkbox].toogle {
  border: 0;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
  background: #ddd;
  border-radius: 50px;
  width: 36px;
  height: 20px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
#torque_filter input[type=checkbox].toogle:before {
  content: "";
  top: 4px;
  left: 4px;
  position: absolute;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}
#torque_filter input[type=checkbox]:checked.toogle {
  background: #8FB83F
}
#torque_filter input[type=checkbox]:checked.toogle:before {
  left: auto;
  right: 4px;
}
#torque_container {
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    background: rgba(0, 0, 0, .8);
    z-index: 1000;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #000;
}
#torque_container * {
    box-sizing: border-box;
}
#torque_container > ul {
    padding: 0;
    margin: 0;
}
#torque_container li:first-child {
    margin-left: 0;
}
#torque_container li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: -4px;
}

.torque-container-time>p {
    display: inline-block;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;
}

.torque-container-time {
    width:15%;
    text-align: center;
}

.torque-container-filter {
    width: 15%;
    height: 50px;
}
.torque-container-action {
    width: 20%;
    padding: 0;
}
.torque-container-timeline {
    width: 65%;
    padding: 10px 20px 0 20px;
    height: 50px;
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-right: 1px solid rgba(255, 255, 255, .2);
}
.torque-button-action {
    text-align: center;
    margin: 0;
}
.torque-button-action > a {
    display: inline-block;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
}
.torque-button-action > a:hover {
    text-decoration: underline;
}
.torque-container-filter {
    text-align: center;
    padding-top: 4px;
}
.torque-container-filter p {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

#mytorque {
    height: 440px;
}

.leaflet-control-layers-base span {
    position: relative;
    top: 5px;
}

/* Sidebar Stuff */

.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}



ul.options  {
    margin: 0 20px;
}

.options li {
    list-style-type: none;
    margin-bottom: 12px;
}
.options li:after {
  content:"";
  display: block;
  clear: both;
  width: 100%;
}
.options li .name {
   text-align: right;
   font: 300 13px/1 'Lato';
   color: #666;
   float: left;
   width: 95px;
   padding-top: 14px;

}
.options li .form {
  text-align: right;
  overflow: hidden;
  float: none;
}
.options li .form2 {
  text-align: left;
  float: right;
}
.options li:last-child {
  margin-bottom: 0;
}

.colorPicker {
    width: 44px;
    height: 40px;
    border-radius: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    display:inline-block;
    position: relative;
}
  .colorPicker:before {
    content:"";
    width: 5px;
    height: 2px;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 18px;
    right: 10px;
    border-radius: 4px;
    transform: rotate(-45deg);
  }
  .colorPicker:after {
    content:"";
    width: 5px;
    height: 2px;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 18px;
    right: 13px;
    border-radius: 4px;
    transform: rotate(45deg);
  }

.form {
    float:right;

}

.form input.markerSize[type="text"] {
    width: 16px;
    text-align: right
}



.form input[type=text] {
  border: 1px solid #ccc;
  border-radius: 4px;
  font: 300 13px 'Lato';
  color: #666;
  padding: 11px 13px;
  display: inline-block;
  width: auto;
  box-shadow: 0 0 0;
  margin: 0;
}
.form input[type=text]:placeholder {
  color: #ccc;
}


*:focus {
  outline: none;
}
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  position: relative;
  width: 120px;
  height: 40px;
}
.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 11px 13px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font: 300 13px 'Lato';
  color: #666;
}
.select-styled:before {
  content:"";
  width: 5px;
  height: 2px;
  background: #666;
  position: absolute;
  top: 18px;
  right: 10px;
  border-radius: 4px;
  transform: rotate(-45deg);
}
.select-styled:after {
  content:"";
  width: 5px;
  height: 2px;
  background: #666;
  position: absolute;
  top: 18px;
  right: 13px;
  border-radius: 4px;
  transform: rotate(45deg);
}
.select-options {
  display: none; 
  position: absolute;
  top: 45px;
  right: 0;
  left: 0;
  z-index: 999;
  border: 1px solid #A8A8A8;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .20);
  border-radius: 4px;
  font: 13px 'Lato';
  color: #0090D7;
  background: #fff;
}
.select-options > li {
  margin: 0;
  padding: 11px 0;
  margin: 0 13px; 
  border-bottom: 1px solid #EEE;
}
.select-options > li:last-child {
  border-bottom: 0;
}
.select-options > li[rel="hide"] {
  display: none;
}


.dashboard-row .dashboard-panel .panel-head h3 {
    font: 700 15px 'Lato';
    color: #2E3C43;
    margin: 0;
    padding: 20px 15px 20px 20px
}

#searchbar {
  margin: 0 20px;
}


.navigation {
  border-bottom: 1px solid #ddd;
  padding: 20px 20px 13px 20px;
  margin-bottom: 20px;
}
.navigation > ul > li {
  font: 15px 'Lato';
  border-left: 1px solid #eee;
  padding-left: 20px;
  margin-left: 20px;
  list-style-type: none;
  display: inline-block;
}
.navigation > ul > li:first-child {
  border: 0;
  padding: 0;
  margin: 0;
}
.navigation a {
  color: #0090D7;
  text-decoration: none;
}
.navigation a.is-selected {
  color: #000;
  position: relative;
}
.navigation a.is-selected:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -23px;
  left: 0;
  background: #000;
  height: 1px;
}

.dashboard-zerocase {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2E3C43 url(img/bg.png) center center;
  background-size: cover;
  border-radius: 3px;
  z-index: 10;
  text-align: center;
}
.dashboard-zerocase:before {
  content:"";
  display: inline-block;
  width: 1px;
  height: 100%;
  vertical-align: middle;
}
.dashboard-zerocase  p {
  color: #fff;
  font: 400 16px 'Lato';
  display: inline-block;
  margin-left: -5px;
}

.dashboard-row .dashboard-panel .panel-body p {
    padding: 12px 0 0 20px;
}

#torque_container p{
  padding:0;
}

.success {
  color: #00D300;
}

.error {
  color: red;
}

.beta {
  font-weight: 400;
  color: rgba(234, 64, 64, 0.96);
  margin-left: 9px;
}