.td_side_style {
	margin-top: 10px;
	background-color: #eee;
	max-width: 10%;
	width: 10%;
}

.td_label_style {
	max-width: 40%;
    width: 4%;
    padding-left: 15px;
    padding-bottom: 7px;
    padding-right: 0px;
    padding-top: 7px;
}

.td_input_style {
	max-width: 40%;
    width: 4%;
    padding-left: 0px;
    padding-bottom: 7px;
    padding-right: 0px;
    padding-top: 7px;
}

.success {
	color: green;
	font-weight: bolder;
}

.fail {
	color: red;
	font-weight: bolder;
}
