{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}Event Filters{% endblock title %}

{% block css %}
<style type="text/css" media="screen">

#chkboxes_protocol {
  width: inherit;
}
#chkboxes_protocol .splunk-checkboxgroup-choices .control.shared-controls-syntheticcheckboxcontrol {
  width: 20%;
  margin-right: 5%;
  display: inline-block;
} 
textarea {
  width: 95%;
}


* {
  border-color: #ccc;
}
.ManagerBar {
  clear: both;
  color: rgb(51, 51, 51);
  display: block;
  font-family: Roboto, Droid, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 24px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  zoom: 1;
}
h1.ManagerPageTitle {
  color: rgb(51, 51, 51);
  display: block;
  font-family: Roboto, Droid, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 200;
  height: 24px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  width: 1534px;
  zoom: 1;  
}
.adminContent {
  clear: both;
  color: rgb(51, 51, 51);
  display: block;
  font-family: Roboto, Droid, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  min-height: 400px;
}
div.dataInputsWrapper {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
  border-right-color: rgb(204, 204, 204);
  border-top-color: rgb(204, 204, 204);
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(51, 51, 51);
  display: block;
  font-family: Roboto, Droid, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  min-height: 420px;
  padding: 20px;
}
div.dataInputsDesc {
  color: rgb(51, 51, 51);
  display: block;
  font-family: Roboto, Droid, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 14px;
  margin-bottom: 15px;
  margin-top: 5px;
}

table.splTable {
  background-color: #fff;
  border-color: #999;
  margin-bottom: 15px;
  border-bottom: 0;
  border: 0px;
  border-spacing: 0px;
}
table.splTable th {
  font-size: 1.1em;
  border-color: #999;
  padding: 3px 5px;
  text-align: left;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  vertical-align: top;
}
table.splTable td {
  padding: 10px 5px;
  border-bottom: 1px solid #EEE;
  vertical-align: middle;
}
table.splTable td select, table.splTable td input {
  margin: 0;
}
</style>
{% endblock css %}

{% block content %}
<div class="ManagerBar">
  <h1 class="ManagerPageTitle">Event Filters</h1>
</div>
<div class="adminContent">
  <div class="dataInputsWrapper">
    <div class="dataInputsDesc">Hide unwanted results to reduce the number of visible events.</div>

    <form method="post" action=".">
      {% csrf_token %}
      <table class="splTable" id="dataInputs" style="width:50%">
        <thead>
          <tr>
            <th>Hide these protocols</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {% checkboxgroup id="chkboxes_protocol" %}
            </td>
          </tr>
          <tr style="display:none;">
            <td>
              <textarea id="conf_area1" rows="4" name="protocols" cols="50">{{ protocols }}</textarea><br>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="splTable" id="dataInputs" style="width:50%">
        <thead>
          <tr>
            <th>Hide these rules</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <textarea id="conf_area2" rows="4" name="ruleids" cols="50" placeholder="Specify rule IDs separated by commas; no space is allowed.">{{ ruleids }}</textarea>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td style="background-color:#EEE;">
              <a href="." id="button_l" class="btn btn-default" style="margin:0 10px;">Cancel</a> 
              <button id="button_r" class="btn btn-primary submit" style="margin:0 10px;float:right;">Save</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>

  </div>
</div>

{% endblock content%}

{% block managers %}
{% endblock managers %}

{% block js %}
<script>
var deps = [
        "splunkjs/ready!",
];
require.config({
    waitSeconds: 60
})
require(deps, function(mvc) {
  var mycheckboxes = splunkjs.mvc.Components.getInstance("chkboxes_protocol");
  var mytextarea = $("#conf_area1");
  var choices = [
    { label: "AUTH", 		value: "AUTH"},
    { label: "CIFS", 		value: "CIFS"},
    { label: "SQL", 		value: "SQL"},
    { label: "Remote Access", 	value: "Remote Access"},

    { label: "HTTP", 		value: "HTTP"},
    { label: "DNS Request", 	value: "DNS Request"},
    { label: "DNS Response", 	value: "DNS Response"},
    { label: "DHCP", 		value: "DHCP"},

    { label: "POP3", 		value: "POP3"},
    { label: "IMAP4", 		value: "IMAP4"},
    { label: "SMTP", 		value: "SMTP"},
    { label: "WEBMAIL", 	value: "WEBMAIL"},

    { label: "IM", 		value: "IM"},
    { label: "P2P", 		value: "P2P"},
    { label: "IRC", 		value: "IRC"},
    { label: "STREAMING", 	value: "STEAMING"},

    { label: "FTP", 		value: "FTP"},
    { label: "TFTP", 		value: "TFTP"},
    { label: "ICMP", 		value: "ICMP"},
    { label: "TUNNELING", 	value: "TUNNELING"},

    { label: "TCP", 		value: "TCP"},
    { label: "UDP", 		value: "UDP"},
    { label: "OTHER", 		value: "OTHER"}];

  var proto_str = "{{ protocols }}";
  var protocols = [];
  if (proto_str != "None") {
    protocols = proto_str.split(",");
  }
  mycheckboxes.settings.set("choices", choices);
  mycheckboxes.val(protocols);

  mycheckboxes.on("change", function() {
    console.log(mycheckboxes.val());
    mytextarea.text(mycheckboxes.val().join(","));
    console.log(mytextarea.text());
  });
});

</script>
{% endblock js %}
