.preload #main {
    display: none;
}

.settings-ct {
    width: 800px;
    background: white;
    border: 1px solid #bfbfbf;
    margin: 20px auto;
    min-height: 400px;
}

.nav-tabs {
    overflow:hidden;
    margin-top: -1px;
}

.bridge-status {
    padding: 120px 20px 20px 20px;
    text-align: center;
}

.bridge-status h2 {
    text-align: center;
}

.connected .icon-check {
    color: #a2cc3e !important;
}

.discovered-bridges li {
    list-style: none;
    padding: 5px;
}

.hue-lights {
    margin-top: 20px;
}

.hue-lights .col-status {
    width: 100px;
}

.hue-lights .col-actions {
    width: 120px;
}
.hue-lights .col-id {
    width: 30px;
}

.hue-lights .refresh-lights {
    display: block;
    text-align: right;
    padding: 0 10px;
}