@import "../pcss/common.pcss";
/*Main Layout Styling*/
#layout{
	.BodyLeft{
		#AnalyticsOverviewGraph{
			margin: 15px 15px;
	        width: 98%;
	    	height: 300px;
	        #main-chart{
	            height: 300px;
	        } 
		}
	}
    #populate-table{
      z-index: 99999;
    }
}