name: Splunk App Dowmloader workflow 1

on:
  # Triggers the workflow 00:10every day
  schedule:
    - cron: "10 0 * 1 *"

jobs:
  Splunk_app_downloader:
    name: Splunk App Job 1
    runs-on: ubuntu-latest

    steps:
      - run: echo "This is running inside a ${{ runner.os }} server in Github"
      - name: Checkout
        uses: actions/checkout@v2.4.2
        with:
          fetch-depth: 0
          ref: main
      - run: echo "This repo is ${{ github.repository }} .."
      - name: Run a inline script
        run: |
          ls -l
          du -sh SplunkBase/
          cd .git
          ls -l
          pwd
          git config --global http.version HTTP/1.1
          git config --global http.postBuffer 157286400
        shell: bash
      - name: Run a shell script files
        run: sh ./workflow/scripts/app_downloader_1.sh
        shell: bash
        env:
          SPLUNK_TOKEN: ${{ secrets.SPLUNK_TOKEN }}
      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
